[2020-03-20 15:00] tiff commented on #2593
Thanks!

[2020-03-20 15:00] #2593 closed

[2020-03-20 15:40] tiff commented on #2584
"call" is only "NN:UN"

[2020-03-20 15:40] tiff commented on #2584
Also see https://github.com/languagetool-org/languagetool/issues/2570

[2020-03-20 16:19] marcoagpinto opened #2594 "Crash with the nightly plus huge RAM/CPU usage"
I opened my thesis with the latest nightly and it crashed:
![crash_nightly_20200320](https://user-images.githubusercontent.com/5192600/77183512-5a57e500-6ac6-11ea-83ee-0da0b9a31e50.png)

Also, my i7 6-core was having a very high CPU and ~5 GB of RAM usage by LibreOffice, which I saw in the task manager (since the fans started making noise).

[2020-03-20 17:04] danielnaber commented on #2594
@FredKruse any chance we get this fixed before the release of LT 4.9 on Tuesday?

[2020-03-21 15:39] FredKruse commented on #2594
@marcoagpinto: Could you please post a screenshot of your general option panel. How many words / character contain your document?
@danielnaber: I will try to do a bug fix till Monday.

[2020-03-21 16:08] marcoagpinto commented on #2594
Hello @FredKruse

Here are the screenshots:
![words_thesis_20200321](https://user-images.githubusercontent.com/5192600/77230715-13352700-6b8e-11ea-98c7-8ada67c8266d.png)

![general_options_panel_20200321](https://user-images.githubusercontent.com/5192600/77230719-1af4cb80-6b8e-11ea-9c9f-ca1c52918abd.png)

Does it help?

Thanks!

[2020-03-21 16:38] FredKruse commented on #2594
@marcoagpinto : Please test the next nightly build

[2020-03-21 16:41] marcoagpinto commented on #2594
Ok.

Thanks!

[2020-03-21 19:05] FredKruse commented on #2000
Unfortunately I wasn't right. The problem isn't solved with LibreOffice 6.4.x. On the contrary the dynamic part of the menu doesn't work for LO 6.4.x. Also, gtk2 doesn't work for this version. If you remove gtk3 the LO-surface looks rather ugly.
I'm working on a solution. It will work for LO 6.4.x and gtk3. I tested it also for LO 6.2.8. It works for gtk2 (The doubled menu bar for gtk3 is a LO pro

[2020-03-21 19:32] Amr-Ibra commented on #2000
I'm now on LO 6.3.5 and will track the 6.3.x releases because it's the conservative release, and will upgrade to 6.4.x when it becomes the conservative release and 6.3.x becomes end-of-life.

The bug is also reproducible in LO 6.3.5.

[2020-03-21 19:45] danielnaber commented on #2000
Sure, the feature freeze shouldn't prevent bug fixes.

[2020-03-23 06:12] tiff opened #2596 "[pt] user feedback"
Not sure if that's correct.

[2020-03-23 06:13] tiff commented on #2596
Wikipedia lists "correio eletrônico" as valid for pt-BR

[2020-03-23 06:27] tiff opened #2597 "[en] false alarm THERE_RE_MANY"
<img width="444" alt="Bildschirmfoto 2020-03-23 um 07 26 58" src="https://user-images.githubusercontent.com/37363/77288294-bfcef000-6cd7-11ea-9ce9-1f0922eadee6.png">

[2020-03-23 06:29] tiff commented on #2597
Another one:

[2020-03-23 06:30] tiff commented on #2597
Not sure:

[2020-03-23 06:33] tiff opened #2598 "[en] wrong tagging NNS_ARE_WERE"
("were" should be "where")

"notices" is only NNS

[2020-03-23 07:47] tiff opened #2599 "[en] false alarm CD_NN"
<img width="890" alt="Bildschirmfoto 2020-03-23 um 08 47 29" src="https://user-images.githubusercontent.com/37363/77293606-f2321a80-6ce2-11ea-832b-267d8e9c54e9.png">

[2020-03-23 07:55] danielnaber opened #2600 "Portuguese error not detected"
User Feedback:

[2020-03-23 07:55] marcoagpinto commented on #2594
@FredKruse

To make sure I had the latest build I tried it with last night's.

There is still the CPU load problem on my Windows 10 and i7 laptop with 6-cores.

When I open my thesis, the fans start making noise.
![task_manager_20200323](https://user-images.githubusercontent.com/5192600/77294155-a465e400-6cdb-11ea-892d-bdea67c466d9.png)

[2020-03-23 08:00] marcoagpinto commented on #2596
@tiff

I will have a look at it after the LT 4.9 release.

Right now I don't want to make regressions in the eve of the release.

[2020-03-23 09:13] tiff opened #2601 "[es] words added to user dictionaries"
Here's a list of words that our users often add to the personal dictionary of the browser add-on. Mostly names and Anglicisms (many from US, Mexico and Colombia use the add-on). I can't really judge which to add and which not.

[2020-03-23 09:43] danielnaber commented on #2601
@jaumeortola Could you have a look and add useful words to the Spanish `spelling.txt`?

[2020-03-23 09:52] FredKruse commented on #2594
I fear this is the normal load produced by LanguageTool checking a huge document. The new version of LT uses two threads to check the document. One to check only for text level rules that have to include more than one paragraph. This should end rather fast, but after that one thread is left. LT includes so many rules that one core works with nearly full load. So 20% by an 6 core CPU is a realistic

[2020-03-23 10:19] marcoagpinto commented on #2594
@FredKruse

What if I click in the:
"Use more than one core (faster but higher CPU load)"?

Will it fix the CPU load, and, if so, can I enable the option in computers with just two/four cores?

[2020-03-23 11:15] dpelle commented on #2594
Marco A.G.Pinto <notifications@github.com> wrote

In the end, it would use about the same amount of CPU in total
but would take longer with one core.
And fewer options is better if they don't add enough value.

High CPU usage is not a problem (it a good feature, it's means
code is parallelized) if it's only temporary. I assume LT does
not continuously hog the CPU, but only for a "short" period of

[2020-03-23 11:30] marcoagpinto commented on #2594
@FredKruse

I have ticked the option to use multiple cores.

It crashed twice:
![languagetoolcrash_20200323](https://user-images.githubusercontent.com/5192600/77312357-c1111480-6cf9-11ea-8704-eea3fedcfc23.png)

[2020-03-23 12:53] danielnaber opened #2602 "IndexOutOfBoundsException with LibreOffice add-on"
With this test document, I get an error: https://github.com/languagetool-org/languagetool/blob/master/languagetool-office-extension/src/test/resources/manual-testing.odt?raw=true

![Bildschirmfoto von 2020-03-23 13-44-17](https://user-images.githubusercontent.com/857004/77318333-31756100-6d0d-11ea-8186-ffa9b2526580.png)

My settings:
![Bildschirmfoto von 2020-03-23 13-47-56](https://user-images.gi

[2020-03-23 13:00] marcoagpinto commented on #2602
@danielnaber

If LT 4.9 is postponed, may I update the spelling.txt and added.txt for Portuguese and also try to release the GB speller update tomorrow and it be included in 4.9?

[2020-03-23 13:29] danielnaber commented on #2602
If the release is postponed, it means the feature freeze will be longer. So adding a few entries to `spelling.txt` is okay, but I don't think we should have dict updates before the release.

[2020-03-23 14:07] marcoagpinto commented on #2602
@danielnaber

Thanks.

I have just committed some improvements.

The GB speller will be after 4.9 is released.

[2020-03-23 16:29] tiff commented on #2554
Same happens with:

[2020-03-24 06:40] tiff opened #2604 "[en] wrong tagging was_is_VB_NN"
"make" is only "NN:UN"

[2020-03-24 06:42] tiff opened #2605 "[en] wrong tagging PRPPOSS_VB_NN"
"make" is only "NN:UN"

[2020-03-24 08:14] tiff opened #2606 "[en] improve spelling suggestions by not suggesting wrong words"
1. "endevours" suggests "en devours" (but not "endeavors", which is a different problem) - I think we should never suggest "en" as a single word, it's not really a common word

2. "intercool" suggests "inter cool" (intercool is missing in our dictionary but that's a different problem) - I think we should never suggest "inter" as a single word, it's not a commonly used word

3. "withstandable" sugg

[2020-03-24 08:17] tiff commented on #2606
@danielnaber @MikeUnwalla what do you think? I think especially non-native speakers who put a lot of trust into LT could make their texts even worse by replacing a word that is just missing in our dict by a suggestion that makes the grammar worse.

[2020-03-24 08:18] tiff commented on #2606
Another task from this could be to collect all words starting with "pre" and "inter" and add them to our dictionary. Many of them are still missing.

[2020-03-24 08:42] FredKruse commented on #2602
@danielnaber, @marcoagpinto: Yesterday evening, I committed a bug fix which hopefully solves both bugs. Please test it with your examples.

[2020-03-24 08:46] marcoagpinto commented on #2602
@FredKruse
The fixes will only be available tonight, I believe, since LanguageTool releases snapshots at around 7pm.

I will only be able to test tomorrow due to that.

[2020-03-24 09:13] danielnaber commented on #2602
@marcoagpinto I've uploaded a build here, could you test that? My issue (IndexOutOfBounds) is fixed with that: https://we.tl/t-kKghCvzdRj

[2020-03-24 09:35] marcoagpinto commented on #2602
@danielnaber

I have just tested it and:
![languagetool_crash_20200324](https://user-images.githubusercontent.com/5192600/77410465-c9795600-6db2-11ea-9b80-5695a9f7fd4b.png)

[2020-03-24 09:42] MikeUnwalla commented on #2606
@tiff, I agree. LT should not suggest incorrect spellings or words that will cause incorrect grammar. It  is better for LT only to find a spelling error and let the user find the correct spelling.

[2020-03-24 09:45] tiff opened #2607 "[es] "haya" vs "halla""
Feedback from a user:

[2020-03-24 09:49] danielnaber commented on #2602
@marcoagpinto Does that only happen with your thesis or can you provide another document to reproduce? @FredKruse I'll continue with the 4.9 release, but it will not contain the LibreOffice add-on yet. We can then fix it and publish it separately in a few days.

[2020-03-24 09:56] marcoagpinto commented on #2602
@danielnaber
I haven't been writing much with LibreOffice, so,  I am not sure.

I have been using LibreOffice more to create and test LT rules.

[2020-03-24 10:04] tiff commented on #2606
@danielnaber can you implement the proposed changes? You already did something similar with "re" https://github.com/languagetool-org/languagetool/commit/5cb1b5880aab947fb93a17dae9b72b73be7f23a3

[2020-03-24 10:48] marcoagpinto commented on #2602
I have opened a small .odt with LT 4.9 disabled and then with it enabled, and waited 10 minutes for each.

There is a huge RAM usage difference with LT on.

Disabled:
![task_manager_lt_disabled_20200324](https://user-images.githubusercontent.com/5192600/77417133-df8c1400-6dbc-11ea-9124-5470827a9e81.png)

Enabled:
![task_manager_lt_enabled_20200324](https://user-images.githubusercontent.com/5192600

[2020-03-24 10:55] danielnaber commented on #2602
Java takes as much RAM as it can get (put simply). Unless there's a real issue for users, this is nothing to worry about.

[2020-03-24 11:10] marcoagpinto commented on #2602
Hello!

@danielnaber @FredKruse

Again:
![lt_crash_20200324](https://user-images.githubusercontent.com/5192600/77419057-b5882100-6dbf-11ea-86f5-48c6be410b8c.png)

Here is a reproducible example, a 400-page sample which is the number of pages of my thesis.

Just open the ODT, wait a couple of minutes, click on the first page, and start scrolling down with the mouse wheel.

It will open a crash wind

[2020-03-24 11:33] tiff opened #2609 "[de] false alarm DE_CASE"
<img width="706" alt="Bildschirmfoto 2020-03-24 um 12 33 33" src="https://user-images.githubusercontent.com/37363/77421210-b030d380-6dcb-11ea-9e44-27586d07f9d6.png">

[2020-03-24 11:44] tiff opened #2610 "[de] single "ü" suggested for spelling mistake"
![Bildschirmfoto 2020-03-24 um 12 44 12](https://user-images.githubusercontent.com/37363/77422075-2da91380-6dcd-11ea-927d-747ece6615cf.png)

[2020-03-24 11:52] tiff opened #2611 "[de] false alarm DE_CASE"
<img width="938" alt="Bildschirmfoto 2020-03-24 um 12 52 17" src="https://user-images.githubusercontent.com/37363/77422761-4f56ca80-6dce-11ea-97ac-6497f35a16cd.png">

[2020-03-24 11:58] tiff opened #2612 "[de] false alarm KOMMA_ZWISCHEN_HAUPT_UND_NEBENSATZ"
<img width="908" alt="Bildschirmfoto 2020-03-24 um 12 57 34" src="https://user-images.githubusercontent.com/37363/77423215-14a16200-6dcf-11ea-8552-54f18126042d.png">

[2020-03-24 13:27] tiff opened #2613 "[fr] false alarm FRENCH_WHITESPACE"
There's clearly a normal white space before the quote. But still it wants to suggest inserting one.
Please note: This can't be reproduced on languagetool.org because FRENCH_WHITESPACE is, for some reason, disabled there.

![Bildschirmfoto 2020-03-24 um 14 25 42](https://user-images.githubusercontent.com/37363/77430493-94352e00-6ddb-11ea-8575-b9174e0ccee2.png)

[2020-03-24 14:41] jaumeortola commented on #2601
Words not added:

English words: Academy, Action, Agency, Alienware, antibacterial, Asher, Association, brochure, classroom, Cloud, Community, Company, Computer, Design, express, Express, Free, Group, Hey, Keywords, lead, paper, Player, Power, Service, Store, Support, Switch, tag, tips

AC, AT, BB, BC, EE ?
Andres > Andrés
Climax > clímax
confirmame > confírmame
informacion > información
Nazare ?

[2020-03-24 14:57] #2554 closed

[2020-03-24 15:10] jaumeortola commented on #2607
This pair (halla/haya) is in CONFUSION_RULE.
Some simple rules can be added to improve the results.
But with "se halla/se haya" there is a lot of ambiguity. We'll need some testing and probably many exceptions.

[2020-03-24 15:39] danielnaber opened #2614 "LibreOffice add-on performance"
Using `jvisualvm` and Marco's test document from #2602, I get this:

![screenshot-2020-03-24-16:31](https://user-images.githubusercontent.com/857004/77445084-ecc0f700-6dec-11ea-8f18-dc9fae1e9eb4.png)

This indicates a lot of time is spent in `FlatParagraphTools.getCurNumFlatParagraph()`. @FredKruse are you aware of this? So far, we assumed checking is slow because the documents are just large, but

[2020-03-24 16:13] jaumeortola commented on #2613
For checking different kinds of white spaces you can use the filter org.languagetool.rules.WhitespaceCheckFilter. See an example in Catalan grammar.xml.
[code]

[2020-03-24 16:23] bperel opened #2615 "[fr] false positive ACCORD_GENRE : confusion with what noun corresponds to the adjective"
I have seen a few false positives for propositions with multiples genres where LanguageTool doesn't refer to the right part of the proposition to determine the genre of the adjective.

Examples :

---

LanguageTool wants to replace "imprimée" with "imprimé" even though "imprimée" refers to "série" (and not "timbres" like suggested) so it should be feminine.

---

LanguageTool wants to replace "dir

[2020-03-24 16:36] tiff commented on #2615
@bperel many thanks! This is exactly the feedback we like to see. Feel free to collect more of such issues. We will look into them one by one. 👍

[2020-03-24 16:46] #1977 closed

[2020-03-24 16:50] jaumeortola commented on #2375
Now it is fixed. But perhaps the message is a bit confusing. (Do you mean "Malaga" in English?).
![imatge](https://user-images.githubusercontent.com/4289501/77453692-dc624980-6df7-11ea-9857-661afd14534b.png)

[2020-03-24 16:50] #2375 closed

[2020-03-24 16:51] #1926 closed

[2020-03-24 16:51] bperel commented on #2615
Thanks! I'm creating a tool to fix spelling and grammar mistakes on Wikipedia articles using LanguageTool, so as I'm developing mine I check yours :smiley:

[2020-03-24 16:52] danielnaber commented on #2375
Indeed. This "feature" will not make it into the updated homepage, which we're working on.

[2020-03-24 17:22] #2190 closed

[2020-03-25 06:50] tiff commented on #2601
@jaumeortola thanks! not sure if you have seen my comment here:
https://github.com/languagetool-org/languagetool/commit/ad5b5d0d788d8eb232ea626fe3047acfb83dcfd6#comments

[2020-03-25 09:43] marcoagpinto commented on #2596
Hello @tiff

It works correctly:
![correio_eletronico_20200325](https://user-images.githubusercontent.com/5192600/77523067-175a9080-6e7d-11ea-8ba6-feaf5cc3832e.png)

Maybe the user forgot to change the speller to pt_BR

[2020-03-25 09:47] tiff commented on #2596
@marcoagpinto no, I think you misunderstood the issue. See the suggestion for "e-mail":
![Bildschirmfoto 2020-03-25 um 10 46 57](https://user-images.githubusercontent.com/37363/77523431-06fae380-6e86-11ea-976c-03d6621baa2b.png)

[2020-03-25 09:48] tiff commented on #2596
The suggested replacement is not Brazilian Portuguese.

[2020-03-25 09:48] marcoagpinto commented on #2600
I will fix it either today or tomorrow.

[2020-03-25 09:59] marcoagpinto commented on #2596
Ahhhhh... I see... I will have to create a rule in grammar.xml PT and grammar.xml BR, and remove the word from barbarisms.txt.

I will do it today or tomorrow.

[2020-03-25 10:05] tiff opened #2616 "[en] "grandmum" doesn't suggest "grandma" or "grandmother""
<img width="410" alt="Bildschirmfoto 2020-03-25 um 11 04 36" src="https://user-images.githubusercontent.com/37363/77524896-6e199780-6e88-11ea-8f93-6d86d46a1307.png">

[2020-03-25 10:08] marcoagpinto commented on #2596
@tiff

Quick fix:
https://github.com/languagetool-org/languagetool/commit/5ddc2d8d6b50defbd9160c70edca635497a7d4fa

Can it be closed now?

[2020-03-25 10:10] tiff commented on #2596
@marcoagpinto I would prefer a cleaner solution. Also, I think the term "(Brasil)" will be inserted into the text when applying the fix, which will be very annoying

[2020-03-25 10:11] marcoagpinto commented on #2596
@tiff
Yes, I will fix it later then.

:-)

[2020-03-25 10:12] tiff commented on #2596
Ok, cool. Just to give you a feeling: We have 5 times more users from Brazil than we have from Portugal ;)

[2020-03-25 10:57] #2601 closed

[2020-03-25 11:21] jaumeortola commented on #2607
Many cases of "se halla/haya + participle" are both grammatically correct and meaningful. The rule could be useful as a warning. We should decide whether to enable it or not.
I have written rules for halla>haya.
Some rules can be written also in the other sense: haya>halla.

[2020-03-25 11:25] marcoagpinto commented on #2596
@tiff

I have decided that the easiest way is just to suggest writing in italic.

So, I have added to grammar.xml:

`<!ENTITY barbarismos3 "e-mails?|mails?|tablets?">`

But, it doesn't recognize the hyphen and "e" before.

How do I escape it in RegExp?

PS: I tried to add manually the rules in pt_PT + pt_BR but it didn't work very well, so this is the best approach.

[2020-03-25 11:28] tiff commented on #2596
The word "E-Mail" are 3 tokens, the rule `BARBARISMS` expects one token.

See my proposed changes https://github.com/languagetool-org/languagetool/pull/2617

[2020-03-25 11:33] marcoagpinto commented on #2596
@tiff

I am very stressed, so I can't think properly.

Could you do what you think is best and after the nightly we will check if it worked well?

Thanks!

[2020-03-25 11:35] tiff commented on #2596
Ok

[2020-03-25 11:53] #2550 closed

[2020-03-25 11:56] #2374 closed

[2020-03-25 11:59] #1743 closed

[2020-03-25 11:59] #2040 closed

[2020-03-25 11:59] #2596 closed

[2020-03-25 12:52] danielnaber commented on #2607
For now, I suggest we don't activate rules that we know have a lot of false alarms. We might have a new mode in the future for users who want to see all errors, including warnings. We can add such rules then.

[2020-03-25 14:13] tiff opened #2618 "[en] false alarm NEEDS_FIXED"
<img width="611" alt="Bildschirmfoto 2020-03-25 um 15 12 41" src="https://user-images.githubusercontent.com/37363/77545720-26583780-6eab-11ea-9e64-e5ad4029b6b1.png">

[2020-03-25 14:24] #1680 closed

[2020-03-25 14:27] jaumeortola commented on #1680
Fixed "queísmo". The concordance issue is a more general problem.

[2020-03-25 15:10] danielnaber commented on #2606
"inter" and "pre" words are now logged and I have added "en" etc. as prefixes that may not be part of suggestions.

[2020-03-25 15:10] #2606 closed

[2020-03-25 15:38] tiff opened #2619 "[pt] words that users often add to their dict"
Here's a list of words that are often added to the personal dictionary of Portuguese users. A native Portuguese should go over that list and add the valid ones.

Claudia
Nubank
Elizabeth
Bluetooth
Danielle
Ingrid
Kim
Giovanna
SEO
DevOps
HTML
Kelly
ERP
desktop
desktops
dashboard
Home
COVID
Covid
Mayara
Alisson
Check
Coach
Drauzio
NF
Service
Store
Stories
tags
template
ads
Air
Andrea
Andrey
ANVISA
C

[2020-03-25 15:41] marcoagpinto commented on #2619
Sure, I will look at it tomorrow :-)

[2020-03-25 16:13] danielnaber commented on #2594
@marcoagpinto Could you try this potential fix? https://we.tl/t-Ua8xzTB6E8

[2020-03-25 16:43] danielnaber opened #2620 "[es] user feedback: Spanish error "expicatorio""
User Feedback:

![6F852B1069154184880AC61563BA2C33](https://user-images.githubusercontent.com/857004/77562282-1bf46880-6ec0-11ea-9736-e49ff7e47463.png)

[2020-03-25 17:03] tiff opened #2621 "[es] "acido" vs "ácido""
User just reported this:

I guess he means that there should be an accent on "acido" and LT is not detecting that.

[2020-03-25 17:16] tiff opened #2622 "[en] false alarm IN_FACEBOOK"
![Bildschirmfoto 2020-03-25 um 18 14 58](https://user-images.githubusercontent.com/37363/77565472-93c49200-6ec4-11ea-8171-59cdccc8bb4f.png)

I think we should find a generic fix. I had a quick look at the rule and It seems like it doesn't have an antipattern for nouns coming after the proper nouns listed there.

[2020-03-25 17:20] marcoagpinto commented on #2594
@danielnaber

I have tested it.

10 min + 10 min both with normal cores and multiple cores checked.

It didn't crash the document, but it consumed at least 1 GB more than the previous version.

Also, multiple cores had a very high CPU impact.

One CPU:
![task_manager_one_cpu_20200325](https://user-images.githubusercontent.com/5192600/77565888-c8345000-6ebc-11ea-9936-9f0cd2dc39ed.png)

Multiple CPU

[2020-03-25 18:10] MikeUnwalla opened #2623 "[en] Disambiguation error with postag_regexp and PRP$"
Rule:

[code]

`<token postag_regexp="yes" postag="PRP$|anotherPOS"/>` is not correct, but nevertheless, the rule should not apply MYPOS to the marked token.

[2020-03-25 21:20] #2620 closed

[2020-03-25 21:23] jaumeortola commented on #2620
It is an adjective not found in most dictionaries, but well-formed with a suffix.

[2020-03-26 02:08] Dallun511 commented on #1269
Das Problem wurde gelöst.
![grafik](https://user-images.githubusercontent.com/40240507/77602911-00fd1500-6f0f-11ea-8ee2-42a96c041627.png)

[2020-03-26 02:08] #1269 closed

[2020-03-26 07:35] EricTendian opened #2624 "ngram rule no longer being applied in v4.9"
I've downloaded the ngram data from http://wiki.languagetool.org/finding-errors-using-n-gram-data and set it up as documented. I tried out the English test sentences on that list with v4.9 and they did not produce any errors, while the same sentences did produce errors on v4.8. I have not had time to see if other languages were similarly affected.

To reproduce with Docker:

1. Download and extrac

[2020-03-26 09:32] marcoagpinto commented on #2619
@tiff

I have added several words from there, but not all: some were in English, others were names with accents missing and some were not found on the on-line dictionaries.

https://github.com/languagetool-org/languagetool/commit/45824ebcff936b86796bc95bae7efe602fd83a07

https://github.com/languagetool-org/languagetool/commit/43fc36abd772f31c32c9d0344936d07eaaca8d8a

[2020-03-26 09:33] #2619 closed

[2020-03-26 10:43] tiff opened #2626 "[en] false alarm YOUR_YOU_RE"
![Bildschirmfoto 2020-03-26 um 11 42 18](https://user-images.githubusercontent.com/37363/77638091-ec446f80-6f56-11ea-9873-ed00f4c0fb2f.png)

[2020-03-26 11:15] tiff opened #2627 "[de-ch] set POS for "ss" words"
Das Wort "Maßnahmen" ist korrekt getaggt. Das Wort "Massnahmen" nicht. Im Schweizer-Deutsch existiert kein "ß". Ich denke, wir könnten hier einfach maschinell das Tagging verbessern.

[2020-03-26 11:18] tiff opened #2628 "[en] preserve capitalization for spelling mistakes"
![Bildschirmfoto 2020-03-26 um 12 16 38](https://user-images.githubusercontent.com/37363/77641042-ad64e880-6f5b-11ea-9377-d88afe111813.png)

All-uppercase spelling is often used for headlines or to emphasize words. Our spelling suggestions are not preserving it, but I think they should do.

[2020-03-26 11:35] baarsrj opened #2629 "Disambiguation limitation"
When trying to build a kind of chunker in the diambiguator, it appears to be impossible to add a tag for a variable group of tokens.
The number of added postags has to be exact the number of marked tokens. I would like to be able to use something like
`<marker><token postag="A" min="1" max="10"/></marker>
<disambig action="add"><wd pos="REPEATED"/></disambig>`
Now I need to make a lot of rule to a

[2020-03-26 11:37] danielnaber commented on #2624
Thanks for noticing. The threshold values were tweaked for LT 4.9. Unfortunately, some pairs were not just changed but got lost during evaluation. I have reverted the change for now this is properly fixed. Tomorrow's snapshot should work better again. "I don't now where it comes from." will still fail, as there's an issue with tokenization.

[2020-03-26 11:54] tiff commented on #2619
Cool! Thanks

[2020-03-26 13:16] marcoagpinto commented on #2600
@danielnaber

Done:
https://github.com/languagetool-org/languagetool/commit/047a9cd27f1ce6eb507ecd914eaa1183245e69a9

[2020-03-26 13:16] #2600 closed

[2020-03-26 13:24] danielnaber commented on #2600
@marcoagpinto  Thanks!

[2020-03-26 13:27] thelittlefireman opened #2631 "[fr] verb "se signaler""
hi,
In the text "la personne se signal au comptoir", the verb "signal" is marked wrong : the word signal can't follow "se"
But in French we could use the verb "se signaler". [https://la-conjugaison.nouvelobs.com/du/verbe/se_signaler.php](https://la-conjugaison.nouvelobs.com/du/verbe/se_signaler.php)

Thanks
Thomas

[2020-03-26 14:06] tiff commented on #2631
@vkyfox

[2020-03-26 15:07] dpelle commented on #2631
The sentence "la personne se signal au comptoir" is a mistake.
"signal" is a noun, not a verb.  Correct would be:

"la personne se signale au comptoir"

(signal → signale)

The verb "signaler" has no flexion equal to "signal".  See:

https://grammalecte.net/entry.php?prj=fr&id=172624

So LT is correct.
We could argue that proposing a correction would be an improvement here.

[2020-03-26 16:33] #2621 closed

[2020-03-26 19:40] danielnaber opened #2632 "potentially missing words with "pre" in en-US"
Will add more here in the future:

[code]

[2020-03-26 20:04] danielnaber commented on #2627
How did you test this? We already have a `SwissGermanTagger` that's supposed to handle exactly these cases (and it works for me when testing on the command line).

[2020-03-26 21:30] tiff commented on #2627
Ah, I think it works. Sorry, I was using the online text analysis which obvisouly doesn't use de-ch

[2020-03-26 21:30] #2627 closed

[2020-03-26 22:30] danielnaber opened #2633 "selected area not checked"
LibreOffice: select text: whole document gets checked instead of the selected area.

Source: https://forum.languagetool.org/t/de-kritischer-fehler/5326/32https://forum.languagetool.org/t/de-kritischer-fehler/5326/32

[2020-03-27 00:58] SkyCharger001 commented on #2599
In most cases these kind of errors can be prevented by hyphenating the adjective (LT should automatically see it as the single POS it is when hyphenated) instead of space-separating it. (it should also help with readability)
EG: "Gold-medal wins" instead of "Gold medal wins"

[2020-03-27 01:26] Dallun511 commented on #1273
![grafik](https://user-images.githubusercontent.com/40240507/77711847-564e2a80-6fd2-11ea-9feb-b092e443edbe.png)
Problem wurde behoben.

[2020-03-27 01:26] #1273 closed

[2020-03-27 06:37] tiff opened #2635 "[en] false alarm HE_VERB_AGR"
From https://internal1.languagetool.org/regression-tests/20200326/result_en_20200326.html

[2020-03-27 08:12] tiff commented on #2622
Similar:

[2020-03-27 09:42] #2622 closed

[2020-03-27 10:10] #2618 closed

[2020-03-27 10:11] MikeUnwalla commented on #2616
Possibly, make a style rule to accept informal BrE: https://www.lexico.com/definition/grandmum

[2020-03-27 10:32] #2461 closed

[2020-03-27 12:20] tiff opened #2636 "[en] false alarms COMMA_TAG_QUESTION"
<img width="479" alt="Bildschirmfoto 2020-03-27 um 13 14 04" src="https://user-images.githubusercontent.com/37363/77755104-d903d380-702c-11ea-8600-4138c9c92f09.png">

More:

[2020-03-27 12:31] #2540 closed

[2020-03-27 12:44] #2570 closed

[2020-03-27 13:01] #2575 closed

[2020-03-27 13:02] MikeUnwalla commented on #2592
Also:

[2020-03-27 13:30] #2592 closed

[2020-03-27 13:33] MikeUnwalla commented on #2584
Correction #2592 causes these:

[2020-03-27 13:46] #2598 closed

[2020-03-27 14:28] danielnaber opened #2637 "add-on crash with NullPointerException"
I now get this crash when editing the test document:

![Bildschirmfoto von 2020-03-27 15-23-05](https://user-images.githubusercontent.com/857004/77765843-1f622e00-703f-11ea-8437-33b85f786f85.png)

Test document: https://github.com/languagetool-org/languagetool/blob/master/languagetool-office-extension/src/test/resources/manual-testing.odt?raw=true

[2020-03-27 16:45] tiff opened #2638 "[en] SPECIFIC_CASE suggestion same as original"
![Bildschirmfoto 2020-03-27 um 17 44 11](https://user-images.githubusercontent.com/37363/77779332-a5d43b00-7052-11ea-97e8-1cf6d959964e.png)

[2020-03-27 16:46] tiff commented on #2638
Ah, it's a different Rule. I'll take care.

[2020-03-27 16:53] #2638 closed

[2020-03-27 17:21] FredKruse commented on #2637
@danielnaber row 237 in SingleDocument is just a }. The row 152 is not correct too. Do you have an idea what this could mean? I insert a query for docCursor if it is equal null, but this doesn't solve the problem. I'm helpless.

[2020-03-27 18:37] danielnaber commented on #2637
line 237 is this one here: `remarkChangedParagraphs(changedParas, docCursor.getParagraphCursor(), flatPara);` - are you sure you have no uncommitted changes?

[2020-03-27 18:58] FredKruse commented on #2637
Sorry, you are right. I confused two directories. And the bug was what I supposed at first.

[2020-03-27 20:55] Ordoviz opened #2639 "[de] „Schwenks“ not detected as plural."
This shortened sentence from [Wikipedia](https://de.wikipedia.org/wiki/Kameraschwenk) is marked as wrong:

The issue seems to be that LanguageTool only knows one of the two plural forms listed on [Wiktionary](https://de.wiktionary.org/wiki/Schwenk). Same issue goes for „Kameraschwenk“.

[2020-03-27 21:31] danielnaber commented on #2602
Closing, as this issue (IndexOutOfBoundsException) is fixed. Everything else should be discussed in separate issues.

[2020-03-27 21:31] #2602 closed

[2020-03-28 10:28] danielnaber commented on #2639
Danke, ich habe es aufgenommen. Es sollte dann morgen online sein auf languagetool.org.

[2020-03-28 10:28] #2639 closed

[2020-03-29 10:10] danielnaber commented on #2633
fixed according to https://forum.languagetool.org/t/de-kritischer-fehler/5326/40

[2020-03-29 10:10] #2633 closed

[2020-03-29 10:18] danielnaber opened #2640 "LibreOffice add-on: using external server doesn't work"
![Bildschirmfoto von 2020-03-29 12-14-54](https://user-images.githubusercontent.com/857004/77846584-56f3e600-71b7-11ea-90a9-3fa25a7080a0.png)

Also reported at https://forum.languagetool.org/t/de-lt-fehlermeldung-marz-2020/5448/9

[2020-03-29 10:40] #2640 closed

[2020-03-29 10:42] danielnaber opened #2641 "LibreOffice add-on: flicker on edit"
Editing text makes the existing underlines disappear and then re-appear:

[LO-flicker.zip](https://github.com/languagetool-org/languagetool/files/4398645/LO-flicker.zip)

[2020-03-29 12:22] danielnaber opened #2642 "LibreOffice add-on: remote server doesn't work"
The public LT API server (https://languagetool.org/api) has a limit of - currently - 40 requests per minute. Thus, when using it with a text that's not quite short, the user gets:

![Bildschirmfoto von 2020-03-29 14-14-37](https://user-images.githubusercontent.com/857004/77848829-d5f11a80-71c7-11ea-9eac-d3db385c8130.png)

The user has no way to understand the actual cause, so I suggest removing th

[2020-03-29 12:23] danielnaber commented on #2594
I will close this issue, as the original report has been fixed and the performance issue can be tracked in #2614.

[2020-03-29 12:23] #2594 closed

[2020-03-29 16:27] tiff opened #2643 "[pt] user feedback"
I don't know what he means. Do you @marcoagpinto ?

[2020-03-29 16:32] marcoagpinto commented on #2643
@tiff

What he is saying is that the computer mouse ("rato"), LT suggests replacing "rato" with "mouse" for Brazilian but then LT says "mouse" is a foreign word and to suggests replacing with "rato".

Weird, isn't it?

[2020-03-29 17:57] tiff commented on #2643
So it’s really a bug I guess?

[2020-03-29 18:13] marcoagpinto commented on #2643
@tiff
It is the same as the "e-mail" issue you fixed the other day.

[2020-03-29 18:18] marcoagpinto commented on #2643
@tiff

Tiago fixed it in his fork, and  I have followed what he did:
https://github.com/languagetool-org/languagetool/commit/8ecd71bd2e785f5e614b3d249ef0ed75e0573a16

[2020-03-29 18:18] #2643 closed

[2020-03-29 18:19] tiff commented on #2643
Great! Thanks to both of you!

[2020-03-30 05:41] tiff opened #2644 "[pt] user feedback"
I don't know what he exactly means, but what I noticed is, that it suggests "sítio web" for "site" and then again marks the resulting text.

First:
![Bildschirmfoto 2020-03-30 um 07 39 33](https://user-images.githubusercontent.com/37363/77878936-c02c3580-7259-11ea-8335-7c9d284e9a7e.png)

Then:
![Bildschirmfoto 2020-03-30 um 07 40 08](https://user-images.githubusercontent.com/37363/77878948-c6baad0

[2020-03-30 05:46] tiff opened #2645 "[es] "my" vs "muy""
A user wanted to congratulate us for our great tool. He just wrote "my bueno". I think what he meant was "muy bueno", but it seems that we don't detect this mistake. Is "my" even a word in Spanish?

[2020-03-30 06:10] tiff opened #2646 "[en] manual setting of best spelling suggestion doesn't work anymore"
We have big "if/else" block in the "AbstractEnglishSpellerRule.java" where we manually set the best suggestion for certain spelling errors. This somehow stopped working. E.g. for "css" we should suggest "CSS" but that's not the case (anymore).

![Bildschirmfoto 2020-03-30 um 08 09 58](https://user-images.githubusercontent.com/37363/77880838-dcca6c80-725d-11ea-961f-d2d4a2ed2be0.png)

@danielnaber c

[2020-03-30 06:51] danielnaber opened #2647 "LibreOffice add-on: com.sun.star.uno.RuntimeException: no text selection"
See https://forum.languagetool.org/t/de-lt-fehlermeldung-marz-2020/5448/10

[2020-03-30 07:01] marcoagpinto commented on #2644
"Isto acontece através de site." — > "Isto acontece através de sítio web."

Well, it seems to work here.

"site" is a foreign word, so, it suggests "sítio web" and then it flags "web" which is also a foreign word because there is no way to make it automatic replace "web" in italic.

[2020-03-30 07:02] marcoagpinto commented on #2644
"site": http://www.portaldalinguaportuguesa.org/index.php?action=loanwords&act=list&letter=s

[2020-03-30 07:03] marcoagpinto commented on #2644
http://www.portaldalinguaportuguesa.org/index.php?action=loanwords&act=list&search=site

[2020-03-30 07:23] danielnaber commented on #2646
That's caused by the resorting. @fabrichter Could you change it so that the "manual" top suggestions are not affected by resorting?

[2020-03-30 08:27] tiff opened #2649 "[en] false alarm TO_TOO"
![Bildschirmfoto 2020-03-30 um 10 26 56](https://user-images.githubusercontent.com/37363/77891314-0e98fe80-7271-11ea-9c13-33592b8ad80d.png)

[2020-03-30 08:29] tiff commented on #2649
Another one:

![Bildschirmfoto 2020-03-30 um 10 29 47](https://user-images.githubusercontent.com/37363/77891542-65063d00-7271-11ea-8f9a-163646260e7b.png)

[2020-03-30 08:53] danielnaber opened #2650 "[ru] activating DashRule"
The DashRule has been optimized for better performance and could now be activated for Russian. Here are some new matches from the nightly test:

https://internal1.languagetool.org/regression-tests//20200327/result_ru_20200327_table.html

@yakovru Are these valid matches, i.e. can the rule be activated?

[2020-03-30 09:18] MikeUnwalla opened #2651 "[en] Wrong tagging DT_JJ_VB_NN"
Noted during the correction of https://github.com/languagetooler-gmbh/languagetool-premium/issues/1126.

'hand' is tagged as NN only, but it is a (phrasal) verb:

[2020-03-30 09:21] tiff opened #2652 "[en] false alarm CD_NN"
![Bildschirmfoto 2020-03-30 um 11 20 51](https://user-images.githubusercontent.com/37363/77896418-8e769700-7278-11ea-93f8-588a46e479bc.png)

[2020-03-30 09:25] MikeUnwalla commented on #2652
@tiff, caused by incorrect tagging in DT_JJ_NN_NN.

[2020-03-30 09:29] tiff opened #2653 "[en] false alarm PLURAL_VERB_AFTER_THIS"
![Bildschirmfoto 2020-03-30 um 11 28 57](https://user-images.githubusercontent.com/37363/77897234-b1ee1180-7279-11ea-9045-53b3f8d76f73.png)

[2020-03-30 09:53] #2651 closed

[2020-03-30 09:56] tiff opened #2654 "[es] words often added to the dictionaries of users"
Here's another list @jaumeortola

[2020-03-30 10:29] jaumeortola commented on #2645
"my" is in the Spanish tagger dictionary (POS tag: NCMN000). It could be an old name of the Greek letter "Mu". We should remove it from the dictionary or create a warning rule.

[2020-03-30 10:31] tiff commented on #2645
If "my" is very uncommon/archaic, I would vote for removing it.

[2020-03-30 11:37] danielnaber opened #2655 "[pt] activating DashRule"
The DashRule has been made much faster. `PostReformPortugueseDashRule` was turned off because of the performance issue, so we can now re-activate it. @marcoagpinto Do you see any issue with re-activating it, Marco?

Here's what the rule does:

[2020-03-30 11:47] marcoagpinto commented on #2655
@danielnaber

I think it should always have been activated.

So, yes, please activate it.

[2020-03-30 11:50] FredKruse commented on #2514
@marcoagpinto please test, if the new release solves this issue

[2020-03-30 11:52] FredKruse commented on #2614
@danielnaber please test, if the new release solves this issue

[2020-03-30 11:55] FredKruse commented on #2637
@danielnaber This bug should be solved with the current release

[2020-03-30 11:55] marcoagpinto commented on #2514
I will test it with tonight's nightly.

So, tomorrow morning we will know.

Thanks!

[2020-03-30 11:58] danielnaber commented on #2655
Done, should be online tomorrow on languagetool.org

[2020-03-30 11:58] #2655 closed

[2020-03-30 12:05] #2652 closed

[2020-03-30 12:31] #2605 closed

[2020-03-30 12:44] #2604 closed

[2020-03-30 14:17] FredKruse commented on #2642
@danielnaber I can't reproduce this issue. The limit of the server is retrieved at the beginning of check. The length of text is limited by the extension to the server limit. This problem is regarding only the text level rules. I tested the option with a document of 150 pages just now. It has been worked without any problem. Do you have a test case?

[2020-03-30 14:25] #2584 closed

[2020-03-30 14:28] MikeUnwalla opened #2657 "[en] Wrong tagging VBP_NN_VBZ"
Caused by a correction for #2584.

"search" is only tagged as "NN:UN"

[2020-03-30 14:44] #2657 closed

[2020-03-30 15:00] #2637 closed

[2020-03-30 15:06] danielnaber commented on #2642
Indeed now I cannot reproduce it anymore.

[2020-03-30 15:06] #2642 closed

[2020-03-30 15:07] danielnaber commented on #2641
I have also cases where the edit makes the underlines disappear and they don't come back. Another edit then makes one underline come back, but at the wrong position:

[Peek 2020-03-30 17-03.zip](https://github.com/languagetool-org/languagetool/files/4403661/Peek.2020-03-30.17-03.zip)

Settings used:

![Bildschirmfoto von 2020-03-30 17-05-13](https://user-images.githubusercontent.com/857004/7792840

[2020-03-30 15:42] tiff commented on #2613
@danielnaber I had a quick look at the java rule myself. Unfortunately I can't get the tests (QuestionWhitespaceRuleTest.java) to fail when I add the sentences as test cases. There seems to be something wrong. Can you have a look yourself?

[2020-03-30 16:43] dpelle commented on #2613
That's not a false positive.  LT expects a non breakable space.
You can reproduce it with the command line with normal spaces:
[code]

And with non-breakable spaces there is no error:
[code]

So the ticket can be closed (not a bug).

[2020-03-30 17:09] tiff commented on #2613
@dpelle The issue is That LT will insert an extra space. It’s totally valid to suggest a non-breaking space but the user will end up having two spaces. One breaking and one non breaking. Correct me if I’m wrong but that shouldn’t be the case, should it?

[2020-03-30 17:48] danielnaber commented on #2613
Sentence splitting in this test is not as in real use, see https://github.com/languagetool-org/languagetool/commit/74cfd8b493dcf046286715ab757e654452cd7aaf for an example of how to do it right.

[2020-03-30 20:02] yakovru commented on #2650
No, these matches are invalid.

[2020-03-30 20:16] yakovru opened #2658 "Sentences segmentation rules are not working in LO when "Check text level rules parallel" is activated."
Sentences segmentation rules are not working in LO extension then option "Check text level rules parallel" activated.
And XML grammar rules apply to the paragraph, not to the sentences, when "Check text level rules parallel" is activated.

[2020-03-30 20:26] danielnaber commented on #2650
Could these be avoided by antipatterns? Or is there a more general problem with the rule?

[2020-03-30 21:22] yakovru commented on #2650
This is a more general problem.
The new algorithm uses parts of words, not whole words.
Example:   ведро**м — ра**ботай
For this example, both words must be in the dictionary compounds.txt written with a hyphen.
But the algorithm finds the word "м-ра", which does not match.

[2020-03-30 21:24] yakovru commented on #2650
https://internal1.languagetool.org/regression-tests//20200327/result_ru_20200327.html

[2020-03-31 06:10] marcoagpinto commented on #2514
@FredKruse

The underlining seems to be fixed.

Thank you for your work!

[2020-03-31 07:44] danielnaber commented on #2650
I see. This should be fixed now.

[2020-03-31 08:13] tiff opened #2659 "[en] "tarrifs" doesn't suggest "tariffs""
![Bildschirmfoto 2020-03-31 um 10 12 58](https://user-images.githubusercontent.com/37363/78002941-37d09200-7338-11ea-830a-ae0b2310e000.png)

[2020-03-31 10:08] #2613 closed

[2020-03-31 10:12] MikeUnwalla opened #2660 "[en] Hyphenated ordinal numbers not tagged"
Rule ORDINAL_NUMBERS tags some hyphenated numbers, but not all:

[2020-03-31 12:18] MikeUnwalla opened #2661 "[en] Incorrect tagging E_NP_NN_VBP"
'Care' is only tagged as NN:UN.

[2020-03-31 12:56] #2661 closed

[2020-03-31 14:36] #2653 closed

[2020-03-31 15:05] #2635 closed

[2020-04-01 05:45] tiff opened #2662 "[en] false alarms IT_IS"
![Bildschirmfoto 2020-04-01 um 07 42 41](https://user-images.githubusercontent.com/37363/78103147-6c058a80-73ec-11ea-98b0-aa244c9ca695.png)

Another one:

[2020-04-01 08:26] marcoagpinto commented on #2514
@FredKruse

The issue happened again with the latest nightly.

So, it is not 100% fixed.

[2020-04-01 09:28] #2645 closed

[2020-04-01 11:14] tiff opened #2663 "[en] false alarm HE_VERB_AGR"
![Bildschirmfoto 2020-04-01 um 13 12 57](https://user-images.githubusercontent.com/37363/78131010-9d954a80-741a-11ea-8bb8-e21b38f2d2e7.png)

There's probably a possessive apostrophe missing, but this rule should not trigger here.

[2020-04-01 11:16] tiff commented on #2663
Another one:

[2020-04-01 11:29] tiff opened #2664 "[en] false alarms CONFUSION_OF_OUR_OUT"
![Bildschirmfoto 2020-04-01 um 13 26 23](https://user-images.githubusercontent.com/37363/78132085-66279d80-741c-11ea-98e3-38324654d183.png)

More:

[2020-04-01 12:11] tiff opened #2665 "[fr] "l’ONU""
I see many users adding "l’ONU" to their dictionary. What does it mean?

[2020-04-01 12:13] tiff opened #2666 "[fr] 2sem 3j"
![Bildschirmfoto 2020-04-01 um 14 12 21](https://user-images.githubusercontent.com/37363/78135849-d89b7c00-7422-11ea-8be4-b22c2c39b0ac.png)

Is "2sem" a valid way of abbreviating "2 semaines" and is "3j" a valid way of abbreviating "3 jours"?

[2020-04-01 12:24] tiff commented on #2665
Found it myself, it's the French name for UNO: https://fr.wikipedia.org/wiki/Organisation_des_Nations_unies

[2020-04-01 20:14] pdrogf opened #2667 "[pt-br] - own names - nomes próprios"
Então o autor, Pedro Grazziani, se dirigiu ao local.
![image](https://user-images.githubusercontent.com/15107248/78182233-2ec8e900-743c-11ea-93fb-f86a412d5f50.png)

However, it is about the subject, someone's first name.

[2020-04-01 20:57] marcoagpinto commented on #2667
Done!

https://github.com/languagetool-org/languagetool/commit/7f194bce062874811d7971eb886dec58bd436ef5

https://github.com/languagetool-org/languagetool/commit/b5ce18f350a677974edf704fdafed77f6f029ab5

[2020-04-01 20:57] #2667 closed

[2020-04-01 23:03] pdrogf commented on #2667
Hi, I believe I expressed myself badly. Would there be a way to create a rule to recognize that they are proper names and therefore are not spelling errors?

@danielnaber @marcoagpinto

[2020-04-02 07:44] baarsrj opened #2668 "What to consider wrong, what not"
When checking a large corpus, I detected at least these types of sentences:
* completely grammatically correct
* grammatically incomplete, but quite common in speech-like text (books, speech)
* sentence with hard errors
* sentences with taste/style issues (comma e.g.)

I would appreciate a general meta-style guide for LT, with examples in English what to do with several types of errors.

[2020-04-02 07:47] danielnaber commented on #2667
@pdrogf The only way I see is to expand the dictionary by a list of names. Any other approach could mean to miss real spelling mistakes.

[2020-04-02 08:16] MikeUnwalla commented on #2597
- [ ] There are many small to middle wounds.
- [ ] There are glow up lights
- [x] There are other sort of types. The warning is correct.
- [x] There are four kind of things. The warning is correct.

[2020-04-02 08:31] tiff commented on #2665
Fixed through a disambiguation rule, not sure if this is the best approach:
https://github.com/languagetool-org/languagetool/blob/ef42703670f04c6cc186f7236aa96bf29affc416/languagetool-language-modules/fr/src/main/resources/org/languagetool/resource/fr/disambiguation.xml#L1822-L1830

The same issue also happens with "l'Harvard"

[2020-04-02 08:47] tiff opened #2670 "[en] false alarm ADVERB_OR_HYPHENATED_ADJECTIVE"
![Bildschirmfoto 2020-04-02 um 10 46 14](https://user-images.githubusercontent.com/37363/78228661-4604e680-74cf-11ea-902c-e4b88d791e62.png)

[2020-04-02 08:49] tiff opened #2671 "[en] incorrect tagging E_NP_NN_VBP"
"Miss" is only "NN:UN"

[2020-04-02 09:02] tiff opened #2672 "[en] false alarm KNOW_NOW"
![Bildschirmfoto 2020-04-02 um 11 01 17](https://user-images.githubusercontent.com/37363/78230218-561dc580-74d1-11ea-805c-15ff97374df4.png)

[2020-04-02 09:04] MikeUnwalla opened #2673 "[en] False alarm MANY_NN"
False alarm caused by my correction for  #2597:

[2020-04-02 09:04] #2597 closed

[2020-04-02 09:07] tiff commented on #2662
Another one:

![Bildschirmfoto 2020-04-02 um 11 06 07](https://user-images.githubusercontent.com/37363/78230703-fe338e80-74d1-11ea-9d07-8e63b01650f8.png)

And one more:

[2020-04-02 09:15] #2673 closed

[2020-04-02 09:29] yakovru commented on #2650
Activated. https://github.com/languagetool-org/languagetool/commit/ef4efdf3956529e04e48a00e96f026299e98e4cf

[2020-04-02 09:29] #2650 closed

[2020-04-02 09:31] #2670 closed

[2020-04-02 09:46] MikeUnwalla commented on #2671
Also:

[2020-04-02 09:54] #2671 closed

[2020-04-02 10:08] tiff opened #2674 "[en] false alarm and incorrect suggestion PLURAL_VERB_AFTER_THIS"
![Bildschirmfoto 2020-04-02 um 12 07 41](https://user-images.githubusercontent.com/37363/78236648-92095880-74da-11ea-98b3-8f77aa8ea3f3.png)

1. It's a false alarm
2. It should suggest "doesn" not "does"

[2020-04-02 11:44] tiff opened #2675 "[en] missing suggestion OXFORD_SPELLING_ADJECTIVES"
![Bildschirmfoto 2020-04-02 um 13 43 54](https://user-images.githubusercontent.com/37363/78245628-17dfd080-74e8-11ea-8f5e-b83aafdaabac.png)

[2020-04-02 11:45] tiff commented on #2675
Same for "vapouriser"

[2020-04-02 11:55] tiff opened #2676 "[en] missing suggestion A_GREAT_NUMBER_OF_NN"
![Bildschirmfoto 2020-04-02 um 13 54 57](https://user-images.githubusercontent.com/37363/78246564-a4d75980-74e9-11ea-9920-f4e479d7d50a.png)

[2020-04-02 11:57] tiff opened #2677 "[en] missing suggestion A_COLLECTIVE_OF_NN"
![Bildschirmfoto 2020-04-02 um 13 56 25](https://user-images.githubusercontent.com/37363/78246685-d6e8bb80-74e9-11ea-9dd1-1478867505f3.png)

[2020-04-02 12:00] tiff opened #2678 "[en] missing suggestion HAVE_PART_AGREEMENT"
![Bildschirmfoto 2020-04-02 um 13 58 43](https://user-images.githubusercontent.com/37363/78246864-229b6500-74ea-11ea-8856-1d18f275da63.png)

Of course "begun" is meant but I think the tagging of "begone" is incomplete or wrong.

[2020-04-02 12:01] tiff opened #2679 "[de] missing suggestion FLEKTIERTES_ADJEKTIV_AM_SATZENDE"
![Bildschirmfoto 2020-04-02 um 14 00 35](https://user-images.githubusercontent.com/37363/78247028-6aba8780-74ea-11ea-9044-455da9debab9.png)

[2020-04-02 12:07] tiff commented on #2677
Another one:

![Bildschirmfoto 2020-04-02 um 14 07 02](https://user-images.githubusercontent.com/37363/78247534-48753980-74eb-11ea-9afc-527a35eea2ce.png)

[2020-04-02 12:10] tiff opened #2680 "[en] wrong tagging VBG_IN"
"organistaoin" isn't a word, still it is converted to VBG

[2020-04-02 12:12] tiff commented on #2677
And:

[2020-04-02 12:30] tiff commented on #2675
@MikeUnwalla a few more I found:
* self-raising
* exercisable
* overdramatisation
* weaponisation

[2020-04-02 12:39] MikeUnwalla commented on #2678
Webster (www.merriam-webster.com/dictionary/begone) says it's a verb, but used only in the imperative.

These say it's an interjection:
https://www.ldoceonline.com/dictionary/begone
https://www.lexico.com/definition/begone

I suggest that you/I remove the verb POS from begone (and begones).

[2020-04-02 12:49] MikeUnwalla commented on #2680
Refer to #2311.

A possible solution in this case is to add an AP for `term+apostrophe+s`

[2020-04-02 12:50] tiff commented on #2680
sounds good

[2020-04-02 13:05] jaumeortola commented on #2665
There is "Onu" in the French tagger dictionary, but not "ONU". I think it should be added.

The rule triggered seems to be this (premium rule?):
![imatge](https://user-images.githubusercontent.com/4289501/78252360-03550580-74f3-11ea-9f6a-350b20546678.png)

[2020-04-02 13:10] tiff commented on #2678
@MikeUnwalla I will take care.

[2020-04-02 13:11] MikeUnwalla opened #2682 "[en] Incorrect tagging E_NP_NN_VBP"
'Care' is tagged only as NN:UN:

[2020-04-02 13:13] #2678 closed

[2020-04-02 13:29] tiff opened #2683 "[ru] user feedback"
Not sure what he means. Feel free to close this issue if invalid.

[2020-04-02 14:21] #2680 closed

[2020-04-02 14:38] #2646 closed

[2020-04-02 14:42] tiff opened #2684 "[en] false alarm THE_SUPERLATIVE"
![Bildschirmfoto 2020-04-02 um 16 38 51](https://user-images.githubusercontent.com/37363/78262209-892b7d80-7500-11ea-8b7f-cff16282c1b2.png)

Also:

Also:

![Bildschirmfoto 2020-04-02 um 16 41 31](https://user-images.githubusercontent.com/37363/78262430-d90a4480-7500-11ea-8709-e7f5adb16dd2.png)

[2020-04-02 14:42] tiff opened #2685 "[en] false alarm EVERY_EACH_SINGULAR"
![Bildschirmfoto 2020-04-02 um 16 41 59](https://user-images.githubusercontent.com/37363/78262512-f5a67c80-7500-11ea-8d06-b7c4044b69de.png)

[2020-04-02 14:52] dpelle commented on #2665
@tiff wrote:

Yes, that's correct. The abbreviation is commonly used
and writing "l'ONU" should thus not trigger an error from
a user point of view.

@jaumeortola wrote:

Indeed, I see "Onu" in the dictionary. But I have no
idea what it is is.  I think it's a mistake in dicollecte,
or if it's a real word, it must be rare and most people
would not know what it is (at least I don't and I'm French).

[2020-04-02 14:55] tiff commented on #2665
@dpelle thank you!

Does the same apply to "d'Havard"? I got it from the Wikipedia page (https://fr.wikipedia.org/wiki/Universit%C3%A9_Harvard)

![Bildschirmfoto 2020-04-02 um 16 54 13](https://user-images.githubusercontent.com/37363/78263858-c7c23780-7502-11ea-971f-eb272028c354.png)

[2020-04-02 15:06] yakovru commented on #2683
Missing error context. I can not reproduce it. Closed.

[2020-04-02 15:06] #2683 closed

[2020-04-02 15:43] #2682 closed

[2020-04-02 16:36] dpelle commented on #2665
@tiff asked:

I see that for proper nouns, whether to use the apostrophe (élision)
or not is floating. It's not as clear as for regular words.

So I think we should allow both d’Harvard and de Harvard.
Looking at https://fr.wikipedia.org/wiki/Universit%C3%A9_Harvard I see both being used.

Some related links (in French) about élision and proper nouns:
* http://www.academie-francaise.fr/solene-o-fr

[2020-04-02 16:37] tiff commented on #2665
@dpelle thanks for the explanation

[2020-04-02 16:44] dpelle commented on #2665
I see that "Onu → ONU" is now fixed in dicollecte (see: https://grammalecte.net/proposition.php?prj=fr&id=29777 )

Of course, the fix will only land in LanguageTool when:
* there is a new release of Dicollecte
* and the new release is integrated in LanguageTool
So it can still take time.

[2020-04-02 16:55] pdrogf commented on #2667
@danielnaber
Understand. In the language is it not possible to add words to the dictionary?
The file is read-only.

[2020-04-02 17:16] danielnaber commented on #2667
@pdrogf You can just make the file writable, but you'll need to reload LT for it to see changes to the file.

[2020-04-02 17:19] pdrogf commented on #2667
Ok, thanks!

[2020-04-02 17:43] jaumeortola commented on #2665
@dpelle Another similar issue in Dicollecte: Otan should be OTAN?

@tiff I see possible false alarms in the rule with the message "Un texte tout en majuscules peut être considéré intrusif (à moins que ce ne soient des acronymes)." For example, if you write "L'EDF", "L'ABC" or "L'ONU" (even after the dictionary change?). These can be fixed easily.

[2020-04-02 17:54] tiff commented on #2665
@jaumeortola ah I see. That rule is in premium. @danielnaber can you provide access to @jaumeortola, so he can fix it?

[2020-04-02 18:19] jaumeortola opened #2687 "[en] rules for other/another/others"
There are no general rules for these words in LanguageTool. They would be useful specially for non-native speakers.

The rules seem quite straightforward. See, for example; https://www.grammar.cl/english/another-other-others.htm

I guess the main difficulty will be dealing with countable and uncountable names.

[2020-04-02 21:55] dpelle commented on #2665
Thanks @jaumeortola.

Change proposed in Dicollecte for Otan → OTAN : https://grammalecte.net/proposition.php?prj=fr&id=29779

Given that we found Otan and Onu, I would not be surprised if there are others like these.

[2020-04-03 08:35] tiff opened #2688 "[es] port some rules from EN to ES"
Some rules, mostly around proper nouns, I think would be helpful also for Spanish speakers:

* WHATS_APP
* COTE_D_AZUR
* MCDONALDS / KELLOGGS / WENDYS / SAINSBURYS
* SAO_PAOLO
* ERDOGAN
* SUPER_TUESDAY
* MAC_OS_X
* EARL_GREY
* FORREST_GUMP
* NEW_ZEELAND
* LEHMANN_BROTHERS
* LOREAL
* FEDEX
* LOS_ANGELS
* TIK_TOK
* SOCIETE_GENERALE
* NDRANGHETA
* VON_DER_LEYEN
* EMMANUEL_MACRON
* DUNKIN_DONUTS
* MAR

[2020-04-03 09:12] #2555 closed

[2020-04-03 13:29] tiff commented on #2654
Some more:

[2020-04-03 15:18] tiff opened #2689 "[en] "ouut" suggests "Out" first"
Happens only for en-gb

![Bildschirmfoto 2020-04-03 um 17 17 55](https://user-images.githubusercontent.com/37363/78376782-189f6200-75cf-11ea-8eac-c9e96e840454.png)

[2020-04-04 08:52] danielnaber commented on #2689
@fabrichter Resort issue:

`org.languagetool.rules.BERTSuggestionRanking Scored suggestions for 'ouut': [out, oust, Out] -> [Out (2,489007e-01), oust (2,002164e-09), out (0,000000e+00)]`

[2020-04-04 14:45] Dallun511 opened #2700 "[DE] "zu geben" Fehlalarm"
Moin liebes LanguageTool-Team

Die Richterin hatte sich entschieden, der Schülerin Sozialstunden zu **geben**.
LT-Meldung: Meinten Sie "gegeben"?

Es ist zwar umgangssprachlich, aber keine Form von "gegeben".

Grüße Dallun511

[2020-04-04 15:43] yakovru commented on #2443
По п. 8.1, это правило работает не всегда, например:
**С того времени, как** человек стал человеком, с того мгновения, когда он засмотрелся на красоту вечерней зари, он стал всматриваться в самого себя.
см.  https://gia.resobrnadzor.ru/wp-content/uploads/2019/12/%D0%9E%D0%93%D0%AD_%D0%A0%D1%83%D1%81%D1%81%D0%BA%D0%B8%D0%B9-%D1%8F%D0%B7%D1%8B%D0%BA_-9_%D0%91%D0%B0%D0%BD%D0%BA-%D0%B7%D0%B0%D0%B4%D0%

[2020-04-05 08:02] sergus2008 commented on #2443
Какой-то сомнительный момент. Я бы здесь не стал ставить запятую. Больше похоже на авторскую постановку запятой для эмоциональной окраски, хоть и диктант. Фактически есть такое правило, и оно легко гуглится.

[2020-04-05 16:46] Mannshoch opened #2701 "Install languagetool on Synology nas or open-wrt"
wrong

[2020-04-05 16:47] #2701 closed

[2020-04-06 03:37] sougatabh opened #2702 "[en] better is not suggesting correctly"
I used below sentence, but no suggesting found.
This season, Playing Football is batter than cricket.

[2020-04-06 05:50] tiff commented on #2649
<img width="453" alt="Bildschirmfoto 2020-04-06 um 07 49 49" src="https://user-images.githubusercontent.com/37363/78526748-4658f680-77db-11ea-8d5d-c4db04ec371f.png">

[2020-04-06 06:25] tiff opened #2703 "[es] error not found "estas""
Not sure, but a user mentioned that an error is not found in this sentence.

[2020-04-06 07:32] tiff opened #2704 "[en] incorrect tagging E_NP_NN_VBP"
"use" is only tagged as "NN:UN"

[2020-04-06 07:39] jaumeortola commented on #2703
It is useful. I will add another case to the rules for estas/estás.

[2020-04-06 07:39] tiff commented on #2703
Thank you

[2020-04-06 08:13] #2702 closed

[2020-04-06 08:27] tiff opened #2705 "[de] false alarm COMMA_IN_FRONT_RELATIVE_CLAUSE"
![Bildschirmfoto 2020-04-06 um 10 26 44](https://user-images.githubusercontent.com/37363/78538395-33512100-77f1-11ea-8372-97fd5ed5125e.png)

[2020-04-06 10:14] marcoagpinto opened #2707 "Standalone tool crashes randomly at start"
Hello!

For months that the standalone tool crashes randomly at start.

This happened with the latest nightly build:
![stand-alone_tool_crash_on_start_20200406](https://user-images.githubusercontent.com/5192600/78547926-c2f9ce00-77f7-11ea-89f5-63b62a6a75d3.png)

[2020-04-06 10:40] tiff opened #2708 "[de] false alarm DE_CASE"
![Bildschirmfoto 2020-04-06 um 12 39 46](https://user-images.githubusercontent.com/37363/78550076-bf6c4400-7803-11ea-88c4-6b16ab6a1de5.png)

[2020-04-06 11:21] fabrichter commented on #2689
I investigated a bit; this is a bug in the server that scores the suggestion, I am working on a fix.

[2020-04-06 11:35] danielnaber opened #2709 "IndexOutOfBoundsException in Cache"
![ef32e72ec65202975a4a5891c0ccc0736708aace](https://user-images.githubusercontent.com/857004/78554365-4f61bc00-780b-11ea-87ce-dc57393f20f2.png)

See https://forum.languagetool.org/t/de-in-die-unendlichkeit-und-viel-weiter-lt-ddos-angriff/5547

[2020-04-06 11:54] fabrichter commented on #2689
After the fix, the resorted suggestions look like this:
INFO  org.languagetool.rules.BERTSuggestionRanking Scored suggestions for 'oout': [out, bout, gout, tout, Oort, lout, pout, Out, Tout, rout] -> [out (7.336179e-02), Out (7.336179e-02), bout (2.877838e-08), tout (2.370153e-09), Tout (2.370153e-09), lout (6.423269e-10), gout (1.027037e-10), Oort (6.427965e-11), pout (1.468966e-12), rout (5.6439

[2020-04-06 12:07] danielnaber commented on #2689
As `Out` and `out` are now the same value, is it just luck that `out` comes first?

[2020-04-06 12:18] fabrichter commented on #2689
No, the resorting is stable, i.e. for candidates with equal scores, the previous ordering is preserved.

[2020-04-06 12:44] #2703 closed

[2020-04-06 12:48] tiff opened #2711 "[es] "corona virus""
Should be spelled as one word. We don't detect this.

[2020-04-06 13:39] #2711 closed

[2020-04-06 14:12] bperel opened #2712 "False positives on bibcodes"
Hello,

Perhaps an edge case, but bibcodes which are used to reference literature references about astronomical data, are counted as errors since they can contain dots, for instance `2002AJ....123..549P`.

I found [a regular expression](https://www.wikidata.org/wiki/Property:P819) to match these bibcodes :
[code]

[2020-04-06 15:34] fabrichter commented on #2689
The fix is deployed now.

[2020-04-07 06:58] tiff opened #2713 "[pt] user feedback"

[2020-04-07 07:06] marcoagpinto commented on #2713
It is not an error, it simply suggests replacing with a Portuguese word because it is a foreign word.

[2020-04-07 07:06] #2713 closed

[2020-04-07 07:50] tiff commented on #2675
A few more:
* self-rising
* despisable

[2020-04-07 08:44] #2675 closed

[2020-04-07 08:45] MikeUnwalla opened #2714 "[en-GB] Spelling errors not found"
These AmE spellings are not correct BrE, but the spelling checker does not find them:

- [ ] self-rising (https://www.lexico.com/definition/self-rising)

[2020-04-07 08:59] marcoagpinto commented on #2714
Well, the GB speller doesn't find it because it is a compound word and Hunspell sees it as two words:
self + rising (verb rise)
since "self" is valid and "rising" is valid and are separated by a hyphen, Hunspell accepts it as valid.

[2020-04-07 09:33] baarsrj opened #2715 "Incorrect suggestions: [Hou, Houd] != [Hou, Houd]"
Clearly, the error message is incorrect. Might be caused by the match resulting in 2 (correct) st person forms for the verb.
[code]

[2020-04-07 09:51] yakovru commented on #2715
Try

<message>De gebiedende wijs krijgt geen t: <suggestion><match no="2" postag="WKW:TGW:3EP"  postag_replace="WKW:TGW:1EP"/></suggestion>.</message>

[2020-04-07 10:52] tiff opened #2716 "[en] false alarm DID_FOUND_AMBIGUOUS"
![Bildschirmfoto 2020-04-07 um 12 52 04](https://user-images.githubusercontent.com/37363/78661172-98c70f80-78ce-11ea-9340-b499d5b4bcde.png)

[2020-04-07 11:00] tiff opened #2717 "[en] loop "any more" <-> "anymore""

[2020-04-07 11:25] MikeUnwalla commented on #2714
@marcoagpinto , thanks for the explanation of the cause.

[2020-04-07 11:26] #2717 closed

[2020-04-07 13:20] tiff commented on #2716
Same:

[2020-04-07 14:04] danielnaber opened #2718 "LibreOffice: error dialogs appears multiple times"
See #2709. While the issue has been fixed, I think we still have the problem that the error dialog can open hundreds of times if there's an error we don't know about yet.

@FredKruse

[2020-04-07 14:41] baarsrj opened #2719 "Ignore error vs ignore entire rule"
I would like the user to have the option to ignore the error in this place (sentence), for this session, but not disable the rule entirely.

![afbeelding](https://user-images.githubusercontent.com/8479998/78682646-8c52af00-78ee-11ea-8b40-b48d18f85468.png)

[2020-04-08 06:54] tiff opened #2722 "[en] false alarms ADVERB_OR_HYPHENATED_ADJECTIVE"
![Bildschirmfoto 2020-04-08 um 08 49 21](https://user-images.githubusercontent.com/37363/78753362-f2cee000-7975-11ea-8bfd-1cb428c23870.png)

[2020-04-08 07:05] tiff opened #2723 "[en] wrong tagging NN_CC_NN"
"rest" is only "NN:UN"

[2020-04-08 09:21] MikeUnwalla commented on #2704
Also:

[2020-04-08 09:25] #2704 closed

[2020-04-08 09:27] MikeUnwalla commented on #2722
Refer to https://github.com/languagetooler-gmbh/languagetool-premium/issues/250.

[2020-04-08 10:01] MikeUnwalla opened #2724 "[en] False warning A_PLURAL"
'Pariahs' is incorrectly flagged:

[2020-04-08 10:10] MikeUnwalla commented on #2722
- [ ] He was the only one left standing.
- [ ] It's a coastal city situated close to the island.
- [ ] They were a group called Pariahs.
- [x] It was the initial wound area. This sentence is ambiguous. If 'wound' is a verb, then the warning is correct. If 'wound' is a noun, it's a false positive.
- [ ] He was last seen taken care of by his mother.
- [ ] It is the so-called personalized treatment

[2020-04-08 10:47] #2722 closed

[2020-04-08 10:58] #2723 closed

[2020-04-08 16:58] dpelle opened #2725 "[de] broken url in German grammar.xml file"
I ran a script to find broken links in grammar files.

For German, it found those broken links in languagetool-language-modules/de/src/main/resources/org/languagetool/rules/de/grammar.xml:
[code]
I'll create a different ticket for each language where I see broken URLs.

[2020-04-08 17:37] danielnaber commented on #2725
Thanks, fixed for German.

[2020-04-08 17:37] #2725 closed

[2020-04-08 18:07] dpelle opened #2726 "[en] broken url in English grammar.xml file"
I ran a script to find broken links in grammar files.

For English, it found this broken link in languagetool-language-modules/en/src/main/resources/org/languagetool/rules/en/grammar.xml:
[code]

[2020-04-08 18:12] dpelle opened #2727 "[ar] broken url in Arabic grammar.xml file"
I ran a script to find broken links in grammar files.

For Arabic, it found these broken links in languagetool-language-modules/ar/src/main/resources/org/languagetool/rules/ar/grammar.xml:
[code]

[2020-04-08 18:23] dpelle opened #2728 "[nl] broken url in Dutch grammar.xml file"
I ran a script to find broken links in grammar files.

For Dutch, it found these broken links in languagetool-language-modules/nl/src/main/resources/org/languagetool/rules/nl/grammar.xml:
[code]
For the second link, removing the comma at the end would fix it.

[2020-04-08 18:35] dpelle opened #2729 "[pl] broken url in Polish grammar.xml file"
I ran a script to find broken links in grammar files.

For Polish, it found this broken link in languagetool-language-modules/pl/src/main/resources/org/languagetool/rules/pl/grammar.xml:
[code]

[2020-04-08 19:25] #2116 closed

[2020-04-08 20:17] yakovru commented on #2715
[code]

[2020-04-08 21:48] dpelle opened #2730 "[pt] broken url in Portuguese grammar.xml file"
I ran a script to find broken links in grammar files.

For Portuguese, it found these broken link in languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/grammar.xml:
[code]
I did not look at them, but I see at least that the last one should end
with Roland_Garros instead of Rolland_Garros.

[2020-04-09 05:50] marcoagpinto commented on #2730
Not much I can do about it.

They point to entries in the Wiktionary which do not exist.

They were added by Tiago.

[2020-04-09 06:13] dpelle commented on #2730
At least the first and last links are not link to wiktionary.

The last one can easily be corrected into https://pt.wikipedia.org/wiki/Roland_Garros (with 1 l).

And I don't think we should give missing links to wiktionary.  It will be confusing for users.
Either the word is misspelled in grammar.xml, or wiktionary is incomplete.
I can't really tell as I do not speak Portuguese.

[2020-04-09 06:24] dpelle commented on #2666
It does not look like a common abbreviation to me.
Closing as not a bug.

[2020-04-09 06:24] #2666 closed

[2020-04-09 06:47] danielnaber commented on #2730
Links are optional, so better remove them instead of having broken links.

[2020-04-09 06:49] marcoagpinto commented on #2730
ok.

I will remove them tomorrow.

:-)

[2020-04-09 08:07] tiff commented on #2677
<img width="495" alt="Bildschirmfoto 2020-04-09 um 10 06 18" src="https://user-images.githubusercontent.com/37363/78872631-def4ae00-7a49-11ea-9810-124d38f07580.png">

[2020-04-09 08:33] MikeUnwalla commented on #2726
Rutgers website is available, but not andromeda.rugters. Try again tomorrow to make sure it's not a temporary fault.

[2020-04-09 09:33] tiff opened #2731 "[en] false alarm THE_SUPERLATIVE"
<img width="922" alt="Bildschirmfoto 2020-04-09 um 11 32 53" src="https://user-images.githubusercontent.com/37363/78880608-efab2100-7a55-11ea-9e4c-905b47911286.png">

[2020-04-09 09:34] tiff commented on #2731
Another:

[2020-04-09 09:46] danielnaber opened #2732 "[pt] false alarms "on"?"
Hi Marco, "on" is marked even in "on-line", see https://internal1.languagetool.org/regression-tests//20200408/result_pt-BR_20200408_table.html. Although I don't speak Portuguese I guess that's not useful?

[2020-04-09 09:52] marcoagpinto commented on #2732
I have just removed "on" and "off" from the foreign words:
https://github.com/languagetool-org/languagetool/commit/ae446c813d43a1e1394816f972e11ce9307f657d

[2020-04-09 09:52] #2732 closed

[2020-04-09 11:02] MikeUnwalla commented on #2731
Fixed in https://github.com/languagetool-org/languagetool/commit/6c07c061ec9ce64ef6873f226f9a9673bac8f0c0. (Sorry, I forgot to add the summary.)

@tiff , I think that the third example ("with latest forecasts") is better with the article. If you have a reference that shows it is a false warning, please re-open this issue.

[2020-04-09 11:03] #2731 closed

[2020-04-09 11:03] tiff commented on #2731
@MikeUnwalla No it's fine! Thanks

[2020-04-09 11:08] #1061 closed

[2020-04-09 11:26] MikeUnwalla commented on #2684
- [ ] Learn how to best approach the crisis. Probably caused by incorrect disambiguation in
E_NP_NN_VBP
- [x] Learn about money and how to best spend it wisely. 2020-04-09 No false warning.
- [ ] Students were often each others worst enemies when discussing their experiences

[2020-04-09 11:51] #2684 closed

[2020-04-09 12:14] MikeUnwalla opened #2733 "[en] Not found: it worse"
Caused by my addition of RBR to 'worse' (https://github.com/languagetool-org/languagetool/commit/21fcf6f0b28bbb2803db9e6584d9842ac3f9da2b).

[2020-04-09 13:23] yakovru commented on #2715
The corrections in the first example are incorrect.
They are should be separated using the "|" character.

`<example correction="Hou|Houd"><marker>Houdt</marker> daar rekening mee.</example>
`

[2020-04-09 13:50] dpelle commented on #2715
But still @baarsrj  has a point.  Reporting failing test by saying in the error message:
[code]
... is confusing.  It would have been better to report the failure as:
[code]
And then the rule developer would have understood his error.

[2020-04-09 13:56] #2733 closed

[2020-04-09 14:30] danielnaber commented on #2715
I have improved the message now as suggested by @dpelle (not online yet at community.languagetool.org).

[2020-04-10 04:26] marcoagpinto commented on #2730
@dpelle

Hello!

Could your script delete the lines?

It is dozens of lines, it would take hours to delete manually.

Thanks!

[2020-04-10 17:08] Dallun511 opened #2734 "[DE] Kritischer Fehler"
Moin liebes LangaugeTool-Team

Hiermit übergebe euch die Textstelle, die das Problem verursacht.
![grafik](https://user-images.githubusercontent.com/40240507/79008781-67fd0980-7b5e-11ea-88c2-cce3ac64319b.png)
Diese Textstelle sorgt für komische Bugs und eine Absturzgarantie.

[Bug-Dokument.zip](https://github.com/languagetool-org/languagetool/files/4462561/Bug-Dokument.zip)
Das Dokument ist sehr k

[2020-04-10 20:02] danielnaber commented on #2734
@FredKruse Hast du eine Idee? Ich kann das Problem nicht nachvollziehen, kann aber auch daran liegen, dass mein LibreOffice gerade eh gar keine Rechtschreibprüfung machen will.

[2020-04-10 20:55] dpelle commented on #2730
@marcoagpinto asked:

I fixed at least the broken wikipedia link (Rolland Garros -> Roland Garros).
But for other broken link to wiktionary, it's better to have knowledge of
Portuguese to check whether links should be corrected or deleted.

I don't think it takes that much time to remove <url>…</url> lines.

[2020-04-11 10:18] FredKruse commented on #2734
Ich kann den Bug auch nicht nachvollziehen. Allerdings habe ich Freitag und Samstag zwei Bug-Fixes eingespielt. Einer von ihnen hat ein Einfrieren in einigen speziellen Konstellationen behoben. Vielleicht hat das das Problem auch schon gelöst.
@Dallun511 Bitte teste das Dokument noch mal mit dem neusten Snapshot.

[2020-04-11 22:57] Dallun511 commented on #2734
![grafik](https://user-images.githubusercontent.com/40240507/79056595-63b51700-7c58-11ea-90b7-66ae78287c20.png)
Leider hängt sich die Aussage auf und fängt sich auch nicht nach fünf Minuten wieder.
So ist das Programm nutzlos und ein Risiko, da hier sehr schnell Datenverlust entstehen kann.

[2020-04-12 08:38] danielnaber opened #2736 "incorrect marker position with some emails"
Reproduce with:

[code]

![Bildschirmfoto von 2020-04-12 10-37-03](https://user-images.githubusercontent.com/857004/79064466-93d8d600-7ca9-11ea-9221-31b28d90c602.png)

Short anaylsis shows the problem is in `org.languagetool.tokenizers.WordTokenizer#joinEMails`.

[2020-04-12 12:14] tiff opened #2737 "[es] "recipiente""
User feedback:

[2020-04-12 13:21] jaumeortola commented on #2737
There is no problem with this word in Spanish. It seems that the user is getting corrections for English when checking  for Spanish is expected. The problem is probably with language detection/selection.

If we want to improve language detection, we need to know the whole sentence.

[2020-04-12 21:48] jaumeortola commented on #2654
Missing words added to the new dictionary.

[2020-04-12 21:48] #2654 closed

[2020-04-13 09:52] anleu commented on #2218
Hi Mike,
is still issue still valid? I try to reproduce but cannot.
Best regards
Andy

[2020-04-13 10:41] MikeUnwalla commented on #2218
Hi @anleu , this issue is fixed (Idon't know by whom or when).

[2020-04-13 10:41] #2218 closed

[2020-04-13 14:39] anleu commented on #2205
Maybe it would be an approach to add the tray mode to the configuration. For the user there could be a checkbox in the "general" tab of the options.

Adding this option would also require to refactor startup since there is also a start parameter for such a behavior. Maybe Main#createGUI() should have a boolean flag for tray behavior from start parameter and should handle this case.

One of the cor

[2020-04-13 16:05] tiff opened #2738 "[en] "gif" doesn't suggest "GIF""
<img width="384" alt="Bildschirmfoto 2020-04-13 um 18 04 50" src="https://user-images.githubusercontent.com/37363/79136460-57909d00-7db1-11ea-9f5d-e484d537234a.png">

@fabrichter @danielnaber doesn't happen with the browser add-on. Is it related to the suggestion re-ordering?

[2020-04-13 16:14] tiff commented on #2738
Same with "csv"

[2020-04-13 16:51] tiff opened #2739 "[nl] missing suggestion SEKSE_LIJK"
<img width="421" alt="Bildschirmfoto 2020-04-13 um 18 50 13" src="https://user-images.githubusercontent.com/37363/79140081-bbb65f80-7db7-11ea-8a66-aa13d6270595.png">

Also happens with these words:
* mannelijke
* mannelijk
* vrouwelijke

@baarsrj

[2020-04-13 21:27] arysin commented on #2551
I've commented on a tweet, not really a bug.

[2020-04-13 21:27] #2551 closed

[2020-04-13 22:43] marcoagpinto commented on #2730
Done!

https://github.com/languagetool-org/languagetool/commit/0f730c4ed5cd404417db560007a2870f178aebd2

[2020-04-13 22:51] marcoagpinto commented on #2730
@danielnaber @dpelle

Tiago says in his commit that the Wiktionary links are valid words and that he added them just in case someone wants to add the missing words to Wiktionary.
https://github.com/TiagoSantos81/languagetool/commit/6a42017fa209282c96487d08231b73ede20863f9

Should I revert my URLs deletion?

[2020-04-14 05:09] tiff commented on #2654
Great! Thanks

[2020-04-14 05:25] Dallun511 opened #2740 "[DE] Wörter ohne Token! (Verben)"
Moin liebes LanguageTool-Team

Auf dieser Liste erscheinen nur Verben, die das LanguageTool nicht kennt.

***
- [ ] herumgegeben
herumgeben
***

Grüße Dallun511

[2020-04-14 05:52] baarsrj commented on #2739
This correct.

[2020-04-14 05:52] #2739 closed

[2020-04-14 05:56] tiff opened #2741 "[en] false alarm ADVERB_OR_HYPHENATED_ADJECTIVE"
<img width="430" alt="Bildschirmfoto 2020-04-14 um 07 52 48" src="https://user-images.githubusercontent.com/37363/79190585-f4405280-7e24-11ea-81ac-516a61cfd4f2.png">

Not sure about this one:

Is it correct to hyphenate adjectives when one already contains a hyphen, @MikeUnwalla? It looks a bit strange to me and I've never seen it

[2020-04-14 06:03] baarsrj commented on #2728
Most urls had to be updated from http to https, one containted 2 urls (still a missing feature of LT), the other is no longer there. Corrected all.

[2020-04-14 06:03] #2728 closed

[2020-04-14 06:18] tiff opened #2742 "[en] false alarms IT_IS_JJ_TO_VBG?"
Not sure but suggestion seems strange in this context.

<img width="472" alt="Bildschirmfoto 2020-04-14 um 08 17 57" src="https://user-images.githubusercontent.com/37363/79192185-8ac24300-7e28-11ea-8e2c-36662287a9f1.png">

[2020-04-14 09:23] tiff opened #2743 "[es] "usa""
The lowercase "usa" seems to be a Spanish word: https://es.wiktionary.org/wiki/usa

We seem to think the user means the country.

![Bildschirmfoto 2020-04-14 um 11 23 11](https://user-images.githubusercontent.com/37363/79208471-5eb3bb80-7e42-11ea-9c62-9140b38e6d60.png)

@jaumeortola could you check?

[2020-04-14 09:37] jaumeortola opened #2744 "some ideas for improving spelling suggestions"
I have some ideas for improving spelling suggestions. They probably have to be implemented in the Morfologik speller. I want to discuss if they would be useful.

- Sort "run-on words" according to the frequency of the split words (adding or averaging the frequencies). Many times suggestions for run-on words come very far from the first suggestions. Sometimes they should be the first suggestion, bu

[2020-04-14 09:44] jaumeortola commented on #2743
Yes, you are right. I saw it in the nightly tests. (I have to remember to put always default="temp_off", even in the simplest rules).

[2020-04-14 09:44] #2743 closed

[2020-04-14 09:45] jaumeortola commented on #2737
If we don't have more information from the user, we can close this issue.

[2020-04-14 09:46] tiff commented on #2737
Thanks for looking into it. User's unfortunately don't answer to our questions

[2020-04-14 09:46] #2737 closed

[2020-04-14 10:21] #2726 closed

[2020-04-14 10:37] tiff opened #2745 "[en] false alarm DATE_FUTURE_VERB_PAST"
<img width="908" alt="Bildschirmfoto 2020-04-14 um 12 36 43" src="https://user-images.githubusercontent.com/37363/79215969-b22b0700-7e4c-11ea-8602-14d7df6a9169.png">

[2020-04-14 10:42] MikeUnwalla commented on #2741
Not usually.

[2020-04-14 10:44] tiff commented on #2741
Thanks, I think we should have an exception then. I leave the changes to you as you are already assigned to this.

[2020-04-14 11:25] #2741 closed

[2020-04-14 11:37] #2742 closed

[2020-04-14 12:10] tiff opened #2746 "[fr] "déconfinement" and "corona""
I see many people adding the word "déconfinement" to their personal dictionary.
@dpelle is this a word missing in our dictionary?

I couldn't find it at larousse.fr but at the [French Wiktionary](https://fr.wiktionary.org/wiki/d%C3%A9confinement).

[2020-04-14 12:10] #2663 closed

[2020-04-14 12:18] Dallun511 commented on #2734
![grafik](https://user-images.githubusercontent.com/40240507/79223931-8b73cd00-7e5a-11ea-9f4a-39e8e1269452.png)

Getestet mit LanguageTool-20200413-snapshot
Hängt sich nur auf und fängt sich nicht mehr auch nicht nach 2 Stunden.

Dadurch ist das LT komplett nutzlos.

[2020-04-14 12:23] #2664 closed

[2020-04-14 12:38] dpelle commented on #2746
The word is in many newspapers these days with the Coronavirus pandemic.
It's the process of undoing "confinement".  It's a recent neologism.

I only see it in https://fr.wiktionary.org/wiki/d%C3%A9confinement

To check French words, I recommend going to https://www.lexilogos.com/francais_dictionnaire.htm which has links to many French dictionaries.

I'll propose an addition to the Dicollecte Fren

[2020-04-14 12:40] tiff commented on #2746
Thanks

[2020-04-14 12:42] dpelle commented on #2746
@dpelle wrote:

I see that it was already added recently to Dicollecte (on March 31, 2020).
Here is the entry: https://grammalecte.net/entry.php?prj=fr&id=235146

Of course, LT will need to wait until the next release of Dicollecte is imported in LT.
In the meant time, it's a good word to whitelist in LT.

[2020-04-14 12:44] tiff commented on #2746
Ok, speaking of it: I also see the word "corona" often added to the dictionary. Many newspapers seem to also use the word (without "virus"). Should we whitelist it as well?

[2020-04-14 12:55] dpelle commented on #2746
tiff wrote:

That seems to be a mistake. The word should be "coronavirus" which existed in dictionaries well before the recent pandemic.  It's e.g. in Dicollecte since 2011.

I'll double check later, but I think that the best will be to add a grammar rule to
suggest "coronavirus" when typing "corona virus" or "corona-virus".

[2020-04-14 13:17] FredKruse commented on #2734
Den Fehler, so wie er in der Grafik dargestellt ist, kann ich nach wie vor nicht nachvollziehen, konnte aber mit dem Beispieltext einen ähnlichen Fehler reproduzieren. Bei mir läuft es jetzt.
@Dallun511 Bitte mit der nächsten Version morgen noch einmal testen.

[2020-04-14 13:29] baarsrj opened #2747 "multiple part compounds rule"
Idea: a rule that tries all compounded variants of a set of words and if so, offers an explanations why these should be written together.

lange afstand loper|persoon die lange afstanden loopt
should warn for
- lange afstandloper
- langeafstand loper
- lange afstand loper
and suggests langeafstandloper (persoon die lange afstanden loopt)
Initial list of words and explanations added (from onzetaal.

[2020-04-14 15:19] dpelle commented on #2746
About "corona virus", there's a lot of hits in google (for English or other languages) for mistakes like:
* coronovirus
* corona virus
* coronnavirus
* etc.

In Google search, one needs to select: Tools → Verbatim → Verbatim otherwise Google auto-magically corrects mistakes which is annoying and prevents finding mistakes.

[2020-04-14 15:24] tiff commented on #2746
@dpelle we already have a rule that suggests "coronavirus" for "corona virus". I added it a couple of weeks ago.

![Bildschirmfoto 2020-04-14 um 17 20 50](https://user-images.githubusercontent.com/37363/79242266-60967280-7e74-11ea-9035-90c7e8997daa.png)

I was referring to "corona" being used without "virus". At least in German, many people (also serious newspapers) use "corona" as a short form of

[2020-04-14 15:55] dpelle commented on #2746
I would say it's not correct in French to just write "corona" when talking about coronavirus.
"corona" is currently highlighted as a spelling mistake which is fine in my opinion.
"Corona" is a Latin word and a Mexican beer among other things, but that does really not justify adding it to the dictionary.

Various uses of the word "Corona" in the French wikipedia: https://fr.wikipedia.org/wiki/Coron

[2020-04-14 15:57] tiff commented on #2746
Ok, thanks for clarifying. I'm closing this

[2020-04-14 15:57] #2746 closed

[2020-04-14 16:08] MikeUnwalla opened #2748 "[en] Wrong tagging NNP_VB_NNP"
The first word of the sentence is incorrectly tagged as NNP. It should be VB:

[2020-04-14 16:54] Mannshoch commented on #1760
Have the same error
Is there a need for gcc and g++ ?
Shouldn't LanguageTool only have Java as requirement?

[2020-04-14 17:08] bperel commented on #2712
I'm willing to create the rule myself but even after reading the [Development overview](http://wiki.languagetool.org/development-overview) page I'm not sure if this counts as a "rule" : I just don't want the "2 consecutive dots" error to occur. Does it mean that the method [org.languagetool.rules.DoublePunctuationRule#match](https://github.com/languagetool-org/languagetool/blob/1c977907faebcb5b402

[2020-04-14 17:34] dpelle commented on #2712
@bperel wrote:

You probably don't need to change any Java code to add a rule.
In general, adding a rule to grammar.xml is enough.

The audience of bibcodes seem too specialized to be added to LanguageTool I suspect.
Well it could be added on the condition that it almost never cause false errors.
Or do you want to add a rule just for your own build of LT?

You found a regexp to match valid bibcode

[2020-04-14 17:57] bperel commented on #2712
I'm not sure if the audience is too specialized actually: I ran LanguageTool on 500 Wikipedia articles, and 10% of the errors that it found were "Too consecutive dots" due to bibcodes. I suspect that it is mostly in the "References" section of articles that these codes appear though.

I wouldn't mind integrating the rule in upstream LanguageTool if it's useful to people, but like you say the issue

[2020-04-14 18:23] iio7 opened #2749 "Please document the rules"
In the documentation at http://wiki.languagetool.org/command-line-options it provides the `-e` which is *Enable only specified rules, delimited with a comma and without spaces after the comma. Note: you cannot specify both enabled and disabled rules at the same time.*

Could you PLEASE document the rules? I haven't been able to find those anywhere.

[2020-04-14 18:28] danielnaber commented on #2749
The rules are listed at https://community.languagetool.org/rule/list?lang=en

[2020-04-14 18:28] #2749 closed

[2020-04-14 19:16] danielnaber commented on #2747
The rule now exists, but it's still off by default. Still needed:

- [ ] Dutch short description (e.g. "Detects missing space in some nouns")
- [ ] Message: show only the second column? Or is there a static text in front of it?
- [ ] add data to `multipartcompounds.txt`, but only once you have made sure the license is okay
- [ ] briefly document `multipartcompounds.txt` (see "TODO" on top of the f

[2020-04-15 04:40] Dallun511 commented on #2734
![grafik](https://user-images.githubusercontent.com/40240507/79299281-f0273a00-7ee3-11ea-81a5-c1e0923aac7f.png)

Das Bug-Dokument lässt sich wieder prüfen. Aber ich werde es noch weiter testen.
Grüße Dallun511

[2020-04-15 05:13] tiff opened #2750 "[en] no suggestion OXFORD_SPELLING_ADJECTIVES and OXFORD_SPELLING_NOUNS"
* well-advertised
* inadvisability

[2020-04-15 06:14] yakovru commented on #1101
Fixed.

[2020-04-15 06:14] #1101 closed

[2020-04-15 08:34] kostyfisik commented on #1101
@yakovru Thank you!

[2020-04-15 09:06] danielnaber opened #2751 "[de] use prefix_verb syntax in German POS tagger"
Use entries like `herum_geben` from `spelling.txt` in the German POS tagger, so they are tagged without being added to `added.txt`.

Source: https://forum.languagetool.org/t/de-verben-mit-he-rum-z-b-geben/5572

[2020-04-15 09:12] marcoagpinto commented on #2730
Daniel, should I revert the URLs deletion?

[2020-04-15 09:18] danielnaber commented on #2730
You're the maintainer, it's your decision.

[2020-04-15 09:23] #2748 closed

[2020-04-15 09:29] marcoagpinto commented on #2730
Ahhhh...

I will revert it then.

Thanks!

[2020-04-15 09:34] marcoagpinto commented on #2730
Done!

https://github.com/languagetool-org/languagetool/commit/894ea98537e6e6b03336a8ec1449450970bb1194

[2020-04-15 09:34] #2730 closed

[2020-04-15 09:54] #2750 closed

[2020-04-15 10:37] MikeUnwalla opened #2752 "[en] Wrong tagging UPPER_NNP"
The first word in each sentence is incorrectly tagged as NNP:

`* Wait for a little (magic)`

`- Hope for a long time.`

`3) Wait in a line.`

[2020-04-15 11:46] #2752 closed

[2020-04-15 12:52] tiff opened #2753 "[es] false alarms DET_NOM_FEM?"
The rule called "DET_NOM_FEM" is the most ignored/disabled rule by our users.

Here are some cases when the user decided to ignore it:
![Bildschirmfoto 2020-04-15 um 14 49 06](https://user-images.githubusercontent.com/37363/79338982-76656f80-7f28-11ea-99b6-2c879627aef2.png)

@jaumeortola does that help? Do you need more? If so, I can provide you with access to the tool where we collect that data.

[2020-04-15 12:54] MikeUnwalla opened #2754 "[en] Wrong tagging VBN_VBN_NN_JJ"
'cried' is incorrectly tagged as JJ, not VBD:

[2020-04-15 12:57] tiff commented on #2753
I see that the rule doesn't provide a suggestion. Does it make sense to add some simple rules with suggestions that cover the most common cases?

[2020-04-15 14:13] danielnaber commented on #2740
Siehe auch 2751

[2020-04-15 14:42] tiff opened #2755 "[en] false alarm PEOPLE_VBZ"
![Bildschirmfoto 2020-04-15 um 16 42 38](https://user-images.githubusercontent.com/37363/79350751-21315a00-7f38-11ea-8405-bdf5c884dded.png)

[2020-04-15 22:09] jaumeortola commented on #2753
I have written a new rule group (AGREEMENT_DET_NOUN), which will replace these rules.
The new rules will provide suggestions. But some more work is needed before activating them.

[2020-04-15 22:26] iio7 commented on #2749
Then please document this, don't just close this. Bad documentation is a bug!

[2020-04-16 08:07] tiff opened #2758 "[en] wrong tagging E_NP_NN_VBP"
and

"look" is only tagged as "NN:UN"

[2020-04-16 08:28] tiff opened #2759 "[en] wrong tagging DT_JJ_NN"
"good" is only tagged as "NN:UN"

[2020-04-16 09:01] tiff opened #2760 "[en] wrong tagging NNS_WDT_VBNNS_VBP"
"spot" is only tagged as "VBP"

[2020-04-16 09:14] danielnaber commented on #2738
Unfortunately, in this case (`gif`), the resorted result is worse than without resort. @fabrichter Could you see if that's a bug?

[2020-04-16 09:38] #2760 closed

[2020-04-16 10:17] #2754 closed

[2020-04-16 10:34] Dallun511 opened #2761 "[DE] Fehlalarm "meine""
Moin liebes LanguageTool-Team

Schade, **dass ich meine** zu Hause gelassen habe.
LT: Überprüfen Sie die Reihenfolge von Subjekt und Prädikat.
meine fungiert nicht als Verb.

Grüße Dallun511

[2020-04-16 16:51] vkyfox commented on #656
J'ai essayé de créer une règle qui corrigerait ce manque, mais le problème d'une telle règle, c'est que je ne conçois pas de moyen faisable de déterminer si "l'" réfère bel et bien au nom qui le précède.
Par exemple, la phrase suivante est grammaticalement identique (ou presque) à la vôtre, mais cette fois-ci correcte :

Malgré tous mes efforts, impossible de créer une règle qui ne regorgerait pas

[2020-04-16 17:01] #656 closed

[2020-04-16 17:16] fabrichter commented on #2738
These are the probabilities output by BERT:
org.languagetool.rules.BERTSuggestionRanking Scored suggestions for 'gif': [GIF, if, gift, gig, GI, Gil, gin, AIF, GDF, GAF] -> [if (1.079644e-02), gift (6.779396e-06), GI (4.506496e-06), Gil (2.817510e-06), gin (2.429262e-06), gig (7.831370e-07), GIF (3.049836e-08), GAF (2.709551e-08), AIF (7.117823e-09), GDF (4.597166e-09)]

So GIF is just rated very l

[2020-04-16 17:38] tiff opened #2762 "[en] incorrect suggestion METRIC_UNITS_EN_US"
I think inserting this before the slash is a bad idea. Also the logic doesn't understand that it's about "mph" not "miles"

@fabrichter can we get an easy fix for that? (I would be ok, if we just omit this case)

[2020-04-17 06:08] tiff commented on #2738
@fabrichter here's another case: "And btw I have no idea."

"btw" doesn't suggest "BTW". Should we set the top suggestion manually in such cases?

[2020-04-17 06:10] tiff commented on #2738
Another idea: if the same word in uppercase is in the suggestions, we could increase its score manually?

[2020-04-17 06:53] fabrichter commented on #2738
Instead of increasing its score, I would suggest putting these into the list of suggestions that are inserted at the top before the regularly scored suggestions, since that is already implemented and figuring out an amount/factor for increasing the score would be tedious/difficult.

Another question: Should we only do this for lower → uppercase (in one/both directions) or just all cases where only

[2020-04-17 06:56] tiff commented on #2738
@fabrichter sounds good. I would suggest doing it only for lower → uppercase (one direction).

[2020-04-17 07:58] tiff opened #2763 "[en] false alarm THIS_NNS"
<img width="515" alt="Bildschirmfoto 2020-04-17 um 09 56 49" src="https://user-images.githubusercontent.com/37363/79545957-da577780-8091-11ea-9511-1d1a1de9a0fe.png">

Is it a false alarm, can media be singular @MikeUnwalla ?

[2020-04-17 08:04] MikeUnwalla commented on #2763
@tiff , 'media' can be singular or plural, depending on context: https://www.lexico.com/definition/media

[2020-04-17 08:07] tiff commented on #2763
@MikeUnwalla so, should we simply add 'NN'?

[2020-04-17 08:38] MikeUnwalla commented on #2763
The example that you give is not a false alarm, but the suggestion is not correct. The suggestion should be **This medium was**.

Adding NN is probably the simplest solution. If necessary, we can add a rule to deal with the semantics of 'media'.

[2020-04-17 10:04] tiff opened #2764 "[en] no suggestion OXFORD_SPELLING_ADJECTIVES"

[2020-04-17 10:07] tiff commented on #2764
@MikeUnwalla I think if you also put the `suppress_misspelled="yes"` on the `<suggestion>` the rule will not match anymore for words that we can't generate a suggestion for.

[2020-04-17 10:07] tiff commented on #2764
(only works when the `<suggestion>` is part of the `<message>`)

[2020-04-17 11:24] #2763 closed

[2020-04-17 11:26] MikeUnwalla commented on #2763
I added POS for the singular and the plural 'mediae', but I did not add to spelling. If we add 'mediae' to spelling, we should have a 'confused words' rule because for most users 'mediae' will be a typo for 'media'.

[2020-04-17 11:39] tiff commented on #2558
Kann geschlossen werden.

[2020-04-17 11:39] #2558 closed

[2020-04-17 12:20] #2764 closed

[2020-04-17 12:21] MikeUnwalla commented on #2764
I will also fix the other rules.

[2020-04-17 12:24] tiff commented on #2764
@MikeUnwalla let's wait one day before adjusting all the rules. I'm not sure if this really works. (I know it worked for "CD_NN")

[2020-04-17 12:49] MikeUnwalla commented on #2764
OK, I will wait.

[2020-04-17 14:50] tiff opened #2766 "[en] suggestion re-ordering incorrect?"
I would have expected "Thank" at the top.

![Bildschirmfoto 2020-04-17 um 16 49 25](https://user-images.githubusercontent.com/37363/79581983-72be1e00-80cb-11ea-9213-9873c5528a7b.png)

[2020-04-17 15:46] #1284 closed

[2020-04-17 16:48] ElieGouzien opened #2767 "[fr] Rule CIMETIERE_MILITAIRE is inverted."
Rule [CIMETIERE_MILITAIRE](https://community.languagetool.org/rule/show/CIMETIERE_MILITAIRE?lang=fr&subId=1) is inverted.

**In**correct form is "cimetière de guerre" while correct form is "cimetière militaire".

[2020-04-17 17:36] vkyfox commented on #2767
Fixed! Thank you for the feedback

[2020-04-17 20:04] bperel commented on #2615
Has there been some progress on this issue? I can provide more examples if needed

[2020-04-18 07:52] #2751 closed

[2020-04-18 13:44] #2767 closed

[2020-04-19 09:09] danielnaber opened #2769 "FA: "I always had trouble with this nonsense.""
Original report: https://forum.languagetool.org/t/always-had-trouble-with-this-nonsense/5585

[2020-04-19 14:16] tiff opened #2770 "[en] wrong tagging UPPER_NNP"
"Love" is only NNP

Causes this false alarm:
<img width="456" alt="Bildschirmfoto 2020-04-19 um 16 16 17" src="https://user-images.githubusercontent.com/37363/79690128-1e48a900-8259-11ea-87d5-25e4f4d12ddb.png">

[2020-04-19 14:17] tiff commented on #2770
Another one:

[2020-04-19 14:37] tiff commented on #2770
And:

<img width="291" alt="Bildschirmfoto 2020-04-19 um 16 37 03" src="https://user-images.githubusercontent.com/37363/79690706-14747500-825c-11ea-834f-aa7877d6157b.png">

[2020-04-20 05:35] tiff commented on #2764
@MikeUnwalla seems to work, can you also check and adjust the other rules accordingly? Thanks

[2020-04-20 07:31] tiff commented on #2762
![Bildschirmfoto 2020-04-20 um 09 30 02](https://user-images.githubusercontent.com/37363/79725477-92329200-82e9-11ea-8661-3c203ed36c50.png)
There are two issues here:
* We suggest adding parentheses for a text that is already in parentheses.
* The correct metric value is already mentioned

[2020-04-20 07:32] tiff commented on #2762
Also:
* 1/4 cup vanilla

![Bildschirmfoto 2020-04-20 um 09 32 13](https://user-images.githubusercontent.com/37363/79725665-daea4b00-82e9-11ea-9bdc-7a2c37432f63.png)

I think we should have a simple antipattern for the "/"

[2020-04-20 08:58] tiff commented on #2738
Same happens with "ai" and "ip":

![Bildschirmfoto 2020-04-20 um 10 57 29](https://user-images.githubusercontent.com/37363/79733681-cca22c00-82f5-11ea-83f4-9a8b32131397.png)

[2020-04-20 09:06] tiff opened #2772 "[de] false alarm DE_AGREEMENT"
![Bildschirmfoto 2020-04-20 um 11 04 50](https://user-images.githubusercontent.com/37363/79734361-e001c700-82f6-11ea-9a05-84ec20b4c3d6.png)

@danielnaber ist hier was generelles kaputt?

[2020-04-20 09:07] tiff commented on #2772
Ah, Autobauer hat nur Plural tagging.

[2020-04-20 10:05] MikeUnwalla commented on #2764
@tiff, I fixed the other rules.

Possibly, there will be other words for which there is no suggestion because `suppress_misspelled="yes"` in the suggestion does not always work. For the known cases, I added an exception.

[2020-04-20 10:56] #2769 closed

[2020-04-20 10:58] MikeUnwalla opened #2773 "[en] False alarm HAD_VBP"
Noted during the correction of #2769.

LT suggests that there is a possible agreement error:

[2020-04-20 11:13] MikeUnwalla commented on #2770
@tiff, LT's tagging is correct for 3 of these according to the semantics of the rule name "Uppercase word/NNP|NN > NNP"

The only error is: I May try out

[2020-04-20 11:16] tiff commented on #2770
@MikeUnwalla how do we deal with the false alarms then?
I think capitalized spellings often happen especially in headlines, the problem is that the verbs lose the "VB" tagging and are only recognized as "NNP". "NNP" after a preposition is caught by some of our rules.

[2020-04-20 11:32] MikeUnwalla commented on #2770
Newspaper headlines and proper nouns both have initial upper case letters.

"I See Stars" is a proper noun. The Stars/NNP reading is correct.

"True or False: I Love Watching TV" is ambiguous. Without context, we can't know how to parse the text.

The rule that causes the false is PRONOUN_NOUN. For starters, improve the message, because "Possible mistake. Please verify." does not give much guidanc

[2020-04-20 11:35] tiff commented on #2770
In a headline that looks like this:

We will never be able to spot the mistake (Love -> Loves). My suggestion would be to have both "VB" and "NNP" on the verb

[2020-04-20 11:46] MikeUnwalla commented on #2770
Will do.

To confirm/clarify, I will add an AP to UPPER_NNP for 'pronoun + verb'.

[2020-04-20 11:48] tiff commented on #2770
Sounds good! Maybe also PRP + RB|MD + VB.*?

[2020-04-20 11:58] #2770 closed

[2020-04-20 13:48] Dallun511 opened #2776 "[DE] Fehlalarm Kommaregel"
Moin liebes LanguageTool-Team

- [x] Tessa und Gerard **waren sehr erfahren und sehr gut trainiert, weswegen sich der Kampf in die Länge zog.**
LT: "Hier sollte ein Komma eingefügt werden, wenn es sich bei dem hinteren Satzteil um einen Nebensatz handelt."

- [x] Olivia **sagte total erschöpft: „Ich hoffe, sie ist** zufrieden.“
LT: "Hier sollte ein Komma eingefügt werden, wenn es sich bei dem hint

[2020-04-20 17:49] vkyfox commented on #2615
This issue is our top priority to fix. For now, we've suppressed most false positives, and we're working on a complex rule to hopefully tackle down those complex grammatical problems.

[2020-04-21 07:44] tiff opened #2778 "[es] false alarms AGREEMENT_DET_NOUN?"
@jaumeortola do we maybe have a wrong tagging on "COVID-19" / "coronavirus"?

![Bildschirmfoto 2020-04-21 um 09 43 00](https://user-images.githubusercontent.com/37363/79839272-8e1f7680-83b4-11ea-97c6-0d5b9c9a930f.png)

![Bildschirmfoto 2020-04-21 um 09 44 15](https://user-images.githubusercontent.com/37363/79839358-b313e980-83b4-11ea-854a-47d67478807b.png)

[2020-04-21 07:47] tiff commented on #2778
Also note the `el corona virus` (I guess we need a compound rule for that?)

[2020-04-21 08:30] jaumeortola commented on #2778
The recommended tagging of COVID-19 is feminine. But it is reasonable to relax it and accept both masculine and feminine. Or we could write a rule with more information.

The compound rule for "corona virus" already exists. But there is overlapping of different rules ("el corona"). It can be fixed.

In the other sentences, there are errors in almost all of them. But the users are "impatient" and d

[2020-04-21 08:30] tiff opened #2779 "[en] endless loop ANYMORE_ADVERB"
will suggest "any more", then "anymore" again

![Bildschirmfoto 2020-04-21 um 10 29 44](https://user-images.githubusercontent.com/37363/79843863-1d2f8d00-83bb-11ea-8cfb-09b952d773f0.png)

[2020-04-21 08:32] tiff commented on #2778
@jaumeortola thanks. BTW. I will contact you on Slack over the next days to show you how you can access the data above yourself. :)

[2020-04-21 09:24] jaumeortola opened #2780 "Improve priorities on overlapping rules"
When there are overlapping rules, it is essential to choose the best suited to the context so that the users are not confused.

The current criteria to choose between overlapping rules are a bit simple. The first appearing and the longest suggestions are always chosen. We need to make these criteria a bit more sophisticated.

Related to #2778.

[2020-04-21 09:24] baarsrj opened #2781 "Outdated info on Wikipedia"
The next tour is planned for 2015. Found on a Wikipedia entry. When the sentence suggests future, and date is in the past, a warning would be in place.
Idea for a date logic rule in LT?

[2020-04-21 09:31] MikeUnwalla commented on #2779
@tiff, I cannot reproduce this error. Please give more details.

[2020-04-21 09:33] tiff commented on #2779
@MikeUnwalla try to add a space or line break at the end.

[2020-04-21 09:46] jaumeortola commented on #2780
Example (spanish): "Esto esta rico".

The best suggestion is "esta > está", but it is shorter than "esta rico> este rico" and it is not shown.

[2020-04-21 10:00] tiff commented on #2780
@jaumeortola I don't know if that helps but we have something like that for English and German already. Check English.java

[2020-04-21 10:13] #2779 closed

[2020-04-21 10:14] jaumeortola commented on #2780
@tiff Do you mean "getPriorityForId" or some other thing? This is already used in most languages. But it cannot fix the problem.

[2020-04-21 10:15] tiff commented on #2780
Yeah, I mean `getPriorityForId`. Sorry, I might have misunderstood the issue you are having.

[2020-04-21 11:27] jaumeortola commented on #2753
Fixed replacing the rule with AGREEMENT_DET_NOUN.

[2020-04-21 11:27] #2753 closed

[2020-04-21 12:00] tiff commented on #2753
Many thanks!

[2020-04-21 12:07] jaumeortola commented on #2780
Indeed, `getPriorityForId` solves most problems (including my previous example). I didn't remember well all the criteria.

Sometimes it would be necessary to apply `getPriorityForId` even in juxtaposed errors, which isn't done now. See: https://github.com/languagetool-org/languagetool/blob/master/languagetool-core/src/main/java/org/languagetool/rules/CleanOverlappingFilter.java#L5. But changing th

[2020-04-21 13:21] tiff opened #2782 "[es] words often added to the dictionary"
@jaumeortola the "add to dictionary" events have increased significantly for Spanish since the weekend. Seems like many names and abbreviations (CLP, USD, CRM, GIF, ...) were lost?

Here are some of the words:

* b
* link
* links
* click
* ticket
* app
* mail
* Fortnite
* email
* tickets
* VPN
* PSN
* Kevin
* USD
* Alex
* Vanessa
* Elizabeth
* MXN
* $100
* $1
* Alexander
* Cristian
* Jose
* Márque

[2020-04-21 13:23] tiff commented on #2738
"vpn" vs. "VPN"

![Bildschirmfoto 2020-04-21 um 15 22 27](https://user-images.githubusercontent.com/37363/79870948-ffc2e900-83e3-11ea-873d-af824a2e30fb.png)

[2020-04-21 13:25] tiff commented on #2782
I found this happening (not sure if related):
![Bildschirmfoto 2020-04-21 um 15 25 22](https://user-images.githubusercontent.com/37363/79871223-56302780-83e4-11ea-950f-6c8ee592d4ba.png)

[2020-04-21 13:27] tiff commented on #2782
@jaumeortola I can confirm that most of these words didn't cause a spelling error in a snapshot from last week

[2020-04-21 13:44] tiff commented on #2738
"usd" vs "USD"

![Bildschirmfoto 2020-04-21 um 15 42 11](https://user-images.githubusercontent.com/37363/79872950-b7f19100-83e6-11ea-9fc5-9aa2c75abd0f.png)

![Bildschirmfoto 2020-04-21 um 15 44 20](https://user-images.githubusercontent.com/37363/79873151-fdae5980-83e6-11ea-8004-7f8cdac0521e.png)

[2020-04-21 15:09] danielnaber opened #2783 "false alarm: "...noticed that the version I sent you...""
`NON3PRS_VERB[5]` matches

[2020-04-21 16:54] tiff commented on #2783
A few more:

[2020-04-21 16:56] tiff commented on #2783
The suggestions don't really make sense here:
<img width="410" alt="Bildschirmfoto 2020-04-21 um 18 55 24" src="https://user-images.githubusercontent.com/37363/79891743-b84b5580-8401-11ea-9b27-1695dd795ec4.png">

<img width="498" alt="Bildschirmfoto 2020-04-21 um 18 56 04" src="https://user-images.githubusercontent.com/37363/79891789-c600db00-8401-11ea-8734-b558a0db17b6.png">

[2020-04-21 17:14] tiff commented on #2783
I was able to fix the issues with "ain't" mentioned above. See https://github.com/languagetool-org/languagetool/commit/918ea2384fe4ac9849b720a57006d0f5edaa941e#diff-2962df669a1a4fe505f24f8f14809affL1840-R1856

[2020-04-21 20:42] danielnaber opened #2784 "test failing with ConcurrentModificationException"
[code]

[2020-04-22 05:11] baarsrj opened #2785 "CompoundFilter: more than 2 parts"
For good rules for longer compounds, the compoundfilter needs a bit more flexibility. Best would be to accept any amount of compound parts, and apply the 2-word part on any consecutive 2.
Example:
'anti tv houding' should result in anti-tv-houding (attitude against tv).
'anti jongens medicijn' should become anti-jongensmedicijn.

[2020-04-22 07:35] #2784 closed

[2020-04-22 07:38] jaumeortola commented on #2782
This can be misleading (Did you mean "Miriam" in English?). We have "Míriam" in the Spanish dictionary.
![imatge](https://user-images.githubusercontent.com/4289501/79953958-efab1800-847c-11ea-83b4-3f509bfdea79.png)

[2020-04-22 07:44] danielnaber commented on #2782
I'm aware of this. This feature will be removed with our homepage redesign anyway.

[2020-04-22 08:07] FredKruse commented on #2734
Der Fehler wurde behoben.
@Dallun511 bitte schließe dieses issue

[2020-04-22 08:10] FredKruse commented on #2718
@danielnaber The issue is solved: Now, an error dialog appears only at the first time an error is thrown. All following messages are written to the log file. Please close the issue.

[2020-04-22 08:11] FredKruse commented on #2709
@danielnaber The bug is corrected. Please close the issue.

[2020-04-22 08:14] danielnaber opened #2786 "Fehlalarm: "...länger mit beschäftigen....""
"Meinten Sie möglicherweise das nominalisierte Verb "Beschäftigen", das großgeschrieben wird?"

[2020-04-22 08:15] FredKruse commented on #2658
@yakovru There was a lot of changes in LO extension. Please test if the bug appears anyway.
If it is solved, please close the issue.
If not, please give me an example for testing and developing.

[2020-04-22 08:18] FredKruse commented on #2647
@danielnaber the issue was solved by the last bug-fixes, please close the issue.

[2020-04-22 08:26] #2709 closed

[2020-04-22 08:26] #2718 closed

[2020-04-22 08:26] #2647 closed

[2020-04-22 08:35] jaumeortola commented on #2782
TODO:
- Things like "$100" can be valid in some countries, but not in others.
- Verb forms like "tené", "formá" are still missing in the dictionary. I have to figure out if they can be included in a general dictionary for all variants of Spanish, or we'll need different variants. This could introduce many possible confusions.
We can start allowing everything, and then be more strict if we add lang

[2020-04-22 08:46] tiff commented on #2782
@jaumeortola the words I posted were just the most added ones over a 2-day timeframe. Please expect a lot more to come. I will collect another (probably bigger) list until Friday.

[2020-04-22 09:14] #2734 closed

[2020-04-22 11:08] jaumeortola opened #2787 "suppress suggestions that cannot be synthesized"
Rules can be designed in a way that minimizes suggestions that cannot be synthesized. But it is impossible to ensure that it is always so.

It would be useful to suppress optionally these suggestions in the same way we suppress misspelled suggestions with `suppress_misspelled="yes"`.

We could use the same attribute (`suppress_misspelled`) or another one, and suppress suggestions containing the ch

[2020-04-22 11:22] FredKruse commented on #2641
- After the code-changes of the last days the flicker don't appear at the first check.
- After change of text in one paragraph the marks can disappear and then appear again. This is a feature of LO.
- If you type very fast, the marks may be displaced a little. This is a bug of LO (sometimes the last version of changed text is not given to LT). So it can't be changed at the extension.
@danielnaber

[2020-04-22 11:29] #2641 closed

[2020-04-22 11:37] FredKruse commented on #125
@danielnaber The issue is solved as far it can be solved by LT. The marks disappear if the IgnoreOnce Button is called by mouse or dialog. It re-appears if the paragraph is changed as expected. Please close the issue.

[2020-04-22 11:39] danielnaber commented on #2782
I've actually removed it now (https://github.com/languagetool-org/languagetool/commit/011d90e252361a43c69ccea9d96d42c67e084562).

[2020-04-22 11:41] #125 closed

[2020-04-22 12:26] MikeUnwalla opened #2788 "[en] False warning IT_IS"
Noted in a discussion with @danielnaber:

[2020-04-22 12:30] MikeUnwalla opened #2789 "[en] False warning FROM_FORM"
![image](https://user-images.githubusercontent.com/5816160/79981927-6526e080-849d-11ea-8adb-420704911e7d.png)

[2020-04-22 12:47] tiff commented on #2788
@MikeUnwalla  also see https://github.com/languagetool-org/languagetool/issues/2662

[2020-04-22 13:14] tiff commented on #2787
@jaumeortola here's a hacky trick (that's undocumented), I don't know if that works for Spanish too:

If you have the `<suggestion suppress_misspelled=yes>` within the `<message>` of the rule then it won't match if the suggestion could not be generated. See English rule `CD_NN` for example

[2020-04-22 14:20] FredKruse commented on #2614
@danielnaber I did some testing. The issue is solved. Please close the issue.

[2020-04-22 14:21] #2614 closed

[2020-04-22 14:57] #2788 closed

[2020-04-22 16:20] #2783 closed

[2020-04-22 17:02] jaumeortola commented on #2787
Thank you. It doesn't seem to work. I will try to make it work even for suggestions outside the message.

[2020-04-22 17:09] tiff commented on #2787
Thanks, looking forward to that.

[2020-04-23 06:46] jaumeortola commented on #2787
I see what happens. The behavior is slightly unstable. `suppress_misspelled` can be an attribute of `<suggestion>` and attribute of `<match>`.

What would be the desired behavior? I think that sometimes we need to suppress the suggestions but not the rule match. Other times we want to suppress the rule match.

I would do this:
- Use `suppress_misspelled` in `<message>` or in `<suggestion>` (inside

[2020-04-23 07:54] danielnaber commented on #2738
@fabrichter please check again whether lowercase -> uppercase work (usd, vpn, etc)

[2020-04-23 08:32] danielnaber commented on #2787
@jaumeortola Sounds good. However, any change might break current behavior, but we have tests for that. Also, the reason for the current bugs might also be the fact that the code is quite ugly and difficult to understand (e.g. `MatchState`). So it *might* be a good idea to first clean up the code and add more tests before changing behavior.

[2020-04-23 08:50] jaumeortola commented on #2787
I will try to do that.  The code is certainly difficult to understand.

[2020-04-23 08:52] tiff commented on #2787
@jaumeortola sounds good. This might also help with some of our French rules (ACCORD_NOMBRE, ACCORD_GENRE) where we often suggest words in parentheses.

[2020-04-23 09:41] FredKruse commented on #2514
@marcoagpinto: Could you please test with the latest nightly.
If the issue happened again, please give me an example.
If not, please close the issue.

[2020-04-23 09:44] FredKruse commented on #2425
The implementation was done. The text level queue is used as default. So I close the issue.

[2020-04-23 09:44] #2425 closed

[2020-04-23 09:49] FredKruse commented on #1929
The pop up window is installed.
@danielnaber : The extension as it is, gives the user the most freedom of choice. I think, we should close this issue.

[2020-04-23 09:56] FredKruse commented on #1845
The underline style can be selected in the option panel since LT 4.9
@danielnaber: The issue can be closed

[2020-04-23 10:01] #1845 closed

[2020-04-23 10:02] #1929 closed

[2020-04-23 10:15] marcoagpinto commented on #2514
@FredKruse

Yesterday I checked the commits and noticed there were at least three from you.

Not sure if all of them were in time for the nightly build, so it is safer for me to test tomorrow just to play safe.

[2020-04-23 11:34] FredKruse commented on #1217
There was done a lot of optimization and bug-fixing since opening the issue. The performance problems are fixed as far as I see. The performance problem with getNumberOfAllTextParagraphs() is solved too.
@mestaritonttu: Please close the issue.

[2020-04-23 11:50] #2662 closed

[2020-04-23 11:59] FredKruse commented on #846
I tested this with the LO 6.2.8. It works. Both extensions can be activated.
@bernardgisin: Please close the issue.

[2020-04-23 12:26] tiff commented on #2789
@MikeUnwalla a few more obvious false alarms I found:

<img width="608" alt="Bildschirmfoto 2020-04-23 um 14 24 25" src="https://user-images.githubusercontent.com/37363/80099100-3462ac00-856e-11ea-977e-1e5de48ca524.png">

[2020-04-23 12:39] FredKruse commented on #824
@danielnaber: The issue is solved. Please close the issue

[2020-04-23 12:40] #824 closed

[2020-04-23 12:44] FredKruse commented on #782
Filter is implemented and works. I close this issue.

[2020-04-23 12:44] #782 closed

[2020-04-23 13:35] FredKruse commented on #188
I just tested the issue again. The extension gives exact the same result as the web- and the standalone application. So this is an Esperanto issue and not an "office-integration" issue.
@danielnaber: Please remove label "office-integration".

[2020-04-23 20:02] #2451 closed

[2020-04-23 20:16] Dallun511 commented on #2751
Durch die neue Version des Taggers, werden enige Wörter mit dem Präfix "herum" erkannt.
Immer noch nicht alle, aber immerhin mehr, als vorher.

Die erkannt werden, habe ich angekreuzt

[2020-04-24 07:21] danielnaber opened #2791 "[pt] accents not corrected"
User feedback via Google Store support:

@marcoagpinto @jaumeortola any idea whether this is a valid report and what we can do about it?

[2020-04-24 07:32] tiff opened #2792 "[en] false alarms IT_IS"
<img width="876" alt="Bildschirmfoto 2020-04-24 um 09 32 28" src="https://user-images.githubusercontent.com/37363/80186617-8e1ab300-860e-11ea-96ab-724737fe8f40.png">

[2020-04-24 07:41] tiff commented on #2791
Another one:

[2020-04-24 07:50] jaumeortola commented on #2791
There is exactly the same issue in Spanish and Catalan. There are some rules for detecting the confusion musica (verb) / música (noun). The rule "Accentuation check" (which should be renamed "diacritics check" by the way) and some other rule could be adapted to Portuguese.

There are already many rules in Portuguese for this kind of errors. Anyway, as "música" (noun) is much more frequent than "mu

[2020-04-24 07:54] marcoagpinto commented on #2791
"musica" is also a verb: https://dicionario.priberam.org/musica

[2020-04-24 08:02] marcoagpinto commented on #2791
@jaumeortola
Will you commit them to the pt grammar.xml?

[2020-04-24 08:05] jaumeortola commented on #2791
Yes. I plan to write a rule that almost always recommends musico>músico, musica> música, with very few exceptions.

[2020-04-24 08:16] #2747 closed

[2020-04-24 08:17] #2315 closed

[2020-04-24 08:18] marcoagpinto commented on #2514
@FredKruse
I opened the document in which the issue happened and it didn't seem to happen in my tests any more.

It seems to be fixed.

Thanks!

[2020-04-24 08:18] #2514 closed

[2020-04-24 08:19] #1346 closed

[2020-04-24 08:20] marcoagpinto commented on #2791
Thank you, @jaumeortola

[2020-04-24 08:20] #1169 closed

[2020-04-24 08:21] #959 closed

[2020-04-24 08:48] tiff commented on #1196
Another case:

[2020-04-24 09:12] jaumeortola commented on #2787
I have implemented this with few changes in the code. All tests passed successfully with minor changes in grammar.xml files.

Now the language maintainers can decide whether to suppress the suggestion or the rule match, for example in `en/grammar.xml` in `correction="many (18-year-old)"`. The option of suppressing only a `<match>` but not the entire `<suggestion>` will be not available because it

[2020-04-24 09:48] tiff commented on #2782
Another list:
* pm
* am
* Alex
* Juliet
* tips
* 5to
* 2da
* Andrade
* click
* GMT
* home
* Joan
* live
* min
* Noa
* page
* Sant
* Sr
* 4K
* Albert
* April
* Athena
* antibacterial
* Barranquilla
* Bosco
* Camacho
* checar
* Check
* dió
* file
* HD
* Home
* IG
* in
* Manizales
* Meet
* Murillo
* Ochoa
* retail
* router
* Smart
* streaming
* TFM
* The
* Toluca
* Victor
* Villegas
* you
* 1r
* 3r
*

[2020-04-24 09:58] danielnaber commented on #2787
Thanks! I think a PR is a good idea. Maybe you could also run a regression test locally, e.g. run the command-line version on 10,000+ sentence before and after your change, and see if the diff looks okay.

[2020-04-24 10:13] jaumeortola commented on #2791
Done here: https://github.com/languagetool-org/languagetool/commit/c44fb86b7a7786302e5db432c79dc8867d765132

Expect many true positives, and very few false positives. Take a look at the regression tests, @marcoagpinto.

[2020-04-24 10:14] jaumeortola commented on #2787
I will do that in English, that is the language that uses `suppress_misspelled` the most. And some other language too?

[2020-04-24 10:18] marcoagpinto commented on #2791
@jaumeortola

Thanks!

[2020-04-24 10:43] danielnaber commented on #2787
Doing it for EN, FR, DE, ES, NL, PT would be good.

[2020-04-24 11:08] tiff opened #2793 "[en] translations don't preserve capitalization"
<img width="400" alt="Bildschirmfoto 2020-04-24 um 13 06 59" src="https://user-images.githubusercontent.com/37363/80206421-89fd8e00-862c-11ea-9759-d297d96a7141.png">

[2020-04-24 11:20] jaumeortola commented on #2197
Closed here: https://github.com/languagetool-org/languagetool/commit/98185090ae13c237ade7b95552e3ea556a989d85

[2020-04-24 11:20] #2197 closed

[2020-04-24 11:59] MikeUnwalla commented on #2787
@jaumeortola , thanks for your comment. I will change the suggestion in `en/grammar.xml`.

When all the changes are done, please update the documentation. "It is possible to conditionally suppress parts of suggestions if they are misspelled (for this, you need to use element match with attribute suppress_misspelled set to yes)." (http://wiki.languagetool.org/development-overview#toc6).

[2020-04-24 13:43] jaumeortola commented on #2787
Making regression tests in English I found this differences (I will post more). In this rule (MANY_NN[1]), it seems reasonable to add `suppress_misspelled` to the message. But then there will be no rule match for "many 18-year-old" (Perhaps we need a specific rule for his kind of expressions). @MikeUnwalla: You decide what is the best solution. Don't do many changes to the rules because we'll have

[2020-04-24 15:18] jaumeortola commented on #2787
The other differences in English are in the rule `POSSESSIVE_APOSTROPHE` and the words `clothes` and `Reuters`.

The new code works as expected. There is no singular of the noun "clothes" and the suggestion is suppressed. In Reuters something strange happens. The synthesizer creates a singular form (reuter), but then the tagger doesn't recognize this form. Tagger and synthesizer dictionaries seem

[2020-04-24 15:34] tiff commented on #2761
Der Fehler wurde mittlerweile behoben

[2020-04-24 15:34] #2761 closed

[2020-04-24 15:38] arysin commented on #2574
See also [issue in the dictionary project](https://github.com/brown-uk/dict_uk/issues/234) for more details

[2020-04-24 15:38] #2574 closed

[2020-04-24 16:01] danielnaber commented on #2740
Code committed, aber nicht aktiv, weil:
* Fehlalarm bei z.B. "Prämien und Zulagen für besondere Leistungen"
* "entlehnt" (ent+leht) und "verhasst" (ver+hasst) und vermutlich einige andere bekommen falsche Tags

[2020-04-25 02:04] Dallun511 opened #2794 "[DE] Sonderfall: sind das ...?"
Moin liebes LanguageTool-Team

Sandra fragte: „Warum trägst du eine Schuluniform und sind **das Hotpants?**“
LT: Möglicherweise fehlende grammatische Übereinstimmung des Kasus, Genus oder Numerus.

Bei der Frage: "Sind das ...?" ist das kein Artikel, weswegen hier eine Sonderregel hermuss.

Die Regel für "ist das ..." #2254 existiert bereit.

Grüße Dallun511

[2020-04-25 05:56] #2785 closed

[2020-04-25 06:01] baarsrj commented on #2096
I remember Marcin tricking this for me. You could ask Daniel.

[2020-04-25 07:07] danielnaber commented on #2738
For comparison, some numbers from the ngram data (which is based on different data than BERT, but still interesting):

[code]

[2020-04-25 07:55] MikeUnwalla commented on #2096
@baarsrj , thanks. I know conceptually how to do it (https://github.com/languagetool-org/languagetool/issues/1376). But, I don't know sufficient Java to do the job correctly.

[2020-04-25 08:00] MikeUnwalla commented on #2787
@jaumeortola , now, I will correct the FP for MANY_NN and POSSESSIVE_APOSTROPHE .

[2020-04-25 09:34] MikeUnwalla commented on #2787
@jaumeortola , for now, I won't use `suppress_misspelled` in the message:

1. If we hide unwanted suggestions, we won't find spelling errors and missing POS (Roma, Tuscarora)
2. `testrules,bat` gives this error message:
[code]

[2020-04-25 09:42] MikeUnwalla commented on #2787
@jaumeortola , MANY_NN now has this correction: `<example correction="many (18-year-old)">`

Why doesn't the rule suggests "many 18-year-olds"?

[2020-04-25 09:57] MikeUnwalla commented on #2787
@jaumeortola , when I add your code to POSSESSIVE_APOSTROPHE, testrules gives this message:

[code]

So, I will leave POSSESSIVE_APOSTROPHE for you to deal with.

[2020-04-25 12:09] jaumeortola commented on #2787
The rule tries to synthesize the plural of "18-year-old" using the synthesis dictionary, but there is not such a word in the dictionary. We need to write a new rule if we want to give the right suggestion.

[2020-04-25 12:11] jaumeortola commented on #2787
@MikeUnwalla My changes are not yet in the master branch. I will make tests in other languages, and then I will make a pull request.

[2020-04-25 12:41] MikeUnwalla commented on #2787
@jaumeortola , thank you for your clarifications.

[2020-04-25 12:56] jaumeortola commented on #2787
That seems a good idea. Perhaps we should disable `suppress_misspelled` in the message always when testing.

[2020-04-25 14:29] Dallun511 commented on #1962
Das wurde behoben.

[2020-04-25 14:30] Dallun511 commented on #1270
Behoben
![grafik](https://user-images.githubusercontent.com/40240507/80282463-fef6c380-8711-11ea-983c-c6e57c5868ed.png)

[2020-04-25 14:30] #1270 closed

[2020-04-25 14:37] Dallun511 commented on #1023
Bitte in die Fortsetzung schauen.

[2020-04-25 14:37] #1023 closed

[2020-04-25 14:43] Dallun511 commented on #1569
Ich habe die Erklärung angepasst. Ich hoffe, die ist jetzt verständlich, wo hier das Problem ist.

[2020-04-25 14:46] Dallun511 commented on #1302
@FredKruse
Ich kann mich erinnern, dass du mir mal gesagt hast, dass man die Regeln temporär abstellen kann, wenn man auf "Regel ignorieren" in der Rechtschreibausgabe klickt. Das stimmt doch. Oder?

[2020-04-25 14:48] Dallun511 commented on #1324
Hier wurden mittlerweile den Problemen Beispiele hinzugefügt, wodurch die Problematik besser erklärt wird.

Grüße Dallun511

[2020-04-25 15:54] jaumeortola commented on #2787
I didn't find issues in the other languages. Just one probable false alarm in English:

[code]

[2020-04-25 17:04] bigi111 commented on #846
I did some tests on KUbuntu 18.04 and both extensions worked on LibreOffice 6.0.7.3. I updated the non linear solver. It is still version 0.9
Language Tool has version 4.8 now.

[2020-04-26 02:47] Zplusless commented on #2624
Same problem on v4.9 standalone version
Texstudio+LanguageTool v4.6+ngram works well.
![image](https://user-images.githubusercontent.com/10062702/80296168-3f565000-87ab-11ea-8bc2-a649ec0e30bd.png)

Texstudio+LanguageTool v4.9+ngram, it fails to detect errors in example sentences.
![image](https://user-images.githubusercontent.com/10062702/80296170-41201380-87ab-11ea-87f3-c4dbe16ea1d0.png)

[2020-04-26 08:08] marcoagpinto opened #2798 "[pt] Improve Java rule for barbarisms.txt"
Hello!

I have in this .txt file:
[code]

What happens is that if I type:
cash-flow
or
cash-flows

it suggests what is in:
cash

Could the Java rule be improved?

Thanks!

[2020-04-26 08:34] danielnaber commented on #2624
See my comment above, it's fix [in the current snapshot](languagetool.org/download/snapshots/).

[2020-04-26 09:45] #2791 closed

[2020-04-26 12:06] tiff opened #2799 "[en] add "ok" / "okay" to coherency?"
@MikeUnwalla do you think it makes sense to add "OK" and "okay" to the coherency.txt?

[2020-04-26 12:40] tiff opened #2800 "[en] false alarms TO_NON_BASE"
<img width="580" alt="Bildschirmfoto 2020-04-26 um 14 40 31" src="https://user-images.githubusercontent.com/37363/80307838-e5b24d80-87cb-11ea-842c-e3a3e91c2ba2.png">

[2020-04-26 13:12] tiff opened #2801 "[pt-br] "planejamento""
Feedback by a user from Brazil

Is "planejamento" really archaic (in Brazil), @marcoagpinto ?

[2020-04-26 13:13] tiff commented on #2801
... and if so, can we suggest an alternative?

[2020-04-26 13:20] marcoagpinto commented on #2801
@tiff

https://dicionario.priberam.org/planejamento

There is no mention in the Priberam dictionary about it being archaic.

[2020-04-26 13:20] tiff commented on #2801
Ok, so we should remove it from the rule, I guess?

[2020-04-26 13:20] marcoagpinto commented on #2801
Sure.

Where is it?

:-)

[2020-04-26 13:22] marcoagpinto commented on #2801
ahhhh... I believe I found it.... give me a minute

[2020-04-26 13:22] tiff commented on #2801
rule id ARCHAISMS

[2020-04-26 13:29] marcoagpinto commented on #2801
yes

Done:
https://github.com/languagetool-org/languagetool/commit/8d2696a6e8fcc244bccaca0871ea151f90fddb8a

[2020-04-26 13:29] #2801 closed

[2020-04-26 13:32] tiff commented on #2801
Great, thank you so much

[2020-04-26 13:52] tiff commented on #2772
Wurde bereits behoben

[2020-04-26 13:52] #2772 closed

[2020-04-26 14:31] MikeUnwalla commented on #2799
@tiff, I think it's not a good idea to add to coherency because each term has more than one part of speech. Also, there is no way to deal with terms such as **OK button**, which should be out of scope.

[2020-04-26 15:42] tiff commented on #2799
Ok, thanks for your opinion. I'm closing this.

[2020-04-26 15:42] #2799 closed

[2020-04-26 15:52] yakovru opened #2802 "LO/OO spelling dialog doesn't work correct for LT-4.7+"
"Ignore Once" work incorrectly in LO/OO for LT-4.7+.
If the text contains newline characters, an unexpected text change occurs when the button "Ignore Once" is clicked.
[LT bug_en.docx](https://github.com/languagetool-org/languagetool/files/4535752/LT.bug_en.docx)

![Text_before_change](https://user-images.githubusercontent.com/5228814/80312757-b6153c80-87ef-11ea-86a8-2c4125931f6a.jpg)

![Text_aft

[2020-04-26 18:03] David-Else opened #2803 "Cant use n-gram data using server, WIKI docs don't make sense"
I have been through the WIKI article, but nothing works. It is not explained properly.

So there are two options:
1.  Start with the `--languageMode`l option
2.  Start with the `--config` file option

This implies I can just add `--languageModel` and it will work, which is does not. How about the file reference? It needs to point to a dir, but that is not mentioned. When it points to a dir it does

[2020-04-26 18:17] jaumeortola opened #2804 "Create an option for enabling all temp_off rules in the command line"
This option will be useful for testing.

[2020-04-26 18:43] danielnaber commented on #2803
Please try with a recent snapshot (https://internal1.languagetool.org/snapshots/), there was a bug with ngrams in 4.9.

[2020-04-26 19:55] yakovru commented on #2658
I think that it fixed now.

[2020-04-26 19:55] #2658 closed

[2020-04-26 20:01] David-Else commented on #2803
@danielnaber If I use the new `LanguageTool-20200426-snapshot` version it partly works, I get the bold highlighted in the following sentences when using the server:

I can't remember how to go **their**. I do not now where it comes from.

But if I use the latest LibreOffice version with the same n-gram data I get correct correction of both errors:

I can't remember how to go **their**. I do not **

[2020-04-27 05:45] tiff opened #2805 "[en] incorrect disambiguation "Street""
"Never" is only tagged as NNP

[2020-04-27 08:55] danielnaber opened #2810 "false alarm: write access"
LT says `Use past participle here: "written".`

[2020-04-27 10:03] jaumeortola commented on #2787
Fixed here: https://github.com/languagetool-org/languagetool/commit/666e61ad0cc1e1900221cac2a3e92e66bef40191 and following.
I will document the changes in the wiki.

[2020-04-27 10:13] jaumeortola commented on #2787
Documented here: http://wiki.languagetool.org/development-overview#toc6

[2020-04-27 10:21] #2805 closed

[2020-04-27 10:40] #2587 closed

[2020-04-27 10:48] #2810 closed

[2020-04-27 11:20] tiff commented on #2738
![Bildschirmfoto 2020-04-27 um 13 19 09](https://user-images.githubusercontent.com/37363/80366589-ced23080-8889-11ea-8b11-b45494762364.png)

Also see https://github.com/languagetool-org/languagetool/issues/2766

[2020-04-27 11:56] #2804 closed

[2020-04-27 12:24] danielnaber commented on #2803
I can't reproduce that. For me, "I do not now where it comes from." doesn't work in any case (it's not found due to the thresholds being more strict now).

[2020-04-27 13:02] David-Else commented on #2803
It seems like the main problem here is the WIKI docs, the actual error is fixed in the snapshot. May I propose:

1. You re-write the following line to be more clear, and include a working example after it:
[code]
2. Remove `I don't now where it comes from` as an example of it working, as this is no longer the case.
3. You push out a patch to fix the n-gram bug in 4.9, seems like a long time to wai

[2020-04-27 14:23] #2610 closed

[2020-04-27 14:37] FredKruse commented on #2802
@yakovru: Did you use the spelling dialog or the context menu (right mouse click) to run "Ignore Once"?

[2020-04-27 14:38] FredKruse commented on #846
@bigi111: I will close issue now.

[2020-04-27 14:38] #846 closed

[2020-04-27 14:40] #2450 closed

[2020-04-27 14:52] FredKruse commented on #292
Local temporary dictionaries are added to LT. They are loaded only for used languages inside the text, and they are loaded only once. The dictionary is generated from the words inside the file added.txt. The  words of the spelling.txt are added too. The spelling.txt exist e.g. for Portuguese but not for e.g. English or German.
@marcoagpinto: Please test the new feature for a Portuguese document.
@

[2020-04-27 14:54] yakovru commented on #2802
I use spelling dialog

[2020-04-27 15:10] danielnaber commented on #292
`added.txt` is for spelling only and has no impact on spell checking (for most languages). So yes, `spelling.txt` would be needed. But even then, LT has made some minor changes made to de_DE.dic, so you cannot get 100% the behavior from LT, unless we include all the hunspell dicts (making the download much larger).

[2020-04-27 15:54] danielnaber commented on #2803
There's now a 4.9.1 release candidate at https://languagetool.org/download/LanguageTool-4.9.1-rc1.zip. Could you see if it works for you?

[2020-04-27 17:52] David-Else commented on #2803
I just tested the rc1, and am pleased to report it now finds `their` and `now`  in `I can't remember how to go their. I do not now where it comes from` :)

[2020-04-28 05:24] marcoagpinto commented on #292
@FredKruse

It worked partially.

What is the criterium for the words from spelling.txt to appear in LibreOffice.

I copied and pasted the words below from PT spelling.txt:
[code]

A few still appeared as typos:
OpenPGP
overwrite
SEO
SSL
WebTranslateIt

But your idea is excellent.

Thank you for the good work!

[2020-04-28 06:09] tiff opened #2813 "[en] false alarms IT_IS"
<img width="467" alt="Bildschirmfoto 2020-04-28 um 08 08 51" src="https://user-images.githubusercontent.com/37363/80452912-92551200-8927-11ea-8865-b075383352c9.png">

[2020-04-28 06:44] tiff commented on #2787
@jaumeortola @MikeUnwalla there are quite a few false alarms in the recent nightly regression test:
https://internal1.languagetool.org/regression-tests/20200427/result_en_20200427.html

Could you have a look?

[2020-04-28 07:26] MikeUnwalla commented on #2787
@jaumeortola , I will deal with the false alarms that are caused by units of measurement and abbreviations (m2, vols and so on).

[2020-04-28 07:27] jaumeortola commented on #2787
Possible fixes:
SUPERLATIVE_THAN: move suppress_misspelled to message
THERE_RE_MANY: move suppress_misspelled to message
CD_NN: fix the tags of some words or move suppress_misspelled to message

In POSSESSIVE_APOSTROPHE I moved the suggestions outside the message. If there are suggestions that can be suppressed, we could get a message like "Did you mean '' or ''?" with empty suggestions. Previousl

[2020-04-28 07:28] tiff commented on #2787
I'm reopening this issue, feel free to close when false alarms have been handled

[2020-04-28 07:35] tiff opened #2814 "[en] "constits" suggests "cons tits" (spelling)"
Expected suggestion doesn't show up: "consists"

<img width="480" alt="Bildschirmfoto 2020-04-28 um 09 33 29" src="https://user-images.githubusercontent.com/37363/80459877-5627ae80-8933-11ea-8aaa-3f3c71693999.png">

[2020-04-28 08:15] MikeUnwalla opened #2815 "[en] Wrong tagging DT_JJ_NN_NN"
Noted while dealing with #2787 regression.

'form' is incorrectly tagged as NN:UN. It is a verb:

[2020-04-28 08:33] #2815 closed

[2020-04-28 08:47] jaumeortola commented on #2787
As said before, suppressing messages can be good for production but bad for testing and development. It would be useful to have some kind of "testing mode" where rule matches are never suppressed.

[2020-04-28 09:05] MikeUnwalla commented on #2787
@jaumeortola , @tiff , the errors in THERE_RE_MANY and CD_NN are now fixed.

[2020-04-28 09:07] tiff commented on #2787
Ok, let's wait a few days, collect data and then set "suppress_misspelled" if necessary on "SUPERLATIVE_THAN" and "THERE_RE_MANY" as @jaumeortola suggested. I will assign myself to this.

[2020-04-28 09:22] tiff opened #2818 "[de] false alarm RUND_UM"
<img width="869" alt="Bildschirmfoto 2020-04-28 um 11 21 55" src="https://user-images.githubusercontent.com/37363/80470561-7b6fe900-8942-11ea-8292-cc508b6826c7.png">

[2020-04-28 09:55] AgnesKleinhans commented on #2560
Das hier kann geschlossen werden :-)

[2020-04-28 09:56] AgnesKleinhans commented on #2463
Das hier kann geschlossen werden :-)

[2020-04-28 09:56] AgnesKleinhans commented on #2383
Das hier kann geschlossen werden :-)

[2020-04-28 09:56] AgnesKleinhans commented on #2318
Das hier kann geschlossen werden :-)

[2020-04-28 09:59] #2383 closed

[2020-04-28 10:00] tiff commented on #2463
Danke @AgnesKleinhans

[2020-04-28 10:00] #2463 closed

[2020-04-28 10:00] #2560 closed

[2020-04-28 10:00] #2318 closed

[2020-04-28 10:18] MikeUnwalla opened #2820 "[en] False alarm PEOPLE_VBZ"
False alarm:

[2020-04-28 10:18] AgnesKleinhans commented on #2064
Das kann auch gelöscht werden! :-)

[2020-04-28 10:24] #2064 closed

[2020-04-28 10:26] jaumeortola commented on #2787
Another general idea. Using `suppress_misspelled` in suggestions inside the message (but not in the message element) can result in malformed messages like `Did you mean '' or ''?`. It would be advisable to make a warning against this use in some way. How can you do it? A warning in tests?

[2020-04-28 10:28] tiff commented on #2820
Also see https://github.com/languagetool-org/languagetool/issues/2755

[2020-04-28 11:14] danielnaber commented on #2787
Test warnings tend to be ignored... but is making the test fail a better solution? What would the rule editor do on this warning, move the `<suggestion>` out of the `<message>`?

[2020-04-28 11:16] danielnaber opened #2821 "Should we accept "tis"?"
Common misspelling of "this". Should we accept "tis" at all? Or could there be a rule?

[2020-04-28 11:16] AgnesKleinhans commented on #2776
Diese Fehlalarme dürften künftig nicht mehr erscheinen :-)

[2020-04-28 11:19] danielnaber opened #2822 "Should we accept "er"?"
"er" is accepted as a word, but many words end with "er" and are still valid words once you remove the "er", making spaces accepted in e.g. "worship er" instead of "worshiper". I found ~ 4000 of those words. Should be keep accepting "er"?

[2020-04-28 11:27] jaumeortola commented on #2787
Yes, that solution is fine: do not allow `suppress_misspelled` in suggestions inside the message.

1. move the `<suggestion>` out of the `<message>`, or
2. add `suppress_misspelled` to the message

[2020-04-28 11:42] AgnesKleinhans commented on #2612
Das kann geschlossen werden! :-)

[2020-04-28 11:53] AgnesKleinhans commented on #2786
Das kann geschlossen werden :-)

[2020-04-28 11:54] MikeUnwalla commented on #2822
I think we should continue to accept 'er'. I will add a missing postag.

Also, 'Er' with initial caps is the chemical symbol for erbium. 'ER' is an abbreviation for Emergency Room (and other terms).

The suggestion  "worship er" is not good. Is it possible to prevent the spell checker from suggesting "X er"?

[2020-04-28 12:06] MikeUnwalla commented on #2822
@danielnaber , I propose to close this issue. Is that OK?

[2020-04-28 12:11] tiff commented on #2612
Super!

[2020-04-28 12:11] #2612 closed

[2020-04-28 12:16] tiff commented on #2821
I would suggest adding a rule that catches any use of "Tis" and "tis" (but not "TIS"). Through antipatterns we can avoid false alarms where "tis" was actually meant (rare cases I suppose).

[2020-04-28 12:16] MikeUnwalla commented on #2821
'tis' (plural of 'ti') is possible. It is a plant:
www.collinsdictionary.com/dictionary/english/ti
https://ahdictionary.com/word/search.html?q=ti
www.merriam-webster.com/dictionary/tis

For the literary 'tis (it is), Collins also suggests that the form without apostrophe is possible: https://www.collinsdictionary.com/dictionary/english/tis

The musical note ti is (I think) non-count only.

I will

[2020-04-28 13:14] danielnaber commented on #2822
Sorry, "worship er" was not meant as a suggestion example, but as an example for an error we don't find. "ER" should be accepted, but "er" seems rare and very colloquial?

[2020-04-28 13:15] #2786 closed

[2020-04-28 13:34] MikeUnwalla commented on #2822
It think that 'er' is no more rare or colloquial than many other interjections that LT accepts (um, uh, huh).

Possibly, a quick win is to have a rule that finds all POS=UH and tell people not to use the word in formal text. The rule could have exceptions for text within quote marks.

[2020-04-28 14:02] danielnaber commented on #2822
"er" is a more common suffix that leaves valid words when split from the end:

4219 matches for suffix er
136 matches for suffix um
3 matches for suffix uh
1 matches for suffix huh

What about a rule that finds "(word) er" and suggests "(word)er", with a lower priority than the spelling rule and maybe some antipatterns?

[2020-04-28 14:11] MikeUnwalla commented on #2822
Yes, that should be fine. I will do that.

[2020-04-28 14:22] danielnaber commented on #1833
Closing, as this code has been removed.

[2020-04-28 14:22] #1833 closed

[2020-04-28 14:30] #2689 closed

[2020-04-28 15:12] danielnaber commented on #2623
In a regex, I think it must be `PRP\$` (note the backslash). Is that related to the original issue?

[2020-04-28 15:25] MikeUnwalla commented on #2623
I know that `PRP$ `without a backslash is not correct when it's used with `postag_regexp="yes"`.

But, the rule should not apply postag MYPOS to 'while', because the pattern does not match the example text ('it' is PRP, not PRP$ or PRP\$).

[2020-04-29 02:43] Dallun511 commented on #2776
Das hoffe ich. Die Regel behindert mehr, als sie hilft. Ich war schon am Überlegen, die Regel zu deaktivieren, da sie sehr stark Fehlalarme produziert.

[2020-04-29 03:33] McBobb opened #2824 "Addin disables accessing Extended ASCII characters using ALT codes"
While your app is active, I cannot use ALT+(4 digit code) to produce Extended ASCII characters like ½, —, °, etc.

When I hold the ALT key, as soon as I hit any numpad key (which you need to use to use ALT codes), my browser immediately jumps forward to the next tab

[Firefox Troubleshooting Info.txt](https://github.com/languagetool-org/languagetool/files/4549678/Firefox.Troubleshooting.Info.txt)

[2020-04-29 07:25] danielnaber opened #2825 "bad suggestion: "I juts wanted to check""
LT suggests "jut" instead of "just"

`CONFUSION_RULE_JUTS_JUST` also matches but has lower priority

[2020-04-29 08:04] AgnesKleinhans commented on #2398
Das hier kann geschlossen werden :-)

[2020-04-29 08:07] AgnesKleinhans commented on #2679
Das issue hat sich bereits erledigt! :-)

[2020-04-29 09:05] Anatoly-IVANOV opened #2827 "[fr] French punctuation rule - spaces before/after quotes, '?' '!' - option to disable"
The classical French rule (depending on the country, but mostly in France and Switzerland), calls for thin-space:

- around quotes
- before questions marks
- before exclamation mark
- before semi-column
- before column

That's cool in Adobe InDesign or Illustrator os some such pro application (hell, I'm a designer and typography nerd since 1999 and get paid per thin-space :D ).

HOWEVER: most non-

[2020-04-29 10:27] jaumeortola commented on #1487
Related to variants of Spanish.
The rule VOSEO (https://github.com/languagetool-org/languagetool/commit/034c8beaeb0760f2560a9e2fb53ceec8f5dbd258) should be disabled for Argentina, Paraguay, Uruguay, Costa Rica, and enabled for the rest of countries. This is so at least in formal language.

[2020-04-29 10:43] tiff opened #2828 "[en] false alarm MUCH_UNCOUNTABLE"
<img width="908" alt="Bildschirmfoto 2020-04-29 um 12 40 35" src="https://user-images.githubusercontent.com/37363/80587555-0d492600-8a17-11ea-9145-7a5e000617bb.png">

[2020-04-29 11:14] MikeUnwalla commented on #2828
Also, false alarm with a simpler version of the sentence:

[2020-04-29 11:27] #2813 closed

[2020-04-29 11:38] Dallun511 opened #2829 "[DE] Imperativ-Lesart fehlt für "mach" und vermutlich andere (Fehlalarm trotz Apostroph)"
Moin liebes LanguageTool-Team

![grafik](https://user-images.githubusercontent.com/40240507/80591475-0d98ef80-8a1e-11ea-94ba-3743d892c471.png)

Dallun sagt: „Vertraue mir. Freundschaft ist was Schönes und jetzt **mach’** dich **auf dem Weg** zur Schule. Du kommst sonst noch zu spät.“
LT: "Möglicherweise fehlende grammatische Übereinstimmung zwischen Subjekt und Prädikat (mach) bezüglich Person ode

[2020-04-29 13:55] tiff opened #2830 "[pt-br] user feedback"
Can we get rid of the "REFORMULAR" values in the cliches.txt?

[2020-04-29 14:00] tiff commented on #2830
<img width="389" alt="Bildschirmfoto 2020-04-29 um 16 00 03" src="https://user-images.githubusercontent.com/37363/80604814-8144f780-8a32-11ea-8041-939eea720a3c.png">

[2020-04-29 14:03] danielnaber opened #2831 "user feedback het/de"
User feedback about error not found:

Gelet op het feit dat **het** firma bij het begin van

=> Gelet op het feit dat **de** firma bij het begin van

[2020-04-29 14:04] marcoagpinto commented on #2830
Well, "REFORMULATE" means that the user must find a better expression for the made words.

It was Tiago who created the list and it is impossible for me to find a suggestion for each REFORMULATE.

[2020-04-29 14:22] baarsrj commented on #2831
Should have been found. Adding a rule for it right now. Might need tuning, but that has to wait for tonight's run. Can't locally test it now without stopping the test that has to run a long time.

[2020-04-29 14:24] #2384 closed

[2020-04-29 14:25] #2679 closed

[2020-04-29 14:25] #2398 closed

[2020-04-29 14:39] vkyfox commented on #2827
Hello!
Maybe we could replace the non-breakable space that we suggest in those occurrences with a thin space if it has the same non-breakable propriety. Is there even a special character for it? What do you think @Anatoly-IVANOV?

[2020-04-29 14:57] FredKruse commented on #2802
This is a bug in the LO/OO spelling dialog box. It is not related to LT directly. There are two possibilities to solve the problem:

1. Address the bug to LibreOffice (As far as I know, there is no further development in OpenOffice).
2. Development of an own LT spelling and grammar checking dialog. This is a bigger project. I am thinking about that, but it will take some time.

[2020-04-29 15:31] Anatoly-IVANOV commented on #2827
That'd be cool!

If the font supports it (and it should).

Here's the spec: https://www.compart.com/en/unicode/U+2009

[2020-04-29 15:33] vkyfox commented on #2827
Is it non-breakable as well?

[2020-04-29 15:44] Anatoly-IVANOV commented on #2827
Seems like it, from my quick tests in Chrome's div contenteditable=true nodes.

[2020-04-29 15:45] vkyfox commented on #2827
Perfect then! I'll let you know here once I've fixed it.
Thank you for your feedback!

[2020-04-29 15:49] Anatoly-IVANOV commented on #2827
Thank _you_, @vkyfox !

Sorry I just can't jump into code… time crunched and would need to dust-off my Java basics, I guess. :D

[2020-04-29 16:11] tiff opened #2832 "[de] false alarm FRAGEZEICHEN_STATT_PUNKT"
![Bildschirmfoto 2020-04-29 um 18 11 28](https://user-images.githubusercontent.com/37363/80619324-ddb11280-8a44-11ea-94cf-3016b23f3585.png)

[2020-04-29 16:46] danielnaber opened #2833 "[en] not found: "Here#s""
Not so uncommon, as on German keyboards `'` and `#` share the same key.

[2020-04-29 20:58] danielnaber commented on #2829
Danke, sollte ab Übermorgen behoben sein. Betrifft leider sicher noch andere Verben, denn die Imperativ-Form fehlt oft im Lexikon. (Hier: `VER:IMP:SIN:SFT`)

[2020-04-29 21:08] danielnaber opened #2837 "[en] confusion tat/that"
ngrams don't work well, so a rule for that vs. tat would be nice

[2020-04-30 02:00] Black56651 opened #2838 "[DE] Wörter ohne Token! (Imperativ von Verben)"
Moin liebes LanguageTool-Team

Auf dieser Liste erscheinen nur Imperative von Verben, die keine Token/Tags haben.

[abgeschlossene Imperative] **#3907**

***
- [x] informier (informieren)
***
- [ ] verhaft (verhaften)
***
- [x] enttäusch (enttäuschen)
***
- [x] tausch (tauschen)
***
- [x] tauch (tauchen)
***
- [x] drück (drücken)
***
- [x] dreh (drehen)
***
- [ ] leg (legen)
***
- [x] pack (packen

[2020-04-30 02:09] Dallun511 commented on #2829
Gut, ich werde mir mal demnächst meine Verben ansehen, die ich sehr häufig benutze, um danach zu überprüfen, ob ihr Imperativ eingetragen ist.

Wenn dieser nicht eingetragen ist, kommt das Verb in diese Liste #2838
Dort habe ich schon "renn" und "mach" als abgeschlossen eingetragen. Weitere Verben werden folgen, sobald ich eines finde.

Die wichtigen Verben, die sehr häufig genutzt werden, haben d

[2020-04-30 05:10] Dallun511 opened #2839 "[DE][LibreOffice] Fehlalarm Getrennt- Zusammenschreibung"
Moin liebes LanguageTool-Team

Die hier aufgelistenen Fehlalarme können nur im LO gesichtet werden. Auf der Homepage oder in der Standalone-Version treten diese Fehlalarme nicht auf.

- [x] Ferewa und B-Black Dallun sind Freunde, was sie nicht zeigen. Sie haben sich sogar versprochen, es **geheim zu halten**.
![grafik](https://user-images.githubusercontent.com/40240507/80674094-36b69000-8ab1-11ea-

[2020-04-30 07:31] tiff commented on #2824
@McBobb I'm not sure if this is related to the add-on. can you still reproduce this when you disable/uninstall our add-on?

[2020-04-30 13:14] tiff commented on #2031
@danielnaber the functionality you built here probably got lost (due to the resorting?).

compare first (languagetool.org) vs second (languagetoolplus.com)
![Bildschirmfoto 2020-04-30 um 15 13 20](https://user-images.githubusercontent.com/37363/80714441-3c35c980-8af5-11ea-92de-0e530edc3dc9.png)
![Bildschirmfoto 2020-04-30 um 15 13 29](https://user-images.githubusercontent.com/37363/80714460-40fa7d

[2020-04-30 15:24] tiff opened #2840 "[de] "verswund" is tagged"
Das Wort:

hat bei uns Tagging:

<img width="717" alt="Bildschirmfoto 2020-04-30 um 17 23 11" src="https://user-images.githubusercontent.com/37363/80728587-63959200-8b07-11ea-887c-11f4d35d72dd.png">

Konnte dazu keine Quelle finden...

[2020-04-30 15:35] danielnaber commented on #2031
I have committed a quick fix, but `Simon's` is at position 2, not 1. It seems the suggestions with type `SuggestionType.Curated` (`Simon` and `Simon's` in this case) are kept at the top of the list, but still-resorted among each other. @fabrichter We can change the algorithm so that if both words in the comparator are `Curated`, we keep the original order, can't we?

[2020-04-30 15:38] danielnaber commented on #2031
Plus, we obviously need more service-level tests...

[2020-04-30 15:42] danielnaber commented on #2840
It's analyzed as `vers` + `wund`. I think we'll have to live with that unless we spend a lot of time into making the compound splitter more strict.

[2020-04-30 17:04] tiff opened #2841 "[en] prohibit "somethings", "someones""
@MikeUnwalla currently "someones" has NNS and is not marked as a spelling mistake (at least in en-US). I couldn't find a source for this.

Also, "somethings" and "anythings" is accepted (but not tagged).

Can we remove it?

[2020-04-30 17:05] tiff commented on #2841
All of them are not accepted in en-GB.

[2020-04-30 17:15] MikeUnwalla commented on #2841
@tiff, feel free to prohibit the plural readings. (I haven't checked, but I don't think those words are used as plurals.)

[2020-05-01 05:40] baarsrj commented on #2831
It is not eays, due to lots of exceptions, like 'het Koning Astridplein', while it is 'de keizer'. And ' het was gisteren', while it is 'de was'. Takes more time. To be continued in a week.

[2020-05-01 07:03] #2841 closed

[2020-05-01 07:06] tiff opened #2843 "[de] no suggestion FLEKTIERTES_ADJEKTIV_AM_SATZENDE"
<img width="428" alt="Bildschirmfoto 2020-05-01 um 09 06 12" src="https://user-images.githubusercontent.com/37363/80789020-16f39a80-8b8b-11ea-9a1d-f0dc86475524.png">

[2020-05-01 08:43] baarsrj opened #2844 "Case sensitivity for Simple Replace Rule"
Could that option be added?
The correct word 'karen' should be changed into the name Karen generally, but Karen trigger the same rul now.

[2020-05-01 08:45] #2822 closed

[2020-05-01 09:03] MikeUnwalla commented on #2833
@danielnaber , found by LT Premium.

![image](https://user-images.githubusercontent.com/5816160/80794836-c8e29500-8b92-11ea-87c4-fd817c7819b6.png)

If you want me to copy the Premium rule to open-source LT, tell me. Otherwise, please close this issue.

[2020-05-01 09:19] danielnaber commented on #2833
Oh, I should have noticed that. Please move the rule to Open Source.

[2020-05-01 09:25] MikeUnwalla opened #2845 "[en] Wrong tagging E_NP_NN_VBP and POS_ADD"
Noted while dealing with https://github.com/languagetooler-gmbh/languagetool-premium/issues/1310. 'Charge' is tagged as NN:UN, not as a verb and the apostrophe is tagged as POS:

[2020-05-01 09:48] #2833 closed

[2020-05-01 16:48] danielnaber opened #2847 "Komma-Fehlalarm "Er wird sie hochführen.""
`KOMMA_ZWISCHEN_HAUPT_UND_NEBENSATZ[7]`

[2020-05-01 23:15] SkyCharger001 commented on #2724
Add quote marks, that makes it clear that it's a proper name (and not the noun it is based on).

[2020-05-02 14:03] tiff opened #2849 "[en] "Wensday" does not suggest "Wednesday""
<img width="451" alt="Bildschirmfoto 2020-05-02 um 16 03 08" src="https://user-images.githubusercontent.com/37363/80866361-82726080-8c8e-11ea-8eff-01d8d50eff67.png">

[2020-05-02 16:42] Dallun511 commented on #2840
Das Wörterbuch (Rechtschreibung) kennt das Wort nicht, weswegen das kein Problem sein sollte.

[2020-05-02 17:38] sohaibafifi commented on #2449
@linuxscout can you please check this issue ?

[2020-05-02 20:08] Dallun511 commented on #1341
![grafik](https://user-images.githubusercontent.com/40240507/80890946-11986c00-8cc1-11ea-9aeb-96a4005f274d.png)
Das LanguageTool auf der Homepage erkennt den Rechtschreibfehler. Wie es beim Add-on in Chrome und Firefox aussieht, kann ich nicht, da ich dieses nicht nutze. bitte überprüfen.

In Open- und LibreOffice existiert der Fehler weiterhin, da das Wörterbuch noch nicht geupdatet wurde. Aber d

[2020-05-03 12:51] kam193 commented on #2729
It looks like PWN has changed their URL schema. I think following rules are probably a semi-automatic way to fix links:

* `http://poradnia.pwn.pl/lista.php?id=<id>` ⇒ `https://sjp.pwn.pl/poradnia/haslo/not-so-important-title;<id>.html`
* `http://so.pwn.pl/zasady.php?id=<id>` ⇒ `https://sjp.pwn.pl/zasady/not-so-important-title;<id>.html`
*  `http://so.pwn.pl/lista.php?co=<word>` ⇒ `https://sjp.pwn

[2020-05-03 13:08] tiff opened #2851 "[de] false alarm VERB_AGREEMENT"
<img width="418" alt="Bildschirmfoto 2020-05-03 um 15 08 20" src="https://user-images.githubusercontent.com/37363/80915070-f163be00-8d4f-11ea-91b4-dca4828143f9.png">

[2020-05-03 13:09] tiff commented on #2851
<img width="517" alt="Bildschirmfoto 2020-05-03 um 15 09 10" src="https://user-images.githubusercontent.com/37363/80915085-10fae680-8d50-11ea-9eb7-4df4c8ace4fd.png">

[2020-05-03 13:10] tiff commented on #2851
<img width="450" alt="Bildschirmfoto 2020-05-03 um 15 10 15" src="https://user-images.githubusercontent.com/37363/80915106-3556c300-8d50-11ea-866c-71f70492985b.png">

[2020-05-03 20:53] #1111 closed

[2020-05-04 05:49] #1060 closed

[2020-05-04 08:34] #2837 closed

[2020-05-04 09:41] bperel opened #2852 "[fr] False alarm "par conséquent" + masculin suivi du féminin"
LanguageTool suggests removing the "e" because:

which is incorrect because "par conséquent" is an expression that shouldn't be accorded.

[2020-05-04 09:47] bperel opened #2853 "[fr] False alarm : Nombre pluriel suivi du singulier"
LanguageTool suggests adding an "s" to "inauguré" because it thinks that it should be accorded with "4", which is incorrect because "Terminal 4" is the name of the terminal so it shoudn't be accorded.

[2020-05-04 09:47] tiff commented on #2852
@vkyfox the affected rule is ACCORD_GENRE (sub id 1)

[2020-05-04 09:48] tiff commented on #2853
@vkyfox rule is "ACCORD_NOMBRE" (sub id 2)

[2020-05-04 11:16] tiff opened #2854 "[en] false alarm HE_VERB_AGR"
<img width="705" alt="Bildschirmfoto 2020-05-04 um 13 16 00" src="https://user-images.githubusercontent.com/37363/80960570-6a731c00-8e09-11ea-8579-f69eded9a6e7.png">

[2020-05-04 11:21] #2845 closed

[2020-05-04 11:47] danielnaber commented on #2851
- [x] Ich hoffe Du auch.
- [ ] um 10 Uhr geh ich essen.
- [x] Hab einen schönen Sonntag.

[2020-05-04 11:47] #2146 closed

[2020-05-04 12:38] kostyfisik commented on #1111
@yakovru Спасибо!

[2020-05-04 12:56] kostyfisik commented on #1060
@yakovru Спасибо!

[2020-05-04 15:33] dpelle commented on #2852
I'll fix it. The disambiguator should tag "par consequent" as adverb.
https://en.wiktionary.org/wiki/par_cons%C3%A9quent#French

[2020-05-04 16:18] dpelle commented on #2852
Fixed in:
[code]
Now all those cases are treated correctly:

**No errors**

Il est par conséquent perdu.
Elle est par conséquent perdue.
Ils sont par conséquent perdus.
Elles sont par conséquent perdues.

**Errors detected**

Il est par conséquent perdue.
Il est par conséquent perdus.
Il est par conséquent perdues.
Elle est par conséquent perdu.
Elle est par conséquent perdus.
Elle est par conséqu

[2020-05-04 16:18] #2852 closed

[2020-05-04 16:21] tiff commented on #2852
Great!

[2020-05-04 16:45] vkyfox commented on #2827
And done! Thank you for your feedback @Anatoly-IVANOV

[2020-05-04 19:27] vkyfox commented on #2853
Added correction to pull request.

[2020-05-04 20:44] Ordoviz commented on #1782
Ich denke, die Regel, die in diesem Fall angepasst werden muss, heißt INDIREKTE_FRAGE. Für diesen Fall haben wir auch schon https://github.com/languagetool-org/languagetool/issues/228#issuecomment-363363383; man könnte den Issue hier also schließen.

[2020-05-05 07:06] danielnaber opened #2858 "Fehlalarm: Sie/sie"
"HOEFLICHKEITSFORM_SIE_SIE[1] - Möglicher Tippfehler: Meinten Sie das Personalpronomen 'sie' anstelle der Höflichkeitsform 'Sie'?"

[2020-05-05 09:03] #2821 closed

[2020-05-05 09:38] tiff commented on #2858
Ist ein Fehler in Premium, kannst du das Issue verschieben?

[2020-05-05 09:42] #2858 closed

[2020-05-05 10:44] tiff commented on #2782
Here's another list:

smartphone
to
16e
56f
admin
bullying
checar
Live
Nelson
1er
42n
Antioquia
baby
BBVA
Góngora
hrs
info
Key (maybe Key West, city in Florida?)
postraumático
2da
2do
5to
AC
an
Antofagasta
AP
Bentham
BOE
branding
Caicedo
enter
Cifuentes
Clarke
day
DNS
Edward
Elvis
EUR
Hey
Joan
Master
May
Obregón
Ocasa
Oswaldo
point
pomodoro
Q
Star
stickers
Store
Telegram
Wow
user
you
$10,000
$15.0

[2020-05-05 10:59] tiff commented on #2738
<img width="518" alt="Bildschirmfoto 2020-05-05 um 12 59 11" src="https://user-images.githubusercontent.com/37363/81059177-429abb80-8ed0-11ea-9021-0e6bb16ff0c7.png">

[2020-05-05 12:23] Black56651 opened #2859 "[DE] Rechtschreibung! Wörter mit Token, aber nicht im Wörterbuch"
Moin liebes LanguageTool-Team

Hier trage ich nur Wörter ein, die die richtigen Tokens haben, aber nicht im Wörterbuch sind.

***
- [x] Partyclub/S
***

Grüße Black5661

[2020-05-05 15:08] tiff opened #2860 "[de] strange suggestion for "Provisions-Überschuss""
<img width="529" alt="Bildschirmfoto 2020-05-05 um 17 06 18" src="https://user-images.githubusercontent.com/37363/81082059-06c51d80-8ef3-11ea-88a0-0eaa0c2a76a0.png">

[2020-05-05 15:31] tiff opened #2861 "[de] false alarm KOMMA_DASS"
<img width="579" alt="Bildschirmfoto 2020-05-05 um 17 30 58" src="https://user-images.githubusercontent.com/37363/81084472-332e6900-8ef6-11ea-9db6-e6b6df7850e4.png">

[2020-05-05 15:43] tiff opened #2862 "[de] false alarm DE_AGREEMENT"
<img width="339" alt="Bildschirmfoto 2020-05-05 um 17 43 26" src="https://user-images.githubusercontent.com/37363/81085775-f19ebd80-8ef7-11ea-9f22-2593afd3b51d.png">

[2020-05-05 15:44] tiff opened #2863 "[de] false alarm DE_SUBJECT_VERB_AGREEMENT"
<img width="411" alt="Bildschirmfoto 2020-05-05 um 17 44 13" src="https://user-images.githubusercontent.com/37363/81085892-172bc700-8ef8-11ea-918f-6b9575a58472.png">

[2020-05-05 16:04] tiff opened #2864 "[de] false alarm KOMMA_INFINITIVGRUPPEN"
<img width="894" alt="Bildschirmfoto 2020-05-05 um 17 48 53" src="https://user-images.githubusercontent.com/37363/81086397-ba7cdc00-8ef8-11ea-8dab-daeb70296305.png">

[2020-05-05 17:47] jaumeortola commented on #2782
Most of the words added. Verbs will be added with a new version of the dictionary because every verb creates many forms.

I am unsure about some English words. Some (not all) can be added, and a style rule could suggest alternatives.

[2020-05-05 20:44] danielnaber opened #2867 "[es] user feedback"
Not sure, feel free to close if it's not useful.

[2020-05-05 20:58] jaumeortola commented on #2867
The spelling rule suggests *frunjo>frunzo, which is right.

[2020-05-05 20:58] #2867 closed

[2020-05-06 08:29] #1655 closed

[2020-05-06 09:48] tiff commented on #2782
@jaumeortola thanks. Regarding English words: I think it's ok to add words to the dictionary that are commonly used nowadays (even if they are not listed in the official dictionaries) as long as the English word is not too similar to a common Spanish word.

[2020-05-06 09:52] danielnaber opened #2869 "[en] not found: "there'S""
-> there's

Maybe similar for `'d` etc

[2020-05-06 10:55] kam193 commented on #2729
For now, those broken links should be left:

[code]

[2020-05-06 11:04] jaumeortola opened #2870 "[fr] Ideas for improving French tagging"
The current French POS tags don't allow doing things like giving good suggestions in noun groups, e.g. determiner+noun. For example, if someone writes "le voiture, un voiture, aucun voiture", we want to suggest "la voiture, une voiture, aucune voiture", and do it in all combinations (masc/fem, sing/pl). We cannot do it because of the lemmas and tags we import from Dicollecte. See: https://grammale

[2020-05-06 12:45] #2862 closed

[2020-05-06 13:52] #2568 closed

[2020-05-06 16:54] leodario7 opened #2872 "[en] Discretize/Discretise show as spelling mistake"
[en] Discretize/Discretise

`https://www.lexico.com/definition/discretize`
`https://en.wiktionary.org/wiki/discretize#English`

[2020-05-07 05:25] marcoagpinto opened #2874 "Adding words to LibreOffice personal dictionary"
@FredKruse

Hello!

The adding of words doesn't seem to work with words which have a hyphen.

For example:
e-learning

I added this word both to the Portuguese spelling.txt and added.txt and I installed the nightly add-on for LibreOffice and the word is still flagged as a typo.

[2020-05-07 05:32] marcoagpinto commented on #2874
Ahhh..

Somehow it just doesn't recognise the word after the hyphen:
"e-learning"

It flags "learning" as unidentified and ignores the "e-".

It is strange.

[2020-05-07 08:41] MikeUnwalla commented on #2872
@danielnaber,

There is a more general problem with some ~ise/~ize spellings. When I wrote the Oxford spelling rules for BrE (in category BRE_STYLE_OXFORD_SPELLING), if LT gave a spelling warning for ~ize, I added the word to spelling_en-GB.txt.

In most cases, the ~ize spelling is correct AmE. But, it is not necessarily correct for other variants of English.

"Unlike British English, which is spl

[2020-05-07 08:45] MikeUnwalla opened #2875 "[en] Not found: word is still flag as a typo"
From Marco: https://forum.languagetool.org/t/en-possible-rule-2020-05-07/5645. Adding here so that we don't lose the problem.

Not found, 'flag' should be 'flagged':

[2020-05-07 09:45] marcoagpinto opened #2876 "[en] Word not flagged"
@MikeUnwalla

Hello!

The following sentence doesn’t flag the error “don’t aren’t”:
“Now most videos there don’t aren’t recognised by the add-on.”

[2020-05-07 09:49] danielnaber commented on #2872
Mhh, I'm not sure either. How many ~ize words are there? Do we have more sources than just Wikipedia?

[2020-05-07 10:20] tiff opened #2877 "[fr] sentence splitting is wrong"
This is one sentence:

However, LT splits it into 4 sentences and therefore creates false positives.

[2020-05-07 10:20] tiff commented on #2877
@jaumeortola @danielnaber do you have an idea?

[2020-05-07 10:30] tiff commented on #2877
A similar formatted sentence in English is treated as one sentence:

How do we know which segmentation rules were applied?

[2020-05-07 10:34] tiff commented on #2877
Another sentence with incorrect sentence splitting:

Can we just adopt the segmentation rules from English to French?

[2020-05-07 10:42] MikeUnwalla commented on #2872
There are 738 ~iz words (base form) in spelling_en-GB.txt. Not all are AmE (example: sulphurize). For AmE, a visual check shows that approximately half cause spelling errors in LT.

Probably, there are other sources than Wikipedia. It was the first one that I found in a Google search.

[2020-05-07 11:16] danielnaber commented on #2872
So my understanding is the ~ize forms will be complained about by a rule, except for en-GB? So if we add them to spelling.txt, they would be accepted by the spell checker, but there would be no rule to complain about them, as the rule is specific to en-GB?

[2020-05-07 11:25] danielnaber commented on #2877
You could try adding a break point in net.loomchild.segment.srx.RuleMatcher.find().

[2020-05-07 12:08] MikeUnwalla commented on #2872
Not quite.

The ~iz rule for BrE finds ~is and says that Oxford recommends ~iz.

My question is about spelling warnings. How do we deal with ~iz words that are correct AmE and correct BrE, but are not necessarily correct in the other variants of English? Do I add the words to spelling_en-US.txt or to the general English spelling file (spelling.txt)?

I think I have just answered my question:
* If

[2020-05-07 12:36] danielnaber commented on #2872
Yes, sounds good.

[2020-05-07 12:52] #2849 closed

[2020-05-07 12:52] #2877 closed

[2020-05-07 14:42] tiff opened #2878 "[pt] feedback GENERAL_VERB_AGREEMENT_ERRORS"
From a user:

[2020-05-07 15:07] MikeUnwalla opened #2879 "[en] Wrong tagging VBZNNS_DT_NN"
VBZNNS_DT_NN tags 'times' as VBZ, but it should be NNS:

[2020-05-07 15:41] #2879 closed

[2020-05-07 19:58] marcoagpinto commented on #2878
@tiff

I don't have a clue yet on how to deal with such a large set of words

[2020-05-07 20:30] marcoagpinto commented on #2878
[code]
How do I code it properly?

Thanks!

[2020-05-07 20:33] marcoagpinto commented on #2878
@tiff
My doubt above is the token max "1" and the use of AND VERB= blah blah regarding the max

[2020-05-08 06:34] tiff opened #2882 "[en] false alarm TIS"
<img width="447" alt="Bildschirmfoto 2020-05-08 um 08 33 15" src="https://user-images.githubusercontent.com/37363/81377906-adcdd300-9106-11ea-8616-c78e158be763.png">

@MikeUnwalla I think we just need to add an antipattern for all apostrophes.

[2020-05-08 07:31] tiff opened #2883 "[de] wrong suggestion SUBJUNKTION_KOMMA"
<img width="583" alt="Bildschirmfoto 2020-05-08 um 09 31 27" src="https://user-images.githubusercontent.com/37363/81382446-b5917580-910e-11ea-9fb3-b0891b7b066e.png">

[2020-05-08 07:34] tiff commented on #2832
@danielnaber hier fehlt POS auf "schreib". Wahrscheinlich ist das das Problem?

[2020-05-08 07:39] danielnaber commented on #2832
Bin gerade dabei, alle diese Formen ohne -e (schreib, geh, schlaf, ...) einzufügen.

[2020-05-08 07:49] marcoagpinto commented on #2878
@yakovru
@jaumeortola
@danielnaber

Could one of you help me with the antipattern above?

Thanks!

[2020-05-08 07:57] tiff opened #2884 "[de] false alarm DE_AGREEMENT"
<img width="516" alt="Bildschirmfoto 2020-05-08 um 09 56 52" src="https://user-images.githubusercontent.com/37363/81384662-4d449300-9112-11ea-8cad-dcea228c8598.png">

[2020-05-08 08:11] tiff commented on #2417
Hier noch ein nicht abgedeckter Fall:
<img width="568" alt="Bildschirmfoto 2020-05-08 um 10 10 57" src="https://user-images.githubusercontent.com/37363/81385826-4ae33880-9114-11ea-93e9-9b0e0eb7b627.png">

[2020-05-08 08:20] MikeUnwalla commented on #2882
@tiff , the first AP in the rule should prevent this false alarm. I don't know why it does not work. Can you look to see if I made a stupid mistake?

[2020-05-08 08:21] MikeUnwalla commented on #2882
@tiff , don't look. I found my stupid mistake.

[2020-05-08 08:33] #2882 closed

[2020-05-08 08:43] kam193 commented on #1480
I think this issue should be closed, the `młodzierz` is now correctly detected as error.

[2020-05-08 08:45] #1480 closed

[2020-05-08 08:56] kam193 opened #2885 "[pl] Missing words"
In Polish dictionary some words are missing.

Following are international/name marked by LanguageTool as spelling mistake:
- [x] SSH
- [x] GPG

Open question: is there any easy way to report missing worlds? Is adding to the personal dictionary a solution to improve LT? I mean: are words from user's dictionary collected and used to improve base LT dictionary, or we should report every missing word

[2020-05-08 09:32] kam193 opened #2886 "Wrong URL detection - marked as mistake"
Following (example) link is incorrect detected and the LT find a mistake inside: `https://exam.ple/s!Xa?e=8jeF` Important thing: there is a `!` and then big letter `X` (small is detected correctly).

![obraz](https://user-images.githubusercontent.com/8472271/81392490-0d37dd00-911f-11ea-9017-1f60754f07bc.png)

This is a universal bug. Now let's assume that LT detect language as German:

![obraz](ht

[2020-05-08 09:44] tiff commented on #2885
@kam193 thanks for your feedback. "SSH" is already in our global spelling file (it was recently added):
https://github.com/languagetool-org/languagetool/blob/master/languagetool-core/src/main/resources/org/languagetool/resource/spelling_global.txt#L679

I will add GPG as well. Feel free to collect and report missing words here. I'd be happy to add them.

[2020-05-08 09:57] kam193 commented on #2885
Thanks for update and change the title :D

[2020-05-08 11:08] #2854 closed

[2020-05-08 11:19] MikeUnwalla opened #2887 "[en] Not found: someone looking / anyone experiencing"
Noted during my improvements for #2854. Errors not found (should be base form, not ~ing):

[2020-05-08 11:22] MikeUnwalla commented on #2854
I removed the rule for "subjunctive without 'that'" because it is not correct.

With the Rule Editor (https://community.languagetool.org/ruleEditor/expert?devMode=true), the rule gives 244 warnings (excluding obvious duplicates). All but 8 are false warnings. Of the 8 true errors, 5 are found by PRP_VBG. One is found by HE_VERB_AGR[1]

For the remaining 2 correct warnings (now not found), refer to

[2020-05-08 11:30] MikeUnwalla commented on #1825
Fixed by the corrections for #2854.

[2020-05-08 11:30] #1825 closed

[2020-05-08 11:31] tiff commented on #1825
Great!

[2020-05-08 11:57] #2832 closed

[2020-05-08 14:02] MikeUnwalla commented on #2872
According to Wikipedial, these variants (ignoring BrE and AmE) of English that LT supports accept the ~ize spelling:

- Australian: Macquarie Dictionary "is generally considered by universities and the legal profession to be the authoritative source on Australian English... It gives -ise spellings first, listing -ize spellings as acceptable variants" (https://en.wikipedia.org/wiki/Macquarie_Dictio

[2020-05-08 16:55] Dallun511 opened #2888 "[DE] LT-Fermeldungen Mai 2020"
Moin liebes LanguageTool-Team

![grafik](https://user-images.githubusercontent.com/40240507/81428992-6cb4dd80-915d-11ea-917f-c8c0ee29d3ce.png)
Diese Fehlermeldung kam beim normalen Tippen.
Es waren fünf Dokumente gleichzeitig offen.

Grüße Dallun511

[2020-05-09 05:25] baarsrj commented on #2831
Most falses seem to have been killed

[2020-05-09 05:25] #2831 closed

[2020-05-09 07:16] marcoagpinto commented on #2878
Ahhhh... it was easier than I thought!

Fixed: https://github.com/languagetool-org/languagetool/commit/18d5b7dbc8ebcbeb2862a08f4b5fcc818bceaacf

[2020-05-09 07:16] #2878 closed

[2020-05-09 10:59] MikeUnwalla opened #2890 "[en] Not found: incorrect apostrophe"
Refer to #2882.

This text uses an incorrect apostrophe, but LT does not find an error:

[2020-05-09 11:02] MikeUnwalla commented on #2882
@tiff , I changed the rule and made it ignore all apostrophe-like marks. Other rules should find an incorrect apostrophe. Refer to  #2890.

[2020-05-10 12:05] kam193 commented on #1892
Another example of false alert from this rule:

Sentence: `To działa jak chce.`
The rule detects it as complex sentence and propose inserting coma, but it's a comparison and shouldn't have coma (see: https://sjp.pwn.pl/poradnia/haslo/Przecinek-przed-jak;16291.html).

[2020-05-10 12:31] kam193 opened #2894 "[en] Megabyte MB/Mebibyte MiB and so unit symbols"
In LanguageTool:
* English (British) accepts both MB and MiB as unit symbol (and KB/KiB, GB/GiB etc.)
* English (USA) accepts only MB (KB/GB).

I think 'i' versions should be always accepted.

For difference between symbols see e.g.: https://en.wikipedia.org/wiki/Mebibyte

[2020-05-10 15:17] yakovru commented on #2802
https://bugs.documentfoundation.org/show_bug.cgi?id=132922

[2020-05-11 05:54] tiff opened #2896 "[es] user feedback"
cc @jaumeortola

[2020-05-11 06:13] tiff opened #2897 "[en] false alarms and missing suggestion THERE_RE_MANY"
* [ ] There are very few left by what I understand.

* [ ] There are only a few of them

* [ ] There are Christmas, Easter and Mother's Day.

* [ ] There are a few letter sounds we can use.

* [ ] There are a group of people.

<img width="519" alt="Bildschirmfoto 2020-05-11 um 08 09 17" src="https://user-images.githubusercontent.com/37363/81529276-d6e8a080-935e-11ea-85a2-1e613af2607f.png">

@MikeU

[2020-05-11 07:17] jaumeortola commented on #2896
Ok. That is a false alarm that has to be fixed. It is Catalan.

[2020-05-11 08:10] #2896 closed

[2020-05-11 09:05] tiff opened #2900 "[fr] "et ca" suggests "etc a""
I think correctly it would be "et ça" but the spell checker doesn't get that.
<img width="758" alt="Bildschirmfoto 2020-05-11 um 11 03 32" src="https://user-images.githubusercontent.com/37363/81544011-2aff7f00-9377-11ea-91bf-c2aa998b3ea6.png">

Can we improve this somehow (maybe with a simple rule?) @jaumeortola @dpelle @vkyfox

[2020-05-11 09:08] tiff commented on #2900
Probably a similar issue:

<img width="654" alt="Bildschirmfoto 2020-05-11 um 11 07 36" src="https://user-images.githubusercontent.com/37363/81544317-a82af400-9377-11ea-9bc7-c9d20267c6a6.png">

[2020-05-11 09:10] tiff opened #2901 "[de] false alarm KOMMA_ZWISCHEN_HAUPT_UND_NEBENSATZ"
<img width="602" alt="Bildschirmfoto 2020-05-11 um 11 10 27" src="https://user-images.githubusercontent.com/37363/81544643-14a5f300-9378-11ea-8837-076a920b66c2.png">

[2020-05-11 09:33] tiff opened #2902 "[fr] word in spelling.txt still marked as spelling error"
It seems that words that are in our French spelling.txt and that are used at the beginning of a sentence (and therefore capitalized) are still marked as spelling error.

Example: We have the word "déconfinement" in our spelling.txt, but if you use it at the beginning of a sentence it is still marked as a spelling error.

<img width="465" alt="Bildschirmfoto 2020-05-11 um 11 33 17" src="https://use

[2020-05-11 09:34] jaumeortola opened #2903 "[fr] start using multiwords.txt"
Instead of adding multi-words as exceptions in rules (i.e. `social media`, `National Geographic`), it would be much better to use the file multiwords.txt. This way the added multi-words can be re-used in all rules, and they also can be used as exceptions to the spelling rules.

Multiwords.txt can be used in different ways:
* You can remove or not the tags assigned to the tokens (if any). I prefer

[2020-05-11 09:36] tiff commented on #2903
Sounds good to me

[2020-05-11 10:24] MikeUnwalla commented on #2897
Also false negatives caused by this exception:
`<exception regexp="yes">variety|number|couple|pair|boatload|litany|lot</exception>`

[2020-05-11 10:25] #2897 closed

[2020-05-11 11:09] #2828 closed

[2020-05-11 13:10] tiff commented on #2876
If it's ok, I will have a look. Looks easy to do :)

[2020-05-11 13:13] Dallun511 opened #2907 "[DE] Fehlalarm "warten musstest""
Moin liebes LanguageTool-Team

Sie sagte: „Es tut mir leid, dass **du warten** musstest.“
Möglicherweise fehlende grammatische Übereinstimmung zwischen Subjekt (du) und Prädikat (warten) bezüglich Person oder Numerus (Einzahl, Mehrzahl - Beispiel: 'ich sind' statt 'ich bin').

"musstest" ist in der 2. Person Singular, aber das LanguageTool hat wohl den Nebensatz nicht erkannt, weswegen es glaubt,

[2020-05-11 13:28] #2907 closed

[2020-05-11 13:29] AgnesKleinhans commented on #2847
Der Satz ist schon als example in der Regel aufgeführt – auf languagetool.org bekomme ich hier auch keinen FA mehr! :-)

[2020-05-11 13:39] AgnesKleinhans commented on #2901
Eigentlich ist der Vorschlag hier schon richtig, es handelt sich ja um zwei unabhängige Sätze:
`Ich glaube. `und `Bei den Jahresabos ist das so.`

[2020-05-11 13:41] tiff commented on #2901
Stimmt, danke!

[2020-05-11 13:41] #2901 closed

[2020-05-11 13:44] Dallun511 commented on #1196
Kleiner Hinweis "Jahresabo/s" kennt das LanguageTool nicht.

[2020-05-11 14:21] #2847 closed

[2020-05-11 15:06] tiff commented on #2876
Implemented via https://github.com/languagetool-org/languagetool/commit/7ee379d9cc660654506f8318d617d92963d131ab#diff-2e4126723233b9f262d8cd599fdaee03R11512-R11535

[2020-05-11 15:06] #2876 closed

[2020-05-11 17:13] vkyfox commented on #2900
I can definitely add case-by-case rules for the correct suggestions; but I don't know how many such occurrences there are. We might be missing a lot of those by correcting them individually.

[2020-05-11 17:35] jaumeortola commented on #2900
I will take a look at the spelling rule for wrong split words.

[2020-05-11 18:03] vkyfox commented on #2903
Sounds good to me as well.

[2020-05-11 19:01] vkyfox commented on #2900
I added those two rules in the meanwhile.

[2020-05-12 06:51] Anatoly-IVANOV commented on #2827
@vkyfox — I took some time to test it around, sorry for not replying immediately!

So far, so good! Even the dialogue box is perfect (espace fine non sécable).
![Screen Shot 2020-05-12 at 08 49 12](https://user-images.githubusercontent.com/19234031/81647741-d0752a00-942d-11ea-8da8-3f83c009d9d8.png)

[2020-05-12 06:56] tiff opened #2910 "[en] "prewritten" suggests "p rewritten""
<img width="404" alt="Bildschirmfoto 2020-05-12 um 08 54 29" src="https://user-images.githubusercontent.com/37363/81648021-47122780-942e-11ea-8c0f-3075a92cc1a9.png">

I think we shouldn't generate suggestions that start with a single-character word (except for "I" and "a")

[2020-05-12 09:19] tiff opened #2911 "[en] false alarms IN_WHO"
<img width="662" alt="Bildschirmfoto 2020-05-12 um 10 30 24" src="https://user-images.githubusercontent.com/37363/81666479-60bd6a00-9442-11ea-9b1e-135d09265a3a.png">

[2020-05-12 09:37] #2202 closed

[2020-05-12 09:58] MikeUnwalla opened #2912 "[en] False alarm SENTENCE_FRAGMENT"
Noted during the improvements for #2800:

[2020-05-12 10:04] #2800 closed

[2020-05-12 10:12] #2912 closed

[2020-05-12 10:23] #2820 closed

[2020-05-12 10:35] MikeUnwalla opened #2913 "[en] Not found, missing hyphen"
This is from @SkyCharger001's comment in #2599.

Readability is improved if there is a hyphen to join 'gold' and 'medal':

[2020-05-12 10:36] MikeUnwalla commented on #2599
@SkyCharger001, thanks. I added an issue (#2913).

[2020-05-12 10:49] #2599 closed

[2020-05-12 11:06] #2626 closed

[2020-05-12 12:14] #2649 closed

[2020-05-12 12:22] tiff opened #2915 "[en] false alarm POSSESSIVE_APOSTROPHE"
<img width="1064" alt="Bildschirmfoto 2020-05-12 um 14 21 39" src="https://user-images.githubusercontent.com/37363/81690669-eb5e9300-945b-11ea-8ec6-ffae7c96f6fc.png">

[2020-05-12 12:26] #2685 closed

[2020-05-12 13:33] tiff commented on #2869
Done as part of https://github.com/languagetool-org/languagetool/commit/032dd175748b7386421538ae347f8f057684f25b

[2020-05-12 13:33] #2869 closed

[2020-05-12 13:40] jaumeortola commented on #2900
This kind of problems has been fixed for languages not using the Hunspell spelling rule. But French uses Hunspell.

I would like to understand what exactly is achieved with Hunspell that cannot be achieved by other means. I guess it is related to giving good suggestions for words with hyphens and apostrophes. Is this the reason? For example: `*Etais-tu > Étais-tu, *la-bas > là-bas`. Or is there an

[2020-05-12 14:03] danielnaber commented on #2900
I don't remember about French, but we use Hunspell for German because it supports compound words. Morfologik doesn't. We'll maybe have to dig into the git history about why hunspell is also used for French.

[2020-05-12 14:37] jaumeortola opened #2918 "[en] false alarm: what was told to me"
Probably a false alarm.
![imatge](https://user-images.githubusercontent.com/4289501/81705011-ce7f8b00-946e-11ea-8fab-4ff75a075f07.png)

[2020-05-12 15:11] dpelle commented on #2900
I'm guessing that to solve this, typos related to diacritics (journee→ journée,  ca → ça) should be considered minor and thus thus when making suggestions, a difference with diacritics only should be at the top of suggestion. I assume Hunspell does that.  I've actually never been so happy with using Morfologik for spelling as opposed to Hunspell. Hunspell does a better job in general, but unfortun

[2020-05-12 16:19] tiff opened #2919 "[en] false alarm ALLOW_TO_DO"
<img width="569" alt="Bildschirmfoto 2020-05-12 um 18 19 16" src="https://user-images.githubusercontent.com/37363/81719242-1b6a5e00-947d-11ea-8373-fc50ac7674af.png">

[2020-05-12 16:40] jaumeortola commented on #2900
Morfologik also does that, and even more complex replacements (from one or more characters to one or more characters).

The initial problem here (et ca/etc a) is unrelated to the diacritics issue. We try to give suggestions for wrong split words (than kyou>thank you), and there are unresolved problems in languages using the Hunspell spelling rule.

@dpelle Is there any kind of compound nouns suppo

[2020-05-12 17:33] tiff opened #2920 "[pl] long sentence hides grammar issues"
Feedback from a Polish user:

Translates to:

I think we just have to decrease the rule priority to be less than the one from the spell checker. The rule that was meant is "ZDANIA_ZLOZONE"

[2020-05-12 19:05] tiff opened #2921 "[en] wrong tagging JJ_NN_JJ"
"enemy" is only tagged as "JJ".

[2020-05-13 06:06] tiff opened #2922 "[en] false alarm THERE_S_MANY[4]"
<img width="447" alt="Bildschirmfoto 2020-05-13 um 08 04 20" src="https://user-images.githubusercontent.com/37363/81777107-72f5e180-94f0-11ea-877c-a449d679d6de.png">

[2020-05-13 07:08] tiff opened #2923 "[en] incorrect tagging "E_NP_VBP""
"strike" is only tagged as VBP

[2020-05-13 07:23] tiff commented on #2923
Same:

"relay" is only VBP

[2020-05-13 09:10] MikeUnwalla opened #2924 "[en] Not found: missing apostrophe"
In these examples, **workers strike** should be **workers' strike** (a strike of/by the angry workers).

[2020-05-13 09:36] #2918 closed

[2020-05-13 09:40] tiff commented on #2923
@MikeUnwalla here's another one:

"check" is only VBP

[2020-05-13 09:47] tiff commented on #2923
And:

[2020-05-13 09:48] MikeUnwalla commented on #2919
Partly caused by incorrect tagging in PRP_NN_VBP.

[2020-05-13 10:31] jaumeortola opened #2925 "[es] review of possible diacritics confusions"
In the current dictionary, we have 134,626 possible confusions of words with or without accent (ex. `esta/está`).

1. 59,539 are handled by the rule `VOSEO` (verb + pronoun combinations, possible in some countries but not in others).
2. 43,320 confusions, verbs 1st conjugation: `cantare/cantaré, cantareis/cantaréis` (very unusual, always marked); `cantara/cantará, cantaran/cantarán, cantaras/canta

[2020-05-13 10:39] tiff commented on #2923
And:

"long" is only VBP

[2020-05-13 10:39] tiff commented on #2923
"fast" is VBP

[2020-05-13 11:13] #2919 closed

[2020-05-13 11:39] tiff opened #2926 "[en] wrong tagging NNJJ_NN_JJ"
"current" is only JJ

[2020-05-13 11:42] tiff commented on #2926
"motor" is only tagged as "JJ"

[2020-05-13 11:44] tiff commented on #2926
"pass" is only "JJ"

[2020-05-13 11:48] tiff commented on #2926
"party" is only "JJ"

[2020-05-13 11:49] tiff commented on #2926
"service" is only "JJ"

[2020-05-13 11:50] tiff commented on #2921
"service" is only JJ

[2020-05-13 11:51] tiff commented on #2926
"dwarf" is only "JJ"

[2020-05-13 11:52] tiff commented on #2926
"team" is only "JJ"

[2020-05-13 11:54] tiff opened #2927 "[en] wrong tagging "DT_VBN_JJ""
"reset" is only "JJ"

[2020-05-13 11:55] tiff commented on #2926
"clutch" is only tagged as "JJ"

[2020-05-13 11:56] tiff commented on #2926
"blonde" is only tagged as "JJ"

[2020-05-13 11:57] tiff commented on #2926
"metal" is only JJ

[2020-05-13 11:59] tiff commented on #2927
"podcast" is only tagged "JJ"

[2020-05-13 11:59] tiff commented on #2926
"academic" is only "JJ"

[2020-05-13 12:00] tiff commented on #2926
"business" is only JJ

[2020-05-13 12:01] tiff commented on #2927
"bet" is only "JJ"

[2020-05-13 12:15] jaumeortola commented on #2925
To do: check very common vs. very uncommon forms with a simple frequency dictionary.

[2020-05-13 12:34] #2827 closed

[2020-05-13 15:27] MikeUnwalla commented on #2872
Process:
- Get all the ~iz base form from spelling_en-GB.txt.
- Paste into LT. For each AmE spelling error, if the word is not in www.merriam-webster.com, remove it. (Except for discretize, which is a technical term.)
- Add inflections for verbs. (I did not add inflections for nouns. Some nouns are countable, others are non-count, and the usage is different in different locales.)
- Add the words t

[2020-05-13 15:27] #2872 closed

[2020-05-13 15:56] danielnaber commented on #2902
Fixed the easy way, i.e. assuming that words at position 0 are at sentence start and can thus be uppercased. Not always true (e.g. then there's a quote), but good enough for now.

[2020-05-13 16:14] FredKruse commented on #2874
I tested the dictionary. It stores the words with hyphen. For German texts it seems LT runs without any problem. I typed in e-learning and switch to Portuguese. There is shown an error, but it seems to be a LT problem: Erro tipográfico. I don't speak Portuguese, but it seems to be no spelling error.

[2020-05-14 07:25] tiff commented on #2926
"woman" is only "JJ"

[2020-05-14 08:11] tiff opened #2929 "[en] false alarms NEEDNT_TO_DO_AND_DONT_NEED_DO"

[2020-05-14 10:06] danielnaber commented on #2417
Fehlalarm ist gefixt.

[2020-05-14 11:45] #2927 closed

[2020-05-14 11:49] MikeUnwalla commented on #2923
@tiff,

I can't see a problem.

[2020-05-14 11:59] tiff commented on #2923
Oh, ok, then feel free to ignore this sentence.

[2020-05-14 12:20] #2062 closed

[2020-05-14 12:31] #2085 closed

[2020-05-14 12:38] #2923 closed

[2020-05-14 14:27] #2926 closed

[2020-05-14 14:30] MikeUnwalla opened #2931 "[en] Wrong tagging JJ_NN_JJ"
Caused by the corrections in #2926. 'Party' is tagged as JJ:

[2020-05-14 14:33] tiff commented on #2931
Also, see https://github.com/languagetool-org/languagetool/issues/2921

[2020-05-14 14:59] tiff opened #2932 "[en] false alarm CD_NN"
<img width="505" alt="Bildschirmfoto 2020-05-14 um 16 55 23" src="https://user-images.githubusercontent.com/37363/81950055-c573f280-9603-11ea-9b60-30c00d081337.png">

[2020-05-14 15:35] tiff opened #2933 "[de] dots suggested as part of spelling mistake"
<img width="523" alt="Bildschirmfoto 2020-05-14 um 17 34 32" src="https://user-images.githubusercontent.com/37363/81954536-441f5e80-9609-11ea-9cd7-06b54fe495f3.png">

[2020-05-14 16:28] dmarman opened #2934 "[es] "Normalito" (Normal + diminutive) is detected as wrong."
![image](https://user-images.githubusercontent.com/19510612/81959795-476a1880-9610-11ea-8a8c-c550d5c444cf.png)

"Normalito" is a correct word for Spanish.
"Norma lito" doesn't make sense as a replacement nor is correct in Spanish.

Normal = Normal + -ito(diminutive)

[2020-05-14 16:59] jaumeortola commented on #2934
Thanks. Added to the dictionary. I will remove also the verb 'litar', which is very unusual.

[2020-05-14 16:59] #2934 closed

[2020-05-14 18:25] jaumeortola commented on #2903
Currently, multiwords.txt is used for tagging words with apostrophe. We need to do this differently. My proposal is to tokenize the words this way: `<token>l'</token><token>oeil</token>` in the tokenizer, and tag them appropriately. I can take care of it (it is already done this way in other languages). I will take care also of making the adaptations in the rules. Is that okay, @dpelle?

[2020-05-15 06:19] baarsrj opened #2935 "spell checking issue multi word entries in spelling.txt"
the entry 'nota bene' in spelling.txt should remove spelling reports for 'bene' at the start of a sentence as well as inside it; first one using firstupper, second 'as is': Nota bene / nota bene.
First one is not accepted.

[2020-05-15 07:42] danielnaber commented on #1760
For the record, `UnsatisfiedLinkError` happens when you're using a 32-bit Java. Using a 64 bit OS isn't enough.

[2020-05-15 09:16] #2931 closed

[2020-05-15 09:35] #466 closed

[2020-05-15 09:57] MikeUnwalla commented on #2921
Related tagging error in NNS_ARE_WERE. Must correct this to make an AP in JJ_NN_JJ.

[2020-05-15 10:10] #2921 closed

[2020-05-15 10:11] Mannshoch commented on #1760
Please made a better error message.

[2020-05-15 10:13] baarsrj opened #2936 "Wrong word in context rule sentence length"
It appears the rule is not very trustworthy when sentences are short. To be expected, since there is so little context then.
Maybe only activate when there is a minimum of (5? 7?) words?

[2020-05-15 10:18] Dallun511 commented on #2838
@danielnaber mir ist aufgefallen, dass sehr viele Imperative nachgetragen wurden.
Ich werde diese später abhaken.

[2020-05-15 10:24] MikeUnwalla commented on #2755
Also:

[2020-05-15 10:30] MikeUnwalla commented on #2755
Related wrong tagging in DT_JJNN_IN_NN. 'Extreme' is tagged as NN, but it should be JJ:

[2020-05-15 10:49] yakovru commented on #1104
Fixed. Closed.

[2020-05-15 10:49] #1104 closed

[2020-05-15 11:14] #2755 closed

[2020-05-15 11:20] danielnaber commented on #1760
Closing, as `XGBoostSuggestionsOrderer` has been removed.

[2020-05-15 11:20] #1760 closed

[2020-05-15 12:35] kostyfisik commented on #1104
@yakovru Thank you!

[2020-05-15 13:01] kostyfisik commented on #466
@yakovru Спасибо!

[2020-05-15 13:41] tiff commented on #1516
Hier ein Beispiel, wo die Klammer von der CONFUSION_RULE anscheinend ignoriert wird:
![May-15-2020 15-41-12](https://user-images.githubusercontent.com/37363/82056658-89539700-96c2-11ea-8c1f-c64e5ca6e2d3.gif)

[2020-05-15 13:57] jaumeortola commented on #195
All the errors in the these sentences are caught now. The rules for subject-verb agreement will work only in very restricted contexts (short and simple sentences). Otherwise, they would produce false alarms.

[2020-05-15 13:58] #195 closed

[2020-05-16 07:13] danielnaber opened #2938 "[pt] suggestion same as underlined text (irregular participles)"
`IRREGULAR_PAST_PARTICIPLES` matches at "foi enchida", but the suggestion is again "foi enchida".

[2020-05-16 10:15] marcoagpinto commented on #2938
@danielnaber

I will take a look at it tomorrow or so.

[2020-05-16 10:36] jaumeortola commented on #2938
It seems difficult or impossible to convert between regular and irregular participle forms with simple regular expressions. Unfortunately they have the same POS tag.
I would create a Java filter that makes the conversion in both senses and that can be used in different rules. The filter would do this:
1. Check if the participle is regular and convert it to irregular, or
2. Check if the participle

[2020-05-16 12:29] marcoagpinto commented on #2938
@jaumeortola

I don't know Java :(

[2020-05-16 13:12] jaumeortola commented on #2938
@marcoagpinto I will write the Java filter and you will adjust the XML rules.

[2020-05-16 13:15] marcoagpinto commented on #2938
Thank you!

[2020-05-16 13:26] tiff opened #2939 "[en] regression 'SAVE_SAFE'"
From: https://internal1.languagetool.org/regression-tests/20200515/result_en_20200515.html

Not sure if that's a valid English sentence though.

[2020-05-16 13:40] MikeUnwalla commented on #2939
The sentence is good English.

'Save' is a preposition and a conjunction: https://www.lexico.com/definition/save.

POS is missing from LT.

I will look at it next week, but feel free to do it now.

[2020-05-16 15:13] jaumeortola commented on #2938
It seems that some irregular participle forms are tagged so in the dictionary, but not all. We need a complete list of regular/irregular participles. Can we take this list of "verbos abundantes"? http://radames.manosso.nom.br/linguagem/gramatica/morfologia/verbos-abundantes/

[2020-05-16 16:16] marcoagpinto commented on #2938
@jaumeortola

Sure, I will do it tomorrow morning :)

[2020-05-17 10:01] marcoagpinto opened #2941 "LanguageTool add-on for LibreOffice hangs (nightly)"
@FredKruse

Hello!

I am having several issues with LT.

For example, I have been adding words to spelling.txt plus added.txt and the words in the document I have been using for the task underlines them as red but if we right-click it shows no options (the add-on supposedly added them to LibreOffice but it isn't working 100% okay).

Now for the ticket issue:
For sometime that LT add-on hangs on ce

[2020-05-17 10:30] yakovru commented on #2941
See also: https://github.com/languagetool-org/languagetool/issues/2802

[2020-05-17 13:51] yakovru commented on #2941
I get  error on Win10(x64) With LO 6.3(x64), when  I call LT configuration dialog.
![Error LT5 0 on LO6 3](https://user-images.githubusercontent.com/5228814/82148971-344c8800-985e-11ea-843e-a0145b3b2135.jpg)

[2020-05-17 14:11] yakovru commented on #2941
On Linux with LO6.3 LT configuration dialog working correctly.

[2020-05-17 19:23] arysin opened #2943 "Inefficient code in rule timing"
https://github.com/languagetool-org/languagetool/blob/2b71bc2e57d7e0459438d4907518fa148bfc901b/languagetool-core/src/main/java/org/languagetool/JLanguageTool.java#L966

Hey @danielnaber @fabrichter

I was profiling the code recently and found that this line has performance problem - it calls analyzedSentence.getText().length() for every rule even if we don't do any logging. Note that analyzedSente

[2020-05-18 05:20] tiff commented on #2939
@MikeUnwalla thank you. I think we should wait with making "save" a conjunction or preposition until Daniel has increased the amount of test sentences we have in the nightly regression (he's currently working on that).

[2020-05-18 05:21] tiff opened #2944 "[en] incorrect tagging "NNS_ARE_WERE""
"finds" is only NNS

[2020-05-18 05:36] tiff opened #2945 "[zh] user feedback"

[2020-05-18 08:12] #2944 closed

[2020-05-18 11:25] FredKruse commented on #2888
@Dallun511 Der Fehler sollte behoben sein. Bitte mit dem morgigen release testen.

[2020-05-18 11:46] FredKruse commented on #2941
@yakovru The problem you mentioned should be solved by the last update. Please test it tomorrow. I work with Linux, so I can't test the Windows issue.

[2020-05-18 11:53] FredKruse commented on #2941
@marcoagpinto I opened your file and start check text (F7) or Button at the new LanguageTool toolbar. It works fine. It shows a grammar message that can be handled. Could you please describe what exactly you did, to get the issue?

[2020-05-18 12:09] marcoagpinto commented on #2941
@FredKruse

I am on Windows 10 x64 and LO 6.4.3.

I simply opened the document and clicked on the first button of the new LT toolbar (check grammar).

It opened an empty window and did nothing  (hang).

[2020-05-18 12:13] marcoagpinto commented on #2941
@FredKruse
See attached screenshot:
![LO_blank_window_20200518](https://user-images.githubusercontent.com/5192600/82211756-49cabc00-9909-11ea-87ea-95d633f143c1.png)

[2020-05-18 12:55] danielnaber commented on #2884
Gefixt, ging erstmal nur über ziemlich spezifisches Antipattern, sonst wären wieder andere Fälle nicht gefunden worden. Ich setze mal "done the easy ones" als Label, dass es über chunks eine besser Lösung gäbe.

[2020-05-18 12:55] #2884 closed

[2020-05-18 12:58] tiff opened #2946 "[de] false alarm DE_AGREEMENT2"
<img width="494" alt="Bildschirmfoto 2020-05-18 um 14 57 40" src="https://user-images.githubusercontent.com/37363/82215586-f01dbe00-9917-11ea-875e-4ea943a4c79f.png">

@f-knorr maybe something for you? :)

[2020-05-18 18:28] #1077 closed

[2020-05-19 04:59] yakovru commented on #2941
@FredKruse

Hello!
Config dialog work correctly on LO Win10 now.

[2020-05-19 05:26] tiff opened #2947 "[en] false alarms EN_UPPER_CASE_NGRAM"
Applying the suggestions would cause an inconsistent capitalization:

![Bildschirmfoto 2020-05-19 um 07 20 02](https://user-images.githubusercontent.com/37363/82287894-8b0eaa80-99a1-11ea-9e3e-099e0b412de5.png)

![Bildschirmfoto 2020-05-19 um 07 20 32](https://user-images.githubusercontent.com/37363/82287944-a7aae280-99a1-11ea-8632-8552be042c4a.png)

![Bildschirmfoto 2020-05-19 um 07 25 11](https:/

[2020-05-19 05:30] tiff commented on #2947
Here's another example where the suggestion only wants to change one word but leaves the other words as they are:
![Bildschirmfoto 2020-05-19 um 07 29 27](https://user-images.githubusercontent.com/37363/82288337-8d253900-99a2-11ea-9f8c-58f6838a2489.png)

[2020-05-19 05:58] FredKruse commented on #2941
@marcoagpinto Please test with the new nightly build. I'm not sure if the changes solve the problem, but we should test it.

[2020-05-19 06:27] marcoagpinto commented on #2941
@FredKruse

It still happens. :-(

Also, There are proper names I have added to the Portuguese spelling.txt plus added.txt and they still appear as typos :-(

"As equações de estatística (Fisher, Bayes, Markow, Dempster e Schaffer)."

[2020-05-19 07:14] kostyfisik commented on #1077
@yakovru Thank you!

[2020-05-19 08:13] tiff opened #2948 "[en] false alarms HE_VERB_AGR"
![Bildschirmfoto 2020-05-19 um 10 12 38](https://user-images.githubusercontent.com/37363/82302011-5575bb80-99b9-11ea-87e0-65ee1ca97164.png)

[2020-05-19 08:13] tiff commented on #2948
Also:

[2020-05-19 08:34] danielnaber commented on #2943
Thanks for noticing. The code was outdated anyway, I have removed it (https://github.com/languagetool-org/languagetool/commit/553ee42c48cde2ce6ee6356e307a50a6391f8e35).

[2020-05-19 08:34] #2943 closed

[2020-05-19 09:06] #2759 closed

[2020-05-19 09:20] #2758 closed

[2020-05-19 09:58] #2674 closed

[2020-05-19 10:10] MikeUnwalla commented on #2676
Also incorrect suggestion:

[2020-05-19 10:22] #2676 closed

[2020-05-19 10:24] MikeUnwalla commented on #2676
I changed the incorrect example so that users won't give us grief about whether "a large number of problems" is followed by _have_ or _has_.

The rule probably could be generalized to `a + JJ + number + of + NN`.

[2020-05-19 10:43] #2915 closed

[2020-05-19 10:53] #2932 closed

[2020-05-19 11:10] #2922 closed

[2020-05-19 11:15] MikeUnwalla opened #2949 "[en] Not found: there is a books club"
Not found, caused by my improvement for #2922:

- [ ] I think there is a **books club** in the town.
- [ ] ... and here is a **logs test** for reference. [Possibly correct, possibly incorrect]

[2020-05-19 11:16] MikeUnwalla commented on #2922
POSSESSIVE_APOSTROPHE finds:

I did not add an antipattern to POSSESSIVE_APOSTROPHE, because possibly 'logs folder' should be 'log folder'.

[2020-05-19 14:01] tiff commented on #2947
Another case, where the suggestion creates an inconsistent casing: "clean & Clear"
<img width="1086" alt="Bildschirmfoto 2020-05-19 um 16 00 32" src="https://user-images.githubusercontent.com/37363/82335708-01cf9600-99ea-11ea-99ce-a186796eea30.png">

[2020-05-19 14:30] danielnaber commented on #2947
Can you post the original text? I can't reproduce this case.

[2020-05-19 14:50] hmslima opened #2950 "[pt-br] The adverb "daqui" not always requires preposition"
Test this passage from the Bible:

LanguageTool suggests replacing "daqui" for "daqui a", but as far as I know, this use of the word "daqui" is correct, it's like the expression "from here" from English.

[2020-05-19 15:01] tiff commented on #2947
A few more examples, where IMHO we should not suggest the lowercase word, because it's either a headline or a very short informal phrase/exlamation.

[2020-05-19 18:43] marcoagpinto commented on #2950
Fixed: https://github.com/languagetool-org/languagetool/commit/140b37eb51222d9281a61536be46eacf970dd87d

[2020-05-19 18:43] #2950 closed

[2020-05-19 18:53] marcoagpinto commented on #2950
Also improved it also to accept ",": https://github.com/languagetool-org/languagetool/commit/10eb0993b319ada0f3d349b2596bac6539b97973

[2020-05-20 05:28] tiff opened #2951 "[pt] user feedback"