[2022-02-22 19:25] FredKruse commented on #6352
@marcoagpinto The issue should be solved. Please test it with the snapshot tomorrow.

[2022-02-23 11:21] iMonZ opened #6357 "Pro features"
Hey,
I would like to buy 10 Licenses for our team.

- [ ] My Question is if the On-Premise Server also supports for the Premium features?

- [ ] And if it's possible that you could make suggestions for missing words in the LanguageTool Dictionary? (Currently it's only local possible)

[2022-02-23 12:00] donnerpeter opened #6360 "[ru] false positive suggestion to split вовсе необязательно"
Сейчас выполнять это задание и вовсе необязательно.

See this example discussed here: http://gramatik.ru/neobyazatelno-ili-ne-obyazatelno-slitno-ili-razdelno

[2022-02-23 12:42] danielnaber commented on #6357
Hi, could you contact our sales/support about this? You can use the email at https://languagetool.org/de/legal

[2022-02-23 12:42] #6357 closed

[2022-02-23 20:43] Cxarli opened #6362 "[nl] [picky] double meaning of "mogelijk""
"mogelijk" can mean both "possibly" and "possible" depending on context.

In the following sentences, where it's used as adverb, the warning about vagueness applies:

- Mogelijk gaat het morgen regenen. ­— It will possibly rain tomorrow.
- Ik kan dat mogelijk regelen. — I could possibly take care of that.

Alternatives use a percentage or clear it up differently:

- Er is morgen een 70% kans op re

[2022-02-24 06:11] marcoagpinto commented on #6352
Mum says it is fixed!

Thanks!

[2022-02-24 06:11] #6352 closed

[2022-02-24 11:13] milekpl commented on #3620
OK, it seems that the problem is there. Some names are missing because they were not included in the original spelling file (they are POS tagged, however). I'll update the spelling dictionary using the newest files from sjp.pl project.

[2022-02-24 13:51] tiff commented on #6314
We are rolling out a fix for this. It will take 1-2 weeks until it reached every user.

[2022-02-24 13:51] #6314 closed

[2022-02-25 05:34] marcoagpinto opened #6371 "[LibreOffice] LanguageTool nightly crashes – 2022-02-24"
Hello @FredKruse

I installed the latest nightly.

I opened my thesis .docx and on the latest LibreOffice, I selected to change all text in it to Portuguese.

Then I was going to convert the .docx (save) as .odt and when the file selector opened, LanguageTool crashed:
![lt_crash_20220224](https://user-images.githubusercontent.com/5192600/155659959-45e0566e-fbc7-4fb0-9516-1af107c6fd16.png)

[2022-02-25 08:51] yeganathan18 opened #6372 "feat: option for deleting the temporary texts in the editor"
## Describe the feature request

There is no delete/remove option for temporary texts in the editor and even if we clear those it still shows as empty card in the list as temporary text.

My suggestions would be,
- we can have an icon for removing the temporary text manually
- it should remove itself after a certain time or once the editor component has been cleared

## Screenshots

<img width="17

[2022-02-25 09:57] FredKruse commented on #6371
@marcoagpinto Thank you for testing. In version 5.7 of office extension, some core functionality has changed a lot. So please keep on testing as much as you can before the official release.
The reported bug should be solved. Please test it with the next nightly.

[2022-02-25 17:50] tiff opened #6377 "[fr] "DUPLICATE_DETERMINER" causes an exception"
This sentence is causing an exception:

[code]

@jaumeortola I think it's something you need to look at

[2022-02-25 18:29] #6377 closed

[2022-02-27 09:11] NicTanghe opened #6379 "Discord addon ?"
Hello,
Didn't know where to ask on the website, so I'll add here.

Is there a possibility anyone is willing to make an add-on for the standalone discord client ?
I really, really miss the button on the bottom right that just go's over all the errors.

[2022-02-27 21:18] #1483 closed

[2022-02-27 22:25] NicoWeio opened #6381 "[de] „(des) Grüns“ not accepted by GERMAN_SPELLER_RULE"
Aus mir unverständlichen Gründen wird „Grüns“ zwar korrekt als `SUB:GEN:SIN:NEU` erkannt (laut der Textanalyse [hier](https://community.languagetool.org/analysis/analyzeText)), _GERMAN_SPELLER_RULE_ liefert aber _„Möglicher Tippfehler gefunden.“_

#### Beispiel

[2022-02-27 22:27] danielnaber commented on #6381
Die Textanalyse ist unabhängig von der Rechtschreibprüfung. Für die Rechtschreibung kann man fehlende Wörter in die Datei `spelling.txt` eintragen, damit sie erkannt werden.

[2022-02-27 22:30] NicoWeio commented on #6381
Verstehe, dann mache ich das gerne. :)

[2022-02-28 07:53] #6381 closed

[2022-02-28 09:38] milekpl opened #6383 "Nightly diffs are dead"
For the last week or so, the nightly diff testing is dead:

Copying snapshot /home/languagetool/snapshots/open-source/LanguageTool-wikipedia-20220226-snapshot.zip failed (tried with both today's and yesterdays date)

Could you restore this? It would be useful for testing a fairly complex and ambitious rule I want to contribute.

[2022-02-28 09:45] marcoagpinto commented on #6383
Nightly diffs have been blank for weeks.

I have been seeing the results of my rules with:
https://internal1.languagetool.org/regression-tests/via-http/2022-02-28/pt-PT/index.html

[2022-02-28 10:34] marcoagpinto commented on #6245
Hello @yakovru @jaumeortola @udomai

Could one of you directly insert a version of my antipattern in the grammar.xml so that it ships with the official release at the end of March?

It fixes tons of false positives.

I have given up trying to do it myself, since all my attempts produce errors in TESTRULES PT.

Thanks!

[code]

[2022-02-28 10:46] udomai commented on #6383
Hi @marcoagpinto, the Open Source nightly diff results for Portuguese are here:

https://internal1.languagetool.org/regression-tests/via-http/2022-02-28/pt-PT/

@milekpl, what exactly have you been using for Polish? The above link is to a snapshot, how does that work?

[2022-02-28 11:21] milekpl commented on #6383
I simply subscribed to the commit list at sourceforge.net and it seemed to change for RU, for example

[2022-02-28 11:24] milekpl commented on #6383
https://lists.sourceforge.net/lists/listinfo/languagetool-commits

[2022-02-28 11:25] milekpl commented on #6383
See the change here:

https://sourceforge.net/p/languagetool/mailman/languagetool-commits/?viewmonth=202202

[2022-02-28 11:32] NicoWeio commented on #6080
Der Fehlalarm bei

ist mit 4d67d3b behoben, die anderen vergleichbaren Fehlalarme bleiben bestehen.
Ich vermag hierzu (im Moment) nur einige Beispiele beizutragen:

[2022-02-28 12:58] linuxscout commented on #6210
@sohaibafifi
@KathKal
@AhmedElTabarani
ٍSalam,
I try to reproduce the same cases,
I noticed that "بسببهم\spaceانا" gives "بسببه\spaceمانا"
but if I put two spaces between the two words if gives suggestion for "انا" only,
All those cases are spelling errors, I will test the spell checker how it works with arabic words.
Thanks

[2022-02-28 13:08] linuxscout commented on #4002
Thanks for all your feedback,
I think that are some error on handling spaces between words where the second is mistaken.

[2022-02-28 13:09] linuxscout commented on #3028
to be closed

[2022-02-28 13:10] linuxscout commented on #2727
to be closed

[2022-02-28 13:11] linuxscout commented on #693
to be closed

[2022-02-28 14:00] tiff opened #6387 "[pl] user feedback "ukraincom""
A user says:

@milekpl maybe you can have a quick look.

[2022-02-28 15:10] jaumeortola commented on #6245
@marcoagpinto I don't understand what you are trying to do. Please tell which rule you are improving, and add a couple of example sentences.

[2022-02-28 15:19] milekpl commented on #6387
This is a rare word 'polak' that means a class in Polish language.

https://sjp.pl/polakom

It makes sense to remove it from the speller, as this is almost never used
(and never in plural form). I'll update the appropriate files.

pon., 28.02.2022, 15:01 użytkownik Christopher Blum <
***@***.***> napisał:

[2022-02-28 15:33] jaumeortola opened #6388 "[pt] fix FPs in SPACE_BEFORE_PUNCTUATION"
(New issue from https://github.com/languagetool-org/languagetool/issues/6245#issuecomment-1054368351)

Instead of using regexp, we can use a pattern with regular tokens. There are similar rules in other languages (es, ca, fr...), including proper exceptions.

[2022-02-28 18:00] donnerpeter opened #6389 "[ru] False positive: Обычно слитно с "не""
Его уже не видно и не слышно.

[2022-02-28 18:16] yakovru commented on #6383
Hi @milekpl,  I asked Daniel to restore this test for RU.
And I also use the new tests on this page:
https://internal1.languagetool.org/regression-tests/via-http/

[2022-02-28 19:01] #6389 closed

[2022-02-28 19:54] #6387 closed

[2022-03-01 02:17] Nuromi-pm opened #6390 "[LibreOffice] Quickly opening and closing documents causes extra menubars to be added until LibreOffice crashes when LanguageTool extension is installed"
When the LanguageTool extension is installed and enabled, quickly opening and closing documents from the main LibreOffice program causes extra menubars to be added to the UI until LibreOffice crashes.

This only happen when the libreoffice-gtk3 package is installed.

https://user-images.githubusercontent.com/86095293/156090093-8bf54a36-fa6c-408d-8bfe-0a6cc9cbcf3a.mp4

LanguageTool 5.6
LibreOffice

[2022-03-01 09:50] tiff commented on #6387
Thank you @milekpl !

[2022-03-01 14:19] Wolf-SO opened #6394 "[DE] keinlichkeit vs. Keinlichkeit bzw. keinlich vs. Keinlich -- Wichtung von Groß-/Kleinschreibung in Korrekturvorschlägen einzelner Wörter"
Gemeint sind Kleinlichkeit bzw. kleinlich. Mir geht es um die Korrekturvorschläge.
Ich benutze LanguageTool Basic 4.4.8 (25. Januar 2022) unter Firefox 97.0.1 (64-Bit), Windows 8.1

Was mir auffällt ist, dass der Unterschied, den die Groß-/Kleinschreibung eines einzelnen Buchstaben am Wortanfang offenbar den Unterschied zweier grundverschiedenen Buchstaben aufwiegt:

**Keinlichkeit**
- Reinlichkei

[2022-03-01 14:28] Wolf-SO commented on #6241
Wenn ich LT so Schritt für Schritt einenge (*eineng*, *eineng*), wird es mir dann auf Dauer zuverlässig helfen? Scherz beiseite, ich habe das Gefühl, dass Fehler in der Groß-/Kleinschreibung aktuell so manchen für Menschen naheliegenden Match vereitelt. Siehe dazu auch #6394.

[2022-03-01 19:24] milekpl commented on #6383
Hm, @udomai are you sure internal regression tests are on? I looked up what's inside the stderr files at https://internal1.languagetool.org/regression-tests/result_stderr_pl, and it says:

[2022-03-01 21:37] MasterDallun511 opened #6397 "[DE] Fehlerhinweis nicht vorhanden"
Moin liebes LanguageTool-Team

***
- [ ] Fehler 1
 Yuri sagt: „Wurde auch Zeit, denn ich hatte keine Lust mehr hier doof **rum zu sitzen**.“
LT: "Keine Fehler gefunden."

 Yuri sagt: „Wurde auch Zeit, denn ich hatte keine Lust mehr hier doof **herum zu sitzen**.“
LT: "Dieses Wort wird zusammengeschrieben."
**Bemerkung:** Bei der gängigen Form erkennt das LanguageTool den Fehler, nur nicht bei der

[2022-03-02 10:50] danielnaber opened #6399 "[it] agreement error not found"
User Feedback: LT doesn't highlight the discordance of the article "il" and the possessive adjective "nostri".

[2022-03-02 12:40] danielnaber commented on #6383
I've activated the new diffs now (they use our API). You can see the first result at https://internal1.languagetool.org/regression-tests/via-http/2022-03-02/pl/. The data is about 100,000 lines from Tatoeba. Let me know if you want more data to be added. It should now run every day, just replace the date in the URL. Getting the old diffs running again is more complicated, as the Wikipedia XML extr

[2022-03-02 17:14] milekpl commented on #6383
@danielnaber Thanks. This is actually much better for me because I do have my own corpora but they are less conversational (a newspaper corpus, classical literature corpus and a blog corpus). Will this be announced on the old sourceforge mailing list?

[2022-03-02 20:02] danielnaber commented on #6383
I've sent a message there, but I'm not sure whether it will get through.

[2022-03-03 18:50] yakovru commented on #6360
fixed.

[2022-03-03 18:50] #6360 closed

[2022-03-03 21:49] milekpl commented on #6383
It did not. But I can manage without it.

[2022-03-03 21:49] #6383 closed

[2022-03-04 16:21] tiff opened #6407 "[ru] "колейность""
This word seems to missing in the dictionary: https://ru.wiktionary.org/wiki/колейность

[2022-03-04 16:28] tiff opened #6408 "[es] user feedback "contactara""

[2022-03-04 17:23] donnerpeter opened #6409 "[ru] no nom+plural alternative for обертывания"
![image](https://user-images.githubusercontent.com/122009/156811632-f75ae85a-9a33-4ede-b343-4f637ade72c9.png)

[2022-03-05 18:48] GerryT11 opened #6412 "LanguageTool 5.6 causes LibreOffice Writer to crash"
I experience LibreOffice Writer 7.2.5 / 7.3.0 crashes when the LanguageTool 5.5 / 5.6 extension is active. The crashes happen shortly after a document has loaded.

I filed a bug in the LibreOffice bug tracker with detailed information: https://bugs.documentfoundation.org/show_bug.cgi?id=147668
A LibreOffice developer confirmed that LanguageTool triggers the crashes and LibreOffice cannot deal with

[2022-03-05 18:52] danielnaber commented on #6412
@FredKruse

[2022-03-06 10:58] Nuromi-pm commented on #6390
I have also filled a bug in the LibreOffice bug tracker: https://bugs.documentfoundation.org/show_bug.cgi?id=147796

[2022-03-07 12:44] tiff opened #6414 "[pl] user feedback "maży""

[2022-03-07 16:43] milekpl commented on #6414
It's a rare dictionary word:

https://sjp.pl/ma%C5%BCy

I'll update the spelling accordingly soon.

pon., 7.03.2022, 13:45 użytkownik Christopher Blum ***@***.***>
napisał:

[2022-03-07 19:46] FredKruse commented on #6412
@GerryT11 The bug occurs only, if writer is opened with an empty document, and after that a real document is loaded (This depends on the used machine. I count to four, open the document, and LO crashes. If you are opening very fast the document, no new XComponent is generated - LT and LO don't recognize the document as new - and LO doesn't crash).
I could localize the problem at the class which in

[2022-03-07 20:02] FredKruse commented on #6412
Maybe there is also a relation to issue #6390. LO seems to have a serious problem with gtk3.

[2022-03-07 20:47] #6414 closed

[2022-03-07 20:50] milekpl commented on #6347
Not an easy fix (as it seems) because the website seems to use the Lucene index, and some unification code is not easily translatable to Lucene…

[2022-03-08 06:30] nohack opened #6416 "Can we skip suggestion generation ?"
Hi,

Is there an option to skip suggestion generation as that takes majority of the request time ? We just want the possible spelling mistakes.

[code]

[2022-03-08 08:41] danielnaber commented on #6416
I don't think there's a setting for that yet.

[2022-03-08 15:18] donnerpeter opened #6418 "[ru] false positive: при requires Prep case"
обнаружение и настройка проектов Pyramid при открытии, поддержка SQLAlchemy и SQL

![image](https://user-images.githubusercontent.com/122009/157267757-011f79ee-a0fb-4a3b-b850-13259d2d092d.png)

[2022-03-08 17:51] FredKruse commented on #6390
I could reproduce the bug. It is related to https://github.com/languagetool-org/languagetool/issues/6412. So, I like to discuss it there.

[2022-03-08 18:00] ricardojosehlima opened #6419 "[pt] Correcting tera for terá"
When we write "Ele tera problemas com isso." LT doesn't flag the lack of diacritc in the 'tera', that should be 'terá'.
My guess is that this is because of the word tera as in terabytes.
As LT already flags some similar cases ("Eu escrevi a pagina do livro" is captured to suggest 'página'), maybe something like that could apply to tera.
P.S.: Although it flags 'a pagina' it doesn't flag 'uma pagin

[2022-03-08 18:12] FredKruse commented on #6412
I could reproduce the bug described at  #6390. I opened LibreOffice from the console. As fast as possible, I opened and close the same document. After five or six times, a second menubar appears and LO crashes. I got the following console output:

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf

[2022-03-08 20:13] arysin commented on #6300
I just wanted to apologize - I was going to look deeper into this but with the war it's really hard to find time and the right state of mind.

[2022-03-08 20:14] Richardk2n opened #6420 "Thunderbird add-on local server synonyms incorrect toggle"
Similar to #6177 there should be no synonym toggle if it is not possible due to local server. There is one in the add-on settings.

However, in thunderbird, in the writing window neither the picky nor the synonym toggle exist in the context menu (both are in the settings tho).
The context menu however flashes them very briefly when opening.
![grafik](https://user-images.githubusercontent.com/51472

[2022-03-08 21:33] marcoagpinto commented on #6419
cool!

I will have a look at 5am or after my date.

😃

[2022-03-09 07:13] marcoagpinto commented on #6419
@ricardojosehlima

"uma página" caused tons of false positives. I have been attempting to fix all false positives, but not sure when it will be done.

[2022-03-09 14:40] AAbakumov opened #6423 "Exception: Could not initialize class org.languagetool.rules.en.EnglishRepeatedWordsRule (LanguageTool v5.6.0)"
Hi there, after upgrading LanguageTool to v5.6.0 stable, we started facing an exception with java class org.languagetool.rules.en.EnglishRepeatedWordsRule

callConstructor LangToolJNIProvider::callConstructor exception: Could not initialize class org.languagetool.rules.en.EnglishRepeatedWordsRule.

Could you please suggest any workaround to prevent this issue?
We tried to increase JVM memory but i

[2022-03-09 15:20] danielnaber commented on #6423
Could you send the full stack trace?

[2022-03-09 17:48] marcoagpinto commented on #6419
@ricardojosehlima

At 5am, I will revert the code and start coding the "uma página" again.

[2022-03-09 17:52] ricardojosehlima commented on #6419
I am curious about the false positives of 'uma pagina', if you could send me some, I can take a look.

[2022-03-09 19:14] marcoagpinto commented on #6419
@ricardojosehlima

Wait, I was just opening 10.txt, most results seem valid… so much stress… 🙂

Can you spot the false positives?

Maybe there won't be the need to rewrite, just fix some false positives.

[2022-03-09 20:10] ricardojosehlima commented on #6419
Awesome! Pity there isn't a case of tera-terá but I assume it will work for this case.

Also, note that Ninguém and nada trigger false positives:

Parece que ninguém sabia a verdade is being corrected to sabiá
Sócrates dizia que ele sabia que nada sabia
Isso também indica que ninguém pronuncia essa palavra há várias décadas.
A vida me mostrou ao longo do caminho,que nada seria por acaso, e que tud

[2022-03-09 20:15] marcoagpinto commented on #6419
@ricardojosehlima

For "tera" I will duplicate this rule and just change the suggestion message.

What should the message say?

🙂

[2022-03-09 20:16] marcoagpinto commented on #6419
ahhhh... probably I will also have to slightly change the code.

[2022-03-09 20:28] ricardojosehlima commented on #6419
I was going to mention the message. As tera is not a verb, the message we see doesn't fit:
Esta palavra é um verbo. Se pretende referir-se a um nome ou adjetivo, deve utilizar a forma acentuada.

Before going to the message of tera-terá I must say that for me and some colleagues the above message is ambiguous. When I write "Escrevi uma pagina" the word is a noun, what I intend is a noun. However,

[2022-03-10 08:42] marcoagpinto opened #6426 "[LibreOffice][pt] Words in spelling.txt appear as typos"
Hello @FredKruse

I noticed that in the latest nightlies while working on my thesis, somehow, several words in spelling.txt started appearing underlined in red (spelling mistakes).

Maybe a recent change damaged the code?

[2022-03-10 10:15] AAbakumov commented on #6423
Hello @danielnaber, thank you for the speedy response! We will send this information as soon as we have it.

[2022-03-10 10:34] marcoagpinto commented on #6419
@ricardojosehlima

The "um livro" is ready.

With 10.txt:
[code]

With 29.txt:
[code]

29.txt:
[29.txt](https://github.com/languagetool-org/languagetool/files/8222533/29.txt)

I also replaced the suggestion message with the one you suggested.

If you find any false positives that can be fixed with antipatterns, please tell.

Notice that there are some diacritics rules in the grammar.xml that inter

[2022-03-10 12:08] marcoagpinto commented on #6419
@ricardojosehlima

"tera/terá" created:
https://github.com/languagetool-org/languagetool/commit/7a307592dd50843cb5ad24ac963099ffb00786fb

In 600 000 sentences it produces no hits.

[2022-03-10 13:40] marcoagpinto commented on #6426
See it happening:
![words_spelling_txt_appear_as_typos_20220310](https://user-images.githubusercontent.com/5192600/157673493-ff165a16-45b6-4b93-a726-1bfcf0a274ca.png)

[words_spelling_txt_appear_as_typos_20220310.odt](https://github.com/languagetool-org/languagetool/files/8223834/words_spelling_txt_appear_as_typos_20220310.odt)

[2022-03-10 14:32] ricardojosehlima commented on #6419
Hi, great!

I spotted these two false positives with seria:

Pense diariamente em algo que ninguém mais pensa. Faça diariamente algo o qual nenhum outro seria suficientemente estúpido para fazê-lo. Prejudica o espírito sempre viver somente em concordância.
Mas pq diabos uma figura dessas seria agora plasmada à imagem de um (ex)juiz em manifestações de rua?

And looks like alguém also causes troubl

[2022-03-10 15:08] donnerpeter opened #6430 "[ru] вместе с тем excessive comma false positives"
Вместе с тем, отметил он, в "документе заложен очень важный тезис".
Вместе с тем, по их данным, характер погоды меняется.
Вместе с тем, подчеркивает он, всё хорошо.
Вместе с тем, по ее словам, самого города это не коснулось
Вместе с тем, подчеркивают участники, до сих пор все было хорошо.

[2022-03-10 15:08] donnerpeter opened #6431 "[ru] вместе с тем excessive comma false positives"
Вместе с тем, отметил он, в "документе заложен очень важный тезис".
Вместе с тем, по их данным, характер погоды меняется.
Вместе с тем, подчеркивает он, всё хорошо.
Вместе с тем, по ее словам, самого города это не коснулось
Вместе с тем, подчеркивают участники, до сих пор все было хорошо.

[2022-03-10 18:06] FredKruse commented on #6426
This was a mistake. I deactivated the function while searching for the source of another bug, and forgot to activate it again after the last change.
Please test it tomorrow.

[2022-03-10 18:06] marcoagpinto commented on #6419
ahhhh... thanks for the false positives, I will fix them at 5am as usual.

🙂 🙂 🙂

[2022-03-10 18:12] donnerpeter opened #6432 "[ru] some suggestions accidentally drop words"
e.g. from ru grammar.xml:

    <example correction="Мы, к сожалению,"><marker>Мы к сожалению не</marker> успели на поезд.</example>
    <example correction="работа, так сказать,">Эта <marker>работа так сказать представляет</marker> огромную научную ценность.</example>
    <example correction="метод, не в обиду будет сказано,">Этот <marker>метод не в обиду будет сказано представляет</marker> сомнит

[2022-03-10 18:21] donnerpeter opened #6433 "[ru] надо полагать comma false positive"
`Оно углядело многое в действиях "тоталитарного режима", надо полагать нового.`

See http://new.gramota.ru/spravka/buro/search-answer?s=%D0%BD%D0%B0%D0%B4%D0%BE+%D0%BF%D0%BE%D0%BB%D0%B0%D0%B3%D0%B0%D1%82%D1%8C

[2022-03-10 18:25] donnerpeter opened #6434 "[ru] words get merged when removing a comma with no space after"
`На всякий случай,я пошёл домой.` -> `На всякий случайя пошёл домой.`

[2022-03-11 06:36] marcoagpinto commented on #6419
@ricardojosehlima

It is done!:
https://github.com/languagetool-org/languagetool/commit/d22f7e00700b8200cff55d2b67189d5efc69d2c0

32.txt:
[32.txt](https://github.com/languagetool-org/languagetool/files/8229669/32.txt)

Closing the ticket!

Thanks!

[2022-03-11 06:36] #6419 closed

[2022-03-11 07:01] marcoagpinto commented on #6419
Ricardo,

Just a small fix:
[code]

https://github.com/languagetool-org/languagetool/commit/c6b52f79ac9d1dea7c70113f267a13548cb96181

33.txt:
[33.txt](https://github.com/languagetool-org/languagetool/files/8229778/33.txt)

[2022-03-11 12:05] AAbakumov commented on #6423
@danielnaber Hello again, also we cached the same error with the German language, it reproduces from time to time (more often with the English language). Usually it reproduces during new instance initialization.

Stack trace:
java.lang.ExceptionInInitializerError
org.languagetool.language.German.getRelevantRules(German.java:131)
org.languagetool.JLanguageTool.getAllBuiltinRules(JLanguageTool.java:

[2022-03-11 12:57] danielnaber commented on #6423
Thanks for the report, I think this should now be fixed with the commits referenced here.

[2022-03-11 12:57] #6423 closed

[2022-03-12 07:35] marcoagpinto commented on #6426
It is working! Thanks!

[2022-03-12 07:35] #6426 closed

[2022-03-12 08:00] marcoagpinto opened #6435 "[LibreOffice add-on] No longer possible to deactivate rules"
@FredKruse

Hello!

With the latest nightly, when we right-click in a flagged word, there is no longer an option to deactivate the rule.

[2022-03-12 13:10] danielnaber opened #6436 "[ca] false alarm for "Sumi" (VERBS_NOMSPROPIS[3])"
VERBS_NOMSPROPIS[3] matches here

@jaumeortola

[2022-03-12 16:16] FredKruse commented on #6435
@marcoagpinto
thank you for testing. Another bug from the last changes. It is solved.
Please test it tomorrow.

[2022-03-12 18:06] jaumeortola commented on #6436
Fixed https://github.com/languagetool-org/languagetool/commit/7ff31ea88edcf2285aa74f865a0f0a84e6950d51

[2022-03-12 18:06] #6436 closed

[2022-03-13 01:44] marcoagpinto commented on #6435
Thanks, it is fixed.

However, I deactivate the 50 words or so rule in Portuguese, and it only deactivated it after I reopened the .ODT and after deactivating it several times it hung LibreOffice.

[2022-03-13 10:16] AhmedElTabarani commented on #6210
I want to add one more wrong suggestion with `وسيحضرونها` and `سيحضرونها`

- وسيحضرونها
![image](https://user-images.githubusercontent.com/69223584/158054887-b9831c7e-a7e4-48d8-9614-d214c1457263.png)

- سيحضرونها
![image](https://user-images.githubusercontent.com/69223584/158054896-2c0f7be1-0f64-40e2-bac4-9d2bac3e4d2f.png)

[2022-03-13 14:41] FredKruse commented on #6435
@marcoagpinto
The issue should be fixed. Please test it tomorrow.

[2022-03-14 07:28] marcoagpinto commented on #6435
It is fixed, thanks!

[2022-03-14 07:28] #6435 closed

[2022-03-15 01:42] ricardojosehlima opened #6437 "[pt] strange behavior with 'para eu e ele'"
![para_eu](https://user-images.githubusercontent.com/36453534/158289083-cd278a51-cb70-478e-b9d0-2d0405c9245c.png)
In the first sentence, LT correctly doesn't do anything.
In the second sentence, LT should... also not do anything. Instead, it does a strange correction...
I can't figure why change 'para eu' for 'de mim'.
My guess is that the rule should include the conjunction after 'para eu'.
Last:

[2022-03-15 07:29] marcoagpinto commented on #6437
@ricardojosehlima

Hello!

I have fixed it.
First the antipattern, but it produces no hits in 600 000 sentences:
https://github.com/languagetool-org/languagetool/commit/5d74bc26040f33c4b75e202f8edfb666f0b0f9fc

Then a fix for the rule:
https://github.com/languagetool-org/languagetool/commit/e3a9f7ce9fc71d0ca00e1a1e6f86d11a3fbaf655

The fix only produces two hits:
BEFORE:
[1.txt](https://github.com

[2022-03-15 10:27] ricardojosehlima commented on #6437
Ok! Some things I have spotted:
- the suggestions 'te', 'me' don't make much sense in any case, so could only be 'mim, ti'
- when the pronoun is in capital letters, the rule should not apply (wrongly flags a EU-Bralat, and others)
- "Compra-a tu" is being wrongly flagged even though 'a' is not a preposition here

[2022-03-15 10:49] donnerpeter opened #6439 "[ru] как comma false positives"
Как правило может быть таким сложным? Как обычно Вы готовите переговоры?

[2022-03-15 10:50] donnerpeter opened #6440 "[ru] привет comma false positive"
Привет всем!

[2022-03-15 15:19] marcoagpinto commented on #6437
What about now?:
https://github.com/languagetool-org/languagetool/commit/0e331429521148bd779b14f0678cb9bb067d209b

[8.txt](https://github.com/languagetool-org/languagetool/files/8254707/8.txt)

[2022-03-15 15:19] #6437 closed

[2022-03-15 19:02] rakleed opened #6442 "The word `Todoist` is flagged as an error"
The word `Todoist` is flagged as an error even though it is the name of a popular to-do list app: https://todoist.com/

[2022-03-16 07:19] tiff opened #6443 "[all] false alarm PUNCTUATION_PARAGRAPH_END"
![Bildschirmfoto 2022-03-16 um 08 16 56](https://user-images.githubusercontent.com/37363/158536618-a0af55aa-633a-4f62-9894-e2e565017630.png)

@jaumeortola would it be easily possible to exclude sentences that start with a number and a period or parenthesis?

Also. maybe:

[2022-03-16 07:24] tiff opened #6444 "[de] false alarm KOMMA_INFINITIVGRUPPEN"
![Bildschirmfoto 2022-03-16 um 08 24 07](https://user-images.githubusercontent.com/37363/158537643-a9befaff-c23e-46ff-bb9c-96029b3f667c.png)

[2022-03-16 10:54] ricardojosehlima commented on #6437
There are som false positives ("a ideia de eu", "tu a tu"), but my guess is tha these are rare, so for me the rule is fine.

[2022-03-16 15:14] jaumeortola commented on #6443
This rule is active for German, English, Galician, Portuguese and Russian.
PunctuationMarkAtParagraphEnd2 is active for English and Russian. This rule is slightly different, but I don't know the differences.

I can add exceptions easily. I guess the exception should be used only when there is one sentence in the paragraph. If there are more than one sentence, then we can keep the rule match. Does

[2022-03-16 16:10] tiff opened #6445 "[de] verbs get an incorrect tagging"
The spelling.txt contains "voll_qualmen" which should copy POS tags from "qualmen"

However

gets incorrect tags. It should only have `VER:EIZ:SFT` but it hasn't:

<img width="566" alt="Bildschirmfoto 2022-03-16 um 17 08 47" src="https://user-images.githubusercontent.com/37363/158635180-9c659447-e696-48e3-b76d-9741e25adc13.png">

Also:

`vollgequalmt` is receiving the correct tag, but `vollgequalm

[2022-03-16 18:28] #6443 closed

[2022-03-16 18:48] NicoWeio opened #6446 "[de] false negative: „Vortrag der HISTORIKERN Dr. […]“"
gibt korrekterweise „Evtl. keine Übereinstimmung von Kasus, Genus oder Numerus“ aus, wohingegen

fälschlicherweise angenommen wird.

[2022-03-16 19:20] ricardojosehlima opened #6447 "[pt] Wrong correction for absence of diacritic"
When writing "Quero escreve-los amanhã", LT does notice the absence of the circumflex in "escreve", however its suggestions are wrong: "quero escrever", "quero a escrever", "quero escrevendo", "quero, escreve".

My guess is that the rule is not looking at the hyphen and thus is only applying to "quero escreve" which should be "quero escrever", which is the first suggestion and in my view if there

[2022-03-16 19:22] danielnaber commented on #6445
First part of the issue (...zu...) should be fixed now.

[2022-03-16 20:10] danielnaber commented on #6445
The second issue needs more thought, as we don't want to tag e.g. "weggekaschiert" (`weg_kaschieren` is in spelling.txt) and several others.

[2022-03-16 21:06] danielnaber commented on #6446
Danke, sollte morgen oder übermorgen behoben sein.

[2022-03-17 06:56] tiff commented on #6445
@danielnaber I think it isn't that much of an issue. You do not have to add the `ge` by yourself.

Basically:
1. Get the "partizip" of the verb after the `_`. In this case: `kaschiert`
2. Get all inflected forms of that partizip (`kaschierte`, `kaschiertes`, ...)
3. Prefix all of these forms with the word before the `_` and copy the POS tags over
4. Done

I wrapped my head around it and I can't se

[2022-03-17 07:00] danielnaber opened #6449 "[en] false alarm its/it's (ITS_JJ_NNSNN[52])"

[2022-03-18 08:45] donnerpeter opened #6451 "[ru] не смотря -> несмотря false positives"
Он шел, не смотря на красоту окружающего пейзажа и не замечая ее. Максим говорил, не смотря на девушку, сидевшую напротив.

[2022-03-18 12:40] donnerpeter opened #6452 "[en] repeated word false positives"
Out of a field of eleven candidates, analysts believe there are three serious contenders, Abdullah Abdullah, Arshaf Ghani and Zalmai Rassoul.
Nwe Nwe Oo is one of the Chan Aye Tharyar residents who hope to go back.
Chime in in the comments.

[2022-03-18 13:33] donnerpeter opened #6453 "[ru] по+dative hyphen false positives"
перейти к коммиту в списке коммитов, кликнув по соответствующему хэшу.
Это его бизнес-партнер по вышеупомянутому «Лео ойл».

![image](https://user-images.githubusercontent.com/122009/159012089-df2b1e33-9661-442d-9edd-6f4c7a6a20d6.png)

[2022-03-18 15:12] donnerpeter commented on #6451
Similar: Он говорил, даже не взирая на собеседницу. Не взирая в суть событий, нельзя постичь сущность вещей. Живи, не взирая в будущее.

[2022-03-18 15:36] donnerpeter opened #6454 "[ru] prep+word concatenation false positives"
На верху страницы красовалась огромная клякса.
Я боролся за место заместителя несколько лет.
Направлен в место дислокации войск.
Высаживайте цветы ровно по середине аллеи.

[2022-03-18 15:36] donnerpeter opened #6455 "[ru] навстречу->на встречу false positives"
сразу же кинется им навстречу с радостью. пошёл мне навстречу с протянутой рукой. Когда вошли во двор, навстречу с лаем бросилась собака.

[2022-03-18 20:13] KathKal opened #6456 "[ar] suggested modifications to diacritics.txt"
The following notes are about issues in diacritics.txt:

### 1) Wrong suggestions.
### اقتراحات خاطئة:

1- الدرهم=الدَّرْهم	الدَّرْهم بفتح الدال
\>> الدرهم=الدِّرْهَم	الدِّرْهَم بكسر الدال
2- درهم=دَرْهم	الدَّرْهم بفتح الدال
\>> درهم=دِرْهَم	الدِّرْهَم بكسر الدال
3- البعاد=البِعاد	البِعاد بكسر الباء، مثل أضناه البِعاد
كلمة (البِعاد) لا تُستخدم لمعنى (البُعد)، بل يُقال (أضناه البُعد). والبِعاد جمع

[2022-03-19 15:20] SpaceIshtar commented on #6318
Hi,
I've reproduced and investigated this problem.
I found that when we use GUI, the input string uses \n as the indicator of the next line. However, when command line reads the txt file, it uses \r\n as the indicator of the next line, which cannot be successfully recognized by current rules.
The following screenshots show the difference:
The text string using GUI:
![image](https://user-images.git

[2022-03-19 16:12] danielnaber commented on #6318
Does it do that explicitly? I guess it's just the default on Windows?

[2022-03-19 20:49] MasterDallun511 opened #6459 "[DE]Fehlalarm mit dem Adjektiv "lieb" (SUBJECT_VERB_AGREEMENT[5])"
Moin liebes LanguageTool-Team

Heute ist sie **lieb** und morgen böse.
LT: "Prüfen Sie, ob hier eine Form von ‚lieben‘ stehen sollte."
Der Fehlalarm ist mittlerweile aus meiner Sicht ein Klassiker, da das Problem schon über ein Jahr bekannt sein sollte.
In diesem Beispiel wird selbstverständlich das Adjektiv "lieb" eingesetzt und nicht das Verb "lieben".

Bitte schnell fixen.

Grüße Dallun511

[2022-03-20 02:08] SpaceIshtar commented on #6318
Yes, you are right. So on Linux, this bug doesn't exist fundamentally.
<img width="601" alt="1647741741(1)" src="https://user-images.githubusercontent.com/73434395/159144811-cb2814fc-a24a-4a8d-a293-8a2995b6befa.png">

[2022-03-20 12:20] #6432 closed

[2022-03-20 13:12] DennisYildirim commented on #5591
does it have the premium features?

Enhanced grammar, punctuation and style checking
Up to 100,000 characters per text field
Suggestions to improve style and tone
Detection of incorrect names and titles in e-mails
Detection of incorrect numbers (e.g. IBAN, ISBN, ...)
Add-in for Microsoft Word
Add-on for Google Docs

Or does it simply do the simple basic grammar checks like in the free edition?

Ba

[2022-03-20 13:32] danielnaber commented on #5591
For details about the premium version, please contact our support. You can find our email address at https://languagetool.org/legal.

[2022-03-20 17:45] gaultpeter opened #6460 "Facebook messenger chat box issue."
https://www.messenger.com/

The "lt-toolbar__status-icon" div is outside the text box and makes the width of the messenger page larger than 100% which causes the webpage to render a scroll bar.

Can you please put the icon inside the text box? Or give the user an option to turn off the status icon?

![image](https://user-images.githubusercontent.com/24442040/159175382-2c5c9276-b36e-407b-aca3-1317a

[2022-03-20 21:10] NicoWeio commented on #6446
Guten Abend,
ich wollte nur vorsichtshalber Bescheid geben, dass das Problem auf languagetool.org heute nach wie vor besteht. :)

[2022-03-20 21:28] danielnaber commented on #6446
Der Fix geht mit dem nächsten Deployment online (später diese Woche).

[2022-03-21 06:47] affemitkaraffe commented on #6445
I don't know, if you view the following as incorrect taggings, but I think fixing these inconsistencies / problems will further improve the missing comma xml rules

- the tags of some separable verbs end with ':NEB' (Nebensatz) others don't (compare 'drankomme' vs 'raufkomme')
- separable verbs ending with a modal verb are tagged as modal verbs (I'm not sure, if we want something like that, e. g.

[2022-03-21 10:30] nohack commented on #6416
Ok.Thanks.

[2022-03-21 10:31] #6416 closed

[2022-03-21 10:49] ricardojosehlima opened #6463 "[pt] Reviewing foreign word use in pt-pt and pt-br"
As a Brazilian user of LT, I was receiving some suggestions to change foreign words to Portuguese ones that didn't apply to our current register. LT has a system for capturing foreign words in Portuguese that goes like this:

one file containing foreign words for both varieties (Portuguese and Brazilian)
one for the Brazilian variety
one for the Portuguese variety

The files for the specific varie

[2022-03-21 16:43] tiff commented on #6460
Thanks for reporting. We are rolling out a fix over the next 2 weeks.

[2022-03-21 19:49] donnerpeter opened #6465 "[en] non-standard superlative false positive"
`the least upper bound`
![image](https://user-images.githubusercontent.com/122009/159352574-8860a174-6204-46c4-ba14-f7906f15799b.png)

[2022-03-22 10:27] marcoagpinto commented on #6463
Hi Ricardo,

I have added all words and also fixed some words.

https://github.com/languagetool-org/languagetool/commit/e55af0365ec5528e99126a0f4f9d38a7f4cad418

https://github.com/languagetool-org/languagetool/commit/5118c365119b996e31734007cf862255781c44e8

https://github.com/languagetool-org/languagetool/commit/fcd10b4502da15844903e1a9f672400bf0fbdc51

If you find any mistake, please tell.

Tha

[2022-03-22 10:27] #6463 closed

[2022-03-22 13:57] #6465 closed

[2022-03-22 14:01] tiff commented on #6459
Behoben mit https://github.com/languagetool-org/languagetool/commit/53dcb0e70fba14976485508ed42140fa7b1423d4

[2022-03-22 14:01] #6459 closed

[2022-03-22 14:01] tiff commented on #6442
The word has been added to the English dictionary

[2022-03-22 14:01] #6442 closed, assigned to tiff

[2022-03-22 14:02] ricardojosehlima commented on #6463
Looks fine to me! What about adding
app = aplicativo
apps = aplicativos
(at least for pt-br)

[2022-03-23 07:45] tiff opened #6470 "[pl] user feedback "jeszce""
User says:

[2022-03-23 17:13] KingJulianS commented on #6412
I also experienced, but only the first part of the error, posted by Fred Cruse above when I start libre
via cli on debian bullseye.
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

(soffice:195767): Gdk-WARNING **: 18:45:58.075: XSetError

[2022-03-24 10:07] milekpl commented on #6470
It actually does mark *jeszcze* as error. It did not mark "Jeszce" (which is a form of a Polish surname "Jeszka"). I added one simple fix to mark it up.

[2022-03-24 10:08] #6470 closed

[2022-03-24 11:28] nopepper commented on #5765
Is the issue still relevant? The following text doesn't raise any errors:
`a.) dass etwas fehlschlägt
b.) dass die Vorschläge noch schlimmer sind`

[2022-03-24 14:17] marcoagpinto commented on #6447
Ahhhhhhhh… 🙁 I completely forgot it.

Sorry.

And Monday is the official release of LanguageTool, and I am feeling too much pressure to attempt to fix it before the release (the time is approaching).

Can I fix it after the official release?

Thanks!

[2022-03-24 15:46] AAbakumov opened #6473 "Vulnerabilities in logback-core:1.2.3, protobuf-java:3.17.2, jackson-databind:2.12.0"
Hello, recently we found 4 vulnerabilities using security scan over LanguageTool 5.6.0 package. @SteVio89 could you please take a look at them? And, if its still possible, include fixes for them in the upcoming LanguageTool 5.7.0 next week.

Please find the attached report.

<html>
<body>
<google-sheets-html-origin>

Logback | 1.2.3 | maven | ch.qos.logback:logback-core:1.2.3 | 1.2.3 | BDSA-2021-3

[2022-03-25 08:21] tiff opened #6474 "[pl] user feedback "wiec""

[2022-03-25 09:10] donnerpeter opened #6475 "[ru] space-after-hyphen false positive"
Нарушение кодекса будет караться различными санкциями – от дисциплинарных (увольнение) до административно- или криминально-правовых
![image](https://user-images.githubusercontent.com/122009/160090842-3699fcd6-7e26-4539-ba41-57ed15450bb0.png)

[2022-03-25 12:34] tiff opened #6477 "[fr] "ect""
"ect" is one of the words that is often added by user's to their dictionary.

We should either add it to the dictionary or create a specific rule for this

https://fr.wiktionary.org/wiki/ect.

[2022-03-25 19:19] GerryT11 commented on #6412
Stephan Bergman from the LibreOffice team has started working on the bug at the side of LibreOffice. He committed a first patch, but another patch will be necessary to fix the issue.

See comments 14-17 in https://bugs.documentfoundation.org/show_bug.cgi?id=147668

[2022-03-25 21:39] ecodiv commented on #6362
In the premium version, the same warning is issued (when using the picky mode)

[2022-03-26 12:54] #6475 closed

[2022-03-26 13:57] #6434 closed

[2022-03-26 14:40] #6453 closed

[2022-03-26 14:42] #6407 closed

[2022-03-26 18:54] milekpl commented on #6474
Actually, there is such a rule (A_WIEC) but it's fairly conservative because "wiec" is not a rare word at all. But I generalized it a little bit.

[2022-03-26 18:55] #6474 closed

[2022-03-26 20:51] MasterDallun511 commented on #6459
@tiff Der Fehler ist weiterhin vorhanden.
![grafik](https://user-images.githubusercontent.com/78316155/160256653-4513e292-08db-4aba-a78c-fe467ed73e00.png)

[2022-03-27 15:22] #6439 closed

[2022-03-28 05:08] Minenash opened #6479 "Understanding the preAO portugese variations"
I'm using the java tool, and saw the weird variant names for portuguese, after a bit of searching, I finally understood that preAO meant before the agreement, but I'm still confused by the variants, as according to the site I read the two countries with variants suffixed with preAO also accepted the agreement. Are Angola preAO and Moçambique preAO the same as their Brazil/Portugal counterparts pre

[2022-03-28 05:26] marcoagpinto commented on #6479
Basically, there are two accepted variants: Portuguese and Brazilian, both “after agreement”.

The Angola and Mozambique ones don't have specific rules, just specific dictionaries.

[2022-03-28 05:26] #6479 closed

[2022-03-28 05:29] Minenash commented on #6479
So the dictionaries are preAO, but would it be more user friendly to count it as "Brazilian preAO" and "Portuguese preAO", to keep it with those two counties names, or just not to include them at all?

[2022-03-28 05:38] marcoagpinto commented on #6479
What is your opinion, @jaumeortola ?

Thanks!

[2022-03-28 07:38] jaumeortola commented on #6479
"Voseo" is usual in some Latin American countries (Argentina, Chile, Paraguay, Uruguay…), not Spain.

I have no clue about the Portuguese variants and dictionaries. At some point, we will rebuild those dictionaries (see: https://github.com/languagetool-org/languagetool/issues/6079), but I don't know when. Any information about the dictionaries content and use will be appreciated.

[2022-03-28 09:09] KwanWaiChung opened #6482 "java.lang.RuntimeException: Could not check sentence (language: English)"
I get an error when I am using languagetool on a tex document with the sentence "However, SL does not consider the future effects of the current decision which may lead to sub-optimal behaviour \citep{henderson_hybrid_2008}."

It can be reproduced by creating a document with the above sentence.

I am using the stable 5.6 version in Mac installed by brew.

[2022-03-28 10:11] danielnaber commented on #6482
Do you have a more verbose error message? I cannot reproduce the error, it might be fixed in the current version already.

[2022-03-28 12:23] tiff opened #6486 "[pl] missing words?"
Here's an (unfiltered) list of words that Polish users often add to their dictionary:

* Zełenski
* Wołodymyr
* contentu
* mega
* OLX
* eko
* benfity
* 24h
* fake
* beauty
* aś
* influencerów
* loftowym
* email
* bio
* code
* benefitów
* dress
* BIO
* Bytnar
* Exupéry
* Alexem
* copywritingu
* procesowana
* ADHD
* Agricole
* research
* chia
* Czarnek
* QR
* e-sklepu
* arganowy
* modowych
* Zzdzich

[2022-03-28 14:17] KwanWaiChung commented on #6482
@danielnaber Sure, the verbose error message is below.

Exception in thread "main" java.lang.RuntimeException: java.util.concurrent.ExecutionException: java.lang.RuntimeException: java.lang.RuntimeException: Could not check sentence (language: English): <sentcontent>However, SL does not consider the future effects of the current decision which may lead to sub-optimal behaviour \citep{henderson_hyb

[2022-03-28 15:38] KwanWaiChung commented on #6482
Actually, being a tex document or not is not relevant. To reproduce this problem, I put the line `However, SL does not consider the future effects of the current decision which may lead to sub-optimal behaviour \citep{henderson_hybrid_2008}.` in a txt file. Then I just run ` languagetool test.txt`. This will produce the error I showed above. Hope this helps.

[2022-03-28 15:47] KwanWaiChung commented on #6482
Just to follow up the issue, actually if I only include the word `sub-optimal` is enough to reproduce the problem... That is weird

[2022-03-28 15:56] #6482 closed, assigned to nobody

[2022-03-29 04:35] marcoagpinto commented on #6447
Hello @ricardojosehlima

I have fixed the rule:
https://github.com/languagetool-org/languagetool/commit/6f8665348b9fb57ebcdb32bda2836984a90477bb

However, that rule is: ID:AUXILIARY_VERB_INFINITIVE

For adding diacritics, I need to create an entirely new rule.

Do you have a good name for the rule and  a good suggestion message?

I will also need the help of Jaume for the diacritics.

Here are the

[2022-03-29 11:18] SteVio89 commented on #6473
fixed with https://github.com/languagetool-org/languagetool/commit/ae3e6869186b4855dc5b88d67c84cfb48e8bc8ce

[2022-03-29 11:18] #6473 closed

[2022-03-29 12:32] AAbakumov commented on #6473
@SteVio89 great news! Could you please tell me if that fixes will be included in upcoming 5.7.0 release of LanguageTool?

[2022-03-29 16:48] ricardojosehlima commented on #6447
Hi @marcoagpinto I have checked the file and it is really the case that there are two different things going on:

1-) two inflected (conjugados) verbs in sequence
- “Gosto dos modelos arredondados, pois meu rosto é fino e alguns podem parecem grandes demais”, explica.
Cases like this are 'pode está', 'quero garanti', but this one maybe a typo instead of 'podem parecer'.
So, about this case:
The ru

[2022-03-29 18:55] marcoagpinto commented on #6447
Hello @ricardojosehlima

I have fixed the false positives:
https://github.com/languagetool-org/languagetool/commit/c72cda1f6ef0788f25f64773455c495ba4fa91e4

[2.txt](https://github.com/languagetool-org/languagetool/files/8374218/2.txt)

At 5am, I will start working on the new rule.

[2022-03-29 19:17] ricardojosehlima commented on #6447
Hi, great!

 Some cases with 'a' are still being captured:
para continuar a guardá-Ia; etc
No começo ele a odiava, mas aos poucos acabou a amando.

And for some reasons these are false positives that remained:
Oito novos blindados devem reforçar operações em f...
Quando o marido falecer, ela irá remover a joia permanentemente.
Em vez de dar para as demandas, você deve remover Netflix Ransomware.
N

[2022-03-29 19:34] marcoagpinto commented on #6447
ahhhhhhhh... I will fix it at 5am.

I am uncertain if I will be able to fix:
"para continuar a guardá-Ia; e"

"guardá" is supposed to not have a POS because of the accent, but I may be wrong.

[2022-03-29 19:48] mattvalley opened #6490 "The 5.7 release was incorrectly published to Maven Central as $%7Brevision%7D"
I saw that the 5.7 release was recently tagged at https://github.com/languagetool-org/languagetool/releases/tag/v5.7 .  However, when I look at what is published in Maven Central at https://search.maven.org/artifact/org.languagetool/languagetool-core I see that the new release has the version specified as $%7Brevision%7D which looks corrupt.  See attached screenshot.
![corrupt_languagetool_release

[2022-03-29 19:56] danielnaber commented on #6490
We're not sure where the bug comes from, but we'll try to publish a "real" 5.7 soon.

[2022-03-29 23:52] ricardojosehlima commented on #6447
Ok, even without POS could a regex work? \w+[aeio]-l[oa]s?

[2022-03-30 03:03] marcoagpinto commented on #6447
I fixed it here:
https://github.com/languagetool-org/languagetool/commit/4cfbb941c1e4dc6d71af52ae0e3da9458f647c59

[2022-03-30 03:37] marcoagpinto commented on #6447
"refazer" had a POS missing, I fixed it here:
https://github.com/languagetool-org/languagetool/commit/801d6d99f694ffc7a3da139fa1e86d146ccb7ac4

[2022-03-30 04:10] marcoagpinto commented on #6447
Ahhhhh… tons of false positives removed:
https://github.com/languagetool-org/languagetool/commit/af16830648774a69975e496b5c1e26bd98794aff

[5.txt](https://github.com/languagetool-org/languagetool/files/8376941/5.txt)

I am too stressed to look at the .txt, I have only been seeing the diffs.

Can you spot more issues in the .txt?

Thanks!

[2022-03-30 07:45] MikeUnwalla opened #6491 "[en] Testrules gives warning for LT 5.7"
The following testrules warnings occur with https://languagetool.org/download/LanguageTool-5.7.zip:

[code]
Also, 'automn' is a typo for 'autumn'.

[2022-03-30 07:47] tiff opened #6492 "[pt] user feedback "matricula""

[2022-03-30 07:55] marcoagpinto commented on #6492
"O Marco matricula o seu filho na escola."

[2022-03-30 07:55] #6492 closed

[2022-03-30 07:55] marcoagpinto commented on #6492
(without accent, it is the verb "matricular")

[2022-03-30 07:56] tiff commented on #6492
But shouldn't we detect when you are using the wrong one?

[2022-03-30 07:57] marcoagpinto commented on #6492
yes, tell me the full sentence.

Writing just the word, it won't appear as a typo since it is a valid word.

[2022-03-30 07:57] tiff commented on #6492
Unfortunately the user did not provide the full sentence

[2022-03-30 08:31] danielnaber commented on #6491
Thanks, it's mostly fixed, except for the second warning, which could be a false alarm.

[2022-03-30 10:36] ricardojosehlima commented on #6447
Hi,
  Good to see the rule improving! Great work (again)

I found some things worth mentioning:

1-) the suggestions still include many options that aren't adequate:
pudesse fazer; pudesse a fazer; pudesse fazendo; pudesse, faria
IMO, obly the first would be sufficient.

2-) There are many cases in which the problem is not as in "ele pode encontra pessoas" ==> "ele pode encontrar pessoas", but the

[2022-03-30 10:48] marcoagpinto commented on #6447
Hello!

I will do it at 5am as usual.

Tomorrow is the release day for the English/British dictionaries.

I must dedicate a lot of time to the task.

[2022-03-30 11:22] danielnaber commented on #6490
It's not (yet?) visible on https://search.maven.org/search?q=languagetool, but it's now available on Maven Central.

[2022-03-30 12:11] Erikvl87 commented on #6198
For version `5.7`, the path `//project/version` now contains `${revision}` instead of an actual version. I expected `5.7`.

I am using the extracted version in CI to resolve the proper target zip file (`/languagetool/languagetool-standalone/target/LanguageTool-5.7.zip`) after executing `mvn package`.
See: https://github.com/Erikvl87/docker-languagetool/blob/v5.6/Dockerfile#L28

From where can I ex

[2022-03-30 12:20] danielnaber commented on #6198
Currently, it seems to be at `properties/revision`, isn't it?

[2022-03-30 12:24] Erikvl87 commented on #6198
Right, Thanks @danielnaber. I thought I scanned through the file looking for the version but I've overseen this one. Thank you.

[2022-03-30 12:24] #6198 closed

[2022-03-30 15:54] mattvalley commented on #6490
@danielnaber Thank you for republishing the 5.7 version.  I see it now on Maven Central with the correct version.

[2022-03-30 20:59] donnerpeter opened #6495 "[ru] agreement false positive"
Однако в связи с кризисом от этой идеи пришлось отказаться.
![image](https://user-images.githubusercontent.com/122009/160929857-e40d1ef5-2d58-4cb7-bac1-c22d385c3fed.png)

[2022-03-31 06:39] marcoagpinto commented on #6447
Hello @ricardojosehlima

I have fixed the rule:
https://github.com/languagetool-org/languagetool/commit/252ef5193d5fb16e00170dde061c511d534309fd

The three false positives were due to missing or incorrect POSes:
https://github.com/languagetool-org/languagetool/commit/eb17ca48c6c93a228cbf6471116fe7d18c9d99a3
https://github.com/languagetool-org/languagetool/commit/59dd8038f2f7c065483c37e9a81881d1072

[2022-03-31 18:01] ricardojosehlima commented on #6447
Great!

[2022-03-31 21:01] earendil1 opened #6497 "Mac mini installation problem Java2 cannot be instantiated"
Hi, I get this message upon installation:

ImplementationRegistration::registerImplementation() - The service com.sun.star.loader.Java2 cannot be instantiated

here are my specs:

Version: 7.2.6.2 / LibreOffice Community
CPU threads: 8; OS: Mac OS X 12.2.1; UI render: default; VCL: osx
Locale: it-IT (it.UTF-8); UI: en-US
Calc: threaded

jre-8u321-macosx-x64

I also installed the latest version of

[2022-04-01 01:58] Nuromi-pm commented on #6390
Still happen in LanguageTool 5.7. There is a patch coming from the LibreOffice side that supposedly fix this bug: https://git.libreoffice.org/core/+/9f041e7678521074b09b20f4088996c86bea5cd0%5E%21

It will be available in 7.4.0. I hope this solves the issue.

[2022-04-01 13:09] tiff opened #6498 "[it] user feedback "standard""

[2022-04-01 14:29] tiff commented on #6091
A new version (5.0.6) that fixes this behavior is currently being rolled out. Feel free to reopen if the issue is still occurring.

[2022-04-01 14:29] #6091 closed

[2022-04-01 14:30] tiff commented on #6085
A new version (5.0.6) that fixes this behavior is currently being rolled out. Feel free to reopen if the issue is still occurring.

[2022-04-01 14:30] #6085 closed

[2022-04-01 22:09] GerryT11 commented on #6412
The LibreOffice bug is now fixed, too! https://bugs.documentfoundation.org/show_bug.cgi?id=147668

[2022-04-01 23:13] joreiff commented on #6085
I can confirm that the issue is fixed with the latest release, thanks!

[2022-04-04 08:05] Wolf-SO commented on #6091
I just wanted to let you know that I can confirm that the problem has been solved in version 5.0.6.

[2022-04-04 08:46] tiff commented on #6091
Thanks!

[2022-04-05 06:12] marcoagpinto commented on #6447
@jaumeortola

Could you help with this rule?:

[code]

a TESTRULES PT produces:
[code]

Thanks!

[2022-04-05 08:13] linuxscout opened #6502 "Adding rules to an external file (relative path)"
Salam,
Adding rules to an external file

I read the doc, but I need to add a new xml rule for new rules (just for tests), I want to put the file locally within ar/rules/ directory, I try this
[code]
In other hand, Should I add xml prolog to the user files

I ask this question on [languagetool forum](https://forum.languagetool.org/t/external-xml-rule-file/7795#adding-rules-to-an-external-file-1)

T

[2022-04-05 10:25] jaumeortola commented on #6447
So, you want to replace `escreve-lo` with `escrevê-lo`. The filter doesn't seem useful here.

Verbs with accent (infinitives?) are tagged this way:
[code]

This seems to work:
[code]

[2022-04-05 14:23] marcoagpinto commented on #6447
@jaumeortola

Thank you, it is working, but there are some false positives.

I fixed them, but I only checked with the sentences provided by LanguageTool.

How do I make the exception check if a verb has punctuation at the end?

[code]

That would make it work 100% with all verbs, and not only with those we have as tests.

Thanks!

[2022-04-05 14:40] jaumeortola commented on #6447
This?
`<token postag='VMIP3S0|VMM02S0' postag_regexp='yes' regexp="yes">.*[ea]</token>`
This?
`<token postag='VMIP3S0|VMM02S0' postag_regexp='yes'><exception regexp="yes">.*[áê]</exception></token>`

Or both?
`<token postag='VMIP3S0|VMM02S0' postag_regexp='yes' regexp="yes">.*[ea]<exception regexp="yes">.*[áê]</exception></token>`

[2022-04-05 14:52] marcoagpinto commented on #6447
@jaumeortola

It produces tons of false positives:
[code]

[2022-04-05 14:53] marcoagpinto commented on #6447
@jaumeortola

ahhhh.... sorry... forgot "ê"... let me try again.

[2022-04-05 15:06] marcoagpinto commented on #6447
@jaumeortola
@ricardojosehlima

The rule has been created:
https://github.com/languagetool-org/languagetool/commit/9bc23d54ab651e3eb782b3ffc76d3a3713f6db18

Here are the results:
[4enclise.txt](https://github.com/languagetool-org/languagetool/files/8419377/4enclise.txt)

Some verbs may not have POS, so the suggestions don't work with all of them.

[2022-04-05 15:09] marcoagpinto opened #6505 "[en] Doesn't detect plural"
Hello!

`And the suggestions doesn't work with all of them.`

It doesn't flag "doesn't", it should suggest "don't".

Thanks!

[2022-04-05 16:23] marcoagpinto commented on #6447
@jaumeortola

Yes, tons of them.

In the .txt above, all the ones whose suggestion is between "( )" or "[ ]" (too stressed to remember).

🙂

[2022-04-05 17:47] ricardojosehlima commented on #6447
@jaumeortola @marcoagpinto
Great work!! So many situations that until now were not seen by LT, and now, they are!
As for the verbs that Marco mentioned, they are:
(retruca)
(retira)
(reconhece)
(contata)
(reanima)
(replica)

I scanned the file and nothing more drew my attention.

[2022-04-05 18:20] jaumeortola commented on #6447
Thank you for the list of verbs. The verbs starting with re- are not in the tagger dictionary, but they get tagged because they are interpreted as being another verb with the prefix re-. It is as if someone has actively removed these verbs from the dictionary. We need to fix it.
A for "contata", the verb "contatar" is there, but not the form "contatá VMX0000".

[2022-04-05 19:20] ricardojosehlima commented on #6447
@jaumeortola so maybe it is worth testing the rule against verbs that start with 're-' to check if there are more similar cases? If so, I volunteer. I only need to know where to test it: online would be better, but I can copy/paste the proposed rule in the grammar.xml here in my LO

[2022-04-05 20:12] jaumeortola commented on #6447
Thank you, @ricardojosehlima. I have extracted 5,333 verbs starting with re- from all the spelling dictionaries (PT, BR, AO, MZ). What do you think? I guess there are too many verbs. Some are probably unusual and non-existent in common dictionaries. Only 264 are in the tagger dictionary, and  a few more are (5-6) in added.txt. Some verbs rere- are most likely generated with two prefixes (rereconsi

[2022-04-05 20:26] ricardojosehlima commented on #6447
@jaumeortola so, if I understood it well, I would search for valid verbs in spelling.txt and then those would be added to tagger.txt, correct? I can do this to very frequent verbs that I can spot are not in tagger.txt, but not for valid verbs as there are verbs included from PT, AO and MZ and I don't know for example if 'recapar' is even valid in PT, AO and MZ or if it is frequent.
I can make a li

[2022-04-05 20:37] jaumeortola commented on #6447
Yes, verbs in `verbs-re-in-spelling-dicts.txt`, once confirmed, will be added to `added.txt` (with the whole conjugation, around 85 forms for each verb).
But before doing anything, I will compare the differences among the spelling dictionaries and will provide several lists (one for verbs in all dictionaries, another for only BR, and so on), so that we can set priorities. I will post them here.

[2022-04-06 12:42] ricardojosehlima opened #6509 "[pt] Suggesting diacritic for 'ate'"
Maybe because the verb 'atar' exists and can be conjugated as 'Quero que ate os nós do sapato', LT does nothing when we forget the diacritc on the preposition 'até':

E ate o menino conseguiu fazer isso.
Vou ate minha casa e volto.

A possible solution when the user writes 'ate':
Alert the user that if he intended to write 'até' the diacritic should be added ("Se pretende usar a preposição 'até',

[2022-04-06 12:54] marcoagpinto commented on #6509
Ahhhhh… now that you mention it, I was supposed to improve the diacritics rule to try to make it work with "matricula", at 5am I will see if it can also work with "ate".

Thanks!

[2022-04-06 13:15] #6239 closed

[2022-04-06 18:45] Xulfx opened #6510 "German sentence has a verb repetition that is not recognized."
German from a news webside (a real life error). Checked with languagetools and didn't find it:
Schließlich sind im November sind Kongresswahlen, es geht um wichtige Mehrheiten, die den Weg zur Präsidentschaft ab 2024 bereiten sollen.
The second "sind" is to much. The frase has to many verbs.

Translation (without errors):
After all, congressional elections are in November, and important majorities

[2022-04-06 21:27] jaumeortola opened #6511 "[pt] differences among Portuguese dictionaries"
We are going to check some differences among Portuguese spelling dictionaries, and add missing words to the tagger dictionary.
To begin with, we'll check verbs starting with re-. Most of these verbs are missing in the tagger dictionary.

It seems that the dictionaries PT, MZ and AO are similar most of the time. I have created three lists:
- verbs only in BR: [br-dict.txt](https://github.com/langua

[2022-04-06 23:12] marcoagpinto opened #6512 "[en] Suggests adding “,” when “…” is already there"
Hello!

`It is amazing how I let so many things be missing in the thesis… was I blind?`

It suggests adding a comma after “thesis”, but I already have punctuation there.

[2022-04-06 23:57] xthursdayx opened #6513 "Self-hosted LT server not accessible with Firefox add-on"
When trying to use my self-hosted LT server with the Firefox LT add-on, I get the following error from the LT pop-up: `Cannot connect to https://grammar.my.domain/v2/check - please check your internet connection or try again in a minute (#1, code=0)`. However, when I try using the LT extension in Chromium with the same self-hosted LT server I don't have any problems. I am trying this using a fresh

[2022-04-07 01:11] marcoagpinto commented on #6509
@ricardojosehlima

Done!

https://github.com/languagetool-org/languagetool/commit/75d7cefd12218b08af85ff6122c9f540f7cb83c1

In 600 000 sentences it only produces two hits:
[1.txt](https://github.com/languagetool-org/languagetool/files/8438848/1.txt)

[2022-04-07 01:14] xthursdayx commented on #6513
For more information, here is the NGINX subdomain proxy conf I'm using:
[code]
SSL.conf:
[code]
and proxy.conf:
[code]

[2022-04-07 01:42] marcoagpinto commented on #6509
@ricardojosehlima

I made the rule more flexible:
https://github.com/languagetool-org/languagetool/commit/c7cc722132312c8a62717d9b2c5ecff02962e586

In 600 000 sentences it now produces 9 hits:
[2.txt](https://github.com/languagetool-org/languagetool/files/8438981/2.txt)

[2022-04-07 06:35] danielnaber commented on #6513
Does just using `--allow-origin` without any parameters make a difference? Does it work if you run it directly, without Docker?

[2022-04-07 12:59] ricardojosehlima commented on #6509
Only 9 out of 600k? I keep forgetting this diacritic, but if it is not a usual issue, so better. At least, LT has incorporated one more rule that may help.

[2022-04-07 13:06] marcoagpinto commented on #6509
@ricardojosehlima

I may retire this year due to my illness, and then will have more time for open-source.

🙂 🙂 🙂

[2022-04-07 13:17] ricardojosehlima commented on #6511
@jaumeortola @marcoagpinto
This BR-only is very weird... I barely recognize a few verbs, most of them are completely unknown to me, I will separate these two groups.
As for the verbs, the br-pt-dict.txt contains 932 verbs while that dictionary that you sent (verbs-re-in-spelling-dicts.txt) contains 5333, should I consider this larger list as well?

I must confess that I am little confused to what

[2022-04-07 14:51] jaumeortola commented on #6511
The number of verbs in these files is:
[code]
As you can see, most are in PT (+MZ+AO). "Reacentar" is there.

This is the 5333 list with annotations (PT, BR...): [all-verbs-re.txt](https://github.com/languagetool-org/languagetool/files/8443643/all-verbs-re.txt)

In the first place, we want to get a feel of what is in these files. If you say that most verbs in BR are unknown or the lists seem unrel

[2022-04-07 14:59] ricardojosehlima commented on #6511
Sorry, I thought the pt-br was the sum of pt only and br only, but it is only those verbs that are common to pt and br.
Well, I can look at the 5333 verb list and separate only that I consider existent or possible that are not in the tagger.
When I say "possible" is because it may be a verb with prefix 're-' that I'm not sure exists but could exist, for example, 'rebeijar' - which particularly I w

[2022-04-07 15:29] tiff commented on #6512
Looks good. Thanks

[2022-04-07 15:29] #6512 closed

[2022-04-07 15:29] tiff commented on #6505
Now caught

[2022-04-07 15:29] #6505 closed

[2022-04-07 18:44] marcoagpinto opened #6514 "[en] brain wave(s) → brainwave(s)"
Hello!

`There are many kinds of brain waves, and a brain wave is all one needs.`

LT doesn't suggest joining the words “brain waves” into just one word.

[2022-04-07 19:06] dpelle commented on #6514
Both "brainwave" or "brain wave" are good, at least according to wiktionary: https://en.wiktionary.org/wiki/brainwave

Also, https://en.wikipedia.org/wiki/Neural_oscillation has both spellings.

So we should not suggest anything, it would be false error.

[2022-04-07 19:09] marcoagpinto commented on #6514
Ahhhh... okay.

[2022-04-07 19:09] #6514 closed

[2022-04-07 21:27] justjanne opened #6515 "Allow add-on to use self-hosted synonym server"
Currently, when self-hosting LanguageTool, it’s possible to self-host the correction server and configure the add-ons to use it instead of the hosted one.

The data used by the synonym server is entirely under free licenses.

WordNet for EN is under a free license (kinda BSD/MIT license), the LibreOffice dictionaries for NL, ES, IT, UK are under GPL, OpenThesaurus for DE is under LGPL, New Russian

[2022-04-08 04:40] marcoagpinto opened #6516 "[en] can take actions → can act"
Hello!

Is this a good idea for a rule?:
`and you can take actions against the entities.`

Suggest?:
`and you can act against the entities.`

[2022-04-08 06:39] samarulmeu commented on #6482
Actually I think it should be reopened. I use 5.7 (on Alpine Linux) and thee error still shows using `-l en` , `-l en-US` or `-l en-GB`. Using `-l ro-RO` I have no problem.

[2022-04-08 08:55] jaumeortola opened #6517 "[pt] sources (dictionaries) for Portuguese words"
In this issue, I am going to collect the most important sources for Portuguese vocabulary.
@marcoagpinto @ricardojosehlima Please, add other sources you may know, and comment strengths and weaknesses of them (e.g. good/poor coverage, good for BR/PT vocabulary or not, and so on).

* Michaelis https://michaelis.uol.com.br/moderno-portugues/busca/portugues-brasileiro/
* Priberam https://dicionario.pr

[2022-04-08 09:21] marcoagpinto commented on #6517
@jaumeortola

The most recent pt-BR dictionary and thesaurus is here:
https://opengrok.libreoffice.org/xref/dictionaries/pt_BR/

[2022-04-08 12:42] donnerpeter opened #6518 "[de] missing comma false positive with slash"
`Es ist langsam/hängt.`
![image](https://user-images.githubusercontent.com/122009/162437620-a671ecb9-fbe9-4058-87df-a01dc2ebfa2c.png)

[2022-04-08 12:44] jaumeortola commented on #6517
Thanks, @marcoagpinto
I see some problems in this last version of pt-BR Hunspell dictionary. It generates 80 million forms, while previous dictionaries have 10 million forms. It creates many forms with prefixes: for example, a- + abafar = aabafar. This seems wrong. Have you tried this dictionary?

[2022-04-08 13:59] marcoagpinto commented on #6517
@jaumeortola

It is the LibreOffice dictionary, Olivier Hallot told me about it since he was going to do some editing with my app Proofing Tool GUI.

[2022-04-08 14:02] donnerpeter opened #6519 "[ru] word repetition false positive"
`отдельные клавиши со знаком "плюс" и сочетания через пробел, например CTRL+O и CTRL+L L для аккорда`

[2022-04-08 14:02] donnerpeter opened #6520 "[ru] preposition case expectation false positives"
Кодировка по умолчанию, используемая при чтении и записи файлов.
все представления, зарегистрированные в этом контейнере, будут добавлены в обозреватель.

[2022-04-08 14:03] donnerpeter opened #6521 "[ru] missing comma false positive"
Регулярные выражения начала и окончания будут применены к содержимому всех строк.

[2022-04-08 14:09] donnerpeter opened #6522 "[ru] missing hyphen false positive"
кликните правой кнопкой по нужному пулреквесту.

[2022-04-08 14:14] donnerpeter opened #6523 "[ru] missing V case for плагин"
![image](https://user-images.githubusercontent.com/122009/162453817-eb37742d-0f62-4d12-88c7-336ec1744a54.png)

[2022-04-08 14:15] donnerpeter commented on #6523
"плагины" as well

[2022-04-08 14:19] marcoagpinto commented on #6517
@jaumeortola

It has 10 million forms too:
![pt_BR_dic_statistics_20220408](https://user-images.githubusercontent.com/5192600/162454529-8be99da6-3dd6-4129-bcb1-c4052041a744.png)

See the wordlist here:

[pt_BR_dic_wordlist_20220408.zip](https://github.com/languagetool-org/languagetool/files/8452615/pt_BR_dic_wordlist_20220408.zip)

I used Proofing Tool GUI to extract it:
https://proofingtoolgui.or

[2022-04-08 14:26] jaumeortola commented on #6517
Yes, you are right. It has 10 million forms. The problem is that the unmunch command for Hunspell dictionaries doesn't work with UTF-8.

[2022-04-08 14:47] marcoagpinto commented on #6517
@jaumeortola

Use Proofing Tool GUI, my linguistic tool.

[2022-04-08 15:33] danielnaber commented on #6522
Hi Peter, I have added you to this repo so you can set the labels for your issues yourself.

[2022-04-08 15:39] donnerpeter commented on #6522
@danielnaber Thanks! I'm not familiar with the workflow though. Is it enough to specify the language?

[2022-04-08 15:57] danielnaber commented on #6522
Usually yes. If you know the issue requires more than "just" XML changes, you can also specify `code/java`.

[2022-04-08 16:53] marcoagpinto commented on #6509
@ricardojosehlima

I have improved the rule:
https://github.com/languagetool-org/languagetool/commit/7f67757e4266fa18784a5793557a5620c7522aa4

It now gave one more hit:
`O atacante Gabriel Jesus, titular da equipe, foi decisivo na ate então inédita conquista.`

[2022-04-08 18:11] ricardojosehlima commented on #6509
What if the rule had no context at all? I checked the rule and it seems that it only applies to 'ate' if tagged as preposition

[2022-04-08 18:17] marcoagpinto commented on #6509
Well, it would probably produce tons of false positives:
`"Quero que o Rui ate as cordas."`

[2022-04-08 18:21] ricardojosehlima commented on #6509
@marcoagpinto would it? Maybe it is worth a test, if it does, then your last version remains.

[2022-04-08 18:26] ricardojosehlima commented on #6509
@marcoagpinto a quick try at the LT editor and I have seen lots of 'ate' instead of 'até', but seen none like the example you mentioned - but a deeper look will be necessary.
And after all, I was right in considering the forgetting of the diacritic in 'até' as common issue: 992 issues.
One tip already: if 'ate' is 'Ate' and not in the beginning of the sentence, don't correct it.

[2022-04-08 18:28] marcoagpinto commented on #6509
@ricardojosehlima

How should I code it then?

I will do it on Monday.

Weekend is workdays, unless I win the EuroMillions tonight 🙂 🙂 🙂

[2022-04-08 18:33] ricardojosehlima commented on #6509
just remove the postag information from your rule.
And add an exception: don't correct it if the first or all the letters are capitalized (Ate, ATE) and NOT in the start of a sentence.

</rule>
		<rule>
			<pattern>
				<marker>
					<token>ate</token>
				</marker>
			</pattern>
			<message>Se pretende usar a preposição 'até', acrescente o acento agudo.</message>
			<suggestion>até</suggestion>

[2022-04-10 00:11] rillig opened #6524 "[en] False positive in 'The verb after “to” should be in the base form'"
I wrote:

https://languagetool.org/ said:

[2022-04-10 07:04] marcoagpinto commented on #6509
Hello @ricardojosehlima

Today is work day, so I can't dedicate much time to it.

I created a rule to generate all the "ate" words in the 600 000 sentences wordlists:
[code]

Rule:
[code]

[0_ate_all.txt](https://github.com/languagetool-org/languagetool/files/8458455/0_ate_all.txt)

In the 600 000 sentences it only produces:
[code]

How did you get hundreds of hits?

On Monday, I will improve the

[2022-04-10 07:13] marcoagpinto commented on #6509
@ricardojosehlima

I was just looking at the results, and you were right about matching only “ate” with lowercase will do the task.

I will rewrite the rule tomorrow.

Thanks!

[2022-04-10 07:46] danielnaber commented on #6524
Thanks, will be fixed soon.

[2022-04-10 07:46] #6524 closed

[2022-04-10 14:10] ricardojosehlima commented on #6509
Yes, this was the pattern I used at https://community.languagetool.org/ruleEditor2/index?lang=en
We've checked your pattern against sentences 1 to 992 from the pt [Wikipedia](http://www.wikipedia.org/), [Tatoeba](http://tatoeba.org/), and several online forums and found the following matches. Please consider modifying your rule if these matches are false alarms. Hover over the words to display the

[2022-04-11 04:58] babycaseny commented on #6516
I don't think it is grammatical but something more like usage preferences. You can see “take action against ……” on legal environments. Changing them to “act against ……” will have the original feeling lost.

[2022-04-11 07:59] #6518 closed

[2022-04-11 08:39] kacnje opened #6525 "LibreOffice Writer and LanguageTool extension - doesn't work (Linux)"
I have 64-bit Linux Mint 20.3 with LibreOffice 6.4.7.2. I installed LanguageTool Extension (latest version 5.7).
In LibreWriter I have menu Tools -> LanguageTool (with 7 items) and five icons on the toolbar.
But clicking on menu items or clicking on icons doesn't do anything.
What can be wrong?
The latest [reviews here ](https://extensions.libreoffice.org/en/extensions/show/languagetool) are quite

[2022-04-11 10:11] danielnaber commented on #6525
Have you tried the tips at https://languagetooler.freshdesk.com/support/solutions/folders/44001214393?

[2022-04-11 10:52] marcoagpinto commented on #6509
Hello @ricardojosehlima

I have improved and cleaned the rule:
https://github.com/languagetool-org/languagetool/commit/0954cf1e5936b8f820c6013a1c48b004d28307c0

[10.txt](https://github.com/languagetool-org/languagetool/files/8463397/10.txt)

[code]

[2022-04-11 16:26] donnerpeter opened #6528 "[de] missing comma false positive"
`Aber wer das eben nicht hat, kann in der Not auch zu einem schnell aufgehängten Laken greifen.`

[2022-04-11 20:36] ricardojosehlima opened #6529 "[pt] Issue with pronouns and verbal agreement and comma(!?)"
LT correctly corrects the lack of verbal agreement in (1), (2) and (3):

(1) Eles(pl.) pode(sg.) fazer tudo.
(2) Nós(pl.) escreve(sg.) aqui.
(3) Se os meninos(pl.) pode(sg.), ela também pode.

However, there is something happening when we add  a comma after the verb. None of the cases below are corrected:
(4) Se eles(pl.) pode(sg.), nós podemos.
(5) E se elas(pl.) vai(sg.), nós vamos também.
(6) N

[2022-04-11 20:39] Tyrrrz opened #6530 "[uk] Empty button in synonym suggestions"
![image](https://user-images.githubusercontent.com/1935960/162827719-b116ce3b-dc01-481c-a2fa-3f246245717c.png)

Prompt: зрозуміли
Also happens on: зрозумів, зрозуміла

The first offered synonym is a button with no text. Clicking it replaces the word with an empty string.

[2022-04-12 00:11] marcoagpinto commented on #6509
@ricardojosehlima

I believe the rule is now working for most cases:
https://github.com/languagetool-org/languagetool/commit/b38f5241f4c1ef8ea600787c6847e582139bc780

I was working on a document from the thesis supervisor and noticed several missing hits.
[12.txt](https://github.com/languagetool-org/languagetool/files/8468509/12.txt)

[code]

[2022-04-12 00:11] #6509 closed

[2022-04-12 00:13] marcoagpinto commented on #6529
@ricardojosehlima

I have been revising the thesis supervisor document and haven't had time to do anything else in the past hours.

I will have a look at this ticket in this day or in the next.

Sorry for not doing much.

[2022-04-12 00:58] marcoagpinto commented on #6509
@ricardojosehlima

ahhhh… sorry… forgot a POS:
https://github.com/languagetool-org/languagetool/commit/d45dca4732c6410ea537b3321da75ecff6906f56

[13.txt](https://github.com/languagetool-org/languagetool/files/8468675/13.txt)

[code]

[2022-04-12 01:39] ricardojosehlima commented on #6509
Ok!

[2022-04-12 07:54] moabits commented on #4543
+1

[2022-04-12 09:23] Jayy001 opened #6532 "[UK] Broken loop with "its" and "it""
![image](https://user-images.githubusercontent.com/56607897/162927142-a9bdc1a2-f7df-41f8-a0d4-521351909db5.png)

![image](https://user-images.githubusercontent.com/56607897/162915072-26c86685-e45d-4868-94fa-63bee900d20e.png)

[2022-04-12 11:03] ricardojosehlima commented on #6447
@jaumeortola @marcoagpinto
I am doing the dictionary task and indeed the tagger file lacks lots of frequent verbs with re-. However, a doubt has arisen: I see verbs that are not in the tagger being tagged in the https://community.languagetool.org/analysis/analyzeText correctly just like any other verb, for example 'registrar'. So, not being in the tagger is causing what problem?

[2022-04-12 12:20] jaumeortola commented on #6511
@ricardojosehlima Answering your question here (https://github.com/languagetool-org/languagetool/issues/6447#issuecomment-1096577521)
I am looking into different sources for Portuguese vocabulary. The verbs starting with re- can be a sort of example.

* In the current tagger dictionary, there are 297 re- verbs (including 'registrar').
* In the VOP [Vocabulário Ortográfico do Português](http://www.

[2022-04-12 12:50] marcoagpinto commented on #6447
@ricardojosehlima

Hello!

They need to be in spelling.txt or in the corresponding .dic file.

[2022-04-12 14:12] ricardojosehlima commented on #6511
@jaumeortola I had already started the task with 5,333 verbs finding many existing and frequent verbs that were not in the tagger, but this verbs-re-volp.txt is already truly satisfactory to include all those 959 in the tagger, and the 5,333 list can be gone.
It may not have been useful for LT, but reading and reflecting about re- verbs was not a loss of time after all, a linguist is always happy

[2022-04-12 14:28] donnerpeter opened #6535 "[de] Article-noun agreement violation false positives"
Als Auslöser könnte den ersten Erkenntnissen zufolge ein Specht in Betracht kommen.
Er ist von den Anspielen abhängig.

[2022-04-12 14:44] marcoagpinto commented on #6447
Ahhhh…
@ricardojosehlima

The speller.txt only has words common to all variants.

For specific variants the words must be added to .dics or maybe @jaumeortola knows a better way.

🙂

[2022-04-12 15:35] tiff commented on #6532
Fixed as part of https://github.com/languagetool-org/languagetool/commit/c0333f87584ac0021b21a16cf6aaf9c48aff504a

[2022-04-13 05:53] marcoagpinto commented on #6529
@ricardojosehlima

This will take some time, since depending on the pronoun it will trigger different rules.

I was looking at one of the rules, and the antipatterns I created years ago are terrible.

I am about to start rewriting the antipatterns, and after I am done with them, I will check the comma issue.

[2022-04-13 07:13] gour opened #6537 "Grazie & LT Premium license"
Hello,

I'm evaluating PhpStorm, but would like to use IDE for writing as well (AsciiDoc & Markdown), so wonder if the built-in Grazie plugin can take advantage of LT Premium license?

What about Grazie Pro version? Does it use LT at all?

Sincerely,
Gour

[2022-04-13 08:12] danielnaber commented on #6537
I think Grazie runs locally, while LT Premium is a cloud solution, so I'm afraid using LT Premium with Grazie isn't currently possible.

[2022-04-13 08:36] donnerpeter opened #6538 "[en] a/an false positive before "util""
`this is a util method`

[2022-04-13 09:14] ricardojosehlima commented on #6529
Ok! if there's something I can do to help, feel free to ask.

[2022-04-13 09:26] danielnaber commented on #6538
Thanks, will be fixed soon. But "util" isn't even part of our dictionary, I'll ask a native speaker whether we should add it.

[2022-04-13 09:33] ricardojosehlima commented on #6463
Hi @marcoagpinto I've noticed that the word 'slide' is still being flagged for pt-br as a foreign word, but we use it regularly

[2022-04-13 09:50] #6538 closed

[2022-04-13 11:21] marcoagpinto commented on #6529
@ricardojosehlima

I am about to finish rewriting the antipatterns for "eles"/"elas".

What takes longer is the tests.

[2022-04-13 11:32] tiff opened #6540 "[de] Komma wird an falscher Position vorgeschlagen"
Das Komma sollte vor dem "sind" stehen

![Bildschirmfoto 2022-04-13 um 13 30 12](https://user-images.githubusercontent.com/37363/163170794-442a7754-9b65-46cf-bb94-ee2fc77a848b.png)

[2022-04-13 12:24] marcoagpinto commented on #6529
@ricardojosehlima

Hello!

Here is the fix:
https://github.com/languagetool-org/languagetool/commit/5d1a2e1f03e9c062ca1766cc5cdb93be05a9afb7

It now works with:
[code]

Results:

[2reference.txt](https://github.com/languagetool-org/languagetool/files/8481331/2reference.txt)

[3.txt](https://github.com/languagetool-org/languagetool/files/8481332/3.txt)

It only produced two new hits if you do a dif

[2022-04-13 15:06] ricardojosehlima commented on #6529
Awesome!

[2022-04-13 16:07] jaumeortola opened #6542 "[pt] adverbs -mente"
I am uncertain if these Portuguese adverbs all are correct. For example, "ampliamente, amplissimamente" are not in any dictionary. I know a few are old spelling (we can keep these because we have rules for them). Could you check them? @ricardojosehlima @marcoagpinto

`acertadissimamente, aconselhavelmente, activissimamente, admissivelmente, afabilissimamente, agilissimamente, aguisadamente, alopat

[2022-04-13 17:14] donnerpeter opened #6543 "[en] Word joining false positive: "under write lock""
`Must be called under write lock.`

[2022-04-13 19:29] #6490 closed

[2022-04-13 20:05] danielnaber commented on #6537
I don't know, the Grazie add-on isn't developed by us but by JetBrains, I think you'll need to contact them.

[2022-04-14 10:02] Discostu36 commented on #6540
Nein, es sollte gar kein Komma vorgeschlagen werden.

[2022-04-14 10:23] donnerpeter opened #6545 "[de] "Verletzten" missing GEN:PLU tag"
`40 Prozent der Verletzen`

![image](https://user-images.githubusercontent.com/122009/163366177-b96a13be-c69e-4732-87e1-14d766de3a55.png)

[2022-04-14 10:26] donnerpeter commented on #6545
Ah it's a typo!

[2022-04-14 10:26] #6545 closed

[2022-04-14 10:26] tiff commented on #6540
Aha, danke!

[2022-04-14 10:49] Discostu36 commented on #6540
Es ist nämlich kein Nebensatz, sondern eine adverbiale Bestimmung der Zeit, so wie in:

Deshalb ist das ein false positive.

[2022-04-14 11:32] donnerpeter opened #6546 "[de] missing NOM:PLU tag on Variablen"
`die anderen Variablen sind toll`
![image](https://user-images.githubusercontent.com/122009/163382486-33626b0d-48bd-447d-97f5-f170a0afc50a.png)

[2022-04-14 12:13] donnerpeter opened #6547 "[de] agreement violation false positive on "jeden Einkaufswilligen""
`Corona als Fussfessel für jeden Einkaufswilligen.`

![image](https://user-images.githubusercontent.com/122009/163386876-8340db47-aec8-4f84-b30b-f9b633c80b63.png)

[2022-04-14 12:17] donnerpeter opened #6548 "[en] different rules have duplicate descriptions"
This makes it hard to distinguish the rules in the IDE: see https://youtrack.jetbrains.com/issue/IDEA-291721

PunctuationMarkAtParagraphEnd and PunctuationMarkAtParagraphEnd2
EnglishUnpairedBracketsRule and EnglishUnpairedQuotesRule

[2022-04-14 12:39] tiff commented on #6543
Fixed as part of https://github.com/languagetool-org/languagetool/commit/49d44e58231729872845cc42c13cc0bde9f6a1cf

[2022-04-14 12:39] #6543 closed

[2022-04-14 13:14] ThomasLeigh opened #6549 "Allow to increase both GUI and the editor font size."
[Windows app] Please allow to increase both the GUI font size and (independently) the editor font size. It would be of a crucial value to users with weaker vision.

(I’ve read [this topic](https://github.com/languagetool-org/languagetool/issues/75))

[2022-04-14 13:15] ThomasLeigh opened #6550 "Dark mode does not include context menu."
Windows 7 32-bit. Dark mode does not cover context menu within the text editor. Could You please include this?

[2022-04-14 13:17] ThomasLeigh opened #6551 "Allow to disable automatic updates."
[Windows-related] Could You please allow to disable automatic updates? It is important for users with mobile data plans to care how much data would be used.

[2022-04-14 15:09] ricardojosehlima commented on #6542
Wow, looks like someone made a list wit -issima and -vel and the added -mente and didn't think if it was viable or not.
I selected 50 from the list. One criterion was if it made sense considering the original adjective.
See:
"O político está inelegível." How could -mente be added to this?
But now:
"Que isso está certo é indisputável." --> "Indisputavelmente, isso está certo."

the list
aconselhave

[2022-04-14 15:11] ricardojosehlima opened #6552 "[pt] LT is vegan... but not in Portuguese?"
LT recognizes 'vegan' in en but not in pt: vegano, vegana, veganos, veganas are not in the dictionary.
Curiously, veganismo is.

[2022-04-14 15:18] marcoagpinto commented on #6552
Another task for 5am 🙂

[2022-04-14 15:18] ricardojosehlima opened #6553 "[pt] New possibility with verbo 'ir' and elimination of a suggestion"
LT flags "eu sei onde vou" as incorrect and suggests "aonde vou" and "donde vou". IMHO, "donde vou" doesn't make sense as a suggestion.
Moreover, LT flags "eu sei para onde vou" as incorrect, where it is ok (at least in pt-br).
Note that it happens wtih "vamos" and other forms of "ir" too.,

[2022-04-14 15:50] donnerpeter commented on #6548
Here's a full list of 5.7 English duplicate descriptions:

No punctuation mark at the end of paragraph
Possessive apostrophe error
in term (terms) of
Miami-Dade
before hand (beforehand)
space ship (spaceship)
ever day (every day)
GitHub
YouTube
PayPal
missing hyphen in 'one night stand'
missing hyphen in 'run on'
Possible agreement error: plural noun + singular verb
he ani't (ani't)
missing hyphen

[2022-04-14 17:06] marcoagpinto commented on #6552
Hello Ricardo!

I have just added the words:
https://github.com/languagetool-org/languagetool/commit/0ccb3f033dd7088166ebd78496cc5d49e49d5c07

https://github.com/languagetool-org/languagetool/commit/87cee9f6660a31bc26d2c0befac731a01827cd4b

[2022-04-14 17:06] #6552 closed

[2022-04-14 17:39] ricardojosehlima commented on #6552
Great and I see you added vegan and vegans, although foreign, both are used in pt-br.

[2022-04-14 19:40] jaumeortola commented on #6542
Thank you!

[2022-04-15 06:47] marcoagpinto commented on #6553
@ricardojosehlima

Hello!

I have fixed "eu sei para onde vou".

Basically, it ignores "para/pra + onde + verb ir".

https://github.com/languagetool-org/languagetool/commit/53acc4d85dd4d8d52b8ea5963abcdc8ddf15d6a9

Here is before:
[code]
[0_old.txt](https://github.com/languagetool-org/languagetool/files/8494335/0_old.txt)

Here is after:
[code]

[2.txt](https://github.com/languagetool-org/language

[2022-04-15 09:33] milekpl commented on #6486
I am updating the spelling dictionary. The following words were not included:

* OLX - proper name of a company; it remained active in Russia, so I'm not going to include it right now
* benfity - typo
* beauty - English word
* aś - huh
* Bytnar - proper name
* Exupéry - included as Saint-Exupéry
* procesowana - not a word (jargon)
* Agricole - part of the bank name, maybe will add as a complex for

[2022-04-15 09:38] milekpl commented on #3620
I'm updating the spelling dictionary. The following words above are not spelled according to current spelling rules (archaic versions):

Nehemijaszowa
Ijobowa
Jeremijasz
Jeremijaszowe
Ezechyjel
Danijel
Abdyjasz
Abakuk
Sofonijasz
Aggieusz
Zacharyjasz
Malachyjasz
Koryntów
Efezów
Filipensów
Kolosensów
Tesalonicensów
Tesalonicensów
Jakóba
Judasa

The rest will be included in the update.

[2022-04-15 09:39] #6486 closed

[2022-04-15 09:42] #3620 closed

[2022-04-15 11:39] ricardojosehlima commented on #6553
Yes I have seen some issues:
- the suggestion of 'donde' is still there, for me it should be eliminated
- with the verb 'ir' standard norm dictates 'aonde' so this should be the only possibility and I saw some cases where it was aonde and the rule suggested onde
- the situation with estar: as a main verb we use onde (onde você está?) but with 'ir' is aonde (aonde você está indo?)

[2022-04-15 11:49] marcoagpinto commented on #6553
ahhhhh...

What about "Donde é que o Rui veio?"?

Is this correct?

@ricardojosehlima

I am too stressed because weekend are workings day and I can't focus.

On Monday, I will return to where I stopped in the rule.

Or maybe Sunday afternoon because I will work less time on that day (Easter).

[2022-04-15 11:52] marcoagpinto commented on #6553
@ricardojosehlima

In simple words:
IR = aonde
ESTAR=onde
?

Thanks!

[2022-04-15 12:29] ricardojosehlima commented on #6553
Estar alone yes onde.
As for Donde é que o Rui veio? It is the verb vir I thought the rule was to ir alone. Plus: Donde maybe ok for European Portuguese but not in Brazil, anyway.

[2022-04-15 21:42] milekpl commented on #6486
Sorry, totally forgot about compounds, and had no access to my computer for the most of my day

[2022-04-16 05:49] marcoagpinto commented on #6553
@ricardojosehlima

Hello!

I was able to wake up at 5am, so I did some work on the rule:
https://github.com/languagetool-org/languagetool/commit/2ef31047866e6bbe3fe6e501130f5c2f5658f7e9

[5onde.txt](https://github.com/languagetool-org/languagetool/files/8499337/5onde.txt)

[6aonde.txt](https://github.com/languagetool-org/languagetool/files/8499338/6aonde.txt)

[7donde.txt](https://github.com/langu

[2022-04-16 08:07] marcoagpinto opened #6554 "[en] That is why → Therefore"
Hello!

Word 365 suggested me to change “This is why” with “Therefore”.

`People abuse nice persons, and that is what has been happening to me all over my life. This is why I keep away from society and only go out when I really have to. My psychological state has been degrading.`

[2022-04-16 09:16] marcoagpinto commented on #6553
I didn't go to work… anxiety + depression crisis.

[2022-04-16 14:25] ricardojosehlima commented on #6553
Hi many things are alright but there are some issues yet:
Onde with estar only if estar is the main verb (eu sei onde ele está), if está precedes the verb 'ir' then it is aonde (aonde você está indo?)
Aonde with verb ir only if it is the main verb (aonde você vai?) when it is not (onde você vai casar?)
The donde example looked weird to me, I still see it as a very rare usage.
And my best wishes fo

[2022-04-17 10:17] marcoagpinto commented on #6553
Hello @ricardojosehlima

I have improved the rule to accept a word before the verb:
https://github.com/languagetool-org/languagetool/commit/f71fcc7d84b45ea271866f4a20a291d9df7f7ed0

Now it produces tons of extra hits.

I also changed the "donde" to  "donde (Portugal)". Is it better this way?

Compare:
[9.txt](https://github.com/languagetool-org/languagetool/files/8501350/9.txt)

With:
[8all.txt](h

[2022-04-17 13:33] ricardojosehlima commented on #6553
Hi,
The other two sentences should remain with onde.
Good decision to put donde only for Portugal.
Also there is an issue with aonde that it is too hard to solve: aonde goes with verbs of motion. The problem is how to inform LT that the verb is of motion? I can't see how. But look:
Onde você vai casar? Ok
Onde você vai levar seu filho? Levar is a verb of motion and should be aonde.
Maybe a list of

[2022-04-17 13:46] marcoagpinto commented on #6553
@ricardojosehlima

What about this?:
"Onde você está indo?" should suggest "Aonde você está indo?"
?

Thanks!

[2022-04-17 13:59] ricardojosehlima commented on #6553
Yes!

[2022-04-17 14:25] marcoagpinto commented on #6553
"Onde você está indo?" coded:
https://github.com/languagetool-org/languagetool/commit/a962f570a2e828f3f593386df0af2fb1c6877482

Please see the diff between 10.txt and 9.txt to see if they are all correct:
[10.txt](https://github.com/languagetool-org/languagetool/files/8501796/10.txt)

Regarding "Onde você vai levar seu filho?" it is easy to fix,  but like you said there is no way to know if a verb

[2022-04-17 14:57] marcoagpinto commented on #6553
"Onde você vai levar seu filho?" coded:
https://github.com/languagetool-org/languagetool/commit/097aaba1c5f10c53b72ca4318aff8dd16efe7110

It had no hits in 600 000 sentences.

[2022-04-18 00:09] marcoagpinto opened #6555 "[en] Uncountable nouns for added.txt and spelling.txt"
Hello @danielnaber @udomai @tiff @jaumeortola

I have created a list of missing uncountable nouns in added.txt and spelling.txt.

I don't know if they are already in the morphologic dictionary or in all dictionaries.

All I know is that they are missing in these two files.

Here are the files:
[added_missing.txt](https://github.com/languagetool-org/languagetool/files/8502672/added_missing.txt)

[s

[2022-04-18 00:10] marcoagpinto commented on #6555
Ahhhh… they were extracted from the British Dictionary maintained by me.

[2022-04-18 02:01] lettersix1 opened #6556 "Lies in Privacy Policy & Consider ditching CloudFlare"
Your Add-on Option page

---

1. **We don't store the text**

By connecting to languagetool.org you are connecting to CloudFlare therefore it [can read anything](http://crimeflare.eu.org).

2. **All of our servers are hosted in Germany.**

CloudFlare edge servers are worldwide and most of them are in the USA.

3. **your IP address is stored in an abbreviated form (like 192.168.xxx.xxx)**

You can

[2022-04-18 08:08] danielnaber commented on #6556
Do your research properly and you'll see that the user's text data is sent to **api**.languagetool.org, which is not connected to Cloudflare. Only the website files themselves are served via Cloudflare.

[2022-04-18 13:56] wokawoka commented on #5591
I'm also wondering how it works with the self-hosted version, I'd much prefer to use the self-hosted version for privacy reasons but I would gladly pay for premium.

Just to be clear: could you confirm that the self-hosted version is limited in the number of characters per text field?
Thank you!

[2022-04-18 14:03] ricardojosehlima commented on #6553
Ok all looks fine to me!

[2022-04-18 14:08] danielnaber commented on #5591
The self-hosted version has no limits, unless you configure them.

[2022-04-18 16:58] ricardojosehlima commented on #6553
@marcoagpinto I guess that in this issue of aonde x onde x donde, the rule for "para onde" wasn't updated.
A reminder:
LT flags "Eu não sei para onde vamos" as an error, suggesting 'aonde vamos' or 'donde vamos'.
The rule for 'aonde' with 'ir' should be able to check if there is a 'para' before 'onde', in this case, nothing to be done.
And erase the suggestion 'donde vamos'.

[2022-04-18 18:13] marcoagpinto commented on #6553
I will check it at 5am.

I will erase "donde vamos".

Thanks!

[2022-04-19 03:24] marcoagpinto commented on #6553
@ricardojosehlima

It is very strange:
`"Eu não sei para onde vamos."`
works fine here:
![para_onde_vamos_20220419](https://user-images.githubusercontent.com/5192600/163913641-0ff1c47f-7486-4018-81ed-9f581d087942.png)

Did you test it with the latest nightly?

Also, I have just removed "donde":
https://github.com/languagetool-org/languagetool/commit/0e6f22d04b5d8f0c630ff654bfe0f9c223dd0e98

🙂

[2022-04-19 05:39] marcoagpinto commented on #6553
Ahhhhhhhhh…

@ricardojosehlima

The nightly seemed to be broken on the weekend for what I understand from the commits done back then.

Maybe that is why you tested the changes, and they didn't work.

[2022-04-19 05:44] wokawoka commented on #5591
That's nice to hear.
Then is the self-hosted version basically missing the enhanced grammar rules?
Thank you

[2022-04-19 06:10] danielnaber commented on #5591
It is missing some rules. If your question is about the premium version, please contact our support (you can find the email at https://languagetool.org/legal).

[2022-04-19 07:09] wokawoka commented on #5591
My question was about the limitations of the self-hosted version. I guess that in this case the best thing to do is to install it again and test it myself.
Thank you!

[2022-04-19 10:13] #2729 closed

[2022-04-19 11:57] jaumeortola opened #6557 "Spelling: missing split word suggestions"
We don't provide good suggestions for joined camel-case words like: BretagneItinéraire (French) or GreatElephant (English). It happens in most languages.

[2022-04-19 13:25] milekpl commented on #6557
@jaumeortola This is because most languages are set to ignore all camel case words altogether. I have just set this ignoring setting to off yesterday for Polish by adding this to the `.info` file:

 `fsa.dict.speller.ignore-camel-case=false`

[2022-04-19 18:27] jaumeortola commented on #6557
That is not the case in the languages I have looked into. `fsa.dict.speller.ignore-camel-case=false` is already there.
"BretagneItinéraire" (camel case) is a spelling error in French, but there was no suggestion. For "Bretagneitinéraire" (not camel case) we get the expected suggestion ("Bretagne itinéraire"). So far, there is a solution for ES, FR, CA. I will try a more general solution for all la

[2022-04-19 20:13] milekpl commented on #6557
I cannot for the life of me find the `french.dict` file with its .info file, but I suspect that you might have the function for converting case off (see line 234 in `Speller.java` in morfologik-stemming).

[2022-04-19 20:26] PillFall opened #6558 "Could not initialize English chunker"
I am always receiving this exception when trying to check text in English.

My configuration:
* OS: Manjaro Qonos 21.2.6
* Java: package `java-runtime-common` (OpenJDK JRE 17.0.3)
* LanguageTool: package `languagetool` (LT 5.6)

I tested on LT 5.4, 5.5, 5.6 and 5.7, with all of them I got the same error. I could check in another languages as far as I could test (Spanish, French, and Greek), the pr

[2022-04-19 20:30] milekpl commented on #6557
@jaumeortola Just tested on the Polish speller – get same results as you do. Apparently, `findReplacementCandidates` does not even try to break camel-case words in the obvious place because not all case conversions are properly covered (esp. lines 452 and following). I thinks this must be fixed in morfologik-stemming.

[2022-04-20 08:20] MarvinErdner opened #6559 "[pt] User feedback: ás dos vs. às dos (LOOP)"
HOMOPHONE_AS_CARD[4]

_Essas situações permitem deias e compará-las às dos colegas._

HOMOPHONE_AS_CARD[2]

_Essas situações permitem deias e compará-las ás dos colegas._

https://twitter.com/D1360_64RC14/status/1516553037652926471

[2022-04-20 08:44] marcoagpinto commented on #6559
Hello!

Nice finding.

I will work on it today or at 5am.

Thanks!

[2022-04-20 10:13] jaumeortola commented on #6557
This could be a more general solution: https://github.com/morfologik/morfologik-stemming/pull/114

[2022-04-20 14:00] milekpl commented on #6557
Nice, I added test two other cases to morfologik-stemming JUnit tests.

[2022-04-20 18:01] donnerpeter opened #6562 "[en] agreement false positive on 'Mark file'"
`Mark file as processed`

![image](https://user-images.githubusercontent.com/122009/164294021-b7775905-d4f5-41f6-bb4c-8d8872395e16.png)

[2022-04-20 20:11] marcoagpinto commented on #6559
Fixed:
https://github.com/languagetool-org/languagetool/commit/d244cccb784657fccfbd64ff6d0dca7fa307aa15

[2022-04-20 20:11] #6559 closed

[2022-04-20 21:56] willismonroe opened #6563 "An error has occurred (NullPointerException with deactivateRule)"
I'm trying to deactivate the Passive Voice rule but every time I select this option from the right click menu I get the following error message:
![image](https://user-images.githubusercontent.com/715210/164330959-d741e56f-4d14-49e1-bbb1-857b0941d20e.png)

[2022-04-21 06:40] danielnaber commented on #6563
@FredKruse

[2022-04-21 09:04] FredKruse commented on #6563
The issue should be solved
@willismonroe Please test it with the nightly tomorrow.

[2022-04-21 11:05] 1371131436 commented on #5537
![LC6A{A@I W`(QI %J 2OFPW](https://user-images.githubusercontent.com/58131846/164444884-7d319830-03b9-4aff-8ef0-063443f79f14.png)

A new rule can solve this problem.

[2022-04-21 16:22] donnerpeter opened #6566 ""Unpaired bracket" rule false positives on closed-open number ranges"
e.g. `The index is in the range [start, end).`
![image](https://user-images.githubusercontent.com/122009/164506332-c0de403c-9c1f-4013-896f-4167d6762c4a.png)

[2022-04-22 06:40] MarvinErdner opened #6567 "[ru] Левандовский is missing"
https://twitter.com/Anna_Dove_89/status/1517157513220673537

[2022-04-22 07:44] donnerpeter opened #6568 "[en] verb repetition false positive"
`If this map maps one or more keys to the specified value...`

[2022-04-22 07:45] Leosang-lx commented on #6114
This sentence may be explained with I as a subject pointing to "being able to talk about it", which can be summarized as an exception as "it help(s/ed/...) doing...". Hopefully this idea can be accepted by dear developers
![image](https://user-images.githubusercontent.com/62881345/164638461-2b8df3cf-b36b-47c2-90b3-02c89cc84737.png)

[2022-04-22 07:47] donnerpeter opened #6569 "[en] suggest to add missing pronoun on sentence-starting agreement errors that could be parsed as VBZ NNS?"
`Adds fields to Traverser to support iterator.remove`. It should've been "It adds fields"

[2022-04-22 07:49] donnerpeter opened #6570 "[en] noun-after-pronoun false positive on the verb "subclass""
`It's an abstract class that you subclass to perform GUI-related work`
![image](https://user-images.githubusercontent.com/122009/164642306-e481da85-5a93-430d-85df-a52aae097554.png)

[2022-04-22 08:41] Juren39 commented on #6281
Hello!
I found your problem only arises when you encounter the"/"sign. I think this may be because of the asAnalyzedToken has a problem in chineseTagger method.
![VQSU2XT@Z)8_$34~ {1L A](https://user-images.githubusercontent.com/85175188/164651260-d30bbe5e-1076-49b7-bf64-f9c736ac5285.png)
(Original code)
When we split the "/", we dropped the original "/". So I think we should add a check here to c

[2022-04-22 15:33] donnerpeter opened #6573 "[de] missing GEN+SIN alternatives for "aller""
e.g. `Tische aller Art`
![image](https://user-images.githubusercontent.com/122009/164746914-ac59c274-54a2-4466-b1c9-f16b3f4e9cd2.png)

[2022-04-23 06:23] marcoagpinto opened #6575 "[en] Doesn't detect space before full stop"
Hello!

`I want to know .test.`

It doesn't suggest removing the space before the first “.”.

The real reason I am reporting this is because I need that rule in English so that I can port it to Portuguese and add file extensions to the antipatterns: `GLOBAL ENTITY filename_extensions`.

Thanks!

[2022-04-23 08:56] Porthoos commented on #6566
Hello, I would like to take charge on fixing this bug.
I added a new function to judge if this is an interval, and the result is as below.
![8X1U{(WC_M2 $A7@XT }KL](https://user-images.githubusercontent.com/74708619/164887800-75d20e86-e946-4859-b6a9-a529c0b95ad6.png)

[2022-04-23 11:30] Leosang-lx opened #6578 "Problem about CD with NN:UN detection"
For this simple example:
`"I have two apple."`
![image](https://user-images.githubusercontent.com/62881345/164892385-dbed78f6-b07c-45ac-8bdc-703e4b2b0e0b.png)
The tag of "apple" is [apple/NN:UN,E-NP-singular], and the rule CD_NN cannot show the problem since the POS-tag of apple is NN:UN and the rule of pattern only match the last word with tag "NNP" or "NN". Besides, the exception of this token a

[2022-04-23 22:40] kaiodcosta opened #6579 "[PT-BR] “Hacker” does not mean “Cyber-Pirate” in Brazilian Portuguese"
Recently, I used LanguageTool in the Brazilian Portuguese language, and I came across a warning, notifying the foreignness of the word “Hacker” and the recommendation to use the word “Cyber-Pirate”.

Putting such a synonym in the word, besides being incorrect, is an association of “Hackers” to “Cyber Thieves”, encouraging prejudice and suppression of the hacker and hackerativist community.

I reco

[2022-04-24 02:51] Nomad-Q commented on #6516
Hello, I have added a commit. After adding a new rule to detect the word "take action", it will give out a suggestion like this
<img width="593" alt="截屏2022-04-24 上午10 51 38" src="https://user-images.githubusercontent.com/74593761/164954054-c94bb157-3429-4a20-ad8f-097a0f29639a.png">
:

[2022-04-24 12:12] marcoagpinto opened #6580 "Smart quotes as a Java rule"
Hello!

Could the smart quotes rule become a Java rule shared by all languages?

I noticed that the EN one works better than the PT one.

Thanks!

[2022-04-25 09:08] donnerpeter opened #6583 "[de] agreement false positives"
`Zuweisung von Lizenzen über das Account. Nutzen Sie das offizielle TeamCity Kubernetes Support-Plug-in.`

[2022-04-25 09:12] donnerpeter opened #6584 "[de] missing NOM:PLU tag for "beiden""
`Die beiden sind weg`

![image](https://user-images.githubusercontent.com/122009/165058358-f745e181-5133-471c-980e-1df54031da82.png)

[2022-04-25 09:24] donnerpeter opened #6585 "[de] "Touch Bar" joining false positive suggestion"
`Sie können zahlreiche Aktionen direkt über die Touch Bar auslösen.`
Apple seems to use split spelling, e.g. https://support.apple.com/de-de/guide/mac-help/mchlbfd5b039/mac

[2022-04-25 10:14] #6542 closed

[2022-04-25 10:29] SteVio89 commented on #6281
Fixed by #6572

[2022-04-25 10:29] #6281 closed

[2022-04-25 12:37] tiff opened #6587 "[de] weird spelling suggestions"
![Bildschirmfoto 2022-04-25 um 14 35 49](https://user-images.githubusercontent.com/37363/165090170-f98e8caf-39df-4ae8-8b09-dd88b593ce7b.png)
![Bildschirmfoto 2022-04-25 um 14 35 51](https://user-images.githubusercontent.com/37363/165090172-7770c5a4-079a-45c4-966f-b5c3c29abf44.png)

[2022-04-25 14:54] jaumeortola opened #6588 "[pt] add missing suggestion in agreement rules"
`<example correction='no (hora)'>Foi resolvido <marker>no hora</marker> certa.</example>`

With proper tagging of contractions, this should be possible.

[2022-04-25 15:46] #6547 closed

[2022-04-26 11:54] MarvinErdner opened #6589 "[pt] gestão in Brazilian Portuguese"
![grafik](https://user-images.githubusercontent.com/88431679/165294308-a73626fd-da9f-4ec7-a7aa-3e5ab9bff841.png)

gestão

PT_BR_SIMPLE_REPLACE[]

Also used in Brazil: https://michaelis.uol.com.br/busca?r=0&f=&t=&palavra=gest%C3%A3o

[2022-04-26 11:58] MarvinErdner opened #6590 "[pt] Missing “pleiteada”"
_Inicialmente, a limitar pleiteada pelo Ministério Público foi deferida…_

— > leitada

![grafik](https://user-images.githubusercontent.com/88431679/165294939-f73c3b82-7757-429d-aef9-711cc985a224.png)

[2022-04-26 12:03] donnerpeter opened #6591 "[de] Repeated word false positives"
`Als hätten die die Gesetze gemacht`
`separate Tasten mit Pluszeichen und Sequenzen mit Leerzeichen, z. B. STRG+O und STRG+L L für eine Kombination`

[2022-04-26 12:08] mhorioka opened #6592 "[jp] suggestion for DOUSI_KOTOGADEKIRU rule"
Hi

## Background

While looking at an issue reported to IntelliJ IDEA https://youtrack.jetbrains.com/issue/IDEA-291722 ,

I found that the Japanese DOUSI_KOTOGADEKIRU rule needs a bit of improvement.

As discussed in a couple of sites, I agree that the rule detects a kind of redundant expression.

- https://www.fumitei.jp/surukotogadekiru/
- https://lifelikewriter.com/verbose-sentences/

## Issue

[2022-04-26 12:08] #6589 closed

[2022-04-26 12:21] marcoagpinto commented on #6590
Fixed!

https://github.com/languagetool-org/languagetool/commit/9036065d41996473f8f9dc4560a29165c2532b82

https://github.com/languagetool-org/languagetool/commit/00cf1bae3460899f8e3fde1a8d1cd61f9646561e

[2022-04-26 12:21] #6590 closed

[2022-04-26 13:18] danielnaber commented on #6592
Indeed that's true, so any feedback or improvements, especially as pull requests, is welcome.

[2022-04-26 14:49] jaumeortola commented on #6590
@marcoagpinto As you can see, the verb is already in the new tagger dictionary (coming soon): https://github.com/languagetool-org/portuguese-pos-dict/blob/ffbca71c064845dde8e47994e570c60e5b66867b/src-dict/verbs-fdic.txt#L11557

[2022-04-26 20:56] KisaragiEffective commented on #6592
Hi, I'm original reporter of IDEA-291722.

## Case
|Case|Expected|Actual|Comment|
|:---|:-------|:-----|:------|
|暮らすことができる|暮らせる|暮らせる|should be work|
|活かすことができる|活かせる|-|ftn, but should work|
|見つけることができる|見つけられる|らせるる|the original case|
|遊ぶことができる|遊べる|-|further test needed|
|行くことができる|行ける|-|further test needed|

Note: the below sentences is Japanese.
「暮らす」はサ行五段活用で、語幹は「くら」です。「活かす」もサ行五段活用であるため、現行の書き換え規則でも

[2022-04-27 02:31] mhorioka commented on #6592
@KisaragiEffective thank you for your insight.

As I wrote above, at this moment my proposal is to change the message as "this phrase can be redundant and worth considering rephrasing with a shorter expression" or "表現が冗長です" without providing a specific suggestion based on a context because

1) my primary goal here is, as a quick solution, to remove the (impression of) false positive with an irrele

[2022-04-27 03:17] KisaragiEffective commented on #6592
@mhorioka

sure, I think my previous comment should be separated into another issue.

[2022-04-27 03:18] KisaragiEffective opened #6595 "[jp] feature request: expand DOUSI_KOTOGADEKIRU for more verbs"
Hi, I'm original reporter of IDEA-291722.

## Case
|Case|Expected|Actual|Comment|
|:---|:-------|:-----|:------|
|暮らすことができる|暮らせる|暮らせる|should be work|
|活かすことができる|活かせる|-|ftn, but should work|
|見つけることができる|見つけられる|らせるる|the original case|
|遊ぶことができる|遊べる|-|further test needed|
|行くことができる|行ける|-|further test needed|

Note: the below sentences is Japanese.
「暮らす」はサ行五段活用で、語幹は「くら」です。「活かす」もサ行五段活用であるため、現行の書き換え規則でも

[2022-04-27 08:54] donnerpeter opened #6596 "[de] missing PLU:DAT pos tags in relative clauses after "der""
`Jemand, der klugen Menschen fehlt` ,`Der Standardsprachmodus, der neuen Dateien zugewiesen ist.`

![image](https://user-images.githubusercontent.com/122009/165480960-8a239f5f-bdd9-4555-94ea-c40f7841391c.png)

[2022-04-27 10:06] donnerpeter opened #6598 "[de] agreement false positives"
* [x] Bis zur Anfang/Mitte Juni geplanten Eröffnung gebe es noch einiges zu tun.
* [x] Das Jahr 2021 war für Ping An kein Gutes.
* [x] Smart Step Into wurde mit Jump to Statement kombiniert.

[2022-04-27 15:52] marcoagpinto commented on #6579
Fixed!

https://github.com/languagetool-org/languagetool/commit/4ef4d895c63889ae7f737e3125cffb859ddd80e1

[2022-04-27 15:52] #6579 closed

[2022-04-27 19:36] ricardojosehlima opened #6603 "[pt] Strange warning with 'Amanhã'"
The sentence "Amanhã se compra algo." receives a warning "Esta inflexão refere-se ao passado. Se pretende referir-se ao futuro substitua 'ra' por 'rá'".
The rule is considering the 'ra' in 'compra' as a past inflection. Same for 'considera'.

[2022-04-27 19:38] marcoagpinto commented on #6603
Hello!

I will look at it at 5am.

Thanks for the report.

[2022-04-27 21:05] #6523 closed

[2022-04-28 03:15] marcoagpinto commented on #6603
@ricardojosehlima

Hello!

Are all hits false positives?
[0before.txt](https://github.com/languagetool-org/languagetool/files/8579226/0before.txt)

If so, I believe we should turn off this rule.

Thanks!

[2022-04-28 05:48] tiff commented on #6570
Fixed by recent changes. Marked "subclass" also as a verb.

[2022-04-28 05:48] #6570 closed

[2022-04-28 05:48] tiff commented on #6562
"Mark" was detected as a name and "file" as a verb. Now fixed.

[2022-04-28 05:48] #6562 closed

[2022-04-28 09:59] ricardojosehlima commented on #6603
@marcoagpinto all of them. I understand the reason for the rule: if you use 'amanhã', then shouldn't use the past as "Amanhã ele conseguira resolver tudo" and the difference is really the diacritic alone "Amanhã ele conseguirá resolver tudo".
I didn't see the rule but it seems that it does not relate to the tense (past) but only to the ending (ra).
Maybe if the tense information is added to rule i

[2022-04-28 11:34] marcoagpinto commented on #6603
@ricardojosehlima
I have tried to fix the rule, but all hits are still false positives:
[1.txt](https://github.com/languagetool-org/languagetool/files/8582268/1.txt)

I believe we should disable the rule, if it is okay with you.

Thanks!

[2022-04-28 11:51] marcoagpinto commented on #6603
In a few months, I will code a rule of our own for it, with your suggestions.

[2022-04-28 16:41] danielnaber commented on #6592
Yes, please keep whitespace so any diffs are minimal.

[2022-04-28 20:14] milekpl commented on #6557
@jaumeortola There's a new release of morfologik-speller, we should update it

[2022-04-28 20:34] mishushakov opened #6608 "Incorrect length of match for annotated text"
I'm having an issue with incorrect length of matches for annotated text

Example

[code]

Response

[code]

i'm expecting this value (length: 4)

[code]

but i'm getting this value (length 74)

[code]

[2022-04-29 05:20] donnerpeter opened #6610 "[de] case expectation false positives"
Er schafft es dank dem kleinen Oster-Boom gerade noch in die Top 10.
Er ließ sich auch von ihn anstrahlenden Laserpointern nicht aus der Ruhe bringen.

![image](https://user-images.githubusercontent.com/122009/165888877-515b8ba7-6383-48ae-aa72-64c377f8d5f3.png)

[2022-04-29 14:12] jaumeortola opened #6616 "[pt] undetected errors: varias/várias"
- [ ] Vi varias charges do jornal  >> várias

[2022-04-29 15:41] marcoagpinto commented on #6616
Very easy to do, also for "vários".

Will do it on Monday, weekend is workday, and I am already very stressed.

Unless I manage to wake up very early to dedicate some hours to it.

🙂

[2022-04-30 07:21] marcoagpinto commented on #6616
The rule is coded and tested:
https://github.com/languagetool-org/languagetool/commit/6c44e31411632171049a900ccc86accecac766ed

100% positives:

[0.txt](https://github.com/languagetool-org/languagetool/files/8596331/0.txt)

[2022-04-30 07:21] #6616 closed

[2022-04-30 14:21] MasterDallun511 opened #6617 "[DE] Falsche Beschreibung beim Alarm mit Vulgäresprache "scheiß egal""
Moin liebes LanguageTool-Team

Heute ein Alarm, wo ich erst recherchiert habe, wie es richtig gemacht wird.
Dark Dallun nervte Nozomis Anwesenheit langsam, weil es ihm **scheiß egal** war, ob Nozomi gekleidet ist oder nicht.
LT: "Wenn die Konjunktion ‚weil‘ hier einen Nebensatz einleitet, wird auch ein schließendes Komma gesetzt."

Dark Dallun nervte Nozomis Anwesenheit langsam, weil es ihm **sche

[2022-04-30 14:26] MasterDallun511 opened #6618 "[DE] Fehlarm mit "über zu stehen""
Moin liebes LanguageTool-Team

Die ganze Zeit **über zu stehen**, strengt ziemlich an.
LT: "Bitte prüfen Sie die Getrenntschreibung: Meinten Sie „überzustehen“?"
Hier ist sich das LanguageTool nicht sicher, ob hier die Zusammenschreibung zutrifft oder nicht, dabei wird hier getrennt geschrieben, weil sich über auf Zeit bezieht.

Bitte fixen.

Grüße Dallun511

[2022-04-30 17:47] #6618 closed

[2022-04-30 22:10] #6291 closed

[2022-05-01 18:33] nikelborm opened #6620 "[ru] Слово "Тестирования" во множественном числе не распознаётся"
[Ссылка на документ notion с демо](https://nikel-eva.notion.site/610090e3ac5a444ab1895c0aaef6bd94)

Пример того как это выглядит:
![Screenshot_20220501_213033](https://user-images.githubusercontent.com/29357907/166159493-d40902c1-07c1-44f5-a872-ab931d56cce0.png)

[2022-05-02 07:52] jaumeortola commented on #6557
I will do it now.

[2022-05-02 10:19] #6557 closed

[2022-05-02 11:43] donnerpeter opened #6624 "[ru] Capitalization false positives after Эл."
`Эл. почта получателя`
![image](https://user-images.githubusercontent.com/122009/166228258-11227b5b-3e37-405e-8320-7c5ef1994993.png)

Reported in https://youtrack.jetbrains.com/issue/IDEA-290614

[2022-05-02 16:49] jaumeortola opened #6625 "improve CleanOverlappingFilter"
Imagine we have two matches in this sentence, from different rules, adding commas to the same place but with different underlined words:
1. `<marker>hand</marker>` → `correction="hand,"`
2. `<marker> this</marker>` → `correction=", this"`

In this case, the underlined strings don't overlap (they are juxtaposed), and the filter does nothing. But the suggestions do overlap, and we should discard one

[2022-05-02 19:26] donnerpeter opened #6626 "[en] "Wordiness (General)" wrong suggestion for "relative to""
In `// PrefixPathname checks for a pathname relative to ${PREFIX}.`, it suggest to change `relative to` to `about` which makes little sense.
Please also see other feedback at about this rule at https://youtrack.jetbrains.com/issue/IDEA-276043

[2022-05-02 19:30] donnerpeter opened #6627 "[de] The article agreement rule also reports word separation issues, causing confusion"
The rule description examples have nothing to do with word separation, confusing IDE users: https://youtrack.jetbrains.com/issue/IDEA-258349

[2022-05-02 19:34] danielnaber commented on #6626
`EN_PLAIN_ENGLISH_REPLACE` (a.k.a. `EnglishPlainEnglishRule.java`) has been off by default for more than one year. It might be an issue with Grazie that this rule is active.

[2022-05-02 19:38] donnerpeter commented on #6626
It's disabled by default, but people still can enable it.

[2022-05-02 20:52] marcoagpinto commented on #6603
Hello @ricardojosehlima

I have rewritten part of the rule:
https://github.com/languagetool-org/languagetool/commit/2ec0bf8b4f41fb042d77a10650a71cd55ca83817

The original one:
[0before.txt](https://github.com/languagetool-org/languagetool/files/8605951/0before.txt)

The new version:
[3.txt](https://github.com/languagetool-org/languagetool/files/8605953/3.txt)

Is there something missing?

Thanks!

[2022-05-02 20:55] jaumeortola commented on #6625
An actual example in English:

1. front,
2. , though

[2022-05-02 21:48] ricardojosehlima commented on #6603
Hi the hits in 3.txt look weird to me. The rule may need some details that LT doesn't provide, a syntactic tree.

[2022-05-02 22:08] rillig commented on #6626
Oops, that's exactly what I did. I now deleted the Grazie configuration for GoLand, so the warning no longer occurs.

@danielnaber Since this rule is disabled by default, I don't know whether you want to keep this issue open.

[2022-05-03 05:24] marcoagpinto commented on #6603
@ricardojosehlima

What happens is that there is a "skip blah blah" in the XML code and it isn't possible to flag a word after a skip, and that is why the rule flags a group of words:
See line 8878:
[code]

So,
[code]
Here it asks to replace "conseguiram" with "conseguirão".

[code]

Here it asks to replace "pensaram" with "pensarão".

Does it look well?

Thanks!

[2022-05-03 09:42] ricardojosehlima commented on #6603
Hi @marcoagpinto while the main idea is good ("Na próxima semana, eles conseguiram --> conseguirão"), the two examples collected do not fall into the rule and are false positives. In the last example we see "amanhã" and "pensaram" but they are not connected syntactically, "amanhã" refers to "haverá", not to "pensaram" and this is why the rule unfortunately fails.

[2022-05-03 09:50] marcoagpinto commented on #6603
ahhhhhhh...

@ricardojosehlima

So, it is better to delete the rule.

The original one gives 100% false positives, and my rewriting of it also gives 100% false positives.

I will delete it soon.

[2022-05-03 09:51] marcoagpinto commented on #6603
The original rule is still there. I cloned it and renamed to "_V2".

[2022-05-03 09:51] marcoagpinto commented on #6603
But 100% false positives makes it useless.

[2022-05-03 16:41] donnerpeter opened #6633 "[en] "Repeated verb forms" has ungrammatical fix in its first example"
The IDE shows the first correction of the first example, and it's ungrammatical, leading to reports like https://youtrack.jetbrains.com/issue/IDEA-277363. I'd suggest putting the second or fourth example to the first place instead.

[2022-05-03 16:53] mhorioka commented on #6592
@danielnaber Hello, I created a PR some time ago. Please advise if anything else is needed from my side.

[2022-05-03 17:03] danielnaber commented on #6592
@mhorioka I've merged the PR now, thanks.

[2022-05-03 17:07] #6633 closed

[2022-05-03 19:13] Glitchy-Tozier opened #6635 "Allow automatically checking for updates in LibreOffice"
In LibreOffice, new updates aren't found for the LanguageTool-extension. It would be great to automatically allow LibreOffice to find updates. Otherwise, users are forced to routinely check website/repository just to make sure they're using the latest version.

### LibreOffice info
[code]
### Screenshot
![image](https://user-images.githubusercontent.com/59611881/166525273-3b86abba-058f-4eb5-ae4a-b

[2022-05-04 10:13] ricardojosehlima opened #6638 "[pt] Fix "a pós""
The expression "a pós", commonly used in Brazil as an abbreviation for "a pós-graduação", is being flagged as wrong "Essa expressão é invariável: pó."
The case for this rule is Passou o dia a limpar os pós da casa. that sould be "o pó".
My suggestion is to delete this part of the rule, or to keep it just for the expression "os pós". Any other "pós" would be allowed.

[2022-05-04 11:28] marcoagpinto commented on #6638
@ricardojosehlima

I have fixed it:
https://github.com/languagetool-org/languagetool/commit/0e84b8e6cc12ef42ae765343b48a394eb5be8dda

But it triggers the hyphen rule if it catches a verb after the "pós"
"pós-é"

I have to create an antipattern having in account infinitive + past participle: pós graduação, pós graduado
(it will check for a verb after "pós".

[2022-05-04 11:29] marcoagpinto commented on #6638
ahhh... it only triggers in pt-PT, in pt-BR not.

[2022-05-04 11:38] ricardojosehlima commented on #6638
Strange, it triggers here, in the LO version is in grammar.xml
"pós" can also appear as regular word without verb following if: "Eu já fiz uma pós."

[2022-05-04 11:50] marcoagpinto commented on #6638
Ahhhhhh... 🙂

Right, I hardcoded it as "as?" and didn't think about "uma" and such.

After I fix the hyphen issue, I will improve that rule.

[2022-05-04 12:09] ricardojosehlima commented on #6638
Couldn't "pós" just be added as a word, and no rule?
And as for "pós" as plural of "pó", there could be a rule flagging "os pós".

[2022-05-04 12:15] marcoagpinto commented on #6638
No, it can't be added as a word because of the language agreement rules for hyphenated words.

pt-PT triggers the rule:
"pós-parto", "pós-morte"

[2022-05-04 12:17] marcoagpinto commented on #6638
Ahhh... the hyphenator rule is fixed:
https://github.com/languagetool-org/languagetool/commit/e21f4a6be0cf2405daa62ee29d5bed5813a127df

Now I will return to the original one reported by you.

[2022-05-04 13:06] donnerpeter opened #6639 "[en] THIS_NNS subrule's shortest incorrect example has ungrammatical corrections"
The IDE shows the shortest example in the tooltip with its first correction, and it creates a bad impression if that one is ungrammatical. Here it is:

`<example correction="This error|These errors"><marker>These error</marker> are easy to fix.</example>`

`These error can be fixed.` from the original https://youtrack.jetbrains.com/issue/IDEA-279496 seems a good idea.

[2022-05-04 13:18] marcoagpinto commented on #6638
Hello @ricardojosehlima

I believe it is fixed:
https://github.com/languagetool-org/languagetool/commit/f21ee39a90bc458548ac649ea2db6a086958ac76

[0before.txt](https://github.com/languagetool-org/languagetool/files/8620639/0before.txt)

[2.txt](https://github.com/languagetool-org/languagetool/files/8620642/2.txt)

It only removed 3 false positives:

[code]

[2022-05-04 14:14] marcoagpinto commented on #6638
@ricardojosehlima

Are you referring to the text files above? If so, I guess the Wikipedia tests use the pt-PT dictionary, so all other words not in it are flagged.

[2022-05-04 14:16] marcoagpinto commented on #6638
and bróculo vs brócolis can be added to the .txt file that says "in pt-RB it is written blah blah".

It is easy to fix.

We just need to know the exact words and add them to the PT → BR and the opposite to the BR → PT

[2022-05-04 14:20] marcoagpinto commented on #6638
It is the file: replace.txt

It is inside the language variances in the grammar.xml folder.

[2022-05-04 14:25] ricardojosehlima commented on #6638
Yes to the 2.txt file above. But for me, the mystery remains as why these words are flagged for me.
In the replace.txt, but which one? I haven't found calça in neither the pt-BR or pt-PT folder nor in the pt folder

[2022-05-04 14:27] marcoagpinto commented on #6638
pt-BR:
[replace.txt](https://github.com/languagetool-org/languagetool/files/8621175/replace.txt)

pr-PT:
[replace.txt](https://github.com/languagetool-org/languagetool/files/8621178/replace.txt)

both files are very incomplete.

[2022-05-04 14:29] marcoagpinto commented on #6638
\languagetool-language-modules\pt\src\main\resources\org\languagetool\rules\pt\pt-BR

\languagetool-language-modules\pt\src\main\resources\org\languagetool\rules\pt\pt-PT

[2022-05-04 14:44] marcoagpinto commented on #6638
ahhhhhhhhh...

@ricardojosehlima

Do you mean they are in INVARIABLE_NOUNS?

What if I move that rule to inside the grammar.xml in the pt-PT?

Only pt-PT will use it.

[2022-05-04 14:54] marcoagpinto commented on #6638
Let me do it.

Give me two or three minutes.

[2022-05-05 06:28] #6638 closed

[2022-05-05 06:33] marcoagpinto opened #6640 "[pt] Disambiguator improvement"
Hello @jaumeortola

I was trying to create a gender concordance rule using adjectives, but an adjective after the verb "SER" becomes a verb.

Could you improve the disambiguator for me to add the rule?

`Isto é engraçada.`

Thanks!

[code]

[2022-05-05 07:59] mhorioka commented on #6592
@danielnaber thank you! BTW I started to go through Japanese rules and found a couple (maybe more) issues. Will report them separately.

[2022-05-05 07:59] #6592 closed

[2022-05-05 08:04] robstoll commented on #5192
same issue here.

LibreOffice Version: 6.4.7.2
Java openjdk 11.0.15 2022-04-19

`sudo apt install libreoffice-java-common`

did the trick

[2022-05-05 09:23] marcoagpinto commented on #6640
@jaumeortola

It seems it only happens with some adjectives, so I changed the example and committed the rule:
https://github.com/languagetool-org/languagetool/commit/7e3cadec1526229b6918a77610ae1b4b5c90612b

[2022-05-05 09:24] marcoagpinto commented on #6640
I also modified the rule to remove false positives.

[2022-05-06 08:55] herschel666 opened #6644 "[de] "sehr" wird nicht erkannt im Kontext von "ein sher""
Im Satz `Das ist ein sher schöner Satz.` wird keine Korrektur für `sher` angeboten.

![Screenshot 2022-05-06 at 10 52 11](https://user-images.githubusercontent.com/520258/167099981-6c89ab1f-c8c8-4bf0-8fe0-b861a01e35ad.png)

[2022-05-09 06:58] tiff opened #6647 "[ru] "Яжелбицы""
User feedback:

[2022-05-09 07:23] tiff commented on #6644
Ähnlich zu:
https://github.com/languagetool-org/languagetool/issues/6587
https://github.com/languagetool-org/languagetool/issues/6241

@danielnaber vielleicht können wir hier bald mal was machen

[2022-05-10 10:32] BellaDiekmann opened #6650 "Ergänzung von Antipattern und neuen Regeln für False Positives mit Fehlern von CONFUSION_RULE_MIR_MIT_NEU"
In diesen Sätzen ist "mir" richtig, das Problem liegt an anderer Stelle:
- "Dazu fehlt mir dir Kraft": hier schlagen CONFUSION_RULE_MIR_MIT_NEU und MIR_DIR "mit dir" vor, richtig wäre allerdings "mir die", dafür bräuchte es eine neue Regel
- "Ich sehe mir dir Ausstellung an: "hier schlagen CONFUSION_RULE_MIR_MIT_NEU und MIR_DIR "mit dir" vor, richtig wäre allerdings "mir die", dafür bräuchte es ei

[2022-05-10 11:35] BellaDiekmann commented on #6650
@udomai: Ich frage mich gerade, ob die Antipattern, damit CONFUSION_RULE_MIR_MIT_NEU z. B. bei "Dazu fehlt mir dir Kraft" nicht anschlägt, auch bei MIR_DIR ergänzt werden müssen oder ob man das besser darüber löst, das die neue Regel (mir dir --> mir die) höher priorisiert wird. Wie siehst du das?

[2022-05-10 15:26] udomai commented on #6650
Die correction "mir dir" → "mit dir" kann ja genauso richtig sein wie "mir die". Wenn das AP hier keine True Positives rauskegelt, dann sollte es, wie du sagst ergänzt werden. Die neue Regel sollte dann trotzdem höhere Prio bekommen. Dadurch ist die Lösung robuster.

[2022-05-11 09:50] marcoagpinto commented on #6492
@jaumeortola @tiff

I have fixed the rule, and I am currently removing false positives.

Rule ID: DIACRITICS (by Jaume).

Maybe this rule will replace all the paronym ones created by Tiago Santos years ago?

[2022-05-11 10:13] Yan-ice commented on #1919
Before fixing, "Good morning. \n it is a nice day." would not be recognized as a sentence with an initial lower-case letter, because Segment would not split the sentence. Now it works in PR#6654.
Also, I'v read the code in LanguageTool and found that a sentencethat end with comma would cause the initial lower-case letter (line breaks are ignored in LanguageTool), so maybe "Hello and welcome, \n\ns

[2022-05-11 10:36] elandorr commented on #5591
@wokawoka Did you figure it out after all? I'm wondering if the self-hosted is 100% identical to the one embedded in the main site. Like you, 'cloud' is an instant all caps 'no!' for us.

[2022-05-11 10:51] wokawoka commented on #5591
@elandorr Unfortunately I didn't have the time to install it yet, but I'm planning to do it as soon as I'll have some spare time during a weekend. I will try to post the results here.

[2022-05-11 11:23] danielnaber commented on #1919
There are two modes in `segment.srx`, `ByLineBreak` and `ByTwoLineBreaks`, so LT is basically prepared to deal with both ways to interpret `\n`. So, I'm not sure whether a change in the code is really needed. Sorry I don't have time to look at this more closely now.

[2022-05-11 11:23] ricardojosehlima opened #6657 "[pt] Ter corrected for ter after dash"
All is fine when Ter starts a sentece:
Ter filhos é um desafio.

But when a dash precedes it:
- Ter filhos é um desafio.

LT sees this as a weekday abbreviation and suggests that should be 'ter'.

Maybe there are more cases with dash or something like this?

[2022-05-11 11:27] Yan-ice commented on #1919
I've seen these before, but they aren't work properly according to my JUnit test. Honestly, I really wonder why "Good morning. \n it is a nice day." is not splitted by Segment before I write new rules, though "ByLineBreak" already exists.

[2022-05-11 12:01] marcoagpinto commented on #6492
I believe most false positives are gone.

[2022-05-11 12:12] marcoagpinto commented on #6657
Sure, I will fix it at 5am 🙂

I have fixed minutes ago the diacritics rule:
https://github.com/languagetool-org/languagetool/commit/280d1c28232edd82ca63ec8d775a1a30b725b354

and now I am too stressed.

I wonder if the diacritics rule can be used to replace all the paronym ones.

[2022-05-11 12:43] ricardojosehlima commented on #6657
Great. I would like to see a file with hits on this diacritcs paronym rule.

[2022-05-11 12:58] marcoagpinto commented on #6657
@ricardojosehlima

I placed the 0before and the last after .txts in the commit comment minutes ago.

I was looking at it and spotted some false positives.

[2022-05-11 15:45] ricardojosehlima commented on #6657
Hi @marcoagpinto where can I see the file?

[2022-05-11 15:49] marcoagpinto commented on #6657
https://github.com/languagetool-org/languagetool/commit/280d1c28232edd82ca63ec8d775a1a30b725b354

It is in the commit message at the bottom.

[2022-05-11 16:01] ricardojosehlima commented on #6657
Oh sorry I was whinking it was about the Ter, I will see it soon

[2022-05-11 20:08] AndreyM0 opened #6658 "[ru] Incorrect combination of endings"
Instead of "рассмотрение решение" need "рассмотрение решения"

[2022-05-12 14:26] donnerpeter opened #6664 "[de] false positive word joining suggestions"
Sowohl serverseitig als auch Front-End. (https://de.wikipedia.org/wiki/Front-End_und_Back-End)
Bei großen, bekannten Online-Händlern erhoffen sich viele Konsumenten ein sicheres Einkaufserlebnis. (https://de.statista.com/themen/2059/online-haendler/)
Dabei ist er in seinen Video-Clips noch nicht einmal zu sehen. (https://www.welt.de/wirtschaft/webwelt/article180594810/So-gelingen-Ihnen-gute-Video-

[2022-05-13 17:00] 3cpt opened #6670 "[pt] suggestions shows `{suggestion}`"
With the sentence: `“mas antes de submeter vou rever tudo novamente.”`, the `"vou rever"` shows the following warn:

![Screenshot from 2022-05-13 13-03-44](https://user-images.githubusercontent.com/1552965/168332090-f19e8bd1-434e-4d2e-a983-567854d766ad.png)

[2022-05-13 17:11] marcoagpinto commented on #6670
@jaumeortola

Another instance of the verbs issue RE + verb?

[2022-05-13 19:50] jaumeortola commented on #6670
It seems so. The problem is solved with the new tagger dictionary.
![imatge](https://user-images.githubusercontent.com/4289501/168379458-5a3f3cdb-3389-45a0-8179-bf2bf678eb0c.png)

The fix will be available online next week.

[2022-05-14 07:50] Leosang-lx commented on #6578
@danielnaber I have questions about how is the word `apple` in `I have two apple.` tagged into `NN:UN`. Since the tag is a new tag shown in `tagset.txt`, and I have no clear idea of the meaning of `NN:UN`. Until now, I can simply address the problem by small modifications on `grammar.txt`, and looking forward to address the problem from modifying the tokenization of word.

[2022-05-14 08:02] danielnaber commented on #6578
You can see the tags here: https://github.com/languagetool-org/languagetool/blob/master/languagetool-language-modules/en/src/main/resources/org/languagetool/resource/en/tagset.txt - "apple" as `NN:UN` looks like a bug to me, but an English native speaker should decide that.

[2022-05-14 08:18] 1371131436 commented on #6568
This problem can be solved by modifying the rule REPEATED_VERBS in grammar.xml, and I am considering a
good antipattern for this case.

[2022-05-14 08:21] MikeUnwalla commented on #6578
'apple' as NN:UN is correct: https://www.ldoceonline.com/dictionary/apple

[2022-05-14 08:32] MikeUnwalla commented on #6568
Possibly, you can add chunks to the pattern. For the test sentence, the chunker gives a correct analysis. (I used an LT snapshot from 6 April for this screenshot):

![image](https://user-images.githubusercontent.com/5816160/168417731-5185026f-b9a4-4051-b901-7a2ccadc3db9.png)

Another option is to make the disambiguation better so that it gives the correct POS (map/NN and maps/VBZ).

[2022-05-14 08:35] 1371131436 commented on #6568
@MikeUnwalla Yes, I have solved this problem by adding chunks, and I am making a pull request to solve this issue.

[2022-05-14 08:40] MikeUnwalla commented on #6568
Great, thank you. Just beware that the chunker isn't always correct.

I'll leave it to the regular maintainers to deal with your pull request.

[2022-05-14 09:04] Leosang-lx commented on #6578
Thanks, I will check whether my existing modification on rules will affect the test cases.

[2022-05-15 12:34] tiff opened #6676 "[ru] add "подковёрных" to dictionary"

[2022-05-16 11:35] jaumeortola opened #6680 "[pt] excepto / exceto"
In pt-PT, we recommend excepto>exceto. Should we do the same recommendation in pt-BR?

More generally, the replacement rule PT_AGREEMENT_REPLACE is active only for pt-PT. This is the list of words for this rule.
https://github.com/languagetool-org/languagetool/blob/master/languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/AOreplace.txt

[2022-05-16 19:47] Xalares opened #6684 "Increasing RAM usage"
Hi I was using the languagetool-server.jar to run as a local service for correcting my sentences on TexStudio, Firefox and Thunderbird, and I noticed a rise of ram usage of the LT server. Indeed, as I was closing and then reopening one, the server seems to create new threads and the ram usage will increase of something around 100Mo. This occurred with the 5.7 and 5.8 version, didn't test any other

[2022-05-16 22:14] marcoagpinto commented on #6657
@ricardojosehlima

I am right now generating the results in 600 000 sentences to see what will come out.

[2022-05-16 22:28] marcoagpinto commented on #6657
@ricardojosehlima

It creates some false positives with "dom" and "ter":
[code]

Are you certain that the rule you referred to isn't the suggesting lowercase for weekdays (AO90_WEEKDAYS_CASING)?

The "dom" fix can be done by checking for a proper name after it.

The "ter" one is harder, I could search for a verb past participle after it, but there are other postags for it. What do you suggest from

[2022-05-17 00:15] marcoagpinto commented on #6657
Hello @ricardojosehlima

I have just fixed it!

Notice that the "Dom" + Proper Names just gave false positives because the names weren't tagged:
https://github.com/languagetool-org/languagetool/commit/da6507df95c5a0368de1779ed1707fde54ff71f3

There was the same rule for both pt-PT and pt-BR, so I renamed the ID and added an antipattern for "Ter".

[0before.txt](https://github.com/languagetool-org/

[2022-05-17 10:15] ricardojosehlima commented on #6657
Hi, great! There remain some false positives when in names of programs (Domingo Legal) or special dates (Sexta-feira Santa) or some unkown name (Dom Helder).
But as for what started the thread, it seems it remains unsolved:

A tríade é simples Ser > Fazer > Ter.

This is still receiving the suggestion that Ter is the weekday and should be ter.
Can't the rule only apply to the full version of the w

[2022-05-17 10:26] ricardojosehlima commented on #6680
Hi @jaumeortola I think this is what I approached in the pull request I recently made.
excepto > exceto should be maintained for pt-BR. Other suggestions as 'avançado-atacante' I removed for they produce false positives (see my PR post for explanations).
This replace issue seems to apply to Portuguese people writing in Brazil , Brazilians themselves wouldn't write excepto, abstracto, and so on.

[2022-05-17 10:33] marcoagpinto commented on #6657
@ricardojosehlima

This rule is made by two rules, one for abbreviations of weekdays and the other for the full weekdays.

I will look at it soon.

[2022-05-17 10:38] ricardojosehlima commented on #6657
Ah, right. So my suggestion is to deactivate the rule only for Ter and only if it appears at the beginning of a sentence because there are high chances that it will be the verb 'ter' not the weekday,

[2022-05-17 10:40] ricardojosehlima commented on #6657
@marcoagpinto I edited the comment, ok?

[2022-05-17 17:04] marcoagpinto commented on #6657
@ricardojosehlima

I was doing some tests and the new antipattern didn't generate any new hits, so I opened the standalone tool and pasted:
`- Ter filhos é um desafio.`

It doesn't appear as an error.

[2022-05-17 17:14] ricardojosehlima commented on #6657
Strange... Look at the attached image.
![Captura de tela de 2022-05-17 14-13-40](https://user-images.githubusercontent.com/36453534/168872127-e0223d5b-cb96-4450-8f08-d4ba7c05c133.png)

[2022-05-17 17:24] marcoagpinto commented on #6657
I am right now fixing the unknown names.

I have also found a way of fixing the "Domingo Legal" and "Sexta-feira Santa": I will add them to multiwords.txt as proper nouns.

Notice that the changes made at this hour will only work in tomorrow's nightly, not tonight's.

[2022-05-17 17:55] marcoagpinto commented on #6657
[pt] Fix for "Domingo Legal" and "Sexta-feira Santa" in multiwords.txt:
https://github.com/languagetool-org/languagetool/commit/82ed6b1195ce97228164d1324e357fe4c18b86ea

And now the fix for unknown names/words:
https://github.com/languagetool-org/languagetool/commit/48606d8cf3d24b34dd733c53b4b3986b87a3bc8c

https://github.com/languagetool-org/languagetool/commit/096f39db6c796518f26eb84a80cc98a9cbe

[2022-05-17 18:09] ricardojosehlima commented on #6657
Great!

[2022-05-18 07:34] jaumeortola commented on #6680
I see. Anyway, we have to take care of possible errors. "Abstracto" is not even allowed by the pt-BR speller. But "excepto" is allowed by the pt-BR speller, and there is no rule (like the rule in pt-PT).

[pt/AOreplace.txt](https://github.com/languagetool-org/languagetool/tree/master/languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt) is not the same file you edited. It

[2022-05-18 09:58] ricardojosehlima commented on #6680
Ok! As for this file there is some work to be done, at least for pt-BR, as I have already seen some wrong conversions: decepção remains decepção not deceção; same for detectar to detetar. I'm uncertain if these forms without 'c' are allowed in pt-PT.

[2022-05-18 13:05] jaumeortola commented on #6680
@ricardojosehlima Is there a way to do this systematically (not just manually)? What are the main references for Brazilian Portuguese? The Michaelis dictionary? Some other sources? The Michaelis seems to match your comments about decepção, detectar... Other dictionaries (from Portugal) have similar information, but it is not exactly the same.

[2022-05-18 14:52] donnerpeter opened #6694 "[de] agreement false positive with Task"
`Führen Sie ein Upgrade auf Version 2.0.0 durch, um die folgende Task auszuführen.`
Duden says it can be feminine: https://www.duden.de/rechtschreibung/Task

[2022-05-18 16:43] donnerpeter opened #6695 "[de] missing comma false positive in "unter anderem weil""
Die ARM-Architekturen setzten sich in Smartphones gegen Chip-Systeme des Halbleiter-Riesen Intel durch - unter anderem weil sie deutlich stromsparender arbeiten.

[2022-05-18 19:57] khorov opened #6696 "[ru] LT does not report an error when the gender of the subject and past predicate are not agreed"
Here are some examples.
![image](https://user-images.githubusercontent.com/85366265/169144567-9322804d-b090-4ccb-a3ab-35e71521ef70.png)
![image](https://user-images.githubusercontent.com/85366265/169144722-c643a6d6-bad2-4cb9-af31-5f15bd8585bd.png)
![image](https://user-images.githubusercontent.com/85366265/169145185-ee49e4a3-b8b7-4e01-a483-ae076d82d5c4.png)

[2022-05-19 07:23] donnerpeter opened #6697 "[en] Most A_INFINITIVE example corrections aren't very helpful"
From https://community.languagetool.org/rule/show/A_INFINITIVE?lang=en-US:
![image](https://user-images.githubusercontent.com/122009/169235653-e67ad517-3f9b-4a1f-a752-ae8bb348606b.png)

Reported to IntelliJ as https://youtrack.jetbrains.com/issue/IDEA-294273

[2022-05-19 08:02] jeertmans opened #6698 "[Question] Is there an exhaustive doc. for the JSON API?"
Hello,

Recently, I've been developing [Rust bindings for the LanguageTool API](https://github.com/jeertmans/languagetool-rust), so that I can later use LT's grammar checker within Rust code.
To this end, I based my library on the [LT JSON API](https://languagetool.org/http-api/swagger-ui/#!/) page.

However, I cannot find documentation about output data types, which could become a problem, especi

[2022-05-20 07:56] AndreyM0 commented on #6658
I was wrong, this combination is possible.

[2022-05-20 07:57] #6658 closed

[2022-05-20 11:50] ricardojosehlima opened #6700 "[pt] On foreign words in Brazilian Portuguese"
Brazilian Portuguese is known for being more flexible with use of foreign words than European Portuguese.
Words like layout, e-mail, pizza, item are accepted even in more formal registers.

Recently, I have made some changes in the barbarisms-pt-BR.txt file but I have noticed that there is a barbarism-pt.txt file that seems to apply to all variants of Portuguese. In this case, how to proceed?

My

[2022-05-20 12:01] marcoagpinto commented on #6700
@ricardojosehlima

There are variables in grammar.xml with the words:

[code]

[2022-05-20 12:04] marcoagpinto commented on #6700
The easiest way is to find which words there aren't foreign in pt-BR, and I will add them to an exception token and then create a rule in the pt-PT folder grammar.xml with these words.

Basically, it is to create a rule with just the words added to exception in the main grammar.xml.

Then, duplicate the original rule and make it accept only pt-PT.

[2022-05-20 12:05] marcoagpinto commented on #6700
ahhhhh... I am unable to write properly 🙂

[2022-05-20 12:06] ricardojosehlima commented on #6700
@marcoagpinto Great! I will try to work on it asap!

[2022-05-20 15:16] ricardojosehlima commented on #6700
@marcoagpinto
There are two files attached here:

barbarisms-pt-BR_email.txt refers to barbarisms-pt-BR.txt and the only change is to exclude the suggestions at the end of the file for replacing email and variants for some translations. The change is marked with a * before the words.

barbarisms-pt_nao_BR.txt refers to barbarisms-pt.txt the file which applies to all variants of Portuguese. The wor

[2022-05-20 15:23] marcoagpinto commented on #6700
@ricardojosehlima

I will look at it at 5am 🙂

I promise 🙂

[2022-05-20 15:23] marcoagpinto commented on #6700
right now I can't focus

[2022-05-21 07:00] marcoagpinto commented on #6700
@ricardojosehlima

Hello!!!!

I have created a variable for specific pt-BR barbarisms in the main grammar.xml to make it easier to add specific words in the future.

I noticed that the rule already existed (created by me) in pt-PT, so I just added your words to the list.

https://github.com/languagetool-org/languagetool/commit/9f18075d52c1fad03f1646680aded7da46f0e132

https://github.com/languageto

[2022-05-21 07:02] marcoagpinto commented on #6700
@ricardojosehlima

Regarding the .txt files you attached above, could you please commit them or make PRs so that I just need to press one button for them to go live?

This way there won't be any risks of me messing up.

Thanks!

[2022-05-22 05:06] marcoagpinto opened #6702 "LibreOffice: toolbar buttons look very ugly"
Hello!

Can't the buttons be redesigned to look more professional?

They are terribly ugly.

Thanks!

[2022-05-23 02:40] ChristinaLJC commented on #4830
Hi, I'd like to try on this issue.

[2022-05-23 06:32] Nomad-Q commented on #6169
Hello! I think this issue can be fixed by adding a simple detects function. I would like to take this job to have a general understand of LT.

[2022-05-23 08:55] marcoagpinto opened #6704 "[LibreOffice] High RAM/CPU usage"
Hello!

I was testing the latest nightly.

With my thesis (tested only there), there is a very high RAM/CPU usage.

Look at the screenshot.

Word 365 only takes 200 MB.

The same document opened with LibreOffice was already in 16 GB of RAM and increasing.

I have the latest LibreOffice.
![LibreOffice_extension_CPU_RAM_usage_20220523](https://user-images.githubusercontent.com/5192600/169782309-cbda

[2022-05-23 11:01] ChristinaLJC commented on #4830
![image](https://user-images.githubusercontent.com/44918766/169805065-15c3f1b9-4960-4683-8afb-f8425a2f0d1e.png)
I am confused that why "results.add(determiner + StringTools.lowercaseFirstCharIfCapitalized(result));" has been commented out. Is it already fixed?

[2022-05-23 11:22] marcoagpinto commented on #6700
Well, just send the full files to me via-mail, and I will commit them.

This way sucess=100%

[2022-05-23 12:03] marcoagpinto commented on #6700
@ricardojosehlima

It is done!

https://github.com/languagetool-org/languagetool/commit/bf614bbec164c1e9ef4329d99e98a9ee88521b78

Thanks!

[2022-05-23 12:12] ChristinaLJC commented on #4830
And I am also confused about "the test for AGREEMENT_SENT_START[34]" you mentioned. Can you tell me where the test is?

[2022-05-23 15:26] ChristinaLJC commented on #4830
Oh! It seems that it is no need to fix it now

[2022-05-23 15:31] ChristinaLJC commented on #4884
The weight for each suggested word is totally determined by the distance in the dictionary. We may modify the weight calculation method of replacement candidates. We will both consider the distance in the dictionary and frequency of using.

![QQ图片20220523232943](https://user-images.githubusercontent.com/44918766/169854959-9572b863-a8be-41fb-8886-c74c3a550186.png)

[2022-05-23 15:36] ChristinaLJC commented on #4704
Hi! I'd like to work on this issue!

[2022-05-23 15:37] ChristinaLJC commented on #4704
The weight for each suggested word is totally determined by the distance in the dictionary. We may modify the weight calculation method of replacement candidates. We will both consider the distance in the dictionary and frequency of using.
![QQ图片20220523232943](https://user-images.githubusercontent.com/44918766/169855896-ca324617-fc70-4333-a6e2-d22b5ee159d9.png)

[2022-05-24 04:49] ChristinaLJC commented on #4704
I actually find that the "distance" is calculated according to the frequency. I may check the frequency of the suggested word and then change its weight by adding a constant number.

[2022-05-24 07:23] milekpl commented on #6245
@marcoagpinto to use `unify`, you must explicitly say which `feature` is to be unified.

[2022-05-24 07:27] milekpl opened #6709 "Disambiguation action filterall gets tags mixed up with skipping"
With this rule:

`<rule id="ANI_ANI" name="ani, ani – spójniki">
        <pattern>
            <token skip="-1" postag="conj">ani</token>
            <token postag="interp:comma">,</token>
            <token postag="conj">ani</token>
        </pattern>
        <disambig action="filterall"/>
    </rule>
`
all instances of "ani" and "," should have tags: conj, and interp:comma. But in this statement

[2022-05-24 10:53] marcoagpinto commented on #6704
@FredKruse

Do you have any idea on how to fix it?

Thanks!

[2022-05-24 12:36] Porthoos commented on #6575
@[danielnaber](https://github.com/danielnaber) Hello, I am working on this issue.
As I tested some cases, I think this is caused by wrongly detect the end of sentence.
I found that the paragraph is divided to sentences here
![image](https://user-images.githubusercontent.com/74708619/170036003-2e910244-3604-4f04-8b0b-7082fd96c781.png)

but the SrxTextIterator function is in jar file, so I cannot fi

[2022-05-24 12:42] danielnaber commented on #6575
The rules for sentence splitting are in `segment.srx`. I'm not sure how important this issue is, though. It doesn't look like a common error to me.

[2022-05-24 15:33] dpelle commented on #6704
Is that document available? If not, can you reproduce with a publicly available document?

It should be possible to use a Java heap profiler to see where memory is allocated.

[2022-05-24 15:40] Nomad-Q commented on #6203
Hello! I would like to work on it. I will add a rule to detect this.

[2022-05-24 16:30] RokeJulianLockhart opened #6712 "[Task] Enable GitHub Discussion."
My rationale is available at https://github.com/8go/matrix-commander/issues/68#issue-1237645245.

[2022-05-24 16:35] #6712 closed, assigned to nobody

[2022-05-24 17:55] Juren39 commented on #1807
Hello! I found that this problem didn't been solved. I add a new rule, when I | He | She before the canned it will report an error.
(Before I add the rule)
![MP)U9_D$DE2LVOQ8JBLB~WW](https://user-images.githubusercontent.com/85175188/170100860-8ec62e2f-2c71-4a6e-ad95-faff84330e32.png)
(After I add the rule)
![AI}8OLH$I_G J3SU}ML$~43](https://user-images.githubusercontent.com/85175188/170100922-854

[2022-05-25 15:40] mishushakov commented on #5591
@elandorr @wokawoka the results are identical indeed

[2022-05-25 17:29] wokawoka commented on #5591
@mishushakov thank you for the information.
But did you mean that the self-hosted version outputs the same results of the "cloud" free version with the same limits in the amount of characters per text field?

In a reply above danielnaber did write:

I admit I'm still very confused.

[2022-05-25 17:38] mishushakov commented on #5591
@wokawoka there are no limits in the self-hosted version
the only difference is that their cloud version has premium spelling rules

you can configure your self-hosted installation to enable character limiting (which is disabled by default)

[2022-05-25 17:48] wokawoka commented on #5591
@mishushakov Thank you very much for the clarification!

[2022-05-25 18:27] mishushakov opened #6717 "High CPU usage when using AnnotatedText"
AnnotatedText uses an unusual amount of CPU resources

https://user-images.githubusercontent.com/10400064/170339376-c82ba011-0fea-4f6b-90e7-f6d39478b499.mov

[2022-05-26 06:45] elandorr commented on #5591
Thanks from me as well @mishushakov! I wonder what secret style rules the proprietary one holds.

[2022-05-26 17:08] danielnaber commented on #6698
The API is documented at https://languagetool.org/http-api/#!/default/post_check, search "Model" on that page. Anything not documented there shouldn't be relied on and is not stable, anything documented there has been stable for a long time and probably will be stable for quite some time.

[2022-05-26 17:08] #6698 closed

[2022-05-27 10:39] ricardojosehlima opened #6719 "[pt] Strange correction for 'voz'"
In the sentence:

"Eu confio na voz que cada um tem."

LT says it is a confusion with 'vós' and suggests replacing 'voz' with 'vós' but it doesn't make sense.

@marcoagpinto changing it, one day at a time, for the better!

[2022-05-27 10:44] ricardojosehlima opened #6720 "[pt] Improving correction for lack of diacritics"
In the sentence:

"Ontem eu sai de casa."

LT suggests "saio", but it is probably a lack of diacritics, so the suggestion should be "saí".
Same for similar verbs: "cair", "trair", etc.

[2022-05-27 10:52] marcoagpinto commented on #6720
Ahhhh… thanks for the false positive… I will fix it at 5am tomorrow.

I will then think on how to fix it.

In my thesis, I also noticed the other day that it didn't suggest diacritics for some sentences.

I must fix it soon since it is important.

[2022-05-27 10:54] marcoagpinto commented on #6719
Ahhhh… it seems very easy to fix. Maybe today or at 5am it will be fixed.

Thank you!

[2022-05-27 16:12] MikeUnwalla opened #6722 "[en] Unexpected results in the GUI possibly related to SENT_START and SENT_END"
The problem occurs in snapshot 2022-05-26 and earlier.

Rule:

[code]

Testrules is happy.

The result is as I expect, because there is no token after 'aircraft':
![image](https://user-images.githubusercontent.com/5816160/170735727-5aa5716b-d0b2-414a-ba6e-cdfd390b9bae.png)

Here, there is a token `<S>` (equivalent to SENT_START), but there is no token `</S>` for SENT_END, and the rule does not fin

[2022-05-27 16:18] donnerpeter opened #6723 "[de] Excessive space false positives"
`Hinzufügen des expliziten .AsEnumerable () zum Aufruf`
`Diese Intention-Aktionen erweitern Zeilen mit dem Bereichsauflösungsoperator :: in verschachtelte Module und umgekehrt.`

Note also strange highlighting and replacement in the second case:
![image](https://user-images.githubusercontent.com/122009/170738866-c1a3d692-c517-4e5b-8ef4-c76ef048febe.png)

[2022-05-27 17:44] marcoagpinto commented on #6704
Thank you, @FredKruse

[2022-05-27 18:55] marcoagpinto commented on #6719
@ricardojosehlima

I have been working on it.

It is harder than I thought, since some results are inconclusive (depending on what one wants to say, it can be both "voz" and "vós").

[2022-05-27 19:10] ricardojosehlima commented on #6719
If you wish, send me some examples

[2022-05-27 19:18] marcoagpinto commented on #6719
Ricardo, for example:
`Ficamos sem voz porque falamos muito.`

By reading it ourselves, we can see the difference, but the computer can't.

Here is the current status of the hits against 600 000 sentences:
[_5.txt](https://github.com/languagetool-org/languagetool/files/8789263/_5.txt)

I am still working on removing false positives.

[2022-05-27 19:29] marcoagpinto commented on #6719
Another false positive removed:
`Vós dizeis isso num tom de voz que me deixa assustado.`

[_6.txt](https://github.com/languagetool-org/languagetool/files/8789318/_6.txt)

[2022-05-27 19:43] ricardojosehlima commented on #6719
Ok!

[2022-05-27 19:53] marcoagpinto commented on #6719
I have just added webcam + webcams to added.txt and spelling.txt which will remove the false positive in the sentence that uses it.

[2022-05-27 19:59] marcoagpinto commented on #6719
Ricardo,

I have just improved the rule.

It removed:
[code]
(the last sentence appeared twice)

This is the best it can get.

[_7.txt](https://github.com/languagetool-org/languagetool/files/8789454/_7.txt)

[code]

With the webcam postags it will be "3 total matches".

I believe that 3 matches in 600 000 sentences is very good.

[2022-05-27 20:04] marcoagpinto commented on #6719
@ricardojosehlima

Here it is:
https://github.com/languagetool-org/languagetool/commit/ecfa148585578b82f0debd7fb760e84659cae35f

[_0_original_rule.txt](https://github.com/languagetool-org/languagetool/files/8789482/_0_original_rule.txt)

[_7.txt](https://github.com/languagetool-org/languagetool/files/8789484/_7.txt)

[2022-05-27 20:06] marcoagpinto commented on #6719
By the way, is "webcam" a foreign word in pt-BR?

I need to add it to the list.

[2022-05-27 20:12] ricardojosehlima commented on #6719
@marcoagpinto no it isn't; follow the rule: when in doubt, it is not a foreign word in pt-BR, we are very relaxed to foreign words, we accept them even in formal registers.

[2022-05-27 20:16] marcoagpinto commented on #6719
@ricardojosehlima

Ahhh… I will add "webcam" only to pt-PT foreign list.

Thank you, Ricardo.

Did you notice that in the "0_" file 100% (or so) are false positives? And in the "_7" file there is no 100% way of finding it they are false or real positives?

This seems to be the best it can get.

[2022-05-27 20:29] ricardojosehlima commented on #6719
maybe add 'controle/gravador/assistente de' that will probably be voz!?

[2022-05-27 20:34] marcoagpinto commented on #6719
Well thought!

I will add them at 5am 🙂

I have closed the folders and editor.

lol 🙂 🙂 🙂

[2022-05-27 23:12] marcoagpinto commented on #6719
Ahhhhhh... it is fixed:
https://github.com/languagetool-org/languagetool/commit/3f12add291dd5511d7ab717734d714c5fdb134e1

[_8.txt](https://github.com/languagetool-org/languagetool/files/8790052/_8.txt)

[code]

[2022-05-28 04:51] marcoagpinto commented on #6720
It seems to be a verbal agreement rule.

I will have a look in an hour or two.

[2022-05-28 07:42] SethFalco opened #6724 "[en] rule proposal for dates"
LanguageTool generally has pretty good support for showing warnings/errors for logical errors in dates, so I was wondering if an additional rule could be added?

I received this email:

Could a rule be added that matches a [Gregorian month](https://en.wikipedia.org/wiki/Gregorian_calendar#Months) + number and check if that many days can actually be in the month?

[2022-05-28 08:07] danielnaber commented on #6724
Thanks for the idea! We have some of these rules for German, I'll make sure they get ported to other languages.

[2022-05-28 09:16] marcoagpinto commented on #6720
@ricardojosehlima

Hello!

It is fixed:
https://github.com/languagetool-org/languagetool/commit/0fd282afa364fea2bcd20c44f7a1af9394bb4601

But it produces no hits in 600 000 sentences.

[2022-05-28 11:39] ricardojosehlima commented on #6720
Ok thanks!

[2022-05-29 11:04] QazCetelic commented on #6312
I'm also having trouble with the "Java implementation loader" but I'm using Linux.

![image](https://user-images.githubusercontent.com/51381523/170864688-ceb4d2e2-ded8-45eb-8ccb-4774cd155f24.png)

<details>
<summary>System Info</summary>

Operating System: Fedora 34
KDE Plasma Version: 5.24.4
KDE Frameworks Version: 5.91.0
Qt Version: 5.15.2
Kernel Version: 5.17.7-100.fc34.x86_64 (64-bit)
Graphics

[2022-05-29 18:24] FredKruse commented on #6312
Most implementation problems on Linux systems arise because the package libreoffice-java-common isn't installed by default. Run "sudo apt-get install libreoffice-java-common" inside a terminal, to add the support of the java interface of LibreOffice.

[2022-05-29 18:27] FredKruse commented on #6525
@kacnje Could you fix your problem?
Most implementation problems on Linux systems arise because the package libreoffice-java-common isn't installed by default. Run "sudo apt-get install libreoffice-java-common" inside a terminal, to add the support of the java interface of LibreOffice.

[2022-05-29 18:41] QazCetelic commented on #6312
How can I install the package`libreoffice-java-common` on Fedora?

[2022-05-29 19:08] FredKruse commented on #6312
I'm not familiar with Fedora, but I found this on the net:
https://www.libreofficehelp.com/how-to-fix-libreoffice-requires-a-java-runtime-environment-error/#fix-for-fedora

[2022-05-30 09:48] FredKruse commented on #6702
I agree, the buttons don't look very professional. Is there anybody at the community who could redesign them? It would be no problem to change the files.

[2022-05-30 10:31] lagsh opened #6727 "Updates and cannot install"
I have one version that works and which is 5.5 . 5.5.1 and newer does not work.

my version
$ libreoffice7.3 --version
LibreOffice 7.3.3.2 d1d0ea68f081ee2800a922cac8f79445e4603348

I user Linux Mint

[2022-05-30 12:59] BellaDiekmann opened #6728 "Improve detection of invalid dates in French"
I just had a look at the German OS rule `UNGUELTIGES_DATUM` for invalid dates and checked whether the same cases are matched in French (I think the corresponding French rules  are the OS rule `DATE ` and the premium rule `GRAMMALECTE_DATE_NOMBRES`). Overall, it looks really good. However, there are some cases where LT does not find an error in French:

    • Invalid day ≤31 (depending on the month

[2022-05-30 13:35] BellaDiekmann opened #6729 "Improve detection of invalid dates Spanish"
I just had a look at the German OS rule UNGUELTIGES_DATUM for invalid dates and checked whether the same cases are matched in Spanish (I think the corresponding Spanish rule is NUMBER_DAYS_MONTH). Overall, it looks really good. However, there are some cases where LT does not find an error in Spanish:
    • Invalid day ≤31 (depending on the month):
        ◦ Sucedió el 31 de novbre. (I’m not sure w

[2022-05-30 14:38] ricardojosehlima commented on #6720
@marcoagpinto any advance on this?

[2022-05-30 17:39] marcoagpinto commented on #6720
@ricardojosehlima

What?

Isn't "sai" fixed?

It worked here.

Have you tried the nightly?

[2022-05-30 18:03] ricardojosehlima commented on #6720
Ok, thanks anyway!

[2022-05-30 18:04] ricardojosehlima commented on #6720
I asked because the 'voz' case is updated, but not this one, I will wait. I test in the browser.

[2022-05-30 23:03] afland opened #6731 "[Feature Request] plugin for obsidian (a popular note-taking/PKM app)"
Obsidian (obsidian.md for the website) is a growing (and already popular) app for really anything related to knowledge management or even producing content. It's loosely based around the zettelkasten ideology, and is IMO the best out of the growing # of note-taking apps. Bloggers, researchers, etc. use it.
Since there are already hundreds of thousands of users and no grammar checker plugins (only

[2022-05-31 07:20] danielnaber commented on #6731
Hi, thanks for your feedback. There's already a community-contributed add-on available at https://github.com/Clemens-E/obsidian-languagetool-plugin.

[2022-05-31 07:20] #6731 closed

[2022-05-31 08:40] #6723 closed

[2022-05-31 08:40] #6664 closed

[2022-06-01 05:22] afland commented on #6731
don't know how I didn't see that, sorry

[2022-06-01 06:23] marcoagpinto opened #6737 "Error committing"
Hello @danielnaber

I had to do a fresh checkout since I was getting 0 bytes download while updating the checkout.

I was able to commit a file, but right now, every time I try to commit I get:
![error_commiting_20220601](https://user-images.githubusercontent.com/5192600/171340666-73e12618-9451-4564-9a72-4b6e222d7f9c.png)

What is happening?

Thanks!

[2022-06-01 06:56] danielnaber commented on #6737
I have no idea, must be a problem at github. I don't think we have changed any settings in the repo.

[2022-06-01 07:12] marcoagpinto commented on #6737
ahhh… it has just worked!

[2022-06-01 08:18] Fitzbert-Fitz opened #6738 "Language Tool is not available as installed app in IpadOS 15.5"
After Installing Language tool, the Setup Guide asks me to grant full access for the keyboards.
Unfortunately "Language Tool" is not listed under Settings as an installed app. Therefore it is not possible to grant full access.

Also restarting does not fix the issue. Language tool does not show up under the installed apps inside the settings.

IpadOS15.5
Language Tool 1.2.3

Workaround:
Instead of

[2022-06-01 10:11] MarvinErdner opened #6739 "[pt]: “aceite” instead of “aceito”"
IRREGULAR_PAST_PARTICIPLES[3]

_foram aceites_

According to this source, “aceito” as particípio is also correct (next to “aceite”).

https://ciberduvidas.iscte-iul.pt/consultorio/perguntas/os-participios-passados-de-aceitar-novamente/31576

[2022-06-01 10:48] marcoagpinto commented on #6739
It seems to work here:
![aceite_aceito_20220601](https://user-images.githubusercontent.com/5192600/171387506-dce063e9-9ec0-4c6e-ad0b-1fbbb6d98749.png)

What is the wrong sentence for me to see?

Thanks!

[2022-06-01 10:55] jaumeortola commented on #6739
This could be the undesired match:
![imatge](https://user-images.githubusercontent.com/4289501/171388689-b8bf88b8-c413-4907-bb15-e386de381d03.png)

Let's see if we need any change in the tagging of these forms.

[2022-06-01 11:24] jaumeortola commented on #6739
In my opinion, the rule IRREGULAR_PAST_PARTICIPLES[3] should be moved to pt-PT/grammar.xml.
Instead of saying "A forma correta deste particípio é", say "Em Portugal, a forma mais comum deste particípio é..."

[2022-06-01 11:32] MarvinErdner commented on #6739
The user who mentioned this uses the Brazilian version.

[2022-06-01 11:32] marcoagpinto commented on #6739
@jaumeortola

Could you do the commit?

I am too stressed currently and can only do very basic things.

🙂

Thanks!

[2022-06-01 11:45] jaumeortola commented on #6729
"novbre." is unknown to me. I will add some rules for ignoring spelling errors in month abbreviations, but only in some contexts, not always.

[2022-06-01 12:04] jaumeortola commented on #6739
Done https://github.com/languagetool-org/languagetool/commit/856d90bb39fb44b345792d1b223922b00b0b9b35

[2022-06-01 12:04] #6739 closed

[2022-06-01 12:30] milekpl opened #6740 "allow parsing of POS tags to avoid regex overhead"
Right now, to match complex features of a POS tag, we must use regexes. But it's feasible to store parsed tags as attributes of tokens as key-value pairs. It should speed up processing for a vast number of rules, including unification.

I had this idea long time ago but could not find a simple solution for XML files and various tagsets. But we already have a solution because most when you define f

[2022-06-01 13:31] udomai commented on #6740
I've been thinking about this proposal, and I'm still unsure what the effective benefits would be. Avoiding `postag_regexp` doesn't sound like a huge win to me. Also, won't this result in `feature_regexp`? Maybe it would be helpful if you could give us a little example of how this change will be beneficial, @milekpl?

[2022-06-01 13:56] #2373 closed

[2022-06-01 14:04] jaumeortola commented on #2778
Now, most of the sentences in the snapshot get the expected suggestion.

[2022-06-01 14:04] #2778 closed

[2022-06-01 15:48] tiff opened #6743 "[de] Komischer Vorschlag mit Bindestrich"
![Bildschirmfoto 2022-06-01 um 17 47 24](https://user-images.githubusercontent.com/37363/171446069-7bd46402-2f31-4a5a-b00d-2b00387f2ad0.png)

Warum schlagen wir hier "Fehler-" vor, @danielnaber?

[2022-06-01 18:07] KronosTheLate opened #6744 "Suggestion to add a rule"
Hi, I am new here.

I came here because I wanted to add rules for checking for ajacent and ajecent (which should be adjacent). How does one proceed?

[2022-06-01 18:22] #6744 closed, assigned to nobody

[2022-06-02 07:52] schurigeln commented on #6738
Hello @Fitzbert-Fitz!

Thank you for reporting the issue. We are aware of this particular problem. Unfortunately, there appears to be an issue with the iOS Settings app itself. In some cases, the app simply is not recognized by the system, even though we correctly register it as a keyboard extension. However, we will investigate further.

Glad to hear you found a workaround :)

[2022-06-02 09:33] albheim opened #6745 "Disable all sites in firefox plugin"
I like the tool so far, but one thing that annoys me is that I can only turn off the plugin for individual sites, I'd rather have it off by default and turn it on for individual sites where I want the check.

I can get something similar by turning off the "Auto-check on all domains by default", and then turn auto check on for individual sites, though this will still add the language tool button in

[2022-06-02 10:22] lennartb- opened #6747 "[en] “Multi-purpose” suggests "Multipurpose”, which suggests the reverse"
Language is en-gb. Sample sentence: "Multipurpose text editors like Notepad++ are great"

![image](https://user-images.githubusercontent.com/5563601/171609218-413761a7-41cc-4c22-993c-f36afe0d685b.png)
![image](https://user-images.githubusercontent.com/5563601/171609284-47f24b65-06b9-401e-8ea1-79cef4e4340a.png)

[2022-06-02 14:07] jaumeortola commented on #6253
See also: https://github.com/languagetool-org/languagetool/issues/6443

[2022-06-02 14:08] tiff commented on #6253
Thanks!

[2022-06-02 14:11] jaumeortola commented on #6253
The problem is that "2." and "Some headline" are in different sentences (in English and German, not in other languages). We could try to fix that, but it can cause undesired side effects.
Furthermore, "2." should be the first sentence of the paragraph, but sometimes it is not. I don't know how the paragraph breakup is done.

[2022-06-02 16:08] donnerpeter opened #6748 "[de] Agreement false positive"
Umfangreiche Möglichkeiten zum Debuggen Ihres Python/Django- und JavaScript-Codes

[2022-06-02 16:09] donnerpeter opened #6749 "[de] Wenn-comma false positive"
`Wenn Sie in der Liste mit Vorschlägen Strg+. drücken, wird das ausgewählte Element von einem Pfeil gefolgt eingefügt.`
![image](https://user-images.githubusercontent.com/122009/171675326-726104d0-2ad6-49b1-bf9b-eb37158000fc.png)

[2022-06-03 01:30] AlessioGr opened #6750 "Question: Differences between self-hosting and premium languagetool"
Hi there,

I'm self-hosting languagetool with ngrams at the moment and I'm wondering how it differs to the premium languagetool version offered at languagetool.org.

Does latter offer more or better checks than the self-hosted version, or is there a way to tune the self-hosted version to be better?

Does the self-hosted version also offer the style checks? And what does the premium:false in the se

[2022-06-03 07:20] danielnaber commented on #6750
The free self-hosted version you can download from https://languagetool.org/download/ lacks all the premium rules (several thousand rules for English, German, French, Spanish and Dutch) and AI-based rules.

The free self-hosted version offers limited style checks. `premium:false` in the log simple means the request wasn't a request from a premium user (it can only be `false` with the free version)

[2022-06-03 07:20] #6750 closed

[2022-06-03 09:01] #4334 closed

[2022-06-03 09:05] danielnaber commented on #5757
For the add-on, this is available now as described at https://languagetool.org/insights/post/product-shortcuts/

[2022-06-03 09:33] xFrednet commented on #5757
I love it. Thank you very much!!

[2022-06-03 09:36] xFrednet commented on #5757
@danielnaber this issue is done IMO, should I close it or is there anything else todo? :upside_down_face:

[2022-06-03 09:52] danielnaber commented on #5757
@xFrednet We can keep it open, as it's not yet implemented on the website

[2022-06-03 12:24] dtantono commented on #4334
I know iOS and Linux version still not yet release and this issue have been closed. why?

[2022-06-04 00:22] dtantono opened #6753 "(Feature Request) language Tools for iOS/ Android and Linux"
Hi
I know there is a similar issue https://github.com/languagetool-org/languagetool/issues/4334 and I want to reopened it again. Is there any possibility to support iOS/Android/Linux?

[2022-06-04 08:07] danielnaber commented on #3478
Old issue, closing

[2022-06-04 08:07] #3478 closed

[2022-06-04 08:09] danielnaber commented on #5541
Seems to be fixed for a long time, so closing the issue.

[2022-06-04 08:09] #5541 closed

[2022-06-04 08:39] donnerpeter opened #6754 "[ru] wrong case false positive"
`Я вижу, он не придет, и не видит в том потери.`

[2022-06-04 08:39] #2184 closed

[2022-06-04 09:24] marcoagpinto opened #6755 "[pt] Improved disambiguator"
Hello @jaumeortola

I wondered if you could extend a bit the disambiguator to detect tokens like:
`»«"”‘‹›'`
Enhance to accept:
[code]

And with punctuation:
`,.!? …`

Enhance to accept:
_PUNCT_COMMA
_PUNCT_PERIOD
_PUNCT_EXCLAMATION
_PUNCT_INTERROGATION
_PUNCT_PERIOD3

Also, maybe something similar could be done with brackets.

Thank you!

[2022-06-04 12:41] donnerpeter opened #6756 "[ru] missing preposition false positive"
`B ee голосе появилась горькая нотка.`

[2022-06-04 12:42] donnerpeter opened #6757 "[ru] agreement false positives"
`Хлеба стало не хватать.`
`Подошел казавшийся смуглым человек.`

[2022-06-05 21:33] #6754 closed

[2022-06-06 22:43] marcoagpinto opened #6758 "[Standalone tool] Doesn't flag grammar errors"
Hello!

I use the standalone tool for checking the rules improvements in pt-PT.

However, I noticed that it no longer detects all the errors that the LibreOffice extension does.

See for example the sentence:
`A dificuldade no desenvolvimento do nosso modelo foi criar as ferramentas estatísticas.`

"foi criar" isn't flagged in the standalone tool, but it is in LibreOffice.

@FredKruse

Any comment

[2022-06-07 05:57] tiff opened #6759 "[pt-BR] user feedback "Senhor""

[2022-06-07 06:09] marcoagpinto commented on #6759
Hello!

Could you please give me the sentence that causes the error?

The sentence written above gives no hits.

Thanks!

[2022-06-07 06:33] tiff commented on #6759
The user unfortunately didn't provide a sentence

[2022-06-07 12:32] jaumeortola opened #6762 "[pt] remove words from replace.txt"
Replacement in pt/replace.txt are not good for pt-BR. They have to be removed.

Check if these replacements are useful for pt-PT or other language varieties:
[code]

[2022-06-07 12:55] marcoagpinto commented on #6762
ahhhh… my task for 5am 🙂

I am just confused if I should add the missing ones to:
barbarisms-pt-PT.txt

or the replace.txt inside the pt-PT folder.

They are barbarism, right?

So, I am unsure about barbarisms-pt-PT.txt and replace.txt.

I am almost sure I should add them in barbarisms-pt-PT.txt.

Thanks!

[2022-06-07 13:29] jaumeortola commented on #6762
Yes, you can add them to barbarisms-pt-PT.txt.

[2022-06-07 13:32] tiff opened #6764 "[de] strange spelling suggestions"
![Bildschirmfoto 2022-06-07 um 15 31 26](https://user-images.githubusercontent.com/37363/172392964-f844fdd7-2529-4a1e-98f0-dc9423c95d90.png)

The ones with "-" are not really helpful and are misleading

[2022-06-07 13:34] jaumeortola commented on #6762
@ricardojosehlima
In the file pt/barbarisms-pt.txt (https://github.com/languagetool-org/languagetool/blob/master/languagetool-language-modules/pt/src/main/resources/org/languagetool/rules/pt/barbarisms-pt.txt), there are still some words to remove (e.g. whisky). We removed whisky from pt/replace.txt, but it is still there. You may want to check also this file.

[2022-06-07 16:59] ricardojosehlima commented on #6762
@jaumeortola me and @marcoagpinto have recently worked with this file, many suggestions were removed or placed only in pt-PT. 'whisky' remained but it's because it escaped me, it should have been removed.

[2022-06-07 17:04] marcoagpinto commented on #6762
@ricardojosehlima

Does this mean that there are no changes to be made?

[2022-06-07 17:13] ricardojosehlima commented on #6762
@marcoagpinto no changes... I understand that it is useful for users to see some alternatives for foreing words. Take 'yacht'. A user can write it, but they should know that 'iate' is fine.

[2022-06-08 10:09] marcoagpinto commented on #6762
@ricardojosehlima

I have just removed the whisky words:
https://github.com/languagetool-org/languagetool/commit/8e201137c733538877a3416ef48f36bbb637609d

[2022-06-08 10:43] ricardojosehlima commented on #6762
... aaannnddd the quest for eliminating suggestions for pt-BR continues, may it be the last chapter now.
Even after fixing the files replace and barbarisms both in the main pt folder and in pt-BR folder, LT continued to suggest that words like item should be italicized or come between ''.

Where did it come from? In the files above, it was a simple search that solved the case.
I went to grammar.xm

[2022-06-08 10:58] marcoagpinto commented on #6762
@ricardojosehlima

What words keep appearing as foreign?

Have you tried the nightly?

[2022-06-08 11:01] marcoagpinto commented on #6762
ahhhhhhh...

@ricardojosehlima

I now read it in the post above.

It is easy for me to fix.

I just add them to:
`<!ENTITY barbarismos_pt_br "bitcoins?|blockchain|pizzas?|slides?|streaming|suspenses?|webcams?">`

and there is a similar entity in the grammar.xml inside the pt-PT folder.

I will do it right away.

[2022-06-08 11:09] marcoagpinto commented on #6762
@ricardojosehlima
https://github.com/languagetool-org/languagetool/commit/86dd57582f91fd2f2dfd69f491a42d8ea351341d

https://github.com/languagetool-org/languagetool/commit/9669ddb4403d2472892b653f7b4f269d2cdfa06e

It is fixed!

The reason you can't understand the regexp entity is because no one can understand it, the former maintained did it in a way that no one can understand 99% of what is there

[2022-06-08 11:16] marcoagpinto commented on #6762
@jaumeortola @ricardojosehlima

The build broke with my changes, what is wrong with them?

[2022-06-08 11:16] marcoagpinto commented on #6762
https://github.com/languagetool-org/languagetool/commits/master

[2022-06-08 11:20] marcoagpinto commented on #6762
@udomai

Any idea why it broke?

[2022-06-08 11:30] marcoagpinto commented on #6762
ahhhhh.... sorry

[2022-06-08 11:37] marcoagpinto commented on #6762
@danielnaber
@jaumeortola
@udomai

Please help, I don't know how to revert the changes!

[2022-06-08 11:38] marcoagpinto commented on #6762
I see no option in TortoiseSVN named "Revert Changes", so I tried to update to the previous build and commit.

[2022-06-08 11:59] marcoagpinto commented on #6762
ohhhhhh… I have tried to fix it just now… I am so stressed! 🙁

[2022-06-08 12:01] marcoagpinto commented on #6762
It is FIXED!

The build is back to green!

[2022-06-08 12:02] marcoagpinto commented on #6762
🙂 🙂 🙂 🙂 🙂

[2022-06-08 12:38] MarvinErdner opened #6766 "[pl] RTG or RTG.?"
![grafik](https://user-images.githubusercontent.com/88431679/172618254-8560aeb9-92e9-44a8-a63a-ff64ce040801.png)

[2022-06-09 12:10] marcoagpinto commented on #6758
Âhhhh… I believe I found the cause.

There is no way to turn on and off the “picky mode”.

Could an option to turn it on and off be added?

Thanks!

[2022-06-09 17:03] #6759 closed

[2022-06-10 05:12] kacnje commented on #6525
Sorry for delay ... the package libreoffice-java-common was installed.

@danielnaber: I checked mentioned tips before I wrote a question here.

Is maybe a log file somewhere on computer where I can check what is going on?

[2022-06-10 11:24] ricardojosehlima opened #6773 "[pt] Gender agreement issues"
Hi,
  The following gender mismatches between a determiner/pronoun masculine and a feminine noun are flagged:
Eu comprei esse mesa.
Eu li o revista.

  However, the inverse is not:
Eu comprei essa carro.
Eu li a livro.

  In a similar way, but it may be a different rule, the expression 'a meu ver' is licensed in LT, but 'a nosso ver' is not - it is flagged for 'o nosso', and should be 'a nosso ver

[2022-06-10 11:34] marcoagpinto commented on #6773
Ahhhhh… thanks for spotting it.

The gender agreement rules have tons of antipatterns, which I started coding years ago when I didn't have much knowledge compared to today.

Right now, I don't have the chance, but tonight or at 5am I will find if one of the antipatterns is removing the hit.

Thanks!

[2022-06-10 14:22] tiff commented on #6747
This got recently fixed

[2022-06-10 14:22] #6747 closed

[2022-06-11 05:28] marcoagpinto commented on #6773
@ricardojosehlima

I was looking at the antipatterns, and they are a mess, I can't spot which one causes the issue.

I will have to fix them little by little.

I was seeing the POS information for:
`Eu li a livro.`
and it appears as:
`PP1CSN00 + NCMS000 + SPS00 + NCMS000`

"li" isn't tagged also as a verb.

I have just tagged it, and I am about to see the difference in 600 000 sentences.

This wou

[2022-06-11 05:57] marcoagpinto commented on #6773
@jaumeortola

Jaume, I am going to need your help.

Even adding the POS to the added.txt, in trunk, snapshot and Wikipedia, the standalone tool still tags "li" as a noun:
[code]

https://github.com/languagetool-org/languagetool/commit/8eb2e60c72650fea73ca175871c8b57284f45740

What could be wrong?

Thanks!

[2022-06-11 06:11] marcoagpinto commented on #6773
@jaumeortola

It is very strange… the standalone tool also says that:
`"li."`
is a noun, even with the changes I made in added.txt.

[2022-06-11 08:14] FredKruse commented on #6525
This is very strange. Linux Mint is my favorite system. I'm using it on different virtual machines and on a separate notebook. There wasn't any problems. So, I think we should do a systematic analyses.
@kacnje please do the following tests and answer the questions:

1. Open an empty document. Click on the LanguageTool (LT) Option Button (blue wavy underlined gear wheel). Does the LT option panel a

[2022-06-11 10:33] marcoagpinto commented on #6773
@ricardojosehlima

I have done some clean-up in the GENDER rules (antipatterns), but there is still a long way to go:
https://github.com/languagetool-org/languagetool/commit/ba5216bdcd60c80740598392aba9a5f8dff1d026

[2022-06-11 13:46] jaumeortola commented on #6773
The disambiguation rule RARE_POS[1] always removed the tag VMIS1S0 from "li". I changed this rule. https://github.com/languagetool-org/languagetool/commit/f5819ed09f952b2d319ca98c82e2eabf8a35f915
There could be some undesired effects for "li" in other contexts, and perhaps we need other disambiguation rules.

[2022-06-13 04:35] marcoagpinto commented on #6773
@jaumeortola

The "li” POS was a huge success according to the night results.

It is a very common word in Portuguese: “I read the book!” → “Eu li o livro!”

[2022-06-13 07:26] tiff commented on #6644
@jaumeortola I remember that you fixed something similar in French and/or Spanish? Basically, you added a list of short words that are frequently used? We should have such a list for German. If you add the code for it, I could add the words

[2022-06-13 08:35] marcoagpinto opened #6774 "[LibreOffice add-on] hangs on exit"
Hello @FredKruse

I installed the nightly and now when I close LibreOffice it hangs, and I have to close it manually (force the app to quit).

I have the latest version of LibreOffice for Windows.

EDIT: tested with a .doc from Word 2010.

[2022-06-13 10:19] ricardojosehlima commented on #6773
Great!
@marcoagpinto mentioned many antipatterns to look at, maybe there is something I could help.

[2022-06-13 10:57] marcoagpinto commented on #6773
The antipatterns will give a ton of work.

First I must generate the hits against 600 000 sentences.

Then, one by one, I add something like:
`<token>falseword</token>`
and check again 600 000 sentences to see if the antipattern is no longer used or if it gives some false positives.

It will take some time to check them all

[2022-06-13 17:12] tiff opened #6777 "[en] strange spelling suggestions"
What is "dull~ overcast"?

![Bildschirmfoto 2022-06-13 um 19 11 48](https://user-images.githubusercontent.com/37363/173408187-1a9f68f2-40b1-45d2-8f1b-eef8e7d348b8.png)

[2022-06-13 17:17] FredKruse commented on #6727
This issue seams to be related to issue #6525.
@lagsh  please do the following tests and answer the questions:

1. Open an empty document. Click on the LanguageTool (LT) Option Button (blue wavy underlined gear wheel). Does the LT option panel appear? (this can take 1 to 3 seconds)
2. Type a short sentence in your default language. Type two blanks between two words. Appears a green wavy line under

[2022-06-13 18:43] marcoagpinto commented on #6774
It is very strange... I have just opened the .doc and now it had no issues closing LibreOffice.

Closing the ticket.

Thanks!

[2022-06-13 18:43] #6774 closed

[2022-06-13 21:11] ricardojosehlima commented on #6773
Wow, that's really a lot! Hope you can figure it out sooner than expected!

[2022-06-14 06:32] marcoagpinto commented on #6773
@ricardojosehlima

I have been working on it, I discovered that I wanted also to use neutral in nouns and such, and it was causing false positives.

`<token postag='AQ.[CF].+|NC[CF].+' postag_regexp='yes'/>`

I am going to recheck the antipatterns I created days ago.

Meanwhile, I can't commit right now since my “em suma” rule from yesterday broke the build and Udomai reverted it.

There is a bug

[2022-06-14 08:18] kacnje commented on #6525
1. No. It doesn't appear.
2. I wrote some words with two blanks between the words. There was nothing underlined. I use the Slovenian language.
3.
LOG file:
LT office integration log from Tue Jun 14 10:00:01 CEST 2022
Java-Version: 11.0.15, max. Heap-Space: 3968 MB, LT Heap Space Limit: 3571 MB
Configured Linguistic Service: org.languagetool.openoffice.Main, sl-SI
Test for document language failed:

[2022-06-14 08:55] tiff opened #6778 "[de] strange spelling suggestion for "dankeschön""
These suggestions are not really helpful and confusing, what is "dank-gen"?
![Bildschirmfoto 2022-06-14 um 10 53 48](https://user-images.githubusercontent.com/37363/173536828-37a785a2-8404-400e-b50f-4e8ecd27bd90.png)

[2022-06-14 09:09] St-ac-y commented on #6778
Ich habe eine Regel zu 'danke schön'. Vielleicht löst die das Problem schon?
https://github.com/languagetooler-gmbh/languagetool-premium-modules/commit/5db1ae83b1fc045ccbd9bd8960a8f99c13e8ad9e

[2022-06-14 09:47] tiff commented on #4334
@dtantono iOS https://languagetool.org/ios

[2022-06-14 10:07] St-ac-y commented on #6778
ok, mache ich direkt 👍

[2022-06-14 11:35] FredKruse commented on #6525
I think I got the problem:
It seems the automatic grammar check is disabled. Please enable "Check grammar as you type" at "Tools"/"Options"/"Language Settings"/"Writing Aids" and restart LibreOffice/OpenOffice.
If this solves the Problem, close the issue, please.
I added a warning in version 5.8.

[2022-06-14 11:35] FredKruse commented on #6727
I think I got the problem:
It seems the automatic grammar check is disabled. Please enable "Check grammar as you type" at "Tools"/"Options"/"Language Settings"/"Writing Aids" and restart LibreOffice/OpenOffice.
If this solves the Problem, close the issue, please.
I added a warning in version 5.8.

[2022-06-14 11:57] lagsh commented on #6727
I have now deinstalled and removed it by hand from .config/* then reinstalled version 5.7, then restarted and then I could get options open. The option buttons were always there but they did not work. Now they do work. I will close the issue now. I had much trouble deinstalling versions in LibreOffice in the past.

[2022-06-14 11:57] #6727 closed

[2022-06-14 12:18] Wolf-SO opened #6780 "[de] Falsch positive Fehlermeldung "anfallartig""
Laut Duden ist [*anfallartig*](https://www.duden.de/rechtschreibung/anfallartig) in Ordnung, [anfallsartig](https://www.duden.de/suchen/dudenonline/anfallsartig) hingegen nicht.
LT Basic 5.2.3 (Browser-Plugin f. Firefox) schlägt (im Kern) folgende Korrekturen vor:
- anfallsartig
- Anfallsartig
- anfallsartige
- anal-artig

Das Fugen-S ruft bei mir den Eindruck einer süddeutschen/österreichischen F

[2022-06-14 12:55] Wolf-SO opened #6781 "Access user dictionary"
I tried to locate the dictionary used by the LT Firefox plugin (ver 5.2.3). Is it stored locally? Is it possible to share between devices?

[2022-06-14 16:11] tiff opened #6783 "[de] strange spelling suggestions"
What is "fang-bot" and "angel-bot"?
<img width="464" alt="Bildschirmfoto 2022-06-14 um 18 09 31" src="https://user-images.githubusercontent.com/37363/173625139-388219ea-330f-469d-a816-89d03a5a5722.png">

[2022-06-14 20:10] tiff commented on #6781
@Wolf-SO it is when you create a free account at https://languagetool.org/register and log in with that account in the settings of the Firefox add-on

[2022-06-14 20:47] jaumeortola commented on #6644
@tiff Yes. This happens in languages using Hunspell spelling. It was fixed for Portuguese.
For German: https://github.com/languagetool-org/languagetool/pull/6786/files

[2022-06-15 05:53] Wolf-SO commented on #6781
Thanks, @tiff, I'll have a look on it soon.
To be honest: this bug report was more of an accident. I actually just wanted to search for “user dictionary” in the open issues, but apparently hit the wrong input line. ;)

[2022-06-15 06:11] Wolf-SO commented on #6781
Okay, I have now looked at the dictionary. Setting up the account provides a surprisingly meager increase in functionality from my perspective. Unfortunately, you can't export the personal dictionary or import it, in the sense that the words are added to an existing core dictionary. This is a great pity, especially since you have to add all sorts of forms of words, including obvious forms like wor

[2022-06-15 09:09] kacnje commented on #6525
@FredKruse - I checked the settings and found "Check grammar as you type" was enabled. But the setting for spelling was disabled and enabling it, does the job.
The Options appeared once but after that, I got "Connection refused: Switch to internal LanguageTool application". I checked in LOG file and I found:
_java.lang.NullPointerException
Server doesn't support maxTextLength, Limi text length set

[2022-06-15 09:13] jaumeortola commented on #6644
@tiff Done here: https://github.com/languagetool-org/languagetool/commit/d2cf82bd1739cbd444a4948e455ab880816d3fa5
We only need to expand the list of words. We could just take the 200/300 most common words in German. The problems usually appear with short words.

[2022-06-15 09:36] #6781 closed

[2022-06-15 09:43] tiff commented on #6644
Great I will add more words! Thanks!

[2022-06-15 09:43] jaumeortola commented on #6296
https://github.com/languagetool-org/languagetool/commit/a0e26b6d662eb341f7c66e6878aaadd6ae3e0d35

[2022-06-15 09:43] #6296 closed, assigned to jaumeortola

[2022-06-15 10:07] #2607 closed

[2022-06-15 15:07] NWITrans opened #6788 "[se] Incorrect QA for the Swedish word for room (rum)."
I get an incorrect QA error for the Swedish word for room (rum). The article for the word is “ett” not “en” as the QA suggests. Could this please be corrected?
![2022-06-15_14h01_56](https://user-images.githubusercontent.com/107566279/173861432-970452f3-d436-435c-94dd-45f4fe66e0e8.png)

[2022-06-15 17:36] donnerpeter opened #6789 "[ru] false positive agreement issue"
С каждого дерева упало по груше.

[2022-06-15 17:36] donnerpeter opened #6790 "[ru] missing comma/dash false positive"
Если разговор слышал Матвей, то зачем ему сообщать об этом вам ― под каким бы то ни было соусом.

[2022-06-15 17:37] donnerpeter opened #6791 "[ru] missing comma false positive"
`Он сидел в театре около Бори и все время толкал его в бок.`

[2022-06-15 21:22] marcoagpinto commented on #6773
@ricardojosehlima

I have been working on it.

Currently, I am replacing an antipattern that caused tons of false positives.

The sentences are now flagged:
[code]

I am just waiting for @udomai to say that the core is fixed so that I can commit the last rule again plus the antipatterns for gender.

Ricardo, notice that it will take several weeks or even months to fix all the antipatterns.

[2022-06-16 06:29] tiff commented on #6780
Ich habe `anfallartige`  hinzugefügt. `anfallsartig` wird recht häufig verwendet und hat einen Eintrag bei DWDS, daher habe ich es drin gelassen: https://www.dwds.de/wb/anfallsartig

[2022-06-16 06:29] #6780 closed

[2022-06-16 06:31] #6644 closed

[2022-06-16 06:31] #6587 closed

[2022-06-16 06:31] #6241 closed

[2022-06-16 06:31] #6153 closed

[2022-06-16 07:10] Wolf-SO commented on #6780
Ich möchte doch noch einmal den Blick auf das Konstrukt `anal-artig` lenken. Die Nachsilbe *`-artig`* dient dazu, Adjektive zu bilden, und zwar üblicherweise aus Substantiven <sup>[Duden](https://www.duden.de/rechtschreibung/_artig)</sup>. Das Wort *`anal`* ist aber bereits ein Adjektiv <sup>[Duden](https://www.duden.de/rechtschreibung/anal)</sup> (Stamm *`an`*, Adjektivendung *`al`* <sup>[1](http

[2022-06-16 08:47] BellaDiekmann commented on #6728
Several new subrules have been added to DATE. The subrule for dates written in numbers without a year (e.g. 31/02, 31/2, 32/01, 32/1) would have caused to many FPs. Still to be done: replacement of prem:grammalecte_date_nombres for cases such as 32/01/2022, 31/02/2022 or 55.8.2014.

[2022-06-16 08:48] BellaDiekmann commented on #6729
Several new subrules have been added and activated. Still to be done: check performance of these new subrules over time in Grafana and Matomo and adjust them if necessary.

[2022-06-16 10:31] marcoagpinto opened #6793 "[pt] Improve disambiguator - 2022-06-16"
Hello @jaumeortola

I'm sorry to disturb you:
[code]
The verbs are being detected as nouns, “torna” and “deixa” in these examples, which causes false positives.

Could you improve the disambiguator?

Thank you!

[2022-06-16 10:59] marcoagpinto commented on #6793
[code]

[2022-06-16 14:38] tiff opened #6795 "[nl] user feedback "WELKE""
Vb: WELKE soort vissen zijn dat?  Van WELKE familie is deze soort vissen? WELKE landen behoren tot de Europese Unie? In deze zinnen kan men DIE of DAT niet vervangen in de plaats van het woord WELKE. WELKE zoals DIE of DAT is Vlaams, maar geen Nederlands.  In het Nederlands word het woord WELKE eigenlijk niet gebruikt voor DIE of DAT. De uitleg dat WELKE ouderwets is, is niet juist. Bepaalde zinne

[2022-06-16 15:06] NWITrans opened #6797 "[se] Incorrect QA for the Swedish word for alternativ"
The article for the Swedish word should be "ett" not "en
![2022-06-16_17h05_35](https://user-images.githubusercontent.com/107566279/174100854-34bd6d7a-fef6-4111-bfeb-69c964f00c35.png)
"

[2022-06-16 17:58] #6790 closed

[2022-06-17 07:18] marcoagpinto commented on #6773
@ricardojosehlima

I have recommitted the “em suma” rule plus tons of gender fixes in the antipatterns (WIP):
https://github.com/languagetool-org/languagetool/commit/11e47b858a61d0faf64129f02efe22ae5fd95cb2

Thanks!

[2022-06-17 08:09] jaumeortola commented on #6793
Done here: https://github.com/languagetool-org/languagetool/commit/87f9a1bb770391cd3193652d45ae4552baa0570c
Please let me know if there are other similar problems, and I will try to create more general disambiguation rules.

[2022-06-17 08:18] marcoagpinto commented on #6793
@jaumeortola

Thank you!

<3 <3 <3 <3

[2022-06-17 10:37] tiptoptom opened #6801 "[de] Add "Makrolon" to the dictionary."
Makrolon® is a brand name for polycarbonate and is unfortunately missing from the dictionary so far.

[2022-06-17 12:18] jaumeortola opened #6803 "[en] missing word: blowback"
blowback: missing word in US English (and other varieties, not BR English).

[2022-06-18 08:20] lennartb- opened #6808 "LT does not seem to work with the "new" Overleaf editor"
Overleaf recently enabled the use of a new source editor:
![image](https://user-images.githubusercontent.com/5563601/174429185-b76fc390-020c-46ac-9037-3b09be262777.png)

LT doesn't seem to work in this new editor at all, there is no indicator at the bottom right of the editor, and no issues are displayed in the text. When switching to the "legacy" editor (as in the picture), LT works again as usua

[2022-06-18 08:23] danielnaber commented on #6808
It's a known issue with our add-on, but I cannot tell when it will be fixed.

[2022-06-18 16:01] danielnaber commented on #6801
Seems to be quite common, so I'll add it.

[2022-06-18 16:01] #6801 closed

[2022-06-19 10:31] marcoagpinto commented on #6773
@ricardojosehlima

I have fixed some more gender antipatterns:
https://github.com/languagetool-org/languagetool/commit/ff8e9426110c617e33bee279db211982e805f7a2

[2022-06-19 14:14] jaumeortola commented on #6793
More incorrect disambiguations:

Quem o ensina francês?
Vejo que isso o deixa aflito.
Você o acha parecido com o pai?

[2022-06-20 07:47] FredKruse commented on #1217
There are new LT versions available containing huge changes. So, I will close this issue.
 Please open a new issue with an actual description, if similar problems happens.

[2022-06-20 07:47] #1217 closed

[2022-06-20 08:06] FredKruse commented on #4699
The issue should be solved for the latest version, so I close it.
Please reopen the issue with an actual screenshot, in case the problem still exist.

[2022-06-20 08:06] #4699 closed

[2022-06-20 08:08] FredKruse commented on #5539
Ich denke, das Problem ist gelöst und schließe das Issue.

[2022-06-20 08:08] #5539 closed

[2022-06-20 08:09] FredKruse commented on #5543
I think we can close the issue.

[2022-06-20 08:09] #5543 closed

[2022-06-20 08:10] FredKruse commented on #6160
I think we can close the issue.

[2022-06-20 08:10] #6160 closed

[2022-06-20 08:10] #6167 closed

[2022-06-20 08:14] FredKruse commented on #6200
@marcoagpinto: I'm not really sure: Is the problem solved? I would like to close the issue.

[2022-06-20 08:16] FredKruse commented on #6275
I think we can close the issue

[2022-06-20 08:16] #6275 closed

[2022-06-20 08:17] FredKruse commented on #6286
@dasarne Could you solve your problem? I would like to close the issue.

[2022-06-20 08:20] FredKruse commented on #6288
@TheTimeWalker Did the problem happens with the latest version? I would like to close the issue.

[2022-06-20 08:21] FredKruse commented on #6303
I think we can close the issue.

[2022-06-20 08:21] #6303 closed

[2022-06-20 08:24] FredKruse commented on #6312
@sungkhum @QazCetelic  Did you found a solution for your problem. Can we close the issue?

[2022-06-20 08:24] FredKruse commented on #6371
I think we can close the issue

[2022-06-20 08:24] #6371 closed

[2022-06-20 08:26] FredKruse commented on #6525
I think we can close the issue